In [15]:
!pwd

/home/jupyter-andreev-aleksey/github/team22/users/andreev-aleksey/lesson_sql_2

In [4]:
!cp /tmp/db_mini.sqlite3 /home/jupyter-andreev-aleksey/github/team22/users/andreev-aleksey/lesson_sql_2

In [54]:
import sqlite3
from datetime import datetime, timedelta
connect = sqlite3.connect('db_mini.sqlite3')
cursor = connect.cursor()

In [34]:
cursor.execute('''
SELECT * FROM products_history limit 2
''')
cursor.fetchall()

[(2870,
  '2022-12-06 15:35:11.590625',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det'),
 (2871,
  '2022-12-06 15:35:11.600272',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  4300.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075')]

In [136]:
cursor.execute('''
SELECT name FROM sqlite_master WHERE type='table';
''')
cursor.fetchall()

[('products_history',), ('sqlite_sequence',)]

Все задания на 28.04.2023

1. Дать псевдоним столбцу 'price_sale' и вывести цену 2 товаров из таблицы
2. Вывести 5 названий шоколадок с ценой до 120 рублей
3. Вывести максимальную стоимость шоколадки
4. Вывести 3 названия шоколадок и цен на них, отфильтрованных по убыванию по цене
5. Вывести названия шоколадок, у которых повторяющиеся цены - 5 шт

6. вывести среднюю стоимость товаров типа виски
7. вывести товары совпадающие по типу
8. вывести товары весом меньше 50г
9. упорядочить товары по цене
10. вывести 5 самых дорогих и самых дешевых товара

11. Выбрать 50 товаров, цена которых больше 50'000 и отсортировать по убыванию по цене.
12. Изменить все названия в которых есть слово "Вино" в столбце "title" на "Винишко".
13. Посчитать сумму стоимости товаров с id от 2877 до 2922.
14. Добавить столбец "Количество товаров в магазине".
15. Посчитать количество товаров в названиях которых есть "Лыжный комплект" и "Игрушка для собак".

16. вывести названия товаров в которые содержат слова молоко и стоимостью больше 50 рублей
17. посчитать общее количество товарных позиций
18. посчитать количество товаров когда товаром является молоко размером 1 литр
19. посчитать среднюю стоимость литрового пакет молока
20. в одном запросе вывести среднюю стоимость для пакетов молока 1 литр 950 и 900 миллилитров

21. Найти сколько раз встречается в таблице записи с одинаковым названием и ценой (т.е. GROUP BY title, price_sale).
22. Найти максимальную и минимальную дату появления товара в таблице
23. Найти количество товаров и их среднюю стоимость (округленную до двух знаков после запятой) появившихся в таблице в перод с 13 часов 7-го декабря 2022, до 10 декабря 2022 (не включая его)
24. В одном запросе вывести количество строк с условием: 
    если длина title больше 20 символов вывести "много букв";
    если длина title больше 10 символов, но меньше 20, вывести "норм";
    в любом другом случае вывести "мало букв";
    Пример финального вывода: [('Норм', 1111), ('мало букв', 2222), ('много букв', 3333)]
25. В sql решить пример (100+99)/2 + (95-5)/3. Потом этот пример решить на калькуляторе или в excel и сравнить результаты. Внести изменения в sql, чтобы ответы сходились (если потребуется)

26. Вывести не более 50 записей для товаров, цена которых не больше чем цена товара, пятого по дешевизне
27. Вывести название и среднюю цену всех товаров, у которых со временем цена менялась.
28. Вывести среднюю цену соленых огурцов за 6 декабря
29. Вывести название и среднюю цену всех товаров, у которых со временем цена изменилась.
30. Заменить во всей таблице в названии товара слово "вино" на "винишко" (а "Вино" на "Винишко", чтобы красиво было).

In [42]:
# 1. Дать псевдоним столбцу 'price_sale' и вывести цену 2 товаров из таблицы
cursor.execute('''
SELECT price_sale as price 
FROM products_history 
LIMIT 2
''')
cursor.fetchall()

[(2817.99,), (4300.99,)]

In [44]:
# 2. Вывести 5 названий шоколадок с ценой до 120 рублей
cursor.execute('''
SELECT title 
FROM products_history 
WHERE title like 'Шоколад%' 
        AND price_sale < 120 
LIMIT 5
''')
cursor.fetchall()

[('Шоколад молочный «Конфил» Аксинья, 100 г',),
 ('Шоколад молочный «Конфил» Аксинья, 100 г',),
 ('Шоколад «Чемпион вкуса» медаль молочный, 45 г',),
 ('Шоколад молочный «Конфил» Аксинья, 100 г',),
 ('Шоколад молочный «Конфил» Аксинья, 100 г',)]

In [6]:
# 3. Вывести максимальную стоимость шоколадки
cursor.execute('''
SELECT title, max(price_sale)
FROM products_history 
WHERE title like 'Шоколад%' 
LIMIT 5
''')
cursor.fetchall()

[('Шоколад АШАН Красная птица Темный с цукатами апельсина, вес', 1149.99)]

In [7]:
# 4. Вывести 3 названия шоколадок и цен на них, отфильтрованных по убыванию по цене
cursor.execute('''
SELECT title, price_sale
FROM products_history 
WHERE title like 'Шоколад%' 
ORDER BY price_sale DESC
LIMIT 3
''')
cursor.fetchall()

[('Шоколад АШАН Красная птица Темный с цукатами апельсина, вес', 1149.99),
 ('Шоколад Sole темный 73% с агавой, 100 г', 455.99),
 ('Шоколадные конфеты «Конфил» Отражение кокосик, вес', 427.99)]

In [12]:
# 5. Вывести названия шоколадок, у которых повторяющиеся цены - 5 шт
cursor.execute('''
SELECT title, price_sale, COUNT(1) as repeated
FROM products_history 
WHERE title like 'Шоколад%' 
GROUP BY price_sale
HAVING COUNT(1) > 1
ORDER BY price_sale DESC
LIMIT 5
''')
cursor.fetchall()

[('Шоколадные конфеты «Конфил» Отражение кокосик, вес', 427.99, 2),
 ('Шоколад темный АШАН Красная птица с апельсином, 400 г', 399.99, 3),
 ('Шоколад Танчик, 70 г', 363.99, 4),
 ('Шоколад темный Anthon Berg Cointreau с начинкой из карамели и ликера, 90 г',
  349,
  3),
 ('Шоколад Royal Forest Кокосовый гречишный, 50 г', 344.99, 10)]

In [13]:
# 6. вывести среднюю стоимость товаров типа виски
cursor.execute('''
SELECT AVG(price_sale)
FROM products_history 
WHERE title like 'Виски%' 
''')
cursor.fetchall()

[(4032.8173218830866,)]

In [18]:
# 7. вывести товары совпадающие по типу
cursor.execute('''
SELECT * , COUNT(1) as repeated
FROM products_history 
GROUP BY title
HAVING COUNT(1) > 1
LIMIT 5
''')
cursor.fetchall()

[(7172,
  '2022-12-06 15:38:37.435727',
  '#Топ-рецепты say7, Скрипкина А.Ю.',
  538.99,
  'https://www.auchan.ru/product/top-recepty-say7-skripkina-a-yu',
  2),
 (5223,
  '2022-12-06 15:37:49.949493',
  '100 любимых стихов и 100 любимых сказок для малышей',
  444.91,
  'https://www.auchan.ru/product/100-lyubimyh-stihov-i-100-lyubimyh-skazok-dlya-malyshey',
  17),
 (551264,
  '2022-12-12 01:12:42.478960',
  '13 карт и Земля Королей. Фанфики. Избранное, Нечитайло Ф.',
  1195.99,
  'https://www.auchan.ru/product/kn-13-kart-zemlya-korol-fanfiki',
  4),
 (395793,
  '2022-12-10 00:36:39.015030',
  '4а зарядное устройство',
  1290.95,
  'https://www.auchan.ru/product/4a-zaryadnoe-ustroystvo',
  3),
 (74647,
  '2022-12-07 00:15:02.883064',
  '50 любимых потешек',
  166.99,
  'https://www.auchan.ru/product/kn-50-lyubimyh-poteshek',
  19)]

In [55]:
# 8. вывести товары весом меньше 50г
cursor.execute('''
SELECT cast(replace(trim(SUBSTR(SUBSTR(title, -6), 0, 5)), ",", ".") as  int), replace(trim(SUBSTR(SUBSTR(title, -6), 0, 5)), ",", ".")
FROM products_history 
WHERE title like '%, % г'
LIMIT 10
''')
cursor.fetchall()

[(0, '. 30'),
 (0, '0.5'),
 (0, 'х110'),
 (500, '500'),
 (0, '. 50'),
 (0, '0.05'),
 (0, 'х110'),
 (500, '500'),
 (500, '500'),
 (400, '400')]

In [48]:
# 9. упорядочить товары по цене
cursor.execute('''
SELECT *
FROM products_history 
ORDER BY price_sale
LIMIT 5
''')
cursor.fetchall()

[(11674,
  '2022-12-06 15:40:29.293773',
  'Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)',
  0.95,
  'https://www.auchan.ru/product/oblozhka-plastek-xxi-vek-212h350-mm'),
 (21272,
  '2022-12-06 16:39:17.307964',
  'Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)',
  0.95,
  'https://www.auchan.ru/product/oblozhka-plastek-xxi-vek-212h350-mm'),
 (304559,
  '2022-12-09 00:04:10.317129',
  'Семена Морковь «Удачные семена» Королева осени, 2 г',
  0.95,
  'https://www.auchan.ru/product/semena-morkov-udachnye-semena-koroleva-oseni-2-g'),
 (5802,
  '2022-12-06 15:38:03.958477',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv'),
 (15402,
  '2022-12-06 16:36:53.390825',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv')]

In [50]:
# 10. вывести 5 самых дорогих и самых дешевых товара
cursor.execute('''
SELECT * FROM (
        SELECT title, price_sale
        FROM products_history 
        ORDER BY price_sale
        LIMIT 5
        ) as min_price
UNION ALL
SELECT * FROM (
        SELECT title, price_sale
        FROM products_history 
        ORDER BY price_sale DESC
        LIMIT 5
        ) as max_price
''')
cursor.fetchall()

[('Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)', 0.95),
 ('Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)', 0.95),
 ('Семена Морковь «Удачные семена» Королева осени, 2 г', 0.95),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99)]

In [52]:
# 11. Выбрать 50 товаров, цена которых больше 50'000 и отсортировать по убыванию по цене.
cursor.execute('''

SELECT title, price_sale
FROM products_history 
WHERE price_sale > 50000
ORDER BY price_sale DESC
LIMIT 50

''')
cursor.fetchall()

[('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ADRFY460DWE', 78999.99),
 ('Холодильник Ascoli ADRFW460DWE', 75999.99),
 ('Холодильник Ascoli ADRFW460DWE', 75999.99),
 ('Холодильник Ascoli ADRFW460DWE', 75999.99),
 ('Холодильник Ascoli ADRFW460DWE', 75999.99),
 ('Холодильник Ascoli ADRFW460DWE', 75999.99),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999),
 ('Игровая консоль PLAYSTATION 5 CFI-1100A с приводом', 69999)]

In [58]:
# 12. Изменить все названия в которых есть слово "Вино" в столбце "title" на "Винишко".
cursor.execute('''
UPDATE products_history SET title = 'Винишко'
WHERE title like 'Вино%'
''')
cursor.fetchall()

[]

In [63]:
# 13. Посчитать сумму стоимости товаров с id от 2877 до 2922.
cursor.execute('''
SELECT ROUND(SUM(price_sale), 1)
FROM products_history
WHERE id >= 2877 AND id < 2922
''')
cursor.fetchall()

[(118996.5,)]

In [64]:
# 14. Добавить столбец "Количество товаров в магазине".
cursor.execute('''
ALTER TABLE products_history 
ADD COLUMN 'count_products_in_shop' integer''') 
cursor.fetchall()

[]

In [65]:
# 15. Посчитать количество товаров в названиях которых есть "Лыжный комплект" и "Игрушка для собак".
cursor.execute('''
SELECT COUNT(1)
FROM products_history
WHERE title like 'Лыжный комплект%' or title like 'Игрушка для собак%'
''')
cursor.fetchall()

[(668,)]

In [57]:
# 16. вывести названия товаров в которые содержат слова молоко и стоимостью больше 50 рублей
cursor.execute('''
SELECT title
FROM products_history
WHERE title like '%Молоко%' AND price_sale > 50
LIMIT 10
''')
cursor.fetchall()

[('Сыр мягкий «Томское Молоко» Чечил бочонок 45%, 130 г',),
 ('Молоко соевое «Эко Крым, детка!» с ванилью, 750 мл',),
 ('Молоко питьевое «Очень важная корова» ультрапастеризованное 1,5%, 1 л',),
 ('Молоко питьевое «Сегодня и Всегда» ультрапастеризованное 2,5%, 950 мл',),
 ('Молоко «Даренка» ультрапастеризованное 2,5%, 900 мл',),
 ('Молоко соевое «Эко Крым, детка!» с ванилью, 750 мл',),
 ('Молоко соевое «Эко Крым, детка!» с ванилью, 750 мл',),
 ('Молоко питьевое «Молочная крепость» ультрапастеризованное 3,2%, 900 мл',),
 ('Молоко соевое «Эко Крым, детка!» с ванилью, 750 мл',),
 ('Молоко питьевое «Очень важная корова» ультрапастеризованное 1,5%, 1 л',)]

In [67]:
# 17. посчитать общее количество товарных позиций
cursor.execute('''
SELECT COUNT(1)
FROM products_history
''')
cursor.fetchall()

[(100000,)]

In [71]:
# 18. посчитать количество товаров когда товаром является молоко размером 1 литр
cursor.execute('''
SELECT COUNT(1)
FROM products_history
WHERE title like 'Молоко%1 л%'
''')
cursor.fetchall()

[(77,)]

In [73]:
# 19. посчитать среднюю стоимость литрового пакет молока
cursor.execute('''
SELECT ROUND(AVG(price_sale), 1)
FROM products_history
WHERE title like 'Молоко%1 л%'
''')
cursor.fetchall()

[(89.1,)]

In [92]:
# 20. в одном запросе вывести среднюю стоимость для пакетов молока 1 литр 950 и 900 миллилитров
cursor.execute('''
SELECT (
            SELECT AVG(price_sale)
            FROM products_history
            where title like 'Молоко%1 л%'
        ) AS avg_milk_1,
        (
            SELECT AVG(price_sale)
            FROM products_history
            where title like 'Молоко%950%'
        ) AS avg_milk_950,
        (
            SELECT AVG(price_sale)
            FROM products_history
            where title like 'Молоко%900%'
        ) AS avg_milk_900
''')
cursor.fetchall()

[(89.11142857142846, 97.23624999999998, 78.20428571428559)]

In [101]:
# 21. Найти какое максимальное количество раз встречается в таблице записи с одинаковым названием и ценой (т.е. GROUP BY title, price_sale).
cursor.execute('''
SELECT max(cnt) 
FROM (
        SELECT title, price_sale, COUNT(1) as cnt
        FROM products_history
        GROUP BY title, price_sale
        HAVING COUNT(1) > 1
        )
''')
cursor.fetchall()

[(418,)]

In [58]:
# 22. Найти максимальную и минимальную дату появления товара в таблице
cursor.execute('''
SELECT title, min(datetime_create), max(datetime_create)
FROM products_history
GROUP BY title
LIMIT 10
''')
cursor.fetchall()

[('#Топ-рецепты say7, Скрипкина А.Ю.',
  '2022-12-06 15:38:37.435727',
  '2022-12-06 16:37:26.897597'),
 ('100 головоломок для малышей. Супер точки от 10 до 50, Дмитриева В.Г.',
  '2022-12-09 00:03:44.611747',
  '2022-12-09 00:03:44.611747'),
 ('100 любимых стихов и 100 любимых сказок для малышей',
  '2022-12-06 15:37:49.949493',
  '2022-12-14 00:46:42.603422'),
 ('1100 православных монастырей Российской империи…, Денисов Л.',
  '2022-12-13 01:12:18.983882',
  '2022-12-13 01:12:18.983882'),
 ('13 карт и Земля Королей. Фанфики. Избранное, Нечитайло Ф.',
  '2022-12-12 01:12:42.478960',
  '2022-12-12 01:14:30.810347'),
 ('4а зарядное устройство',
  '2022-12-10 00:36:39.015030',
  '2022-12-12 01:15:51.643407'),
 ('50 любимых потешек',
  '2022-12-07 00:15:02.883064',
  '2022-12-14 00:46:55.282081'),
 ('BBQ с копченой паприкой «Царская приправа» мельница, 47 г',
  '2022-12-06 16:38:40.707371',
  '2022-12-07 07:35:49.899176'),
 ('BECK. Восточная Ударная Группа. Книга 1, Сакуиси Х.',
  '2022-12-12 01:13:44.384372',
  '2022-12-12 01:13:44.384372'),
 ('Bluetooth-гарнитура Xiaomi Mi Bluetooth Headset Basic черная',
  '2022-12-08 01:08:54.655422',
  '2022-12-14 00:46:44.059645')]

In [60]:
# 23. Найти количество товаров и их среднюю стоимость (округленную до двух знаков после запятой) появившихся в таблице в перод с 13 часов 7-го декабря 2022, до 10 декабря 2022 (не включая его)
cursor.execute('''
SELECT title, count(1), round(avg(price_sale), 2)
FROM products_history
WHERE datetime_create > '2022-12-07 13:00' and datetime_create < '2022-12-10 00:00' 
GROUP BY title
LIMIT 10
''')
cursor.fetchall()

[('100 головоломок для малышей. Супер точки от 10 до 50, Дмитриева В.Г.',
  1,
  162.99),
 ('100 любимых стихов и 100 любимых сказок для малышей', 3, 473.63),
 ('50 любимых потешек', 4, 166.99),
 ('Bluetooth-гарнитура Xiaomi Mi Bluetooth Headset Basic черная', 1, 599.0),
 ('Bluetooth-колонка Perfeo STAND черная', 1, 1299.99),
 ('Cosme station гель для душа с экстрактом лимона и мяты, 500 мл', 2, 380.97),
 ('Cosme station гель для душа с экстрактом манго и коллагeном, 500 мл',
  1,
  511.99),
 ('Cидр Lilleys Cider Rhubarb яблочный сладкий со вкусом ревеня 4,0%, 500 мл',
  1,
  169.95),
 ('Cтакан для виски Аrtcraft Адора золотистый, 275 мл', 1, 167.99),
 ('Cуфле «Бон Пари» со вкусом фруктов, 90 г', 1, 129.95)]

In [114]:
# 24. В одном запросе вывести количество строк с условием: 
# если длина title больше 20 символов вывести "много букв";
# если длина title больше 10 символов, но меньше 20, вывести "норм";
# в любом другом случае вывести "мало букв";
# Поля вывода:
#     "много букв" (или другое), количество таких записей
# Пример финального вывода: [('Норм', 1111), ('мало букв', 2222), ('много букв', 3333)]

cursor.execute('''
SELECT CASE
        WHEN LENGTH(title) > 20 THEN 'много букв'
        WHEN LENGTH(title) > 10 THEN 'Норм'
        ELSE 'мало букв' 
        END as how_char, 
        COUNT(1)
FROM products_history
GROUP BY how_char
''')
cursor.fetchall()

[('Норм', 1152), ('мало букв', 4672), ('много букв', 94176)]

In [2]:
# 25. В sql решить пример (100+99)/2 + (95-5)/3. Потом этот пример решить на калькуляторе или в excel и сравнить результаты. Внести изменения в sql, чтобы ответы сходились (если потребуется)
cursor.execute('''
SELECT (100+99)/2 + (95-5)/3, (100+99)/2.0 + (95-5)/3
''')
cursor.fetchall()

[(129, 129.5)]

26. Вывести не более 50 записей для товаров, цена которых не больше чем цена товара, пятого по дешевизне
27. Вывести название и среднюю цену всех товаров, у которых со временем цена менялась.
28. Вывести среднюю цену соленых огурцов за 6 декабря
29. Вывести название и среднюю цену всех товаров, у которых со временем цена изменилась.
30. Заменить во всей таблице в названии товара слово "вино" на "винишко" (а "Вино" на "Винишко", чтобы красиво было).

In [22]:
# 26. Вывести не более 50 записей для товаров, цена которых не больше чем цена товара, пятого по дешевизне
cursor.execute('''
SELECT title, price_sale
FROM products_history 
WHERE price_sale <= (
                SELECT price_sale
                FROM products_history
                order by price_sale asc
                limit 1
                offset 4)
LIMIT 50
''')
cursor.fetchall()

[('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)', 0.95),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)', 0.95),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Семена Перец сладкий «Поиск» Белозерка, 0,25 г', 1),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Наклейка автомобильная Golden Snail Ребенок, 15х18 см', 1),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Семена Морковь «Удачные семена» Королева осени, 2 г', 0.95),
 ('Календарь 2022 «Атберг98» Государственная символика квартальный', 1),
 ('Стержень для шариковой ручки АШАН Красная птица синий 0,7 мм', 1),
 ('Стержень для шариковой ручки АШАН Красная птица синий 0,7 мм', 1)]

In [61]:
# 27. Вывести название и среднюю цену всех товаров, у которых со временем цена менялась.
cursor.execute('''
SELECT * FROM products_history LIMIT 10
''')
cursor.fetchall()

[(2870,
  '2022-12-06 15:35:11.590625',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det'),
 (2871,
  '2022-12-06 15:35:11.600272',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  4300.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (2872,
  '2022-12-06 15:35:11.609495',
  'Лыжный комплект STC NN75 с палками, 180 см',
  3090.99,
  'https://www.auchan.ru/product/lyzh-kompl-s-palkami-180-nn75'),
 (2873,
  '2022-12-06 15:35:11.619340',
  'Лыжный комплект STC NN75 с палками, 205 см',
  3390.99,
  'https://www.auchan.ru/product/lyzh-kompl-s-palkami-205-nn75'),
 (2874,
  '2022-12-06 15:35:11.671310',
  'Средство для купания детское Play&Bath МимиМишки 3 в 1 Шампунь Гель Пена Кола, 200 мл',
  241.99,
  'https://www.auchan.ru/product/sredstvo-dlya-kupaniya-play-bath-mimimishki-3-v-1-shampun-gel-pena-kola-200-ml'),
 (2875,
  '2022-12-06 15:35:11.679981',
  'Сноутьюб V76 оптимальный с сиденьем',
  4490.99,
  'https://www.auchan.ru/product/snoutyub-optimal-s-sid-diva-2'),
 (2876,
  '2022-12-06 15:35:11.689173',
  'Подушка MEMORY ORTO 54Х32 см',
  4299.99,
  'https://www.auchan.ru/product/podushka-memory-orto-54h32h9-13'),
 (2877,
  '2022-12-06 15:35:11.739773',
  'Альбом для рисования Hatber А4, 48 л',
  112.99,
  'https://www.auchan.ru/product/alb-d-ris-48l-a4-perf-spiral'),
 (2878,
  '2022-12-06 15:35:11.748665',
  'Шампунь для кошек «АВЗ» Морской длинношерстных пород с кондиционером и хитозаном, 180 мл',
  164.99,
  'https://www.auchan.ru/product/shampun-d-k-dl-sherst-180ml-morsk'),
 (2879,
  '2022-12-06 15:35:55.843933',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det')]

In [62]:
# 28. Вывести среднюю цену соленых огурцов за 6 декабря
cursor.execute('''
SELECT AVG(price_sale)
FROM products_history
WHERE title like '%Огур%сол%' and datetime_create >= '2022-12-06' and datetime_create < '2022-12-07'
''')
cursor.fetchall()

[(153.99,)]

In [63]:
# 29. Вывести название и среднюю цену всех товаров, у которых со временем цена изменилась.
cursor.execute('''
--найдем товары на конец периода
WITH max_date AS ( 
    SELECT MAX(datetime_create), title, price_sale
    FROM products_history 
    GROUP BY title
    ),
--найдем товары на начало периода
min_date AS ( 
    SELECT MIN(datetime_create), title, price_sale
    FROM products_history 
    GROUP BY title
),
--найдем товары у кого цена изменилась
goods AS ( 
    SELECT mx.title
    FROM max_date AS mx, min_date AS mn
    WHERE mx.title = mn.title AND mx.price_sale != mn.price_sale
)
SELECT AVG(ph.price_sale), ph.title
FROM products_history AS ph, goods AS gs
WHERE ph.title = gs.title
GROUP BY ph.title
LIMIT 10
''')
cursor.fetchall()

[(467.71705882352927, '100 любимых стихов и 100 любимых сказок для малышей'),
 (119.97666666666667, 'Bullet-блокноты Listoff New Black А5+, 64 л'),
 (380.97, 'Cosme station гель для душа с экстрактом лимона и мяты, 500 мл'),
 (315.46,
  'Cosme station гель для душа с экстрактом манго и коллагeном, 500 мл'),
 (838.4484615384619,
  'Cтельки вкладные для обуви женские LuckyLand 3925W-IN бежевый, р.39'),
 (1378.99, 'Cтиральный порошок Persil Color, 8 кг'),
 (1124.6566666666668,
  'Cухой корм для кошек PERFECT FIT для живущих в помещении полнорационный с курицей, 2,5 кг'),
 (296.3966666666667, 'Cыр полумягкий «Сыроварня Побочино» Качотта 45%, вес'),
 (168.945,
  'Fa Аэрозоль антиперспирант Feel Balance, тонизирующий цветочный аромат, 150 мл'),
 (401.46, 'Jigott питательный крем для лица c экстрактом хризантемы, 100 мл')]

In [41]:
# 30. Заменить во всей таблице в названии товара слово "вино" на "винишко" (а "Вино" на "Винишко", чтобы красиво было).
cursor.execute('''
UPDATE products_history SET title = REPLACE(title, 'вино', 'винишко')
WHERE title like '% вино %'
''')
cursor.fetchall()

[]

In [43]:
cursor.execute('''
UPDATE products_history SET title = REPLACE(title, 'Вино', 'Винишко')
WHERE title like '%Вино%'
''')
cursor.fetchall()

[]

In [64]:
cursor.execute('''
select * from  products_history where title like '%Вин%'
LIMIT 10
''')
cursor.fetchall()

[(2871,
  '2022-12-06 15:35:11.600272',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  4300.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (2880,
  '2022-12-06 15:35:55.853649',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  4300.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (2914,
  '2022-12-06 15:35:56.651005',
  'Вино «Амфитрион» Каберне Мерло красное сухое Россия, 0,75 л',
  498.99,
  'https://www.auchan.ru/product/vinozguamfit-kab-mer-suhkr0-75'),
 (2981,
  '2022-12-06 15:35:58.316597',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  3870.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (3002,
  '2022-12-06 15:35:58.836446',
  'Вино «Амфитрион» Каберне Мерло красное сухое Россия, 0,75 л',
  498.99,
  'https://www.auchan.ru/product/vinozguamfit-kab-mer-suhkr0-75'),
 (3080,
  '2022-12-06 15:36:57.096574',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  4300.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (3114,
  '2022-12-06 15:36:57.923624',
  'Вино «Амфитрион» Каберне Мерло красное сухое Россия, 0,75 л',
  498.99,
  'https://www.auchan.ru/product/vinozguamfit-kab-mer-suhkr0-75'),
 (3181,
  '2022-12-06 15:36:59.578332',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  3870.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075'),
 (3202,
  '2022-12-06 15:37:00.097250',
  'Вино «Амфитрион» Каберне Мерло красное сухое Россия, 0,75 л',
  498.99,
  'https://www.auchan.ru/product/vinozguamfit-kab-mer-suhkr0-75'),
 (3286,
  '2022-12-06 15:37:02.283365',
  'Вино Arzuaga красное сухое Испания, 0,75 л',
  3870.99,
  'https://www.auchan.ru/product/vin_arzuag_krianca_kr_suh_075')]

In [47]:
cursor.execute("""
select count(title)
from products_history
where (title like "Молоко %" or title like "% молоко" or title like "% молоко %" or title like "% молоко,%") and price_sale > 50
""")
cursor.fetchall()

[(290,)]