In [1]:
import sqlite3

In [ ]:
connection = sqlite3.connect('/tmp/sql_dump/db.sqlite3')
cursor = connection.cursor()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS mvandreeva_goods(
        id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
        product_name VARCHAR(255),
        shop_name VARCHAR(255),
        date DATETIME,
        price INT,
        available_amount INT
""")

print(cursor.fetchall())

In [ ]:
cursor.execute("""
    SELECT product_name, shop_name, AVG(price)
    FROM mvandreeva_goods
    WHERE product_name = 'Филе тунца, вес'
    GROUP BY product_name
""")

print(cursor.fetchall())

In [ ]:
cursor.execute("""
    SELECT 
        product_name, 
        shop_name, 
        price, 
        available_amount, 
        date
    FROM mvandreeva_goods
    ORDER BY product_name, date ASC 
    LIMIT 10
""")

print(cursor.fetchall())

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS mvandreeva_buyers(
        id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
        product_name VARCHAR(255),
        shop_name VARCHAR(255),
        date DATETIME,
        price INT,
        available_amount INT
""")

print(cursor.fetchall())