# Часть 1. Множества

1. Создайте множество **set1** из целых чисел: 1, 2, 3, 4, 5.

In [12]:
set1 = {1, 2, 3, 4, 5}

2. Добавьте в это множество элемент 6.

In [13]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

3. Удалите элемент 2 из множества.

In [14]:
set1.remove(2)
print(set1)

{1, 3, 4, 5, 6}

4. Проверьте, содержит ли множество элемент 3.

In [15]:
3 in set1

True

5. Создайте второе множество **set2** с элементами 4, 5, 6, 7, 8.

In [16]:
set2 = {4, 5, 6, 7, 8}

6. Найдите объединение множеств **set1** и **set2**.

In [17]:
set3 = set1|set2
print(set3)

{1, 3, 4, 5, 6, 7, 8}

7. Найдите разность множеств **set1** и **set2**.

In [21]:
print('set1-set2 равна ',(set1-set2))
print('set2-set1 равна ',(set2-set1))

set1-set2 равна  {1, 3}
set2-set1 равна  {8, 7}

8. Создайте два множества:
 **set1** , содержащие цвета: "красный", "оранжевый", "желтый", "зеленый", "голубой",
   и **set2**, содержащее цвета "оранжевый", "желтый", "синий", "фиолетовый", "Мальвиновый".

In [4]:
set1 = {"красный", "оранжевый", "желтый", "зеленый", "голубой"}
set2 = {"оранжевый", "желтый", "синий", "фиолетовый", "Мальвиновый"}

9. Найдите пересечение множеств **set1** и **set2**.

In [23]:
set3 = set1&set2
print(set3)

{'желтый', 'оранжевый'}

10. Объедините множества **set1** и **set2** и сохраните результат в новое множество **rainbow_colors**.

In [24]:
rainbow_colors = set1|set2
print(rainbow_colors)

{'синий', 'зеленый', 'голубой', 'желтый', 'оранжевый', 'Мальвиновый', 'фиолетовый', 'красный'}

# Часть 2. Словари

1. Создайте словарь **person** с ключами "name", "age" и "city" с вашими данными.

In [25]:
person = {'name': 'Vera', 'age': '35', 'city': 'Nerezinovsk'}

2. Добавьте в словарь **person**  новый ключ "e-mail" со значением вашего электронного адреса.

In [27]:
person['e-mail'] = 'email@email.com'

3. Удалите ключ "city" из словаря **person** .

In [28]:
person.pop('city')

'Nerezinovsk'

4. Создайте словарь **fruits_quantity**, содержащий количество различных фруктов: {"яблоко": 5, "банан": 10, "апельсин": 7}.

In [1]:
fruits_quantity = {"яблоко": 5, "банан": 10, "апельсин": 7}

5. в словаре fruits_quantity увеличьте количество "бананов" на 3.

In [33]:
fruits_quantity["банан"] = fruits_quantity["банан"] + 3
print(fruits_quantity)

{'яблоко': 5, 'банан': 13, 'апельсин': 7}

6. Создайте новый словарь **fruits_prices**, где заданы цены одного фрукта для всех фруктов {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}.

In [5]:
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}

7.* Посчитайте стоимость всех фруктов, имеющихся в наличии

In [35]:
sum = fruits_quantity["банан"]*fruits_prices["банан"]+fruits_quantity["яблоко"]*fruits_prices["яблоко"]+fruits_quantity["апельсин"]*fruits_prices["апельсин"]
print(sum)

41.9

8. Удалите "Томат" из словаря fruits_prices.

In [36]:
#код закомменчен потому что выпадает в ошибку - насколько я поняла, так и должно быть
#fruits_prices.pop("Томат")

KeyError: 'Томат'

9. Создайте словарь students с данными о студентах {"Иванов": 22, "Петрова": 13, "Сидоров": 23}.

In [12]:
students = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}

10. Добавьте нового студента "Смирнова" возрастом 20 лет в словарь.

In [38]:
students["Смирнов"] = 20

11. Удалите студента "Петрова" из словаря.

In [39]:
students.pop("Петрова")

13

# Часть 3. Условные операторы

1. На основе значения возраста из словаря **person** из предыдущей части, выведите сообщение "Совершеннолетний" или "Несовершеннолетний".

In [47]:
# person = {'name': 'Vera', 'age': '35', 'city': 'Nerezinovsk'}
if int(person['age'])<18:
    print("Несовершеннолетний")
else:
    print("Cовершеннолетний")

Cовершеннолетний

2. Сравните размер множества **set1** с размером множеством **set2** и выведите сообщение о том, какое из множеств больше.

In [40]:
if set1>set2:
    print('Множество set1 больше set2')
else:
    print('Множество set2 больше set1')

Множество set2 больше set1

3. Проверьте, есть ли  "груша" в словаре **fruits_quantity**, и если нет, добавьте "грушу" с количеством 3.

In [43]:
if ("груша" in fruits_quantity != 0):
    print('Груша уже есть')
else:
    fruits_quantity["груша"] = 3
    print('Добавили 3 груши')

Груша уже есть

4. Если банан дороже яблока, но дешевле апельсина, задайте количество бананов равным 15.

In [44]:
if fruits_prices["банан"]>fruits_prices["апельсин"]:
    fruits_quantity["банан"] = 15

5. Задайте словарь Seven11 с таким содержанием {"яйца": 40, "батон хлеба" : 20}  
  Жена отправляет мужа-программиста в севенэлевен:  
 — Купи батон хлеба, если будут яйца — возьми десяток.  
Выведите на экран, сколько хлеба купил муж-программист, и сколько хлеба и яиц осталось в магазине.

In [48]:
Seven11 = {"яйца": 40, "батон хлеба" : 20}
if Seven11["яйца"]>0:
    print('Куплено батонов: ', 10)
    Seven11['батон хлеба'] = Seven11['батон хлеба'] - 10
    print('Осталось: ', Seven11)
else:
    print('Куплено батонов: ', 1)
    Seven11['батон хлеба'] = Seven11['батон хлеба'] - 10
    print('Осталось: ', Seven11)

Куплено батонов:  10
Осталось:  {'яйца': 40, 'батон хлеба': 10}

6. Напишите условие, которое проверяет возраст студента "Иванова" и выводит сообщение "Совершеннолетний" или "Несовершеннолетний".

In [49]:
if int(students['Иванов'])<18:
    print("Несовершеннолетний")
else:
    print("Cовершеннолетний")

Cовершеннолетний

# Часть 4. Циклы

1. Напишите цикл for, который выводит все элементы множества **set1**.

In [12]:
for i in set1:
    print(i)

голубой
оранжевый
красный
желтый
зеленый

2. Напишите цикл while, который выводит квадраты чисел от 1 до 5.

In [16]:
i=1
while i<6:
    print(i**2)
    i=i+1

1
4
9
16
25

3. Напишите цикл for, который перебирает все записи из словаря **fruits_quantity** и выводит информацию о количестве каждого фрукта.

In [4]:
#fruits_quantity = {"яблоко": 5, "банан": 10, "апельсин": 7}
for i in fruits_quantity.keys():
    print(i, '->', fruits_quantity[i])

яблоко -> 5
банан -> 10
апельсин -> 7

4. Выведите сообщение "%название фрукта% - дорогой товар" для фруктов из **fruit_prices**, цена которых превышает 1.5, подставив вместо %название фрукта% название соответствующих "дорогих" фруктов

In [10]:
#fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}
for i in fruits_prices:
    if fruits_prices[i]>1.5:
        print(i, '  - дорогой товар')

банан   - дорогой товар

 5. Посчитайте стоимость всех фруктов, имеющихся в наличии

In [11]:
sum = 0
for i in fruits_prices:
    sum = sum+fruits_prices[i]
print(sum)

4.7

6. Используя цикл for, выведите всех студентов и их возраст из словаря students.

In [13]:
#students = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}
for i in students:
    print(i, ' - ',students[i],'лет')

Иванов  -  22 лет
Петрова  -  13 лет
Сидоров  -  23 лет

# Часть 5 - Функции

## Множества

1. Создайте функции **set_union** и **set_difference** для операций объединения и разности множеств.
   - Функции должны принимать два множества и возвращать соответствующий результат.

In [14]:
def set_union(set1, set2):
    return set1|set2

def set_difference(set1, set2):
    return set1-set2

a = set('1234')
b = set('3456')

print(set_union(a,b))
print(set_difference(a,b))

{'4', '5', '2', '6', '3', '1'}
{'1', '2'}

2. Создайте функцию **is_subset** для проверки, является ли одно множество подмножеством другого.

In [28]:
def is_subset(set1, set2):
    if set1.issuperset(set2):
       print('Множество 2 входит в множество 1')
    elif set2.issuperset(set1):
        print('Множество 1 входит в множество 2')
    else:
        print('Ни одно множество не является подмножеством другого')

a = set('tt')
b = set('agavahargava')

is_subset(a,b)

Ни одно множество не является подмножеством другого

3. Создайте функцию для объединения нескольких множеств.

In [2]:
def setunion(*args):
    a = set()
    for i in args:
        a = a.union(i)
    return a

b = {1, 2, 3}
c = {4, 5, 7}
d = {8, 5, 9}


print(setunion(b,c,d))

{1, 2, 3, 4, 5, 7, 8, 9}

4. Создайте функцию для удаления конкретного элемента из множества.

In [7]:
a = 3
def remove_union(x):
    if a in x:
        b = x.discard(a)
    return b

x = {1, 2, 3}
remove_union(x)
print(x)

{1, 2}

5. Создайте функцию для поиска пересечения нескольких множеств.

In [13]:
def set_intersection(*args):
    L = args[0]
    for i in args:
        L = i.intersection(L)
    return L

b = {1, 2, 3, 4, 5}
c = {4, 5, 7}
d = {8, 5, 9, 4, 5}


print(set_intersection(b,c,d))

{4, 5}

6. Создайте функцию для проверки на равенство двух множеств.

In [18]:
# Решение 1 - рабочее, но неоптимальное
def set_equality(*args):
    a = args[1]
    for i in args:
        if i == a:
            print('множества равны')
            break
        else:
            print('множества НЕ равны')
            break
b = {4, 5, 7}
c = {4, 5, 7}
print(set_equality(b,c))

# Решение 2 - оптимальное

def set_equality2(set1, set2):
    if set1 == set2:
        print('множества равны')
    else:
        print('множества НЕ равны')

множества равны
None

7. Создайте функцию для нахождения объединения трех множеств.

In [20]:
def setunion(set1, set2, set3):
    set_union = set1|set2|set3
    return set_union
set1 = {1, 2, 3}
set2 = {4, 5, 7}
set3 = {8, 5, 9}
print(setunion(set1, set2, set3))

{1, 2, 3, 4, 5, 7, 8, 9}

8. Создайте функцию для проверки, являются ли два множества дизъюнктными (не имеют общих элементов).

In [32]:
def set_disjunction(set1, set2):
    if not set1&set2:
        print('множества дизъюнктные')
    else:
        print('множества НЕ дизъюнктные')
    
set1 = {1, 4, 3}
set2 = {4, 5, 7}

set_disjunction(set1, set2)

множества НЕ дизъюнктные

9. Создайте функцию для нахождения разности двух множеств.

In [39]:
def set_difference(set1, set2):
    if len(set1)>len(set2):
        return(set1-set2)
    else:
        return(set2-set1)
    
set2 = {1, 4, 3, 7, 9}
set1 = {4, 5, 7}

set_difference(set1, set2)

{1, 3, 9}

10. Создайте функцию для определения симметрической разности двух множеств.

In [40]:
def set_symmetric_difference(set1, set2):
    return set1^set2
    
set2 = {1, 4, 3, 7, 9}
set1 = {4, 5, 7}

set_symmetric_difference(set1, set2)

{1, 3, 5, 9}

11. Создайте функцию **create_set** для создания множества с заданными элементами.
   - Функция должна принимать переменное количество аргументов и возвращать новое множество.

In [42]:
def create_set(*args):
    set0 = set()
    for i in args:
        set0.add(i)
    return(set0)

print(create_set(1,2,3,6,8,8))

{1, 2, 3, 6, 8}

## Словари

1. Создайте функцию **create_dictionary** для создания словаря с заданными ключами и значениями.
   - Функция должна принимать словарь в формате ключ-значение и возвращать созданный словарь.

In [2]:
def create_dictionary(*dict):
    d = {}
    for key, value in dict:
        d[key] = value
    return d

create_dictionary(('dict1',100),('dict2',200),('dict3',300))

{'dict1': 100, 'dict2': 200, 'dict3': 300}

2. Напишите функции add_student и remove_student для добавления и удаления студентов из словаря.
   - Функции должны принимать словарь студентов и соответствующие данные для добавления и удаления.

In [6]:
def add_student(dict,key,item):
    dict[key] = item
    return dict
a = dict()
b = 'key1'
c = 'item1'
print(add_student(a,b,c))

{'key1': 'item1'}

In [10]:
def remove_student(dict,key):
    dict.pop(key)
    return dict
a = {'Vasya': 1, 'Petya': 2, 'Lera': 3}
b = 'Petya'

print(remove_student(a,b))

{'Vasya': 1, 'Lera': 3}

3. Напишите функции **add_fruit** и **remove_fruit** для добавления и удаления фруктов, их количества и стоимости в списки fruits_quantity и fruits_prices.
   - Функции должны принимать словари и соответствующие данные для добавления и удаления.

In [13]:
def add_fruit(dict1,dict2,fruit,quantity,price):
    dict1[fruit] = quantity
    dict2[fruit] = price
    return dict1, dict2
fruits_quantity = {"яблоко": 5, "банан": 10, "апельсин": 7}
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}
fruit = 'виноград'
quantity = 100
price = 12

print(add_fruit(fruits_quantity,fruits_prices,fruit,quantity,price))

({'яблоко': 5, 'банан': 10, 'апельсин': 7, 'виноград': 100}, {'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'виноград': 12})

    
4. Создайте функцию для объединения двух словарей.

In [15]:
def merge_dict(dictionary1,dictionary2):
    merged_dictionary = {**dictionary1, **dictionary2}
    return merged_dictionary

dictionary1 = {'a': 1, 'b': 2}
dictionary2 = {'b': 3, 'c': 4}
print(merge_dict(dictionary1,dictionary2))

{'a': 1, 'b': 3, 'c': 4}

5. Создайте функцию для удаления элемента из словаря по заданному ключу.

In [16]:
def remove_item(dict,key):
    dict.pop(key)
    return dict
a = {'Vasya': 1, 'Petya': 2, 'Lera': 3}
b = 'Petya'

print(remove_student(a,b))

{'Vasya': 1, 'Lera': 3}

6. Создайте функцию для переворачивания значений и ключей в словаре (принимает на вход словарь, возвращает другой словарь, ключами которого являются значения входного словаря, а значениями - ключи.

In [26]:
def takeover(dict):
    for i in dict.keys():
        a = dict[i]
        b = i
        dict[a] = dict.pop(i)
        dict[a] = b
    return dict
dict = {'Vasya': 1, 'Petya': 2, 'Lera': 3}
print(takeover(dict))

{1: 'Vasya', 2: 'Petya', 3: 'Lera'}

7. Создайте функцию для сортировки словаря по ключам в обратном порядке.

In [28]:
def sort_dict(dict):
    sorted_dict = sorted(dict.items(), reverse=True)
    return sorted_dict
dict = {'Anya': 8, 'Vasya': 1, 'Petya': 2, 'Lera': 3}
print(sort_dict(dict))

#sorted_people = sorted(people.items(), key=lambda item: item[1], reverse=True)

[('Vasya', 1), ('Petya', 2), ('Lera', 3), ('Anya', 8)]

8.  Создайте функцию возвращающую наибольшее значение элемента словаря.

In [32]:
def max_item_dict(dict):
    max = 0
    for i in dict.keys():
        next_item = dict[i]
        if next_item > max:
            max = next_item
    return max

dict = {'Anya': 8, 'Vasya': 1, 'Petya': 2, 'Lera': 3}
print(max_item_dict(dict))

8

9. Создайте функцию для поиска наибольшего значения в словаре.

In [1]:
def max_item_dict(dict):
    max = 0
    for i in dict.keys():
        next_item = dict[i]
        if next_item > max:
            max = next_item
    return max

dict = {'Anya': 8, 'Vasya': 1, 'Petya': 2, 'Lera': 3}
print(max_item_dict(dict))

8

## Условия и циклы

1. Создайте функцию **check_fruit_price** для проверки стоимости фрукта и вывода соответствующего сообщения.
   - Функция должна принимать словарь цен на фрукты и название фрукта, а затем выводить сообщение "дорогой товар", если цена фрукта больше 1.5.

In [3]:
def check_fruit_price(fruits_prices,fruit):
    if fruits_prices[fruit] > 1.5:
        print('дорогой товар')

fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}
fruit = 'яблоко'
check_fruit_price(fruits_prices,fruit)

2. Создайте функцию check_age для проверки возраста студента и вывода соответствующего сообщения.
   - Функция должна принимать словарь студентов и имя студента, а затем выводить сообщение о совершеннолетии или несовершеннолетии.

In [5]:
def check_age(students,student):
    if students[student] > 18:
        print('Совершеннолетний')
    else:
        print('НЕсовершеннолетний')

students = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}
student = 'Иванов'
check_age(students,student)

Совершеннолетний

3. Создайте функцию **compare_sets_length**, которая сравнивает длину двух множеств и выводит информацию о  том, какое из множеств длиннее.
   - Функция должна принимать два множества и выводить соответствующее сообщение.

In [6]:
def compare_sets_length(set1, set2):
    if len(set1)>len(set2):
        print('1 множество больше 2')
    else:
        print('2 множество больше 1')
    
set2 = {1, 4, 3, 7, 9}
set1 = {4, 5, 7}

compare_sets_length(set1, set2)

2 множество больше 1

4. Создайте функцию для определения четности или нечетности числа.

In [7]:
def numner_parity(number):
    if number % 2 == 0:
        print('Число четное')
    else:
        print('Число нечетное')
number1 = 13
number2 = 200

numner_parity(number1)
numner_parity(number2)

Число нечетное
Число четное

5. Создайте функцию для определения високосного года. Функция должна принимать на вход год в виде числа и возвращать строку "високосный" или "обычный"

In [11]:
def leap_year(year):
    if year % 4 > 0:
        print ('Не високосный')
    elif year%4 ==0 and year % 100 > 0:
        print ('Високосный')
    elif year%100 ==0 and year % 400 > 0:
        print ('НЕ високосный')
    elif year%100 ==0 and year % 400 == 0:
        print ('Високосный')

НЕ високосный

In [ ]:
year = 1700
leap_year(year)

6. Создайте функцию для определения типа треугольника по длинам сторон (принимает длины сторон, возвращает "остроугольный, прямоугольный, тупоугольный или не треугольник").

In [12]:
def triangle_type(a,b,c):
    sorted_sides = [a, b, c]
    sorted_sides.sort()
    a, b, c =  sorted_sides[0], sorted_sides[1], sorted_sides[2]
    if (a**2 + b**2) < c**2:
        print('Тупоугольный')
    elif (a**2 + b**2) == c**2:
        print('Прямoугольный')
    elif (a**2 + b**2) > c**2:
        print('Остроугольный')
    else:
        print('Это не треугольник')
    
    # if a==b or b==c or a==c:
    #     print ('Равнобедренный')
    # elif a==b==с:
    #     print ('Равносторонний')
    # elif not a==b and not b==c and not a==c:
    #     print ('Разносторонний')
    # elif a+b==c or b+c==a or a+c==b:
    #     print ('Это не треугольник')

Тупоугольный

In [ ]:
a = 10
b = 20
c = 12
triangle_type(a,b,c)

7. Создайте функцию для проверки, является ли строка палиндромом.

In [18]:
def string_palindrome(s):
    s.lower()
    s = s.replace(' ', '')
    print(s)
    l = list(s)
    print(l)
    r = l[::-1]
    print(r)
    if l == r:
        print('Палиндром')
    else:
        print('Не палиндром')

арозаупаланалапуазора
['а', 'р', 'о', 'з', 'а', 'у', 'п', 'а', 'л', 'а', 'н', 'а', 'л', 'а', 'п', 'у', 'а', 'з', 'о', 'р', 'а']
['а', 'р', 'о', 'з', 'а', 'у', 'п', 'а', 'л', 'а', 'н', 'а', 'л', 'а', 'п', 'у', 'а', 'з', 'о', 'р', 'а']
Палиндром

In [ ]:
s = 'а роза упала на лапу азора'
string_palindrome(s)

8. Создайте функцию для определения времени суток по введенному времени ( принимает текущее время в формате часы, минуты, возвращает утро, день, вечер, ночь).

In [23]:
def times_of_day(h,m):
    if h>=0 and h<=5 and m>=0 and m<=59:
        print('Night')
    elif h>=6 and h<=11 and m>=0 and m<=59:
        print('Morning')
    elif h>=12 and h<=17 and m>=0 and m<=59:
        print('Day')
    elif h>=18 and h<=23 and m>=0 and m<=59:
        print('Evening')
    else:
        print('Данные цифры не являются временем')

Данные цифры не являются временем

In [ ]:
h = 25
m = 11
times_of_day(h,m)

9. Создайте функцию, которая определяет, является ли введенное число простым.

In [1]:
def prime_number(num):
    s = 0
    for i in range (2,num):
        if num%i == 0:
            s = s+1
            a = 'не является простым числом'
            return a 
            break
    if s == 0:
        print('является простым числом')

In [2]:
print(prime_number(7))

является простым числом
None

10. Создайте функцию для проверки входящей строки на наличие только буквенных символов.

In [55]:
def only_letters(line):
    
    if line.isalpha():
        return True
    else:
        return False

In [ ]:
line1 = '1q2w3e4r'
line2 = 'poiuytr'
print('Строка line1 -', is_letter(line1),'\nСтрока line2 -', is_letter(line2))

11. Создайте функцию, которая определяет, является ли введенная дата корректной (дата вводится в виде трех чисел, день, месяц, год. Корректной датой считается существующая комбинация этих трех чисел).

In [56]:
def check_correct_date(is_date):
    '''
    Ввод даты в формате дд.мм.ггг
    True - дата корректная, False - некорректная.
    '''
    day, month, year = map(int, is_date.split('.'))
    if (1 <= month <= 12) and (1 <= day <= 31):
        
        if (month in [1, 3, 5, 7, 8, 10, 12]) and (day <= 31):
            return True
            
        elif (month in [4, 6, 9, 11]) and (day <= 30):
            return True
            
        elif (month == 2):
            if (day <= 29 and (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))) or (day <= 28):
                return True
            else:
                return False
        else:
            return False
    else:
        return False

In [ ]:
check_correct_date(28.04.1990)

12. Создайте функцию, которая определяет, является ли введенное число палиндромом.

In [10]:
def pallindrom(number):
    number = str(number)
    number2 = number[::-1]
    if number2 == number:
        print('Число ',number,'является палиндромом')
    else:
        print('Число ',number,' НЕ является палиндромом')

In [9]:
pallindrom(333)

Число  333 является паллиндромом

13. Создайте функцию для определения дня недели по введенному номеру дня (1 - Понедельник, 2 - Вторник и т.д.).

In [12]:
def day_of_week(n):
    days = {1 : 'Понедельник',
           2 : 'Вторник',
           3 : 'Среда',
           4 : 'Четверг',
           5 : 'Пятница',
           6 : 'Суббота',
           7 : 'Воскресенье'}
    return days[n]

In [13]:
day_of_week(7)

'Воскресенье'

14. Создайте функцию **print_fruits_info** для вывода информации о количестве и стоимости фруктов из словарей.
   - Функция должна принимать словари с информацией "фрукт:количество" и "фрукт:цена" и выводить для каждого фрукта его стоимость и количество.

In [20]:
def print_fruits_info(fruit_quantity, fruit_price):
    print('Фрукт  цена  количество')
    for i in fruit_quantity.keys():
        print(i,fruit_price[i],fruit_quantity[i])
    return

In [21]:
fruit_quantity = {
    'Фейхоа' : 100,
    'Яблоко' : 200,
    'Папайя' : 300,
}
fruit_price = {
    'Фейхоа' : 3,
    'Яблоко' : 4,
    'Папайя' : 5,
}
print_fruits_info(fruit_quantity, fruit_price)

Фрукт  цена  количество
Фейхоа 3 100
Яблоко 4 200
Папайя 5 300

15. Создайте функцию **print_squares_while**, которая использует цикл while для вывода квадратов чисел от 1 до 5.

In [22]:
def print_squares_while():
    number = 1
    while number <= 5:
        print(f'{number}² = {number**2}')
        number += 1

In [23]:
print_squares_while()

1² = 1
2² = 4
3² = 9
4² = 16
5² = 25

In [25]:
'''
a = 7
print(f'Число а равно {a}, квадрат от а равно {a**2}')

Число а равно 7, квадрат от а равно 49

16. Создайте функцию для вывода факториала заданного числа.

In [61]:
def factorial(n):
    if n == 0:
        return 1
    else: 
        return n * factorial(n-1)

17. Создайте функцию для поиска суммы чисел в заданном диапазоне (принимает на вход два числа, возвращает сумму чисел находящихся между ними, включительно.)

In [62]:
def range_sum(num1, num2):
    n = num2 - num1 + 1
    return (2*num1 + (n-1))*n/2

18. Создайте функцию для генерации и вывода всех простых чисел до заданного числа.

In [27]:
def prime_numbers(num):
    prime_numbers = []
    for n in range(2, num):
        for d in range(2, n):
            if n % d == 0:
                break
        else:
            prime_numbers.append(n)
    print(f'Простые числа до {num}: {prime_numbers}')
    return

In [28]:
prime_numbers(100)

Простые числа до 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

19. Создайте функцию для проверки строки на палиндромность без учёта регистра и знаков препинания.

In [64]:
def string_palindrome(s):
    s.lower()
    for i in (' ', ',', '.', ':', ';', '!', '?', '(', ')'):
        if i in s:
           s = s.replace(i, '')
    print(s)
    l = list(s)
    print(l)
    r = l[::-1]
    print(r)
    if l == r:
        print('Палиндром')
    else:
        print('Не палиндром')

20. Создайте функцию для поиска наибольшего общего делителя (НОД) двух чисел.

In [1]:
def GCD_Loop( a, b): 
    if a > b:  
        temp = b 
    else: 
        temp = a 
    for i in range(1, temp + 1): 
        if(( a % i == 0) and(b % i == 0 )): 
            gcd = i 
    return gcd 
x = int(input(" Введите первое число: ") ) 
y = int(input(" Введите второе число: "))  
num = GCD_Loop(x, y)  
print("НОД: ") 
print(num)

 Введите первое число:  45
 Введите второе число:  14

НОД:
1

21. Создайте функцию print_students для вывода информации о студентах из словаря.
   - Функция должна принимать словарь студентов и выводить их имена и возраст.

In [19]:
def print_students(nameage):
    for key, value in nameage.items():
        print('Имя:возраст', key, ':', value)

In [20]:
nameage = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}
print_students(nameage)

Имя:возраст Иванов : 22
Имя:возраст Петрова : 13
Имя:возраст Сидоров : 23

22. Создайте функцию get_value_from_user, принимающую на вход одно число ("порог"), и запрашивающую у пользователя ввод числа до тех пор, пока он не введет число выше "порога".

In [23]:
def get_value_from_user():
    print('Введите число-порог')
    porog = int(input())
    print('Введите число для сравнения')
    i = int(input())
    if i > porog or i == porog:
        print('Число больше или равно порогу')
    else:
        while i <= porog:
            print('Введите число для сравнения')
            i = int(input())
            if i > porog or i == porog:
                print('Число больше или равно порогу')

In [26]:
get_value_from_user()

Введите число-порог

 -38

Введите число для сравнения

 34

Число больше или равно порогу

## Общие

1. Создайте функцию, которая будет запрашивать у пользователя его возраст.
   - Если возраст меньше 18 лет, программа должна выводить сообщение о том, что пользователь несовершеннолетний.
   - Если возраст от 18 до 65 лет, программа должна выводить сообщение о том, что пользователь взрослый.
   - Если возраст больше 65 лет, программа должна выводить сообщение о том, что пользователь пенсионер.

In [28]:
def age():
    print('Введите ваш возраст')
    age = int(input())
    if age <= 0 or age > 100:
        print('Так не бывает')
    elif age < 18:
        print('Вы несовершеннолетний')
    elif age >= 18 and age <=65 :
        print('Вы взрослый')
    else:
        print('Вы пенсионер')

In [32]:
age()

Введите ваш возраст

 89

Вы пенсионер

2. Создайте функцию, которая будет проверять введенную пользователем строку на наличие повторяющихся символов.
   - Если такие символы найдены, программа должна выводить их перечень и количество повторов для каждого.

In [67]:
def double_symbols(stroka):
    result = []
    s = list(stroka.lower())
    s.sort()
    for i in range(len(s)-1):
        if s[i] == s[i+1] and s[i] not in result:
            result.append(s[i])
    
    return result