In [11]:
!python setup.py build_ext --pg-config /path/to/pg_config build

python: can't open file '/home/jupyter-annamargolina/github/team22/users/aomargolina/exercice/sql/setup.py': [Errno 2] No such file or directory

In [10]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Using cached psycopg2-2.9.9.tar.gz (384 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [23 lines of output]
      running egg_info
      creating /tmp/pip-pip-egg-info-z_auqing/psycopg2.egg-info
      writing /tmp/pip-pip-egg-info-z_auqing/psycopg2.egg-info/PKG-INFO
      writing dependency_links to /tmp/pip-pip-egg-info-z_auqing/psycopg2.egg-info/dependency_links.txt
      writing top-level names to /tmp/pip-pip-egg-info-z_auqing/psycopg2.egg-info/top_level.txt
      writing manifest file '/tmp/pip-pip-egg-info-z_auqing/psycopg2.egg-info/SOURCES.txt'

      Error: pg_config executable not found.

      pg_config is required to build psycopg2 from source.  Please add the directory
      containing pg_config to the $PATH or specify the full executable path with the
      option:

          python setup.py build_ext --pg-config /path/to/pg_config build ...

      or with the pg_config option in 'setup.cfg'.

      If you prefer to avoid building psycopg2 from source, please install the PyPI
      'psycopg2-binary' package instead.

      For further information please check the 'doc/src/install.rst' file (also at
      <https://www.psycopg.org/docs/install.html>).

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [6]:
import psycopg2 as ps
import pandas as pd

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
connection = sqlite3.connect('/home/synchronize_data/price_analytics/24.db.copied')
cursor = connection.cursor()

In [ ]:
cursor.execute("""
SELECT 
    *
FROM copied
where 
    category = "Новостройки" 
    or category = "Реновация"
ORDER BY price desc
LIMIT 2
""")

In [ ]:
flat = cursor.fetchall()

In [ ]:
flat

In [ ]:
cursor.execute("""
SELECT 
    *
FROM copied
GROUP by title
limit 3""")

In [33]:
cursor.fetchall()

[(31260220,
  '1 1 1 -1 13.25 0',
  3650000,
  3650000,
  '2024-03-04 20:52:15.255582',
  'Новостройки',
  'gk-osnova.ru',
  'https://api.gkosnova.tech/public/api/v1/building-objects/1/properties?detail=0',
  13.25,
  -1,
  None,
  0,
  0),
 (44975052,
  '1 1 1 -1 13.3 0',
  3650000,
  3650000,
  '2024-06-05 00:49:43.033480',
  'Новостройки',
  'gk-osnova.ru',
  'https://api.gkosnova.tech/public/api/v1/building-objects/1/properties?detail=0',
  13.3,
  -1,
  None,
  0,
  0),
 (44975313,
  '1 1 1 10 111.9 E4',
  49571700,
  49571700,
  '2024-06-05 00:49:48.817579',
  'Новостройки',
  'gk-osnova.ru',
  'https://api.gkosnova.tech/public/api/v1/building-objects/1/properties?detail=0',
  111.9,
  10,
  None,
  4,
  443000)]

In [23]:
a = cursor.fetchall()

In [17]:
import pandas as pd

In [25]:
df = pd.DataFrame(a)

In [26]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,598,"Причальный Bосток 29 65.3 Причальный пр., д. 8...",37527037,26268925,2022-12-05 13:38:36.641439,Новостройки,level.ru,url_example,NaN,NaN,NaN,NaN,NaN
1,599,"Саввинская 17 17 4 82.5 55.734600731695195,37...",202359478,202359478,2022-12-05 13:38:36.652957,Новостройки,level.ru,url_example,NaN,NaN,NaN,NaN,NaN
2,600,"Причальный Bосток 31 65.3 Причальный пр., д. 8...",37802086,26461460,2022-12-05 13:38:36.662478,Новостройки,level.ru,url_example,NaN,NaN,NaN,NaN,NaN
3,601,Саввинская 27 27 2 137.5 Саввинская 27 55.7306...,209072374,209072374,2022-12-05 13:38:36.670973,Новостройки,level.ru,url_example,NaN,NaN,NaN,NaN,NaN
4,602,"Причальный Юг 3 72.8 Причальный пр., д. 8 55.7...",58793280,41155296,2022-12-05 13:38:36.724025,Новостройки,level.ru,url_example,NaN,NaN,NaN,NaN,NaN

In [34]:
cursor.fetchall()

[]

In [38]:
%%sql
select * from copied 
limit 1

Traceback (most recent call last):
  File "/home/jupyter-annamargolina/.local/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/home/jupyter-annamargolina/.local/lib/python3.10/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [36]:
!pip3 install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/tljh/user/lib/python3.10/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/tljh/user/lib/python3.10/site-packages (from ipython-sql) (2.0.25)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/tljh/user/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/tljh/user/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/tljh/user/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: exceptiongroup in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/tljh/user/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/tljh/user/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/tljh/user/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/tljh/user/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/tljh/user/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/tljh/user/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/tljh/user/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 3.5 MB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, prettytable, ipython-sql
  WARNING: The script sqlformat is installed in '/home/jupyter-annamargolina/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.0 sqlparse-0.5.0

In [5]:
%load_ext sql

In [6]:
%sql sqlite:////home/synchronize_data/price_analytics/24.db.copied

In [ ]:
%%sql
select * from copied

 * sqlite:////home/synchronize_data/price_analytics/24.db.copied
Done.

In [ ]:
%%sql
select * 
from copied
limit 10

In [ ]:
%%sql
SELECT 
    *
FROM copied
GROUP by title
limit 3