for in - цикл 
list - список
dict - словарь

In [6]:
list_number = [1,4,6,3,9,2]
#              0,1,2,3,4,5

In [7]:
list_number[2]

6

In [8]:
list_number[5]

2

In [9]:
list_number.append(7)

In [10]:
list_number

[1, 4, 6, 3, 9, 2, 7]

In [11]:
#list_number = [1,4,6,3,9,2,7]
#               0,1,2,3,4,5,6

In [12]:
#посмотреть длину
len(list_number)

7

In [13]:
#заменить элемент
list_number[1] = 5

In [14]:
list_number

[1, 5, 6, 3, 9, 2, 7]

In [15]:
# удалить элемент
del list_number[1]

In [16]:
list_number

[1, 6, 3, 9, 2, 7]

In [17]:
#посмотреть длину
len(list_number)

6

In [19]:
#help(list)

In [21]:
for i in range(len(list_number)):
    print(i)

0
1
2
3
4
5

In [22]:
range(len(list_number))

[0, 1, 2, 3, 4, 5]

In [23]:
# перебеор всех элементов списка list_number
for i in list_number:
    print(i)

1
6
3
9
2
7

In [24]:
# создает список от 0 до 9 с шагом 1
range(9)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
# Создает список от 3 до 9
range(3, 9)

[3, 4, 5, 6, 7, 8]

In [26]:
# Создает список от 3 до 9 с шагом 2
range(3, 9, 2)

[3, 5, 7]

In [28]:
#help(range)

In [29]:
for i in list_number:
    k = 3 + i
    print(k)

4
9
6
12
5
10

In [35]:
list_new_numbser = []
for i in list_number:
    k = 3 + i
    list_new_numbser.append(k)

In [31]:
list_new_numbser

[4, 9, 6, 12, 5, 10]

In [32]:
print(list_new_numbser)

[4, 9, 6, 12, 5, 10]

In [38]:
list_name = ['Andrey', 'Alex']

In [39]:
list_name

['Andrey', 'Alex']

# Словарь

In [36]:
slova_name = {}

In [37]:
slova_name

{}

In [40]:
slova_name_new = {
    'Andrey': 33,
    'Alex': 35,
    'Vasya': 'Student',
    'Petya': {
        'year': 2000,
        'study': 'MAI',
    },
    'Vova': [4, 5, 2, 4]
}

In [41]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vova': [4, 5, 2, 4]}

In [42]:
new_list = []

In [43]:
new_list

[]

In [44]:
new_list.append(10)

In [45]:
new_list

[10]

In [46]:
new_list.append(5)

In [47]:
new_list.append('Home')

In [48]:
new_list

[10, 5, 'Home']

In [49]:
new_list.append(slova_name_new)

In [50]:
new_list

[10,
 5,
 'Home',
 {'Alex': 35,
  'Andrey': 33,
  'Petya': {'study': 'MAI', 'year': 2000},
  'Vasya': 'Student',
  'Vova': [4, 5, 2, 4]}]

In [51]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vova': [4, 5, 2, 4]}

In [52]:
slova_name_new['key_1'] = [1,2,3]

In [53]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vova': [4, 5, 2, 4],
 'key_1': [1, 2, 3]}

In [54]:
list_small = ['q','w','e']

In [57]:
slova_name_new['key_2'] = list_small

In [60]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vova': [4, 5, 2, 4],
 'key_1': [1, 2, 3],
 'key_2': ['q', 'w', 'e']}

In [61]:
del slova_name_new['key_2']

In [62]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vova': [4, 5, 2, 4],
 'key_1': [1, 2, 3]}

In [63]:
slova_name_new['Vlad'] = list_number

In [64]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vlad': [1, 6, 3, 9, 2, 7],
 'Vova': [4, 5, 2, 4],
 'key_1': [1, 2, 3]}

In [ ]:
# обяснить почему список нельзя в ключе испольщовать

In [65]:
new_d = {}

In [66]:
ked = 'vlad'

In [67]:
new_d[ked] = '2000'

In [68]:
new_d

{'vlad': '2000'}

In [69]:
ked = 'andrey'

In [70]:
new_d

{'vlad': '2000'}

In [71]:
new_d[list_number] = 1

TypeError: unhashable type: 'list'

In [72]:
# кортеж
cort = (1,2,3,4)

In [73]:
cort

(1, 2, 3, 4)

In [74]:
new_d[cort] = 1

In [75]:
new_d

{'vlad': '2000', (1, 2, 3, 4): 1}

In [76]:
cort.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [77]:
# keys items values
slova_name_new.keys()

['Vasya', 'Andrey', 'Alex', 'Vlad', 'Petya', 'key_1', 'Vova']

In [78]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vlad': [1, 6, 3, 9, 2, 7],
 'Vova': [4, 5, 2, 4],
 'key_1': [1, 2, 3]}

In [79]:
slova_name_new['Petya'].keys()

['study', 'year']

In [80]:
slova_name_new['Vlad'][3]

9

In [81]:
del slova_name_new['Vova'][2]

In [82]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vlad': [1, 6, 3, 9, 2, 7],
 'Vova': [4, 5, 4],
 'key_1': [1, 2, 3]}

In [83]:
del slova_name_new['Vova']

In [84]:
slova_name_new

{'Alex': 35,
 'Andrey': 33,
 'Petya': {'study': 'MAI', 'year': 2000},
 'Vasya': 'Student',
 'Vlad': [1, 6, 3, 9, 2, 7],
 'key_1': [1, 2, 3]}

In [85]:
new_l_1 = slova_name_new.keys()

In [86]:
new_l_1

['Vasya', 'Andrey', 'Alex', 'Vlad', 'Petya', 'key_1']

In [87]:
for i in new_l_1:
    print(i + '----')

Vasya----
Andrey----
Alex----
Vlad----
Petya----
key_1----

In [88]:
for i in slova_name_new.keys():
    print(i + '----')

Vasya----
Andrey----
Alex----
Vlad----
Petya----
key_1----

In [89]:
for i in slova_name_new['Petya'].keys():
    print(i)

study
year

# Посик дублей

In [14]:
list_with_dupl = [1,2,1,3,2,1,5]

In [15]:
uniq_list = []

for i in list_with_dupl:
    if i not in uniq_list:
        uniq_list.append(i)
        
uniq_list

[1, 2, 3, 5]

In [16]:
# как узнать сколкьо раз встречает 2 в списке list_with_dupl?

Взять 2 и прогнать в сравнении с списком list_with_dupl и когда бует совпаденеи то будем прибалвять 1 к x

In [17]:
number = 3
x = 0
for i in list_with_dupl:
    if i == number:
        x = x + 1
x

1

In [18]:
# оформим вычисление количества повторений элемента в списке в виде функции

In [19]:
#def x_count(num, list_all):
#    return count

In [20]:
def x_count(num, list_all):
    count = 0
    for i in list_all:
        if i == num:
            count = count + 1
    return count

In [21]:
list_with_dupl

[1, 2, 1, 3, 2, 1, 5]

In [22]:
number_1 = x_count(5, list_with_dupl)
number_1

1

In [29]:
dupl = []
for j in uniq_list:
    print(str(j), '->', str(x_count(j, list_with_dupl)))
    if x_count(j, list_with_dupl) > 1:
        dupl.append(j)
dupl

('1', '->', '3')
('2', '->', '2')
('3', '->', '1')
('5', '->', '1')

[1, 2]

# Придумать 5 задач на списки + 3 на словари + 3 на функции