In [12]:
!pip install mysql.connector

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql.connector in /home/amtsurkov/.local/lib/python2.7/site-packages (2.2.9)

In [14]:
import mysql.connector

cnx = mysql.connector.connect(user='amtsurkov', password='qsc486fgh',
                              host='127.0.0.1',
                              database='team22')
cnx.close()

ImportError: No module named mysql.connector

На входе у нас вес и коф. корекции на луне и коэф. g на земле с каждым годом.
Хотим список с пречеслением годов от 1 до 5 и соответсвие веса каждому году.

In [64]:
def moonw(earthw, fat):
    result = []   
    for year in range (1, 6): 
        g = earthw * 0.165 
        earthw = earthw + fat 
        result_corteg = (year, g)
        result.append(result_corteg)
    return result

def test_1():
    test_result = [
        (1, 13.200000000000001),
        (2, 13.365),
        (3, 13.530000000000001),
        (4, 13.695),
        (5, 13.860000000000001)
    ]
    if test_result != moonw(80, 1):
        print(moonw(80, 1))
        assert False
    else:
        print('TEST 1 OK')
test_1()

def test_2():
    test_result = [
        (1, 13.200000000000001),
        (2, 13.530000000000001),
        (3, 13.860000000000001),
        (4, 14.190000000000001),
        (5, 14.520000000000001)
    ]
    if test_result != moonw(80, 2):
        assert False
    else:
        print('TEST 2 OK')
test_2()

TEST 1 OK
TEST 2 OK

In [80]:
result_new = []

In [112]:
result_new = []
def moonw(earthw, fat):
    for year in range (1, 6): 
        g = earthw * 0.165 
        earthw = earthw + fat 
        result_corteg = (year, g)
        result_new.append(result_corteg)
    return result_new

def test_1():
    test_result = [
        (1, 13.200000000000001),
        (2, 13.365),
        (3, 13.530000000000001),
        (4, 13.695),
        (5, 13.860000000000001)
    ]
    res = moonw(80, 1)
    if test_result != res:
        print(res)
        assert False
    else:
        print('TEST 1 OK')
    #if test_result != moonw(80, 1):
    #    print(moonw(80, 1))
    #    assert False
    #else:
    #    print('TEST 1 OK')
        
test_1()
test_1()

def test_2():
    test_result = [
        (1, 13.200000000000001),
        (2, 13.530000000000001),
        (3, 13.860000000000001),
        (4, 14.190000000000001),
        (5, 14.520000000000001)
    ]
    res = moonw(80, 2)
    if test_result != res:
        print(res)
        assert False
    else:
        print('TEST 2 OK')
test_2()

TEST 1 OK
[(1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001), (1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001), (1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001), (1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001), (1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001), (1, 13.200000000000001), (2, 13.365), (3, 13.530000000000001), (4, 13.695), (5, 13.860000000000001)]

AssertionError:

In [57]:
new_params = moonw(80,8)

In [58]:
new_params

[(1, 13.200000000000001),
 (2, 14.520000000000001),
 (3, 15.84),
 (4, 17.16),
 (5, 18.48)]

In [52]:

def moonw(earthw, fat):
    for year in range (1, 16): 
        g = earthw * 0.165 
        earthw = earthw + fat 
        #print (year, g)    
        #return (year, g)
        list_earthw.append(g)
    
moonw(80, 2)

In [16]:
earthw = 80 
moon = 0.165 
for year in range (1,16): 
    g = earthw * moon 
    earthw = earthw + 1 
    print (year, g)

(1, 13.200000000000001)
(2, 13.365)
(3, 13.530000000000001)
(4, 13.695)
(5, 13.860000000000001)
(6, 14.025)
(7, 14.190000000000001)
(8, 14.355)
(9, 14.520000000000001)
(10, 14.685)
(11, 14.850000000000001)
(12, 15.015)
(13, 15.180000000000001)
(14, 15.345)
(15, 15.510000000000002)

In [ ]:
# тдд
#