# HW
Ответьте на вопросы:

- что такое программа?
- зачем нужны программы?
- зачем нужен язык программирования?
- что могу программы?
- из чего состоят программы?

Программа – это набор инструкций для определенного исполнителя.  
Программы нужны для выполнения конкретных прикладных задач.  
Язык программирования позволяет программисту точно определить то, на какие события будет реагировать компьютер, как будут храниться и передаваться данные, а также какие именно действия следует выполнять над этими данными при различных обстоятельствах.  
Да все что угодно =)  
Программа состоят из инструкций и операторов в логической последовательности.

# HW
Попробовать попользоваться питоном как калькулятором

- сложите 13 и 22
- перемножте 31 и 7
- найдите целую часть от деления 132423 на 32
- найдите остаток от деления 23423 на 43
- возвеите в 4 стень число 5

In [2]:
13+22

35

In [3]:
31*7

217

In [4]:
132423//32

4138

In [5]:
23423%43

31

In [6]:
4**5

1024

# HW
- зачем нужны переменные
- зачем нужно имя у переменной
- как узнать тип переменной
- можно ли преобразовать строк в число? И если да то в каких случаях?
- можно ли преобразовать число в строку? И если да то в каких случаях?

Переменные используются для временного хранения какой-либо информации в программе.  
Чтобы к ней можно было как нибудь обращаться.  
type()  
Можно, если в строке есть число и никаких лишних символов.  
Можно всегда.

# HW
Пусть дана фраза "i love to travel". Напишите код для вычисление:

- какой индекс будет у первой буквы t
- какой индекс будет у буквы r
- как вывести из строки слова с 2 по 6 индекс
- какой какие индексы нужно указать в срезе чтобы вывести to
- что будет если строку умножить на число 5
- как понять содержит ли наша строка подстроку ral
- с какого индекса начинается подстрока to
- какая длину строки
- измените первый символ в строке на заглавный
- прибавьте к строке строку " Hello!"

In [7]:
a = 'i love to travel'

In [8]:
a.index('t')

7

In [9]:
a.index('r')

11

In [10]:
a[2:7]

'love '

In [11]:
a[7:9]

'to'

In [12]:
a*5

'i love to traveli love to traveli love to traveli love to traveli love to travel'

In [15]:
a.find('ral')

-1

In [16]:
a.find('to')

7

In [17]:
len(a)

16

In [18]:
a.capitalize()

'I love to travel'

In [19]:
a + "Hello!"

'i love to travelHello!'

# Задание №1: создайте список дел.
После создания списка дел.

- Нужно посчитать общее количество дел в списке.
- Напечатать все дела
- Напечатать только 2 и 5 дело
- Сравнить каждое дело из списка с строкой “buy bread” и если оно совпадает то напечатать YES
- Если каждое дело из списка ваших дела написано на английском и является строкой то вывести длину каждой из этих строк
- Напечатать yes если длина строки в которой записано дело больше 10
- Напечатать дела индекс которых в списке делится без остатка на 2
- Напечатать дело с индексом 1 и 4 из списка запланированных дел
- Напечатать те индексы у которых значения в списке запланированных дат и списке реализованных дат равны друг другу
- Вывести только те дела которые вы сделали в тот же день в который их запланировали
- Посчитать сколько дел у вас было одинаковых ( т.е. если есть запись “купить хлеб” 28-08-2022 и “купить хлеб” 14-08-2022 то финально нужно вывести “купить хлеб” 2 (можно сделать 2 варианта без использования словарей и с испольщованием словарям)

In [32]:
dela = [['Дело №1', 'купить хлеб', '28-08-2022', '28-08-2022'], ['Дело №2', 'помыть полы', '28-08-2022', '-'],
        ['Дело №3', 'купить канифоль', '29-08-2022', '-'], ['Дело №4', 'отвезти собаку к маме', '30-08-2022', '-'],
        ['Дело №5', 'сходить в кино', '25-08-2022', '26-08-2022'], ['Дело №6', 'сходить в бар', '23-08-2022', '23-08-2022'],
        ['Дело №7', 'пойти на работу', '25-08-2022', '25-08-2022'], ['Дело №8', 'пойти на работу', '26-08-2022', '26-08-2022'],
        ['Дело №9', 'пойти на работу', '27-08-2022', '27-08-2022'], ['Дело №10', 'пойти на работу', '28-08-2022', '28-08-2022'],
        ['Дело №11', 'пойти на работу', '29-08-2022', '-'], ['Дело №12', 'купить рыбу', '29-08-2022', '-']]

In [33]:
len(dela)

12

In [34]:
for a in dela:
    print(a[1])

купить хлеб
помыть полы
купить канифоль
отвезти собаку к маме
сходить в кино
сходить в бар
пойти на работу
пойти на работу
пойти на работу
пойти на работу
пойти на работу
купить рыбу

In [35]:
print(dela[1][1], '\n',dela[4][1])

помыть полы
 сходить в кино

In [36]:
for a in dela:
    if a[1] == 'buy bread':
        print('YES')

In [37]:
# на английском ничего нет, но все равно вывел длины строк дел
for a in dela:
    print(len(a[1]))

11
11
15
21
14
13
15
15
15
15
15
11

In [38]:
for i in range(0, len(dela), 2):
    print(dela[i][1])

купить хлеб
купить канифоль
сходить в кино
пойти на работу
пойти на работу
пойти на работу

In [39]:
k = -1
for a in dela:
    if a[3] == '-':
        k += 1
        if k == 1 or k == 4:
            print(a[1])

купить канифоль
купить рыбу

In [42]:
for a in dela:
    if a[2] == a[3]:
        print(dela.index(a))

0
5
6
7
8
9

In [43]:
for a in dela:
    if a[2] == a[3]:
        print(a[1])

купить хлеб
сходить в бар
пойти на работу
пойти на работу
пойти на работу
пойти на работу

In [50]:
from collections import Counter
b = [x[1] for x in dela]
counter = Counter(b)
for key in counter.keys():
    if counter[key] > 1:
        print(key, counter[key])

пойти на работу 5

# Задание №2: создайте список расхдов и доходов.

- добавить к списку еще 2 действия
- посчитать сколько всего действий в вашем списке
- посчитайте сколько всего вы потратили за все время
- посчитать сколько трат было меньше 300 рублей
- посчитать сколько сумму трат которые были больше 10000 рублей
- выдать номера трат которые находятся в диапазоне между 300 и 10000 рублей
- выбрать из списка на втором шаге самую минимальную трату
- посчитать сколько трат было меньше 300 рублей
- посчитайте сколько заработали за все время
- посчитайте какие самые частые у вас траты(можно попробовать с использованием словарей)
- добавить к списку еще 3 действия
- Найти максимальную трату
- Найти минимальный доход
- Посчитать среднюю стоимость ваших трат

In [76]:
traty = [['№1', 'купил хлеб', -50, '01-11-2022'], ['№2', 'купил шоколадку', -100, '02-11-2022'], 
         ['№3', 'купил паяльник', -1000, '07-11-2022'], ['№4', 'купил игру в стиме =)', -3000, '08-11-2022'],
         ['№5', 'зп', 50000, '10-11-2022'], ['№6', 'купил 5 бутылок рома', -15000, '10-11-2022'],
         ['№7', 'оплатил интернет', -400, '14-11-2022'], ['№8', 'оплатил мобильную связь', -500, '16-11-2022'],
         ['№9', 'купил новый телефон', -20000, '23-11-2022'], ['№10', 'зп', 40000, '25-11-2022']]

In [77]:
traty.append(['№11', 'купил хлеб', -50, '26-11-2022'])
traty.append(['№12', 'купил соль', -20, '26-11-2022'])

In [78]:
len(traty)

12

In [79]:
summ = 0
for a in traty:
    if a[2] < 0:
        summ += a[2]
print(summ)

-40120

In [80]:
k = 0
for a in traty:
    if a[2] < 0 and a[2] > -300:
        k += 1
print(k)

4

In [81]:
summ = 0
for a in traty:
    if a[2] < -10000:
        summ += a[2]
print(summ)

-35000

In [82]:
summ = 0
for a in traty:
    if a[2] > 0:
        summ += a[2]
print(summ)

90000

In [88]:
from collections import Counter
b = [x[2] for x in traty if x[2] < 0]
counter = Counter(b)
print(counter)

Counter({-50: 2, -100: 1, -1000: 1, -3000: 1, -15000: 1, -400: 1, -500: 1, -20000: 1, -20: 1, -600: 1, -1300: 1, -430: 1})

In [89]:
traty.append(['№13', 'купил рыбу', -600, '26-11-2022'])
traty.append(['№14', 'купил мясо', -1300, '26-11-2022'])
traty.append(['№14', 'купил овощи', -430, '26-11-2022'])

In [90]:
b = [x[2] for x in traty if x[2] < 0]
print(min(b))

-20000

In [91]:
c = [x[2] for x in traty if x[2] > 0]
print(max(c))

50000

In [92]:
print(sum(b)/len(b))

-2798.75