# Реализовать на python базу данных по персоналу с двумя таблицами из занятия.  Заполнить ее данными.

In [2]:
import sqlite3

In [3]:
sqlite_connection = sqlite3.connect('sql_work.db')
cursor = sqlite_connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [4]:
table_Employees = "create table Employees(id int, name varchar(20), surname varchar(20), department_id int, salary int)"
cursor.execute(table_Employees)

OperationalError: table Employees already exists

In [5]:
cursor.execute("""
    insert into Employees(id, name, surname, department_id, salary) 
        values
        (1, 'Иван', 'Иванов', 1, 5000),
        (2, 'Света', 'Сидорова', 1, 4500),
        (3, 'Илья', 'Макаров', 2, 4500),
        (4, 'Марина', 'Федорова', 2, 6000),
        (5, 'Вадим', 'Ильин', 3, 7000),
        (6, 'Илья', 'Филатов', 4, 5500),
        (7, 'Марина', 'Сидорова', 2, 9000),
        (8, 'Вадим', 'Ильин', 3, 7000)
""")
cursor.fetchall()

[]

In [6]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000),
 (2, 'Света', 'Сидорова', 1, 4500),
 (3, 'Илья', 'Макаров', 2, 4500),
 (4, 'Марина', 'Федорова', 2, 6000),
 (5, 'Вадим', 'Ильин', 3, 7000),
 (6, 'Илья', 'Филатов', 4, 5500),
 (7, 'Марина', 'Сидорова', 2, 9000),
 (8, 'Вадим', 'Ильин', 3, 7000)]

In [7]:
cursor.execute("create table Departments(id int, name varchar(20))")
cursor.fetchall()

[]

In [8]:
cursor.execute("""
    insert into Departments(id, name) 
        values
        (1,'Маркетинг'),
        (2,'Продажи'),
        (3,'Бухгалтерия'),
        (4, '')
""")
cursor.fetchall()

[]

In [9]:
cursor.execute("select * from Departments")
cursor.fetchall()

[(1, 'Маркетинг'), (2, 'Продажи'), (3, 'Бухгалтерия'), (4, '')]

# Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отдел, отсортированных по убыванию средне зп.

In [10]:
cursor.execute("""
select 
    Departments.name, avg(salary)
from 
    Employees
join
    Departments on Employees.department_id = Departments.id 
group by
    department_id
order by avg(salary) desc
""")
cursor.fetchall()

[('Бухгалтерия', 7000.0),
 ('Продажи', 6500.0),
 ('', 5500.0),
 ('Маркетинг', 4750.0)]

# Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.

In [11]:
cursor.execute("""
    insert into Employees(id, name, surname, department_id, salary) 
        values
        (9, 'Антон', 'Котов', 1, 1000)
""")
cursor.fetchall()

[]

In [12]:
cursor.execute("""
select 
    Departments.name, avg(salary)
from 
    Employees
join
    Departments on Employees.department_id = Departments.id 
group by
    department_id
order by avg(salary) desc
""")
cursor.fetchall()

[('Бухгалтерия', 7000.0),
 ('Продажи', 6500.0),
 ('', 5500.0),
 ('Маркетинг', 3500.0)]

In [13]:
sqlite_connection.close()