Вычислить результат следующих операций:
10 * (5 + 3)
(20 - 6) / 2
2 ** 5 (возведение 2 в 5-ю степень)
25 // 4 (целая часть от деления)
25 % 4 (остаток от деления)

In [1]:
10 * (5 + 3)

80

In [2]:
(20 - 6) / 2

7.0

In [3]:
2 ** 5

32

In [4]:
25 // 4

6

Дано дробное число:
number = -3.14
Выполнить следующие операции:
Округлите число до целого.
Возьмите остаток числа.

In [5]:
25 % 4

1

In [6]:
number = -3.14
print(round(number))
print(number % 1)

-3
0.8599999999999999

Даны стороны прямоугольника: a = 5, b = 7.
Вычислить площадь прямоугольника и вывести результат на экран.

In [8]:
a = 5
b = 7
print(a * b)

35

На какой объем воздуха должен быть расчитан кондиционер, если с его помощью хотят охлаждать квартиру в которой размер гостинной 3.5 на 6.4 метра, спальни 3.4 на 4 метра и площадь не жилой части 11 метров. При том что высота потолков 3,1 метр.

In [9]:
print((3.5 * 6.4 + 3.4 * 4 + 11) * 3.1)

145.70000000000002

Дано квадратное уравнение вида ax^2 + bx + c = 0.
Найти его решения, используя формулу дискриминанта.
a номер текущего месяца
b номер вашей группы
c минус десять (-10)

In [13]:
a = 2
b = 1
c = -10

In [14]:
d = b ** 2 - 4 * a * c
print(d)

81

In [16]:
x1 = (-b + d ** 0.5)/ 2 * a
x2 = (-b - d ** 0.5)/ 2 * a
print("x1 = ", x1, "x2 = ", x2)

x1 =  8.0 x2 =  -10.0

Даны строки:
string1 = "hello, "
string2 = "world!"
Объединить строки string1 и string2 и результат вывести на экран так чтобы первая буква в предложении стала заглавной.

Сколько символов было в предыдущей строке?

In [20]:
string1 = "hello, "
string2 = "world!"
string = string1 + string2

In [21]:
print(string.capitalize())

Hello, world!

In [22]:
len(string)

13

Выведите на экран строку la 25 раз.

In [1]:
print("la" * 25)

lalalalalalalalalalalalalalalalalalalalalalalalala

Дан список чисел:
numbers = [1, 2, 3, 4, 5]
Выполнить следующие операции:
1. Измените число 2 на строку "hi" 
2. Выведите значение, находящееся на позиции 2.
3. Изменить значение на позиции 4 на список из 3 элементов [8, 6, 4].
Результаты вывести на экран.

In [27]:
numbers = [1, 2, 3, 4, 5]

In [28]:
numbers[1] = "hi"

In [29]:
print(numbers[1])

hi

In [30]:
numbers[3] = [8, 6, 4]
print(numbers)

[1, 'hi', 3, [8, 6, 4], 5]

Дан список чисел:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Извлеките подсписок с 3-го по 7-й элемент включительно.

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:7])

[3, 4, 5, 6, 7]