In [1]:
#sqlite

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('test.db')

In [3]:
cursor = connection.cursor()

In [58]:
cursor.execute('update products_history set price_sale = 42616 where id = 2856')

In [60]:
cursor.execute('select id, price, price_sale, title, url from products_history where title like "%LUPO AX 120%" limit 1000')

In [269]:
cursor.execute('select datetime_create from products_history where id = 9 and  datetime_create >= "2022-11-04"')
cursor.fetchall()

[('2022-11-27 15:37:19.581614',)]

In [61]:
#cursor.execute('select * from products_history where title like "%боти%" limit 1000')

In [62]:
#cursor.execute('select * from products_history where id = 15 limit 10')

In [64]:
#cursor.fetchall()

q = """SELECT CalendarYear, CalendarQuarter, SalesAmountQuota AS SalesQuota,  
       LAG(SalesAmountQuota,1,0) OVER (ORDER BY CalendarYear, CalendarQuarter) AS PrevQuota,  
       SalesAmountQuota - LAG(SalesAmountQuota,1,0) OVER (ORDER BY CalendarYear, CalendarQuarter) AS Diff  
FROM dbo.FactSalesQuota  
WHERE EmployeeKey = 272 AND CalendarYear IN (2001, 2002)  
ORDER BY CalendarYear, CalendarQuarter;"""

In [119]:
q = """
SELECT 
    id, 
    title,
    price_sale,  
    LAG(price_sale,1,0) OVER (ORDER BY id) AS PrevQuota,  
    price_sale - LAG(price_sale,1,0) OVER (ORDER BY id desc) AS Diff  
FROM products_history
WHERE title like "%LUPO AX 120%" 
ORDER BY id desc
LIMIT 4
"""

In [134]:
q = """
SELECT 
    id, 
    title,
    price_sale,  
    LEAD(price_sale,1,0) OVER (ORDER BY id) AS PrevQuota,  
    price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title ORDER BY title, id desc) AS Diff  
FROM products_history
--WHERE title like "%LUPO AX 120%" 
where title like "%боти%"
ORDER BY title, id desc
--LIMIT 4
"""

In [242]:
q = """
SELECT 
    id, 
    title,
    price_sale,  
    LEAD(price_sale,1,0) OVER (ORDER BY title desc, id desc) AS PrevQuota,  
    price_sale - LEAD(price_sale,1,0) OVER ( ORDER BY title desc, id desc) AS Diff  
FROM products_history
--WHERE title like "%LUPO AX 120%" 
--where title like "%боти%"
where title like "%130%" and title like "%боти%"
--ORDER BY title, id desc
ORDER BY title desc, id desc
--LIMIT 4
"""

In [243]:
cursor.execute(q)

for i in cursor.fetchall():
    print(i)

q = """
SELECT 
    id, 
    title,
    price_sale,  
    LEAD(price_sale,1,0) OVER (ORDER BY title desc, id desc) AS PrevQuota,  
    price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title  ORDER BY title desc, id desc ) AS Diff,
    ROW_NUMBER() OVER(PARTITION BY title ORDER BY id desc) AS row_number

FROM products_history
--WHERE title like "%LUPO AX 120%" 
--where title like "%боти%"
where title like "%130%" and title like "%боти%"--and title like "%ALLTRACK ELITE 130%"
--ORDER BY title, id desc
--having row_number = 1
--ORDER BY row_number, title desc, id desc
ORDER BY title desc, id desc
--LIMIT 4
"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)

q = """
SELECT 
    id, 
    title,
    price_sale,  
    LEAD(price_sale,1,0) OVER (PARTITION BY title  ORDER BY title desc, id desc) AS PrevQuota,  
    price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title  ORDER BY title desc, id desc ) AS Diff,
    ROW_NUMBER() OVER(PARTITION BY title ORDER BY id desc) AS row_number

FROM products_history
--WHERE title like "%LUPO AX 120%" 
--where title like "%боти%"
where title like "%130%" and title like "%боти%"--and title like "%ALLTRACK ELITE 130%"
--ORDER BY title, id desc
--having row_number = 1
--ORDER BY row_number, title desc, id desc
ORDER BY title desc, id desc
--LIMIT 4
"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)

In [254]:
cursor.execute('update products_history set price_sale = 40047 where id = 97')

In [255]:
WITH sales_numbered AS (
  SELECT id, product_id, salesperson_id, amount,
    row_number() over(PARTITION BY product_id ORDER BY amount DESC) AS rn
  FROM sale
)
SELECT id, product_id, salesperson_id, amount
FROM sales_numbered
WHERE rn = 1;

SyntaxError: invalid syntax (4184171144.py, line 1)

In [262]:
q = """
WITH sales_numbered AS (
    SELECT 
        id, 
        title,
        price_sale,  
        LEAD(price_sale,1,0) OVER (PARTITION BY title ORDER BY  title, id desc ) AS prev_price_sale,  
        price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title  ORDER BY title, id desc ) AS diff,
        ROW_NUMBER() OVER(PARTITION BY title ORDER BY id desc) AS row_number

    FROM products_history
    --where datetime_create >= NOW() - INTERVAL 1 DAY
    ORDER BY id desc
    LIMIT 1000000
)
SELECT 
    id, 
    title,
    price_sale,  
    prev_price_sale,
    diff,
    row_number
FROM sales_numbered
WHERE row_number = 1 and diff !=0  ;

"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)

(2860, 'Горнолыжные ботинки Rossignol ALLTRACK ELITE 130 LT GW', 40047, 50047, -10000, 1)
(2856, 'Горнолыжные ботинки Dalbello LUPO AX 120', 42616, 44616, -2000, 1)
(2764, 'Павелецкая Сити 3 34 96.3 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 42727373, 42685218, 42155, 1)
(2735, 'Павелецкая Сити 1 28 41.4 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 23608514, 23158828, 449686, 1)
(2707, 'Павелецкая Сити 3 45 87.4 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 39543717, 39505458, 38259, 1)
(2629, 'Причальный Север 25 68.0 Причальный пр., д. 8 55.76018,37.517482', 25462903, 0, 25462903, 1)
(2613, 'Павелецкая Сити 1 2 61.6 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 25585714, 25323914, 261800, 1)
(2611, 'Причальный Север 23 68.0 Причальный пр., д. 8 55.76018,37.517482', 25273798, 0, 25273798, 1)
(2597, 'Причальный Север 10 35.0 Причальный пр., д. 8 55.76018,37.517482', 14484876, 0, 14484876, 1)
(2593, 'Причальный Север 20 68.1 Причальный пр., д. 8 55.76018,37.517482', 25036362, 0, 25036362, 1)
(2567, 'Нагатинская С 25 33.9 Нагатинская набережная, вл. 10 55.682462,37.637661', 13834878, 13297341, 537537, 1)
(2556, 'Павелецкая Сити 1 2 61.5 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 25282804, 25125979, 156825, 1)
(2485, 'Павелецкая Сити 6 19 79.5 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 34206026, 33736076, 469950, 1)
(2459, 'Южнопортовая 7 17 33.2 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 12010117, 11269786, 740331, 1)
(2448, 'Павелецкая Сити 3 2 55.6 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 24254541, 23923721, 330820, 1)
(2442, 'Павелецкая Сити 6 8 58.0 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 24210195, 24059337, 150858, 1)
(2410, 'Павелецкая Сити 6 11 79.4 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 32741424, 32285867, 455557, 1)
(2407, 'Павелецкая Сити 6 10 79.4 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 32671909, 32217027, 454882, 1)
(2403, 'Павелецкая Сити 6 4 58.0 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 24009051, 23858193, 150858, 1)
(2400, 'Павелецкая Сити 6 3 58.0 ул. Дубининская, д. 59-69 55.71962004653103,37.63727228350035', 23958765, 23807907, 150858, 1)
(2341, 'Стрешнево Север 15 77.2 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 21663320, 19745387, 1917933, 1)
(2305, 'Южнопортовая 5 17 74.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 20910500, 20726428, 184072, 1)
(2251, 'Южнопортовая 6 12 74.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 19622001, 18885715, 736286, 1)
(2242, 'Южнопортовая 6 6 74.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 19180229, 18443944, 736285, 1)
(2233, 'Южнопортовая 5 11 74.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 18996158, 18812087, 184071, 1)
(2183, 'Южнопортовая 5 6 54.8 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 15035835, 14887670, 148165, 1)
(2107, 'Причальный Север 16 34.5 Причальный пр., д. 8 55.76018,37.517482', 14521483, 0, 14521483, 1)
(2100, 'Южнопортовая 6 10 67.4 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 17623802, 16953185, 670617, 1)
(2092, 'Южнопортовая 6 8 67.4 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 17489679, 16819062, 670617, 1)
(2078, 'Стрешнево Север 21 23.8 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 8794921, 7933373, 861548, 1)
(2071, 'Стрешнево Север 2 56.0 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 14350527, 13104461, 1246066, 1)
(2070, 'Стрешнево Восток 12 27.0 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 8701263, 8409626, 291637, 1)
(2067, 'Причальный Север 13 34.5 Причальный пр., д. 8 55.76018,37.517482', 14349428, 0, 14349428, 1)
(2050, 'Южнопортовая 1 64 23.3 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 8339612, 8335680, 3932, 1)
(2041, 'Мичуринский 1 48 97.5 Озерная ул., вл. 7 55.687726,37.471704', 32459406, 31822947, 636459, 1)
(2002, 'Южнопортовая 1 18 23.5 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 8026900, 8023115, 3785, 1)
(1936, 'Стрешнево Восток 19 66.7 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 16356498, 15641675, 714823, 1)
(1907, 'Стрешнево Север 21 44.8 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 12265035, 12159212, 105823, 1)
(1876, 'Южнопортовая 5 8 61.3 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 15940331, 15787850, 152481, 1)
(1772, 'Стрешнево Север 2 45.1 Волоколамское ш., д. 81, корп. 2 55.82495356307498,37.411886931513436', 10864361, 10847993, 16368, 1)
(1183, 'Причальный Север 17 37.3 Причальный пр., д. 8 55.76018,37.517482', 15781018, 0, 15781018, 1)
(1079, 'Причальный Юг 31 107.6 Причальный пр., д. 8 55.76018,37.517482', 45398112, 0, 45398112, 1)
(1042, 'Южнопортовая 5 6 75.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 17802355, 0, 17802355, 1)
(826, 'Южнопортовая 4 8 76.5 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 16097329, 0, 16097329, 1)
(9, 'title_example', -8072, 0, -8072, 1)
(2, 'test 2', 1, 0, 1, 1)

In [7]:
#достаем не приехавшие обект
#- выбрать все торы за два 
#- сгрупировать по уникальному полю
#- псочитать 
#- там где 1 элемент занчит он или новый пришедший вывоить пминимальную дату групирвоа
#- если дата вчера то занчит старый элемент не обновился

In [14]:
q = """
WITH sales_numbered AS (
    SELECT 
        id, 
        title,
        price_sale,  
        url,
        datetime_create,
        count(1) as c
    FROM products_history
    where datetime_create >= '2022-12-05'
    group by url, title
    having c = 1
    ORDER BY id desc
    LIMIT 1000000
)
SELECT 
    id, 
    title,
    price_sale,  
    url
FROM sales_numbered
where datetime_create <= '2022-12-06'
"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)

(1183, 'Причальный Север 17 37.3 Причальный пр., д. 8 55.76018,37.517482', 15781018, 'https://level.ru/prichal/flat/2room/s2-330/')
(1079, 'Причальный Юг 31 107.6 Причальный пр., д. 8 55.76018,37.517482', 45398112, 'https://level.ru/prichal/flat/4room/ju2-491/')
(1042, 'Южнопортовая 5 6 75.0 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 17802355, 'https://level.ru/southport/flat/3room/5-52/')
(826, 'Южнопортовая 4 8 76.5 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 16097329, 'https://level.ru/southport/flat/3room/4-66/')

q = """
WITH sales_numbered AS (
    SELECT 
        id, 
        title,
        price_sale,  
        url,
        datetime_create,
        count(1) as c
    FROM products_history
    where datetime_create >= '2022-12-05'
    group by url, title
    having c = 1
    ORDER BY id desc
    LIMIT 1000000
)
SELECT 
    id, 
    title,
    price_sale,  
    url
FROM sales_numbered
where datetime_create >= '2022-12-06'
"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)

q = """
SELECT 
    count(1) as c,
    url, title
FROM products_history
where datetime_create >= "2022-12-05"
group by url, title
ORDER BY id desc
LIMIT 1000000
"""
cursor.execute(q)
for i in cursor.fetchall():
    print(i)