### Список (list)

В python списки хранят упорядоченный набор элементов, которые могут быть разных типов.

In [173]:
[500, 1000, 746, 2000]

[500, 1000, 746, 2000]

In [174]:
['mom', 500,'dad', 1000, 'brother', 746, 'me', 2000]

['mom', 500, 'dad', 1000, 'brother', 746, 'me', 2000]

In [175]:
['mom', 500, 'dad', 1000, 'brother', 746, 'me', 2000][2]

'dad'

In [176]:
['mom', 500, 'dad', 1000, 'brother', 746, 'me', 2000][5]

746

In [177]:
['mom', 500, 'dad', 1000, 'brother', 746, 'me', 2000][1:3]

[500, 'dad']

In [179]:
savings_family = [500, 1000, 746, 2000]

savings_family_2 = ['mom', 500,'dad', 1000, 'brother', 746, 'me', 2000]

In [180]:
savings_family

[500, 1000, 746, 2000]

In [181]:
savings_family.append(5)

In [182]:
savings_family

[500, 1000, 746, 2000, 5]

In [186]:
savings_family.append(5)

In [187]:
savings_family

[500, 1000, 746, 2000, 5, 5, 5, 5, 5]

Одним из самых часто используемых методов (т.е. функций) для работы со списком является **append**: 
- list.append(x)	Добавляет элемент в конец списка

In [188]:
list_words = ['apple', 'lemon', 'pineapple']

list_words

['apple', 'lemon', 'pineapple']

In [189]:
list_words.append('watermelon')

list_words

['apple', 'lemon', 'pineapple', 'watermelon']

In [190]:
len(list_words)

4

In [192]:
#help(list_words)

In [195]:
new_list = ["chery"]
new_list.extend(list_words)

In [196]:
new_list

['chery', 'apple', 'lemon', 'pineapple', 'watermelon']

In [197]:
new_list = ["chery"]
new_list.append(list_words)
len(new_list)

2

In [198]:
new_list

['chery', ['apple', 'lemon', 'pineapple', 'watermelon']]

# сделать таблицу 2 х 2

1 2

3 4

In [200]:
matrix = [[1,2],[3,4]]

In [201]:
matrix[1][0]

3

In [202]:
matrix[0][1]

2

сделать таблицу 2 х 3

In [204]:
matrix_2_3 = [[1,2,3],[4,5,6]]

In [205]:
matrix_2_3[0][2]

3

In [207]:
matrix_2_3[1][1]

5

In [208]:
new_list_1 = [1, 2, 3]
new_list_2 = [4, 5, 6]

In [209]:
new_list_1

[1, 2, 3]

In [210]:
new_list_2

[4, 5, 6]

In [215]:
new_list_big = []

In [216]:
new_list_big

[]

In [217]:
new_list_big.append(new_list_1)
new_list_big

[[1, 2, 3]]

In [218]:
new_list_big.append(new_list_2)
new_list_big

[[1, 2, 3], [4, 5, 6]]

In [219]:
len(new_list_big)

2

In [220]:
new_list_big[0]

[1, 2, 3]

In [221]:
len(new_list_big[0])

3

# сделать кубу 3 х 3 х 3

In [223]:
matrix_3_3_3 = [[[1,2,3],[4,5,6],[7,8,9]],[[10,11,12],[13,14,15],[16,17,18]],[[19,20,21],[22,23,24],[25,26,27]]]

In [224]:
matrix_3_3_3[1][1][1]

14

In [225]:
matrix_3_3_3[1][1]

[13, 14, 15]

# HW

# №1 Задание создайте 3 списока



<center> 
    <table>
        <tr>
            <td>
                №
            </td>
            <td>
                Дело
            </td>
            <td>
                Дата до котрой нужно сделать
            </td>            
            <td>
                Дата когда было сделано
            </td>            
        </tr>
        <tr>
            <td>
                Дело №1
            </td>
            <td>
                купить хлеб
            </td>
            <td>
                28-08-2022
            </td>
            <td>
                28-08-2022
            </td>            
        </tr>
        <tr>
            <td>
                Дело №2
            </td>
            <td>
                помыть полы
            </td>
            <td>
                28-08-2022
            </td>
            <td>
                -
            </td>
        </tr>
    </table>
</center> 

Рекомендуемый размер списка 22 элемента.

После создания 3 списков. 
* Нужно посчитать общее количество дел в списке.
* Напечатать все дела
* Напечатать только 2 и 5 дело

# Это еще не проходили
* Сравнить каждое дело из списка с строкой “buy bread”  и если оно совпадает то напечатать YES
* Если каждое дело из списка ваших дела написано на английском и является строкой то вывести длину каждой из этих строк
* Напечатать yes если длина строки в которой записано дело больше 10
* Напечатать дела индекс которых в списке делится без остатка на 2
* Напечатать дело с индексом 1 и 4 из списка запланированных дел
* Напечатать те индексы у которых значения в списке запланированных дат и списке реализованных дат равны друг другу 
* Вывести только те дела которые вы сделали в тот же день в который их запланировали
* Посчитать сколько дел у вас было одинаковых ( т.е. если есть запись “купить хлеб” 28-08-2022 и “купить хлеб” 14-08-2022 то финально нужно вывести “купить хлеб” 2 (можно сделать 2 варианта без использования словарей и с испольщованием словарям)

In [19]:
my_list = [
    ["Дело 1", "купить мороженное", "2022-04-01", "2022-04-01"],
    ["Дело 2", "сделать ремонт", "2022-05-13", "2022-06-07"],
    ["Дело 3", "убрать квартиру", "2022-03-11", "2022-03-11"],
    ["Дело 4", "купить котиков", "2022-04-21", "2022-04-30"],
    ["Дело 5", "продать котиков", "2022-05-21", "2022-05-12"]
]
len(my_list)

5

In [20]:
my_list

[['Дело 1', 'купить мороженное', '2022-04-01', '2022-04-01'],
 ['Дело 2', 'сделать ремонт', '2022-05-13', '2022-06-07'],
 ['Дело 3', 'убрать квартиру', '2022-03-11', '2022-03-11'],
 ['Дело 4', 'купить котиков', '2022-04-21', '2022-04-30'],
 ['Дело 5', 'продать котиков', '2022-05-21', '2022-05-12']]

In [21]:
my_list[1], my_list[4]

(['Дело 2', 'сделать ремонт', '2022-05-13', '2022-06-07'],
 ['Дело 5', 'продать котиков', '2022-05-21', '2022-05-12'])

# №2 Задание создайте 2 списока

<center> 
    <table>
        <tr>
            <td>
                №
            </td>
            <td>
                Описание
            </td>
            <td>
                Сумма
            </td>
            <td>
                Дата
            </td>
        </tr>
        <tr>
            <td>
                №1 
            </td>            
            <td>
                купил хлеб
            </td>
            <td>
                -50
            </td>
            <td>
                09-08-2022
            </td>
        </tr>
        <tr>
            <td>
                №2 
            </td>            
            <td>
                купил тапочки
            </td>
            <td>
                -200
            </td>
            <td>
                11-08-2022
            </td>
        </tr>
        <tr>
            <td>
                №3 
            </td>            
            <td>
                получил зп
            </td>
            <td>
                50000
            </td>
            <td>
                28-08-2022
            </td>
        </tr>
        
      
    </table>
</center> 

* добавить к списку еще 2 действия
* посчитать сколько всего действий в вашем списке



# Это еще не проходили

* посчитайте сколько всего вы потратили за все время
* посчитать сколько трат было меньше 300 рублей
* посчитать сколько сумму трат которые были больше 10000 рублей
* выдать номера трат которые находятся в диапазоне между 300 и 10000 рублей
* выбрать из списка на втором шаге самую минимальную трату
* посчитать сколько трат было меньше 300 рублей
* посчитайте сколько заработали за все время
* посчитайте какие самые частые у вас траты(можно попробовать с использованием словарей)
* добавить к списку еще 3 действия
* Найти максимальную трату
* Найти минимальный доход
* Посчитать среднюю стоимость ваших трат

In [22]:
add_to_list = [['Дело 6', 'найти адвоката', '2022-06-07', '2022-06-06'],
              ['Дело 7', 'нанять адвоката', '2022-06-07', '2022-06-08']]
add_to_list

[['Дело 6', 'найти адвоката', '2022-06-07', '2022-06-06'],
 ['Дело 7', 'нанять адвоката', '2022-06-07', '2022-06-08']]

In [23]:
my_list.extend(add_to_list)
my_list

[['Дело 1', 'купить мороженное', '2022-04-01', '2022-04-01'],
 ['Дело 2', 'сделать ремонт', '2022-05-13', '2022-06-07'],
 ['Дело 3', 'убрать квартиру', '2022-03-11', '2022-03-11'],
 ['Дело 4', 'купить котиков', '2022-04-21', '2022-04-30'],
 ['Дело 5', 'продать котиков', '2022-05-21', '2022-05-12'],
 ['Дело 6', 'найти адвоката', '2022-06-07', '2022-06-06'],
 ['Дело 7', 'нанять адвоката', '2022-06-07', '2022-06-08']]

In [24]:
len(my_list)

7