In [1]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {10, 11, 12}
set4 = {11, 12, 13}
fruits_quantity = {'яблоко': 5, 'банан': 10, 'апельсин': 7}
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}

In [2]:
set3 = {10, 11, 12}
set4 = {11, 12, 13}

In [3]:
set1 ^ set2

{1, 2, 3, 6, 7, 8}

# Часть 5 - Функции

## Множества

1. Создайте функции **set_union** и **set_difference** для операций объединения и разности множеств.
   - Функции должны принимать два множества и возвращать соответствующий результат.

In [4]:
def set_union(set1, set2):
    return set1 | set2

In [5]:
set_union(set3, set4)

{10, 11, 12, 13}

In [6]:
def set_difference(set1, set2):
    return set1 ^ set2

In [7]:
set_difference(set1, set2)

{1, 2, 3, 6, 7, 8}

2. Создайте функцию **is_subset** для проверки, является ли одно множество подмножеством другого.

In [8]:
def is_subset(set1, set2):
    return set1.issubset(set2)

In [9]:
is_subset(set1, set2)

False

3. Создайте функцию для объединения нескольких множеств.

In [10]:
def many_unions(*sets):
    many_union = set()
    for t in sets:
        many_union |= t
    return many_union

In [11]:
many_unions(set4, set3, set2, set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13}

4. Создайте функцию для удаления конкретного элемента из множества.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {10, 11, 12}
set4 = {11, 12, 13}

In [13]:
def del_set_element(set, element):
    for e in set:
        if e == element:
            set.discard(e)
            break

In [14]:
del_set_element(set2, 6)

In [15]:
set2

{4, 5, 7, 8}

5. Создайте функцию для поиска пересечения нескольких множеств.

In [16]:
#Не уверен, что это правильное решение, но уже поломал голову
def sets_intersections(*sets):
    intersections = sets[0]
    intersectionss = set()
    for sett in sets[1:]:
        intersectionss |= intersections.intersection(sett)
    return intersectionss

In [17]:
sets_intersections(set1, set2, set3, set4)

{4, 5}

6. Создайте функцию для проверки на равенство двух множеств.

In [18]:
def equality(set1, set2):
    set_equality = set1 == set2
    return set_equality

In [19]:
equality(set3, set3)

True

In [20]:
equality(set3, set2)

False

7. Создайте функцию для нахождения объединения трех множеств.

In [21]:
def three_union(set1, set2, set3):
    union = set()
    union |= set1 | set2 | set3
    return union

In [22]:
three_union(set1, set2, set4)

{1, 2, 3, 4, 5, 7, 8, 11, 12, 13}

8. Создайте функцию для проверки, являются ли два множества дизъюнктными (не имеют общих элементов).

In [23]:
def joint(set1, set2):
    disjoint = set1.isdisjoint(set2)
    return disjoint

In [24]:
joint(set1, set2)

False

9. Создайте функцию для нахождения разности двух множеств.

In [25]:
def set_diff(set1, set2):
    difference = set1 - set2
    return difference

In [26]:
set_diff(set1, set2)

{1, 2, 3}

10. Создайте функцию для определения симметрической разности двух множеств.

In [27]:
def sim_set_diff(set1, set2):
    difference = set1.symmetric_difference(set2)
    return difference

In [28]:
sim_set_diff(set1, set2)

{1, 2, 3, 7, 8}

11. Создайте функцию **create_set** для создания множества с заданными элементами.
   - Функция должна принимать переменное количество аргументов и возвращать новое множество.

In [29]:
def create_set(*args):
    set_new = set()
    set_new = set(args)
    return set_new

In [30]:
create_set(5, 5, 5, 3, 8, 10, 22)

{3, 5, 8, 10, 22}

## Словари

1. Создайте функцию **create_dictionary** для создания словаря с заданными ключами и значениями.
   - Функция должна принимать словарь в формате ключ-значение и возвращать созданный словарь.

In [31]:
def create_dictionary(key , value):
    my_dict = {key : value}
    return my_dict

In [32]:
students = create_dictionary('Anna', 23)
students

{'Anna': 23}

In [33]:
# не работает:def create_dictionary(dictionary, key , value):
    #dictionary = {key : value}
    #return dictionary

In [34]:
#create_dictionary(new, 'Leha', 25)
#new

2. Напишите функции add_student и remove_student для добавления и удаления студентов из словаря.
   - Функции должны принимать словарь студентов и соответствующие данные для добавления и удаления.

In [35]:
def add_student(dict, student, age):
    dict |= {student : age}
    return dict

In [36]:
add_student(students, 'Victor', 21)

{'Anna': 23, 'Victor': 21}

In [37]:
add_student(students, 'Olga', 25)
add_student(students, 'Nikolay', 26)
add_student(students, 'Nina', 18)
add_student(students, 'Tasya', 20)
add_student(students, 'Ivan', 17)
add_student(students, 'Anna', 16)

{'Anna': 16,
 'Victor': 21,
 'Olga': 25,
 'Nikolay': 26,
 'Nina': 18,
 'Tasya': 20,
 'Ivan': 17}

In [38]:
def remove_student(dict, student):
    dict.pop(student)
    return dict

In [39]:
remove_student(students, 'Anna')

{'Victor': 21, 'Olga': 25, 'Nikolay': 26, 'Nina': 18, 'Tasya': 20, 'Ivan': 17}

3. Напишите функции **add_fruit** и **remove_fruit** для добавления и удаления фруктов, их количества и стоимости в списки fruits_quantity и fruits_prices.
   - Функции должны принимать словари и соответствующие данные для добавления и удаления.

In [40]:
def add_fruit(qua_dict, price_dict, fruit, quantity, price):
    qua_dict |= {fruit : quantity}
    price_dict |= {fruit : price}
    return qua_dict, price_dict

In [41]:
add_fruit(fruits_quantity, fruits_prices, 'ананас', 4, 6.4)
fruits_quantity, fruits_prices

({'яблоко': 5, 'банан': 10, 'апельсин': 7, 'ананас': 4},
 {'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'ананас': 6.4})

In [42]:
add_fruit(fruits_quantity, fruits_prices, 'дыня', 13, 1.1)

({'яблоко': 5, 'банан': 10, 'апельсин': 7, 'ананас': 4, 'дыня': 13},
 {'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'ананас': 6.4, 'дыня': 1.1})

In [43]:
def remove_fruit(qua_dict, price_dict, fruit):
    qua_dict.pop(fruit)
    price_dict.pop(fruit)
    return qua_dict, price_dict

In [44]:
remove_fruit(fruits_quantity, fruits_prices, 'ананас')

({'яблоко': 5, 'банан': 10, 'апельсин': 7, 'дыня': 13},
 {'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'дыня': 1.1})

    
4. Создайте функцию для объединения двух словарей.

In [45]:
def dict_union(dict1, dict2):
    dict3 = {**dict1, **dict2}
    return dict3

In [46]:
union = dict_union(students, fruits_quantity)
union

{'Victor': 21,
 'Olga': 25,
 'Nikolay': 26,
 'Nina': 18,
 'Tasya': 20,
 'Ivan': 17,
 'яблоко': 5,
 'банан': 10,
 'апельсин': 7,
 'дыня': 13}

5. Создайте функцию для удаления элемента из словаря по заданному ключу.

In [47]:
def element_del(dict, element):
    dict.pop(element)
    return dict

In [48]:
element_del(students, "Olga")

{'Victor': 21, 'Nikolay': 26, 'Nina': 18, 'Tasya': 20, 'Ivan': 17}

6. Создайте функцию для переворачивания значений и ключей в словаре (принимает на вход словарь, возвращает другой словарь, ключами которого являются значения входного словаря, а значениями - ключи.

In [49]:
def change_key_to_value(dict):
    new_dict = {}
    for k, v in dict.items():
        new_dict[v] = k
    return new_dict

In [50]:
flipped_students = change_key_to_value(students)
flipped_students

{21: 'Victor', 26: 'Nikolay', 18: 'Nina', 20: 'Tasya', 17: 'Ivan'}

In [51]:
flipped_fruits = change_key_to_value(fruits_quantity)
flipped_fruits

{5: 'яблоко', 10: 'банан', 7: 'апельсин', 13: 'дыня'}

In [52]:
flipped_fruits

{5: 'яблоко', 10: 'банан', 7: 'апельсин', 13: 'дыня'}

 7. Создайте функцию для сортировки словаря по ключам в обратном порядке.

In [53]:
def sort_reversed(dict1):
    dict1 = dict(sorted(dict1.items(), reverse = True))
    return dict1

In [54]:
sort_reversed(flipped_fruits)

{13: 'дыня', 10: 'банан', 7: 'апельсин', 5: 'яблоко'}

8.  Создайте функцию возвращающую наибольшее значение элемента словаря.

In [55]:
def biggest(dict1):
    list1 = []
    reversed_dict = sort_reversed(change_key_to_value(dict1))
    for k, v in reversed_dict.items():
        list1.append(k)
        list1.append(v)
    return list1[0:2]

In [56]:
biger_fruit = biggest(fruits_prices)
biger_fruit

[2, 'банан']

9. Создайте функцию для поиска наибольшего значения в словаре.

In [57]:
def biggest(dict1):
    list1 = []
    reversed_dict = sort_reversed(change_key_to_value(dict1))
    for k, v in reversed_dict.items():
        list1.append(k)
        list1.append(v)
    return list1[0:2]
biger_fruit = biggest(fruits_quantity)
biger_fruit

[13, 'дыня']

## Условия и циклы

1. Создайте функцию **check_fruit_price** для проверки стоимости фрукта и вывода соответствующего сообщения.
   - Функция должна принимать словарь цен на фрукты и название фрукта, а затем выводить сообщение "дорогой товар", если цена фрукта больше 1.5.

In [58]:
def check_fruit_price(dict_prices, fruit):
    if fruit in dict_prices:
        if dict_prices[fruit] > 1.5:
            print (fruit, '- дорогой товар')

In [59]:
check_fruit_price(fruits_prices, 'банан')

банан - дорогой товар

In [60]:
fruits_prices

{'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'дыня': 1.1}

2. Создайте функцию check_age для проверки возраста студента и вывода соответствующего сообщения.
   - Функция должна принимать словарь студентов и имя студента, а затем выводить сообщение о совершеннолетии или несовершеннолетии.

In [61]:
students

{'Victor': 21, 'Nikolay': 26, 'Nina': 18, 'Tasya': 20, 'Ivan': 17}

In [62]:
def check_age(dict, name):
    if dict.get(name):
        if dict[name] >= 18:
                print ('Совершеннолетний')
        elif dict[name] < 18:
            print ('Несовершеннолетний')
    else:
        print ('Нет такого студента')

In [63]:
check_age(students ,"Ivan")
check_age(students, 'Nina')

Несовершеннолетний
Совершеннолетний

3. Создайте функцию **compare_sets_length**, которая сравнивает длину двух множеств и выводит информацию о  том, какое из множеств длиннее.
   - Функция должна принимать два множества и выводить соответствующее сообщение.

In [64]:
def compare_sets_length(set1, set2):
    if len(set1) > len(set2):
        print ('Первое множество больше второго')
    elif len(set1) < len(set2):
        print ('Первое множество меньше второго')
    else:
        print ('Множества равны')

In [65]:
compare_sets_length(set3, set4)

Множества равны

In [66]:
compare_sets_length(set1, set2)

Первое множество больше второго

4. Создайте функцию для определения четности или нечетности числа.

In [67]:
def even_odd_number(write_number):
    if write_number % 2 == 0:
        print ('Четное')
    else:
        print ('Нечетное')

In [68]:
even_odd_number(354)

Четное

In [69]:
even_odd_number(251)

Нечетное

5. Создайте функцию для определения високосного года. Функция должна принимать на вход год в виде числа и возвращать строку "високосный" или "обычный"

In [161]:
def leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

In [162]:
leap_year(2024)

True

In [163]:
leap_year(1952)

True

In [164]:
leap_year(2021)

False

6. Создайте функцию для определения типа треугольника по длинам сторон (принимает длины сторон, возвращает "остроугольный, прямоугольный, тупоугольный или не треугольник").

In [74]:
def triangle(a, b, c):
    if (a + b > c) and (c + b > a) and (a + c > b):
        if (a*a + b*b == c*c) or (a*a + c*c == b*b) or (c*c + b*b == a*a):
            print("прямоугольный")
        elif (a*a + b*b < c*c) or (a*a + c*c < b*b) or (c*c + b*b < a*a):
            print("тупоугольный")
        else:
            print("остроугольный")
    else:
        print ('Не треугольник')

In [75]:
triangle(1, 2, 3)

Не треугольник

In [76]:
triangle(3, 3, 5)

тупоугольный

In [77]:
triangle (61, 35, 61)

остроугольный

7. Создайте функцию для проверки, является ли строка палиндромом.

In [78]:
def palindrom(word):
    r_word = word[::-1]
    if word == r_word:
        print ('Это палиндром')
    else:
        print ('Это не палиндром')

In [79]:
palindrom("анна")

Это палиндром

In [80]:
palindrom('artur')

Это не палиндром

8. Создайте функцию для определения времени суток по введенному времени ( принимает текущее время в формате часы, минуты, возвращает утро, день, вечер, ночь).

In [81]:
def time_of_day(hours, minutes):
    if not (0 <= hours <= 23 and 0 <= minutes <= 59):
        return "Некорректное время"
    if 6 <= hours < 12:
        return "утро"
    elif 12 <= hours < 18:
        return "день"
    elif 18 <= hours < 24:
        return "вечер"
    else:
        return "ночь"

In [82]:
time_of_day(17, 45)

'день'

In [83]:
time_of_day(8, 15)

'утро'

9. Создайте функцию, которая определяет, является ли введенное число простым.

In [84]:
def prime_number(number):
    if number <= 1:
        return 'not prime'
    for i in range(2, number):
        if number % i == 0:
            return 'not prime'
    return 'prime'

prime_number(132251)

'not prime'

In [85]:
prime_number(3)

'prime'

In [86]:
prime_number(4)

'not prime'

In [87]:
prime_number(829)

'prime'

10. Создайте функцию для проверки входящей строки на наличие только буквенных символов.

In [88]:
string1 = 'dddddd'
string2 = 'lett er222'
def isalfa_string(string):
    if string.isalpha():
        return 'Только буквы'
    elif not string.isalpha():
        return 'Не только буквы'

In [89]:
isalfa_string(string1)

'Только буквы'

In [90]:
isalfa_string(string2)

'Не только буквы'

11. Создайте функцию, которая определяет, является ли введенная дата корректной (дата вводится в виде трех чисел, день, месяц, год. Корректной датой считается существующая комбинация этих трех чисел).

In [170]:
def check_date(day, month, year):
    if month < 1 or month > 12:
        return False
    
    if month in [1, 3, 5, 7, 8, 10, 12]:
        if day < 1 or day > 31:
            return False
    elif month in [4, 6, 9, 11]:
        if day < 1 or day > 30:
            return False
    elif month == 2:
        if leap_year(year) == True:
            if day < 1 or day > 29:
                return False
        else:
            if day < 1 or day > 28:
                return False
    
    return True

check_date(32, 1, 2024)

False

12. Создайте функцию, которая определяет, является ли введенное число палиндромом.

In [92]:
def palindrom_number(number):
    new_number = str(number)
    else_number = new_number[::-1]
    another_number = int(else_number)
    if another_number == number:
        print ('Палиндром')
    else:
        print ('Неа')

In [93]:
palindrom_number(121)

Палиндром

In [94]:
palindrom_number(1222)

Неа

In [95]:
palindrom_number(1331)

Палиндром

13. Создайте функцию для определения дня недели по введенному номеру дня (1 - Понедельник, 2 - Вторник и т.д.).

In [96]:
def day_counter(day):
    if day % 7 == 1:
        return 'понедельник'
    if day % 7 == 2:
        return 'вторник'
    if day % 7 == 3:
        return 'среда'
    if day % 7 == 4:
        return 'четверг'
    if day % 7 == 5:
        return 'пятница'
    if day % 7 == 6:
        return 'суббота'
    if day % 7 == 0:
        return 'воскресенье'

In [97]:
day_counter(1)

'понедельник'

In [98]:
day_counter(8)

'понедельник'

In [99]:
day_counter(128)

'вторник'

14. Создайте функцию **print_fruits_info** для вывода информации о количестве и стоимости фруктов из словарей.
   - Функция должна принимать словари с информацией "фрукт:количество" и "фрукт:цена" и выводить для каждого фрукта его стоимость и количество.

In [100]:
def print_fruit_info(dict_qua, dict_price):
    for f in dict_qua:
        print (f+ ':', 'количество -', dict_qua[f],',', 'цена -', dict_price[f])

print_fruit_info(fruits_quantity, fruits_prices)

яблоко: количество - 5 , цена - 1.5
банан: количество - 10 , цена - 2
апельсин: количество - 7 , цена - 1.2
дыня: количество - 13 , цена - 1.1

In [101]:
fruits_quantity.keys()

dict_keys(['яблоко', 'банан', 'апельсин', 'дыня'])

15. Создайте функцию **print_squares_while**, которая использует цикл while для вывода квадратов чисел от 1 до 5.

In [102]:
def print_squares_while(i):
    while i <= 5:
        print (i * i)
        i += 1

In [103]:
print_squares_while(0)

0
1
4
9
16
25

16. Создайте функцию для вывода факториала заданного числа.

In [104]:
def factorial(number):
    if number == 0:
        return 1
    return number * factorial(number - 1)

In [105]:
factorial(6)

720

17. Создайте функцию для поиска суммы чисел в заданном диапазоне (принимает на вход два числа, возвращает сумму чисел находящихся между ними, включительно.)

In [106]:
def sum_between(f, s):
    if f < s:
        summ = []
        for n in range(f, s):
            summ.append(n)
            summ.append(s)
        return sum(summ)
    else:
        print ('Первое число должно быть меньше второго')
sum_between(1,3)

9

18. Создайте функцию для генерации и вывода всех простых чисел до заданного числа.

In [107]:
def every_prime_inrange(number1, number2):
    list = []
    for n in range(number1, number2):
        if prime_number(n) == 'prime':
            print (n)

every_prime_inrange(2, 46)

2
3
5
7
11
13
17
19
23
29
31
37
41
43

19. Создайте функцию для проверки строки на палиндромность без учёта регистра и знаков препинания.

In [108]:
def ultra_palindrom(string):
    list1 = ''
    for w in string.casefold():
        if w.isalpha():
            list1 += w
    if list1 == list1[::-1]:
        return 'Палиндром'
    else:
        return 'Не палиндром'

ultra_palindrom('Но ты тонка, как ноты тон.')

'Палиндром'

In [109]:
ultra_palindrom('Но ты тонка, как гном')

'Не палиндром'

20. Создайте функцию для поиска наибольшего общего делителя (НОД) двух чисел.

In [110]:
def nod(a, b):
    if a % b == 0:
        print(b)
    elif b % a == 0:
        print (a)
    else:
        c = a % b
        d = b % c
        if d == 0:
            print (c)
        else:
            e = c % d
            if e == 0:
                print (d)
            else:
                f = d % e
                if f == 0:
                    print (e) 
                else:
                    g = e % f
                    if g == 0:
                        print (f)

nod(132250,132)

2

In [111]:
nod(10, 100)

10

In [112]:
nod(250, 45)

5

21. Создайте функцию print_students для вывода информации о студентах из словаря.
   - Функция должна принимать словарь студентов и выводить их имена и возраст.

In [113]:
def students_age(dict):
    return dict.items()

In [114]:
students_age(students)

dict_items([('Victor', 21), ('Nikolay', 26), ('Nina', 18), ('Tasya', 20), ('Ivan', 17)])

22. Создайте функцию get_value_from_user, принимающую на вход одно число ("порог"), и запрашивающую у пользователя ввод числа до тех пор, пока он не введет число выше "порога".

In [115]:
def get_value_from_user(floor, number):
    if floor >= number:
        print ('Число должно быть выше порога')
        
get_value_from_user(5, 4)

Число должно быть выше порога

In [116]:
get_value_from_user(3,4)

## Общие

1. Создайте функцию, которая будет запрашивать у пользователя его возраст.
   - Если возраст меньше 18 лет, программа должна выводить сообщение о том, что пользователь несовершеннолетний.
   - Если возраст от 18 до 65 лет, программа должна выводить сообщение о том, что пользователь взрослый.
   - Если возраст больше 65 лет, программа должна выводить сообщение о том, что пользователь пенсионер.

In [117]:
def show_me_your_age(age):
    if age < 0:
        print ('Еще не родился')
    if 18 > age > 0:
        print ('Несовершеннолетний')
    if 18 < age < 65:
        print ('Взрослый')
    if 100 > age > 65:
        print ('Пенсионер')
    if age > 100:
        print ('Ультрапенсионер')

show_me_your_age(66)

Пенсионер

In [118]:
show_me_your_age(19)

Взрослый

2. Создайте функцию, которая будет проверять введенную пользователем строку на наличие повторяющихся символов.
   - Если такие символы найдены, программа должна выводить их перечень и количество повторов для каждого.

In [196]:
def repeat_simbols(string):
    set = {}
    for w in string:
        if string.count(w) > 1:
            set |= {w: string.count(w)}
    return set

repeat_simbols('string of nothing gggg')

{'t': 2, 'i': 2, 'n': 3, 'g': 6, ' ': 3, 'o': 2}