# Переменные
Для временного хранения какой-либо информации в
программе используются переменные.

Переменная – это именованная ссылка на область памяти(объект), где хранятся те или иные данные.

# Имена переменных
1. Имя переменной может состоять только из цифр, букв и
символов подчеркивания
2. Имя переменной не может начинаться с цифр
3. Имя должно описывать суть , т.е. желательно давать имена,
говорящие о назначении данных, на которые они ссылаются
4. Имя переменной не должно совпадать с командами языка
(зарезервированными ключевыми словами)
5. Не следует создавать имена длиннее 35 символов

slojniy_procent_rascheta_peremii = 10

A22 = 10 # excel

# Список ключевых слов Python, которые нельзя использовать в качестве имен переменных:
- False
- def
- if
- raise
- None                
- del                 
- import              
- return
- True                
- elif                
- in                  
- try
- and                 
- else                
- is                  
- while
- as                  
- except              
- lambda              
- with
- assert              
- finally             
- nonlocal            
- yield
- break               
- for                 
- not                 
- class               
- from                
- or                  
- continue            
- global              
- pass

# Определение переменной

Каждая переменная перед использованием должна быть определена, т.е. ей
должно быть присвоено значение. При попытке доступа к переменной, которая не
была введена ранее в программе, возникнет ошибка.

In [138]:
my_old = "hello"

In [141]:
# определена выше
my_old

'hello'

In [142]:
# не определена
my_new

NameError: name 'my_new' is not defined

# Типы пременных
Переменная имет тип того значения на который она ссылается(содержит)

type()

In [143]:
type(my_old)

str

In [144]:
type("strokaaaa")

str

In [145]:
type(12)

int

In [146]:
my_i = 44
type(my_i)

int

In [147]:
type(3.1)

float

In [ ]:
# --

# Упражнения

In [148]:
x = 5
type(x)

int

In [149]:
y = 5.0
type(y)

float

In [150]:
z = x + y
print(z)

10.0

In [151]:
type(z)

float

In [152]:
s = '5.0'
type(s)

str

In [153]:
z + s

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [154]:
float(s)

5.0

In [155]:
type(float(s))

float

In [156]:
z + float(s)

15.0

In [157]:
z = 5.0
s = '5.0'
str(z) + s

'5.05.0'

In [158]:
z = 5.7
int(z)

5

In [159]:
s = 'absd'
int(s)

ValueError: invalid literal for int() with base 10: 'absd'

In [162]:
s = ' 5, '
int(s)

ValueError: invalid literal for int() with base 10: ' 5, '

In [163]:
s = ' 5     '
int(s)

5

In [167]:
x = 10
y = 3
x // y

3

In [168]:
v = x // y

In [169]:
v

3

In [170]:
x = 10
y = 3
x % y

1

# HW
- зачем нужны переменные
- зачем нужно имя у переменной
- как узнать тип переменной
- можно ли преобразовать строк в число? И если да то в каких случаях?
- можно ли преобразовать число в строку? И если да то в каких случаях?

1) Переменные нудны для временного хранения данных;
2) Переменная - это именованная область памяти, хранящая в себе данные;
3) Тип переменной можно узнать с помощью функции type(имя_переменной)
4) Строку не всегда можно преобразовать в число. Преобразование допустимо только в 2 случаях:
    - строка полностью состоит их цифр;
    - строка состоит из цифр и пробелов, которые стоят в начале или в конце строки (для строки, содержащей только цифры и пробелы между цифр преобразование в числовой тип невозможно)

In [1]:
##пример преобразования строки в число
int("   012340      ")

12340

In [ ]:
5) Число всегда можно преобразовать в строку