Добрый день.<br>
Задание по sql:<br>
Нужно проанализировать информацию по продуктам. Представим что мы покупатели и наша цель выбрать подходящий момент для покупки, или мы продавец и нам надо понимать когда стоит повысить цену а когда ее снижать. Для этого нужно:<br>
<ul>
<li>Понять среднюю цену на продукт в конкретном магазине, посмотреть как цена и остатки  меняются в зависимости от даты обновления.

<li>Для получения информации по цене надо построить таблицу содержащую следующие столбцы:<ol> <li>название товара,<li> магазин, <li>дата, <li>цена. </ol>

<li>Чтобы понять как быстро раскупают товары можно построить таблицу обратив внимание на столбец с остатками.

<li>Далее может добавить несколько покупателей, к ним добавить их траты. 
<li>И проанализировать:<ol> <li>какой самый частый товар покупают, <li>сколько в среднем каждый пользователь тратит на покупки, <li>среднюю цену покупки.</ol> 
<li>Вывести в одну таблицу сколько пользователь потратил в 1-ом квартале 22,  2-ом квартале 22,  3-ом квартале 22,  4-ом квартале 22.
    </ul>

    #request = message.text
    #request = request.replace("/sql", "")
    #request = request.strip()
    #request = request.lower()
    #if (request != "") and ("drop" not in request) and ("alter" not in request):
        # process message
        with sqlite3.connect(superhomosecret.DBFILEPATH) as connection:
            cursor = connection.cursor()
            try:
                cursor.execute(request)
                request_result = cursor.fetchall()
            except:
                request_result = "bad request"
    else:
        request_result = "drop or alter is not allowed"
    await message.reply(request_result[-4000:])

In [18]:
import sqlite3
def do_request(sqldata:str):
    with sqlite3.connect('/tmp/sql_dump/db.sqlite3') as connection:
        cursor = connection.cursor()
        try:
            cursor.execute(sqldata)
            request_result = cursor.fetchall()
        except sqlite3.DatabaseError as dberr:
            request_result = dberr.args
        print(request_result)

In [19]:
do_request("""
select title, price
from products_history 
where id in (1991, 1992, 1993 )
""")

[('Мичуринский 2 27 39.8 Озерная ул., вл. 7 55.687726,37.471704', 19647884), ('Южнопортовая 1 31 68.7 ул. Южнопортовая, вл.28-28а 55.705727,37.696445', 24214830), ('Мичуринский 6 15 86.9 Озерная ул., вл. 7 55.687726,37.471704', 44826261)]