Циклы 

Напишите цикл for, который выводит все элементы множества set1.
Напишите цикл while, который выводит квадраты чисел от 1 до 5.
Напишите цикл for, который перебирает все ключи словаря fruits_quantity и выводит каждый товар.
Выведите сообщение "%название фрукта% - дорогой товар" для фруктов из fruit_prices, цена которых превышает 1.5, подставив вместо %название фрукта% название соответствующих "дорогих" фруктов
Посчитайте стоимость всех фруктов, имеющихся в наличии
Используя цикл for, выведите всех студентов и их возраст из словаря students.

In [3]:
set_1={1,2,3,4,5,7,8,9,10}
set_2=set()
for i in set_1:
    set_2.add(i)
print(set_2)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [7]:
a=1
while a<6:
    print(a**2)
    a +=1

1
4
9
16
25

In [10]:
fruits_quantity={"яблоко": 5, "банан": 10, "апельсин": 7}
for key in fruits_quantity.keys():
    print(key)

яблоко
банан
апельсин

In [17]:
fruits_prices={"яблоко": 5, "банан": 10, "апельсин": 7, "груша":1, "морковь":1.2}
total=0
for name , price in fruits_prices.items():
    total+=price
    if price > 1.5:
        print(f' {name} дорогой товар')
print(total)

 яблоко дорогой товар
 банан дорогой товар
 апельсин дорогой товар
24.2

In [18]:
students={"Иванов": 22, "Петрова": 13, "Сидоров": 23}
for name , age in students.items():
    print(f' фамилия: {name} возраст {age}')

 фамилия: Иванов возраст 22
 фамилия: Петрова возраст 13
 фамилия: Сидоров возраст 23