# Аналитика по недвижимости

In [1]:
#https://t.me/+VwkCKFZn8gpjY2Qy

ssh jupyter-amtsu@62.109.12.193
sqlite3 /home/jupyter-amtsu/project/price_alert/db.sqlite3
DROP TABLE copied;
CREATE TABLE copied AS SELECT id, title, price, price_sale, datetime_create, category, brand, url, apartment_area, apartment_floor, apartment_floors_total, apartment_room, apartment_ppm FROM products_history WHERE category = "Новостройки" or category = "Реновация";
.output /home/jupyter-amtsu/project/price_alert/24.db.copied.sqlite3
.dump copied
.exit
exit

scp   jupyter-amtsu@62.109.12.193:/home/jupyter-amtsu/project/price_alert/24.db.copied.sqlite3  synchronize_data@94.250.254.32:/home/synchronize_data/price_analytics/24.db.copied.sqlite3

ssh synchronize_data@94.250.254.32
sqlite3 price_analytics/24.db.copied
DROP TABLE copied;
.read /home/synchronize_data/price_analytics/24.db.copied.sqlite3
.exit
exit

# удалить дубли их исходной таблицы - часть дублей связана с тем что пр и удадении дага и его создании он нчанеит работаь с даты пропсиагной в файде, НО есть часть данных котрые должны быть задублированы

In [2]:
1+1

2

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import sqlite3
import json
import seaborn

# Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pd.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pd.set_option('display.max_colwidth', None)

/tmp/ipykernel_2022823/4149783573.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
import datetime

In [5]:
!ls -la /home/synchronize_data/price_analytics/db.sqlite3

-rw-r--r-- 1 synchronize_data synchronize_data 41444753408 Feb 20 15:23 /home/synchronize_data/price_analytics/db.sqlite3

In [6]:
#-rw-r--r-- 1 synchronize_data synchronize_data 33717559296 Feb 19 11:12 /home/synchronize_data/price_analytics/db.sqlite3

In [7]:
#Книга - Three body problem

In [8]:
#connection = sqlite3.connect('/home/synchronize_data/price_analytics/db.sqlite3')
connection = sqlite3.connect('/home/synchronize_data/price_analytics/24.db.copied')
cursor = connection.cursor()

In [9]:
bad_date = ['2023-05-18',  
    '2023-05-21',
    '2023-06-02',  
    '2023-07-08', 
    '2023-12-02', 
    '2024-01-20',
    '2024-01-21', 
    '2024-01-22',]

In [10]:
plt.style.use('ggplot')

# История изменений проекта

240310 240311 В ночь с 10 на 11.03.2024 выкатил иземния тайтлов для левела level

240315 создалось 2 обект доблируемы, нужно удали 32038642 32038643 - тетсировал добавлени номера крвартиры  
240315 - загрузил все еще  раз с номерами квратрир   
240318 - добавили разеделитель ' | ' в названия обектов level 
добаивл номер квартиры

# Новости поставщиков

- c 240201 по 240229 скидка 8% на все у донстроя в связи с 30 летним днем рожденьем
- 240301 напсиал риелтор что скидка 8% в честь 30 летия будет длитсья еще неделю
- 240320 донстрой обявил что через 12 дней поднимит стоимость квратри
- 240321 доснтрой прислаи смс что скидки начали на 5 корпус 8% и начались онаи 240320
- 240403 были сломанные частичные загрузки достроя

#  Сравнить другие обекты донстроя с рынком, тогда юудет понятно общую политику оумнаии  по уенгнообразрванию

70 секций	
6 кв на этаже	
20 этаже	
8400 примерно квартрир

# Выяснить параметры квартир котрые покупают - тогда можно будет сделать вывыод когда купят интересующую, НАСКОЛЬКО она в рынке или популярна

Собрать причины покупки  

- продал риелтр потому что у него ха эту квартиру  большой бонус  
- купил молодой человек студию у метро чтобы ыбстро и не далеко  
- купила семья из 4 челловек так как нужно была комната детям и родителям плюс готсинная с хорошим видом  
- квартира столида на 8% дешевле чем сосденяя
- 
-

# Построить  графики
один количенство квартир вчера и сегодня ( исключая отризательные дни).  
второй когда сранивают пересеченяи всеча и сегодня и из  тех чтобыли вчера вчиают те что ьбыли сегодня. Получая колько квартир ушло.  
Третий график сколько квартир старвх пришло сегодня, ушедщих ранее. Можно просто указать дней экспции и если дней экспозицции больше 0 то проблема  
четерртый средний срок экспрозиции квартир

# Риск 8% февраль
посчитать сколько стоят эти 8% через год и сейчас, относительно текущих 20% процентов взноса.  
сможет ли разница в заработке относилеьно еткущейй суммы покрыть 8% рост?  
39,2 - 42,6 = 3,4 (16 этаж) (560/600 за метр)  кв 70 метров  
29, - 31,5 = 2,5 (5) (414/450)

Понять что выгоднее купить сейчас на 8% дешевле или через год на 8% дороже?  
сейчас
- 3.92 заплатить каждый месяц платить по 560, на 1 год раньше зарою ипотеку.
  
через год
- 4.26 заплатить каждый месяц палить по 600, но заработать за это год сколкьо то.

сколько сейчас надо денег чтобы закрыть ипетеу в 3,4  милиона под 16 %  через год  
- т.е если через год положу под такойже % как и ипотека сколько андо полодить?  

если возять кредит в 35.3 что составля 90% от стоимость на 30 лет то ипоетека будет 486 в месяц это 16,4% ставка ( первоноачальны 3.9)

In [11]:
#558 в год палтить за 3.4 миллиона при 16.4 %

# Рассрочку + ипотека. Предложить рассрочкам в 10% на год(до конца стройки), а потом ипотека на оставшуюся сумму.

#посчитать сколько будет стоит купить квартиру сейчас, и с учето годовых платееже

In [12]:
3920 + 486 * 12 # столько я заплачу за год вдедения квартирой

9752

In [13]:
# за следубщие 29 лет потрачу  486 * 12 * 29

In [14]:
486 * 12 * 29

169128

In [15]:
# общая сумма на конез 30 лет

In [16]:
3920 + 486 * 12 + 486 * 12 * 29

178880

In [17]:
# добавим в расчет еще один год котрый я буду зарабатыать на своих дентгах есди буду вклаыдаь ( т е надо вычесть)

In [18]:
3920 + 486 * 12 + 486 * 12 * 29 - 486 * 12

173048

In [19]:
#также надо вычесть общую сумму котрые я перепалчиваю в другом кейс - как это сделать пока не заню
#или в следующем гожу просто выделить суумму необходимоую для пгашения большегот процента даже если мы ее под тоже процент размести

In [20]:
#xxx

# что будет если купить через год

In [21]:
# расссчиатьап

In [22]:
ki = 0.164 # ипотека
#k1 = 0.3
ke = 0.26# доход с инвестиций
current_price = 39200
current_first_pesent = 10
current_first_pay = current_price * current_first_pesent / 100 # 3920 ~ 10% от стоимости
current_credit = current_price * (100 - current_first_pesent) / 100 # 35280
current_every_month_pay = current_credit * ki / 12 # 486


one_year_late_price = 42600
one_year_late_first_pesent = 10
one_year_late_first_pay = one_year_late_price * one_year_late_first_pesent / 100 # 4260 ~ 10% от стоимости, без скидки 8%
one_year_late_credit = one_year_late_price * (100 - one_year_late_first_pesent) / 100 # 38340
one_year_late_every_month_pay = one_year_late_price * ki / 12 # 520

# если хочу снизить ежемесячный платеж до текущего то надо внести
one_year_late_down_grade_credit = one_year_late_credit - current_credit # 3060

####

print(int(current_first_pay), 'столько внести как первый взнос')
print(current_every_month_pay*12, 'столько придется внести за весь 2024 год, это в месяц примерно',current_every_month_pay)
print()


s1_all = current_first_pay * (1 + ke)
print(int(s1_all), 'в конце года получу, в начале было 3920')
print(int(s1_all - current_first_pay), 'выгода в рублях при отложенном на год платеже от прервноччального взноса в 3920 вложенные в начале года будет такми')
#s1 = current_price * (1 + ke) - one_year_late_price
#print(s1)
#d1 = s1 * ki / 12
#print(d1)


s2 = 0# current_every_month_pay
for i in range(0,12):
    #print(i)
    #print((1 + k1/12) ** i)
    s2 = s2 + current_every_month_pay * ((1 + ke/12) ** i)
print(int(s2), 'в конце года получу')
print(int(s2 - 486 * 12), 'выгода в рублях в отложенм на год платеже ')


print(int(s2 + s1_all), 'на эту сумму пополуню счет за 2024 год если не куплю квартиру по текущей цене и текущей процентной ставке', ki, 'и ствке на инвестиции', ke)
print()
print(one_year_late_first_pay, 'придется отдать в конце года как первый взнос, но если брала бы в этом году то отдал бы 3920')
print(int(s2 + s1_all - one_year_late_first_pay), 'профит после покупки')
# так как цена увечлится на 3,4 миллиона то мы их дожны вычесть из заработанных так как они как бы пойдут на погашение долга котрый увечится на 8 %
money_after_buy_room = s2 + s1_all - one_year_late_first_pay - one_year_late_down_grade_credit
print(int(money_after_buy_room), 'профит который отсанется если внесем разницу вразмере 8% от суммы кредиат на которую повысится')
# учесть что жемесяный платеж выше 40 в месяц 480 в год платежей
#print(480/ki)
# столько мы получим и такой запкс прочности буем иметь значит если квартиры вырсти на тьо что ниже то мы выйдем в 0
print(int(int(s2 + s1_all - one_year_late_first_pay - one_year_late_down_grade_credit) / one_year_late_price * 100),'% такой запас прочности от роста цены начальной')
print(int(int(s2 + s1_all - one_year_late_first_pay - one_year_late_down_grade_credit) / current_price * 100),'% такой запас прочности от роста цены текущей(соскидкой 8%)')
# забыл что взнос увеичитс

3920 столько внести как первый взнос
5785.92 столько придется внести за весь 2024 год, это в месяц примерно 482.16

4939 в конце года получу, в начале было 3920
1019 выгода в рублях при отложенном на год платеже от прервноччального взноса в 3920 вложенные в начале года будет такми
6527 в конце года получу
695 выгода в рублях в отложенм на год платеже
11466 на эту сумму пополуню счет за 2024 год если не куплю квартиру по текущей цене и текущей процентной ставке 0.164 и ствке на инвестиции 0.26

4260.0 придется отдать в конце года как первый взнос, но если брала бы в этом году то отдал бы 3920
7206 профит после покупки
4146 профит который отсанется если внесем разницу вразмере 8% от суммы кредиат на которую повысится
9 % такой запас прочности от роста цены начальной
10 % такой запас прочности от роста цены текущей(соскидкой 8%)

In [23]:
# но что будет с последкющими платежами?
print(current_every_month_pay * 12 * 29, ' выплаты за 29 лет при покупесе сейчас')
print(one_year_late_every_month_pay * 12 * 29, ' выплаты за 29 лет при покупесе чере год')

#
diff_month_pay = one_year_late_every_month_pay - current_every_month_pay
print(diff_month_pay, 'разница в ипотеке')

ker = 0.26
money_1 = int(s2 + s1_all - one_year_late_first_pay)
print(money_1)

###

#diff_month_pay = 50
#ker = 0.13

# что будет если я вложу эту разницу под процент
sum_diff = 0
for i in range(0,29):
    sum_diff = sum_diff + diff_month_pay * 12 * (1 + ker)**i
    #print(sum_diff)
print(int(sum_diff),'сумма котрая получчится за 29 лет накопдений и начислениии процента 1 раз в конце года')
print(int(diff_month_pay) * 12 * 29,'сумма котрая получчится за 29 лет накопдений без процентов')

#print(int(money_after_buy_room), 'сумма оставшаяся после покупки квартриы спустя год')
print(money_1, 'сумма оставшаяся после покупки квартриы спустя год')
#sum_last = money_after_buy_room
sum_last = money_1
sum_last = sum_last * (1 + ker)**29
print(int(sum_last), 'сумма которую получу за 29 лет под %', ker)
print(int(sum_last - sum_diff), 'выигрыш купить позже')

167791.68  выплаты за 29 лет при покупесе сейчас
202605.6  выплаты за 29 лет при покупесе чере год
100.04000000000002 разница в ипотеке
7206
3754859 сумма котрая получчится за 29 лет накопдений и начислениии процента 1 раз в конце года
34800 сумма котрая получчится за 29 лет накопдений без процентов
7206 сумма оставшаяся после покупки квартриы спустя год
5867323 сумма которую получу за 29 лет под % 0.26
2112464 выигрыш купить позже

In [24]:
1.16**29

74.00851457651962

In [25]:
2.9*1**29 #  0%, 4% - 5% запас прочности

2.9

In [26]:
2.9*1.001**29 #  0.001%,

2.985288065823662

In [27]:
2.9*1.01**29 #  0.01%,

3.8700612420449776

In [28]:
2.9*1.02**29 #  0.02%,

5.149949601862478

In [29]:
2.9*1.05**29 #  0.05%,

11.936793226606605

In [30]:
2.9*1.08**29 #  0.08%,

27.02009720214167

In [31]:
2.9*1.1**29 #  0.1%,

46.002969617973356

In [32]:
2.9*1.12**29 #  0.12%,

77.57479834878781

In [33]:
2.9*1.164**29 #  0.164%, 7% - 8% запас прочности

237.1561694514056

In [34]:
3.441*1.16**29 # 0.2%, 8% - 9% запас прочности

254.66329865780398

In [35]:
4.140*1.16**29 # 0.3%, 9% - 11% запас прочности

306.39525034679116

In [36]:
4.857*1.16**29 # 0.4%, 11% - 12% запас прочности

359.4593552981558

# Инфляция

In [37]:
0.9**3

0.7290000000000001

In [38]:
0.9**5

0.5904900000000001

In [39]:
0.9**10

0.3486784401000001

In [40]:
0.9**15

0.20589113209464907

In [41]:
0.9**20

0.12157665459056935

In [42]:
0.9**30

0.04239115827521624

In [43]:
1.111**30

23.51915792132608

In [44]:
10/9

1.1111111111111112

# TODO добавить столбцы проект, корпус, секция : отсров 6 корус 1 секция 1

In [45]:
#https://t.me/nmrochkovskiy_bot?start=YnM6ZjoxMzt1OjI4Ow
#https://investfuture.events/web_neuro?utm_source=yt_investfutureru&utm_medium=video&utm_campaign=14022024&utm_term=uneuroboost_pneuropractikum_tpaid&erid=2SDnjecjMQU

In [46]:
#https://plus-invest.narod.ru/Save/RazInv.pdf

# Взять дапнные из экселя

# Отработать гипотезц что некотрые квартиры иногда исчеают а потом появляются, выяснить как часто это бывет и попытьався понять какие причниы, типа хабронили на2 недели , но потом не выккупили, или это застрйзик так менят сове наподеннеи  илии ...

# пример дама для быстрой передачи
            "title",
            "price",
            "price_sale",
            "datetime_create",
            "category",
            "brand",
            "url",
            "apartment_area",
            "apartment_floor",
            "apartment_floors_total",
            "apartment_room",
            "apartment_ppm"

scp /home/jupyter-amtsu/project/price_alert/db.sqlite3 synchronize_data@94.250.254.32:/home/synchronize_data/price_analytics/db.sqlite3

####

sqlite3 /home/synchronize_data/price_analytics/db.sqlite3

DROP TABLE copied;

CREATE TABLE copied AS SELECT id, title, price, price_sale, datetime_create, category, brand, url, apartment_area, apartment_floor, apartment_floors_total, apartment_room, apartment_ppm FROM products_history WHERE category = "Новостройки";

.output 24.db.copied.sqlite3

.dump copied

.exit

####

sqlite3 /home/jupyter-amtsu/project/price_alert/db.sqlite3

DROP TABLE copied;

CREATE TABLE copied AS SELECT id, title, price, price_sale, datetime_create, category, brand, url, apartment_area, apartment_floor, apartment_floors_total, apartment_room, apartment_ppm FROM products_history WHERE category = "Новостройки";

.output /home/jupyter-amtsu/project/price_alert/24.db.copied.sqlite3

.dump copied

.exit

####

scp  /home/jupyter-amtsu/project/price_alert/24.db.copied.sqlite3 synchronize_data@94.250.254.32:/home/synchronize_data/price_analytics/24.db.copied.sqlite3

# Получить только квартиры

In [47]:
cursor.execute("""
SELECT 
            id,
            "title",
            "price",
            "price_sale",
            --CAST(apartment_area as decimal) as apartment_area_decimal,
            CAST(price_sale / apartment_area as decimal(15,2)) as "avg_price_per_metr",
            date(datetime_create) as date,
            
            --"category",
            "brand",
            --"brand_url",
            --"url",

            "apartment_area",
            --"apartment_completion_quarter",
            --"apartment_completion_year",
            "apartment_floor",
            "apartment_floors_total",
            --"apartment_ceilingheight",
            "apartment_room",
            "apartment_ppm"
            --"apartment_address",
            --"apartment_location_lat",
            --"apartment_location_lon"
    
--FROM products_history
FROM copied
where 
    category = "Новостройки" 
    or category = "Реновация"
    --and datetime_create >= "2023-06-01"
    --and 
    --and url like "hhttps://donstroy.moscow/objects/ostrov/plans/quarter6/korpus1/%"
    --and title like "%Остров.6%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1000000

""")

all_room = pd.DataFrame(cursor.fetchall(), columns=[
            "id",
            "title",
            "price",
            "price_sale",
            #"apartment_area_decimal",
            "avg_price_per_metr",
            "datetime_create",
            
            #"category",
            "brand",
            #"brand_url",
            #"url",

            "apartment_area",
            #"apartment_completion_quarter",
            #"apartment_completion_year",
            "apartment_floor",
            "apartment_floors_total",
            #"apartment_ceilingheight",
            "apartment_room",
            "apartment_ppm",
            #"apartment_address",
            #"apartment_location_lat",
            #"apartment_location_lon"
])

In [48]:
all_room = all_room.assign(ppm = all_room['price_sale'] / all_room['apartment_area'])

In [49]:
all_room.count()

id                        995571
title                     995571
price                     995571
price_sale                995571
avg_price_per_metr        994414
datetime_create           995571
brand                     995571
apartment_area            994414
apartment_floor           920571
apartment_floors_total    625414
apartment_room            920571
apartment_ppm             780898
ppm                       994414
dtype: int64

#  общая подготовка

In [50]:
all_room['project'] = ''
all_room['building'] = ''
all_room['apartment_number'] = '-1'

# Чистим Левел

In [51]:
#all_room.loc[all_room['brand']=='level', 'project'] = all_room['title'].split(' ')[0]
#df_clicks['MAX_SHOP1_SHOP3'] = df_clicks.apply(lambda x: max(x['SHOP1'], x['SHOP3']), axis=1)
def update_project_level(i):
    if i['brand'] == 'level.ru':
        try:
            apartment_floor = int(i[8])
        except:
            apartment_floor = -10
        if apartment_floor == -10:
            return i['project']

        if i[1].find(' | ') > 0:
            sep = f" {apartment_floor} | {i[7]} "
            title = i[1]
            #print(title.split(sep))
            #print(title.split(sep)[0])
            #print(title.split(sep)[0].split(' | '))
            tl = title.split(sep)[0].split(' | ')
            building = tl.pop()
            
            #print(tl)
            #print('----')
            
            project = ' '.join(tl)
            return project            
        
        sep = f" {apartment_floor} {i[7]} "
        title = i[1]
        tl = title.split(sep)[0].split(' ')
        building = tl.pop()
        
        project = ' '.join(tl)
        return project
    return i['project']

def update_building_level(i):
    if i['brand'] == 'level.ru':
        try:
            apartment_floor = int(i[8])
        except:
            apartment_floor = -10
        if apartment_floor == -10:
            return i['building']

        if i[1].find(' | ') > 0:
            sep = f" {apartment_floor} | {i[7]} "
            title = i[1]
            tl = title.split(sep)[0].split(' | ')
            #print(tl)
            building = tl.pop()
            building = building.replace(' |','')
            
            return building 

        
        sep = f" {apartment_floor} {i[7]} "
        title = i[1]
        tl = title.split(sep)[0].split(' ')
        building = tl.pop()
        
        return building
    return i['building']


all_room['project'] = all_room.apply(lambda x: update_project_level(x),  axis=1)


all_room['building'] = all_room.apply(lambda x: update_building_level(x),  axis=1)

/tmp/ipykernel_2022823/3014285787.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  apartment_floor = int(i[8])
/tmp/ipykernel_2022823/3014285787.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if i[1].find(' | ') > 0:
/tmp/ipykernel_2022823/3014285787.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sep = f" {apartment_floor} | {i[7]} "
/tmp/ipykernel_2022823/3014285787.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]
/tmp/ipykernel_2022823/3014285787.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sep = f" {apartment_floor} {i[7]} "
/tmp/ipykernel_2022823/3014285787.py:28: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]
/tmp/ipykernel_2022823/3014285787.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  apartment_floor = int(i[8])
/tmp/ipykernel_2022823/3014285787.py:45: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if i[1].find(' | ') > 0:
/tmp/ipykernel_2022823/3014285787.py:46: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sep = f" {apartment_floor} | {i[7]} "
/tmp/ipykernel_2022823/3014285787.py:47: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]
/tmp/ipykernel_2022823/3014285787.py:56: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sep = f" {apartment_floor} {i[7]} "
/tmp/ipykernel_2022823/3014285787.py:57: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]

In [52]:
#all_room['project'].unique()

In [53]:
#all_room['building'].unique()

In [54]:
#2023-08-25
#{'Мичуринский бизнес'}
#{'Мичуринский I, II этап'}

#2024-03-01
#'Мичуринский, этап 1,2',
#'Мичуринский, этапы 1 и 2'

s1 = set(list(all_room.loc[ (all_room['datetime_create'] == '2023-08-27') ]['project'].unique()))
s2 = set(list(all_room.loc[ (all_room['datetime_create'] == '2024-01-30') ]['project'].unique()))
print(s1 - s2)
print('---')
print(s2 -  s1)

{'Бауманская', 'Селигерская', 'Мичуринский I, II этап', 'Селигерская 2', 'Академическая'}
---
{'Мичуринский, этап 1,2'}

In [55]:
len(set(list(all_room['project'].unique())))

22

In [56]:
 #set(list(all_room['building'].unique()))

In [57]:
 #set(list(all_room['project'].unique()))

In [58]:
all_room.loc[all_room['project']=='Мичуринский', 'project'] = 'Мичуринский, этапы 1 и 2'
all_room.loc[all_room['project']=='Мичуринский бизнес', 'project'] = 'Мичуринский, этапы 1 и 2'
all_room.loc[all_room['project']=='Мичуринский I, II этап', 'project'] = 'Мичуринский, этапы 1 и 2'
all_room.loc[all_room['project']=='Мичуринский, этап 1,2', 'project'] = 'Мичуринский, этапы 1 и 2'

all_room.loc[all_room['project']=='Мичуринский III этап', 'project'] = 'Мичуринский, этап 3'

In [59]:
s1 = set(list(all_room.loc[ (all_room['datetime_create'] == '2023-08-27') ]['project'].unique()))
s2 = set(list(all_room.loc[ (all_room['datetime_create'] == '2024-01-30') ]['project'].unique()))
print(s1 - s2)
print('---')
print(s2 -  s1)

{'Академическая', 'Селигерская 2', 'Селигерская', 'Бауманская'}
---
set()

In [60]:
len(set(list(all_room['project'].unique())))

17

In [61]:
#set(list(all_room['project'].unique()))

In [62]:
len(set(list(all_room['building'].unique())))

28

# добавляем apartment_number

In [63]:
def update_apartment_number_level(i):
    if i['brand'] == 'level.ru':
        sep = f" | "
        title = i[1]
        tl = title.split(sep)
        if len(tl) > 6:
            apartment_number = tl[-1]
            if apartment_number not in ('\n296', 'Номер'):
                return apartment_number
        return '-1'
    return i['apartment_number']

all_room['apartment_number'] = all_room.apply(lambda x: update_apartment_number_level(x),  axis=1)

/tmp/ipykernel_2022823/1410850036.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]

In [64]:
#all_room['apartment_number'].unique()

In [65]:
#set(list(all_room['building'].unique()))

In [66]:
all_room.loc[ (all_room['building'] == '55.682432,37.637749') ]

Empty DataFrame
Columns: [id, title, price, price_sale, avg_price_per_metr, datetime_create, brand, apartment_area, apartment_floor, apartment_floors_total, apartment_room, apartment_ppm, ppm, project, building, apartment_number]
Index: []

In [67]:
#all_room.count()

In [68]:
all_room.describe()

,id,price,price_sale,avg_price_per_metr,apartment_area,apartment_floor,apartment_floors_total,apartment_room,apartment_ppm,ppm
count,9.955710e+05,9.955710e+05,9.955710e+05,9.944140e+05,994414.000000,920571.000000,625414.000000,920571.000000,7.808980e+05,9.944140e+05
mean,2.616656e+07,2.715333e+07,2.454318e+07,4.024056e+05,54.097739,13.614862,30.209503,1.763670,3.530814e+05,4.024056e+05
std,1.272432e+07,3.985692e+07,3.943721e+07,2.261848e+05,33.312293,12.175811,14.811901,1.308695,2.545189e+05,2.261848e+05
min,5.980000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.400000,-4.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,1.588360e+07,1.249600e+07,1.123250e+07,2.860377e+05,33.600000,4.000000,21.000000,1.000000,2.638750e+05,2.860377e+05
50%,3.060036e+07,2.120278e+07,1.771333e+07,3.813570e+05,47.100000,12.000000,26.000000,2.000000,3.455370e+05,3.813570e+05
75%,3.366163e+07,3.162306e+07,2.810233e+07,4.698004e+05,70.700000,21.000000,33.000000,3.000000,4.404700e+05,4.698004e+05
max,4.487158e+07,8.096190e+08,8.096190e+08,3.676369e+06,391.000000,68.000000,69.000000,100.000000,3.676370e+06,3.676369e+06

In [69]:
 #all_room[1:3]

In [70]:
#all_room = all_room.dropna()

In [71]:
#all_room.count()

In [72]:
# добавим поле парсер, сделаем его выислямемы имз бренда

parser_base = ['Capital Group', 'donstroy.moscow', 'gk-osnova.ru', 'level.ru', 'Галс-Девелопмент', 
    'fr.mos.ru']

brands = sorted(list(all_room['brand'].unique()))
for b in brands:
    print(b)
    assert b in parser_base

all_room = all_room.assign(parser = lambda x:x['brand'])

Capital Group
donstroy.moscow
fr.mos.ru
gk-osnova.ru
level.ru
Галс-Девелопмент

#  Чистим донстрой

In [73]:
#all_room.count()

# убираем первый день

In [74]:
all_room = all_room.loc[(all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09') ) | (~all_room['brand'].str.contains("donstroy.moscow"))]

In [75]:
all_room.count()

id                        995560
title                     995560
price                     995560
price_sale                995560
avg_price_per_metr        994403
datetime_create           995560
brand                     995560
apartment_area            994403
apartment_floor           920560
apartment_floors_total    625403
apartment_room            920560
apartment_ppm             780898
ppm                       994403
project                   995560
building                  995560
apartment_number          995560
parser                    995560
dtype: int64

In [76]:
#all_room.count()

In [77]:

#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("секц")  ][88:90]
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("секц")  ].count()

# удаляю часть данных от 240315  так как там была одна сломанная загрузка, еще 2 раза по одной и одно нормальня

In [78]:
all_room = all_room.loc[(~all_room['brand'].str.contains("donstroy.moscow")) | (all_room['datetime_create'] !=  '2024-03-15')  |  ((all_room['datetime_create'] ==  '2024-03-15') & (~all_room['title'].str.contains(".+ \| .+ \| .+ \| .+ \| .+ \| .+ \| \d+$")))]

In [79]:
all_room.count()

id                        994316
title                     994316
price                     994316
price_sale                994316
avg_price_per_metr        993159
datetime_create           994316
brand                     994316
apartment_area            993159
apartment_floor           919316
apartment_floors_total    624159
apartment_room            919316
apartment_ppm             780898
ppm                       993159
project                   994316
building                  994316
apartment_number          994316
parser                    994316
dtype: int64

# добаявляем поля project и building

In [80]:
#Корпус ДОМ XXII 0 Корпус 1, 1 секц 2 166
#f"{project} {kvartal} {korpus} {section} {floor} {area} {address}"
#'Река | Река–2 | Клубный дом |', 'ДОМ XXII | 0 |'
#2024-03-10
#{'Событие Событие 4', 'ДОМ XXII 0', 'Остров Остров.3', 'Остров Остров.5', 'Река Река–2 | Клубный дом', 'Остров Остров.4', 'Событие Событие 5', 'Река Река-3 | Клубный дом', 'Символ Искренность', 'Символ Смелость', 'Символ Вдохновение', 'Остров Остров.6', 'Остров Остров.2', 'Событие Событие 2', 'Остров Остров.1', 'Расплетина, 14 0', 'Символ Независимость', 'Событие Событие 3', 'Символ Достоинство'}
#---
#2024-03-11
#{'', 'Река | Река–2 | Клубный дом |', 'ДОМ XXII | 0 |', 'Событие | Событие 2 |', 'Символ | Достоинство |', 'Академическая', 'Саввинская 17', 'Событие | Событие 4 |', 'Стрешнево', 'Символ | Искренность |', 'Южнопортовая', 'Событие | Событие 3 |', 'Бауманская', 'Остров | Остров.4 |', 'Селигерская', 'Мичуринский, этапы 1 и 2', 'Остров | Остров.5 |', 'Саввинская 27', 'Событие | Событие 5 |', 'Павелецкая Сити', 'Нагатинская', 'Остров | Остров.3 |', 'Мичуринский, этап 3', 'Символ | Вдохновение |', 'Нижегородская', 'Остров | Остров.2 |', 'Причальный', 'Расплетина, 14 | 0 |', 'Символ | Смелость |', 'Река | Река-3 | Клубный дом |', 'Остров | Остров.6 |', 'Символ | Независимость |', 'Остров | Остров.1 |'}

def update_project_donstroy_moscow(i):
    if i['brand'] == 'donstroy.moscow':
        try:
            apartment_floor = int(i[8])
        except:
            apartment_floor = -10
        if apartment_floor == -10:
            return i['project']

        #d = int(i[7])
        #d = i[7]
        d = i[7] if i[7] != float(int(i[7])) else int(i[7])
        
        #sep = f" {apartment_floor} {d:.1f}"
        sep = f" {apartment_floor} {d}"
        title = i[1]
        title = title.replace(' | ', ' ')
        #title = title.replace(' |', '', 1)
        
        tl = title.split(sep)[0].split(' Корпус ')
        building = tl.pop()
        
        project = ' '.join(tl)
        return project
    return i['project']

def update_building_donstroy_moscow(i):
    if i['brand'] == 'donstroy.moscow':
        try:
            apartment_floor = int(i[8])
        except:
            apartment_floor = -10
        if apartment_floor == -10:
            return i['building']

        #d = int(i[7])
        d = i[7] if i[7] != float(int(i[7])) else int(i[7])
            
        sep = f" {apartment_floor} {d}"
        #print(sep)
        title = i[1]
        title = title.replace(' | ', ' ')
        #title = title.replace(' |', '', 1)
        tl = title.split(sep)[0].split(' Корпус ')
        building = tl.pop()
        
        return 'Корпус ' + building
    return i['building']


#all_room['project'] = ''
all_room['project'] = all_room.apply(lambda x: update_project_donstroy_moscow(x),  axis=1)

#all_room['building'] = ''
all_room['building'] = all_room.apply(lambda x: update_building_donstroy_moscow(x),  axis=1)

/tmp/ipykernel_2022823/1759639046.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  apartment_floor = int(i[8])
/tmp/ipykernel_2022823/1759639046.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  d = i[7] if i[7] != float(int(i[7])) else int(i[7])
/tmp/ipykernel_2022823/1759639046.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]
/tmp/ipykernel_2022823/1759639046.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  apartment_floor = int(i[8])
/tmp/ipykernel_2022823/1759639046.py:46: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  d = i[7] if i[7] != float(int(i[7])) else int(i[7])
/tmp/ipykernel_2022823/1759639046.py:50: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]

In [81]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("секц")  ][88:90]

In [82]:
#all_room['project'].unique()

In [83]:
#all_room['building'].unique()

In [84]:
all_room.count()

id                        994316
title                     994316
price                     994316
price_sale                994316
avg_price_per_metr        993159
datetime_create           994316
brand                     994316
apartment_area            993159
apartment_floor           919316
apartment_floors_total    624159
apartment_room            919316
apartment_ppm             780898
ppm                       993159
project                   994316
building                  994316
apartment_number          994316
parser                    994316
dtype: int64

# добавляем apartment_number

In [85]:
def update_apartment_number_donstroy_moscow(i):
    if i['brand'] == 'donstroy.moscow':
        sep = f" | "
        title = i[1]
        tl = title.split(sep)
        if len(tl) > 7:
            apartment_number = tl[-1]
            if apartment_number not in ('\n296', 'Номер'):
                return apartment_number
        return '-1'
    return i['apartment_number']

all_room['apartment_number'] = all_room.apply(lambda x: update_apartment_number_donstroy_moscow(x),  axis=1)

/tmp/ipykernel_2022823/628470534.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]

In [86]:
#all_room['apartment_number'].unique()

# Для всех застройщиков

# привожу title к предыдущему формату

In [87]:
def update_title_donstroy_moscow(i):
    if i['brand'] == 'donstroy.moscow':
        title = i[1]
        #title = title.replace(' | ', ' ', 1)
        title = title.replace(' | ', ' ')
        #title = title.replace(' |', '', 1)
        return title
    return i['title']

all_room['title'] = all_room.apply(lambda x: update_title_donstroy_moscow(x),  axis=1)

/tmp/ipykernel_2022823/575378073.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  title = i[1]

In [88]:
#all_room.loc[(all_room['brand'].str.contains("donstroy.moscow"))][:1]

In [89]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("секц")  ][88:90]

In [90]:
#all_room = all_room.loc[(~all_room['brand'].str.contains("donstroy.moscow")) | (all_room['datetime_create'] !=  '2024-03-15')  |  ((all_room['datetime_create'] ==  '2024-03-15') & (~all_room['title'].str.contains(".+ \| .+ \| .+ \| .+ \| .+ \| .+ \| .+ \| \d+$")))]

In [91]:
#all_room.count()

In [92]:
#all_room.loc[(all_room['brand'].str.contains("donstroy.moscow")) &  ((all_room['datetime_create'] ==  '2024-03-01') & (all_room['title'].str.contains(".+ \| .+ \| .+ \| .+ \| .+ \| .+ \| .+ \| \d+$")))].count()

In [93]:
#all_room.count()

In [94]:
#all_room = all_room.loc[(all_room['datetime_create'] !=  '2024-03-15')  |  ((all_room['datetime_create'] ==  '2024-03-15') & (~all_room['title'].str.contains(".+ \| .+ \| .+ \| .+ \| .+ \| \d+$")))]

# общее для всех выборо рпо донгстрою

Нужно вырезать из графиков данные в момент перстчета с 240314 на 240315, так как 240315 появился новый ключ уникальности

# Избалвяемся от дублей

# Нашел абсолютные дубли на этаже, разница только в id https://level.ru/pav_city/flat/1room/7-181/ https://level.ru/pav_city/flat/1room/7-180/

In [95]:
# Добаавить id в ключ

# для дней когда не было булей по азпуску можно сравнивать уни кальыне собщим числом загуженных записей ( т е надо отедльно от емить дни когжа ыбли дубли)

# Изабвиться от дублей 240402 - донстрой, несокль о раз загржад  одно и тоже
возможно стоит просто удалить дубли?

In [96]:
all_room.count()

id                        994316
title                     994316
price                     994316
price_sale                994316
avg_price_per_metr        993159
datetime_create           994316
brand                     994316
apartment_area            993159
apartment_floor           919316
apartment_floors_total    624159
apartment_room            919316
apartment_ppm             780898
ppm                       993159
project                   994316
building                  994316
apartment_number          994316
parser                    994316
dtype: int64

In [97]:
#https://fr.mos.ru/pokupka-nedvizhimosti-dlya-vseh/ajax.php?type[]=R&status[]=FINISHED&status[]=PROCESSING&price_min=0&price_max=35000000&floor_min=-1&floor_max=54&open_sale=1&pagesize=100000

In [98]:
# сгалживание окном

def sleek_by_window(window, list_sel):
    if window > 1:
        s2 = []
        diapson = [-7, 7]
        for j in list_sel:
             if diapson[0] < j < diapson[1] or 1:
                 s2.append(j)
        ws = []
        ww = []

        #иницируе первым занчением чтобы графики ровнее были
        #print(ww)
        for i in range(window):
            ww.append(s2[i])
        #print(ww)
        
        for j in s2:
        #    print(ww)
            ww.append(j)
            if len(ww) > window:
                ee = ww.pop(0)
            ws.append(sum(ww)/window)
        #    print(ww)
        #    print('====', ws[-1])
        #print(ww)
        #print('---')
        
        list_sel = ws
    return list_sel

In [99]:
# Кличетсво проданных квартир за вчера. Берем квартиры за день Х берем квартиры за день Х + 1. 
# Смотрим сколько картир пересаекается в эти дни. И сумму пересечения вычиаетм из дня X. Получаем скольк квартир продано в день X и так далее

In [100]:
#(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) &
#
#'2024-02-09', '2024-02-10', '2024-02-11','2024-02-12','2024-02-13','2024-02-14','2024-02-15','2024-02-16','2024-02-17','2024-02-18','2024-02-19',
#                '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25'
#df_room

def sell_minus_old_again(window, sigma3, df_room):
    #sigma3 = 50
    day_x = []
    day_x_1 = []
    all = set()
    list_sel = []
    list_sel_lost = []
    list_sel_find = []
    room_lost = {}
    room_day_lost = {}
    room_day_lost_yesterday = set()
    days = sorted(list(df_room['datetime_create'].unique()))
    #df_room = df_room.dropna()
    #print(days)
    k = 0
    for day in days:
        k+=1
        day_x = day_x_1[:]
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1).dropna()
        day_x_1 = df_room.loc[df_room['datetime_create']==day ][['price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1).dropna()
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor',]].apply(tuple, axis=1)
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['price','apartment_area','apartment_floor',]].apply(tuple, axis=1)
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor',]].apply(tuple, axis=1)

        count_lost = len(set(day_x) - set(day_x_1))          
        if count_lost > sigma3:
            count_lost = sum(list_sel_lost)/len(list_sel_lost)
            
        count_find = len((set(day_x_1) - set(day_x)) & all)
        if count_find > sigma3:
            count_find = sum(list_sel_find)/len(list_sel_find)
        
        list_sel.append(count_lost - count_find)

        list_sel_lost.append(count_lost)
        list_sel_find.append(count_find)
        
        all = all | set(day_x_1)    
        
        for i in list(day_x_1):
            pass

        room_day_lost_yesterday = set(day_x) - set(day_x_1)
            
                

    list_sel = sleek_by_window(window, list_sel)
    list_sel_lost = sleek_by_window(window, list_sel_lost)
    list_sel_find = sleek_by_window(window, list_sel_find)
    
    return zip(days, list_sel, list_sel_lost, list_sel_find)

In [101]:
#import datetime
def create_date_list(start_date, end_date):
    date_list = []
    current_date = start_date
    while current_date <= end_date:
        date_list.append(current_date.strftime('%Y-%m-%d'))
        current_date += datetime.timedelta(days=1)
    return date_list
    
def lost_days_list(df_room):
    days = sorted(list(df_room['datetime_create'].unique()))
    # взять первый день данных и последний. Сгенерить в диазоне этих дней все даты, сделат из них множество, вычесть их этого моножество базовое. полдучим спик дат в котрых нет данныех.

    if not days:
        return []
    
    dates = create_date_list(datetime.datetime.strptime(days[0], '%Y-%m-%d'), datetime.datetime.strptime(days[-1], '%Y-%m-%d'))

    return sorted(list(dates))
    #print(dates)
    #print(sorted(list((set(dates) - set(days)))))
    #return sorted(list((set(dates) - set(days))))

#import datetime

def rcreate_date_list(start_date, end_date):
    date_list = []
    current_date = datetime.datetime.strptime(start_date, '%Y-%m-%d')
    while current_date <= end_date:
        date_list.append(current_date.strftime('%Y-%m-%d'))
        current_date += datetime.timedelta(days=1)
    return date_list

In [102]:
def DEPRICATED_days_without_problem_in_all_parsers(days, df_room):
    # пересечь ен полдучилось так как все парсры пислась в назнео время и енкотрые кже отключены
    days_uniq = set(days[:])
    parsers = sorted(list(df_room['parser'].unique()))
    for parser in parsers:
        print(parser)
        days_uniq_for_parser = set(df_room.loc[df_room['parser']==parser ]['datetime_create'].unique())
        days_uniq = days_uniq & days_uniq_for_parser
        
        print(sorted(list(days_uniq_for_parser)))
    return days_uniq

def days_without_problem_in_all_parsers(days, df_room):
    # вытащить все плохие дни и вычесть их из всех дней ( а  плозие ни нахрдятся в промежуьке)
    days_uniq = set(days[:])
    parsers = sorted(list(df_room['parser'].unique()))
    for parser in parsers:
        days_all_for_parser = set(lost_days_list(df_room.loc[df_room['parser']==parser]))
        days_uniq_for_parser = set(df_room.loc[df_room['parser']==parser ]['datetime_create'].unique())
        days_bad_for_parser = days_all_for_parser - days_uniq_for_parser
        days_uniq = days_uniq - days_bad_for_parser
    return days_uniq

In [103]:
# получить информацию по дням стартов пректов 
def day_start_project(all_room):
    days = sorted(lost_days_list(all_room))
    s_today = set()
    #s_yesterday = set()
    all = set()
    for day in days:
        #s_yesterday = s_today
        s_today = set(all_room.loc[ (all_room['datetime_create'] == day) ]['project'].unique())
        # y_t = s_yesterday - s_today
        # t_y = s_today -  s_yesterday
        # if (len(y_t) > 1 or  ('' not in y_t and len(y_t) == 1)) or (len(t_y) >1 or  ('' not in t_y and len(t_y) == 1) ):
        #     print(day)
        #     print(y_t)
        #     print(t_y)
        #     print('---')
        t_a = s_today - all
        if len(t_a) > 0:
            print(day)
            print(t_a)
            print('---')    
        all = all | s_today

In [104]:
# получить информацию по дням стартов пректов 
def day_finish_project(all_room):
    days = sorted(lost_days_list(all_room), reverse=True)
    s_today = set()
    s_f = {}
    all = set()
    for day in days:
        s_today = set(all_room.loc[ (all_room['datetime_create'] == day) ]['project'].unique())
        t_a = s_today - all
        if len(t_a) > 0:
            s_f[day] = t_a     
        all = all | s_today
    for k in sorted(s_f):
        print(k)
        print(s_f[k])
        print('---')

In [105]:
def delete_day_before_empty(days, days_unique, room_sell_list):
    # при расчет текущей даты в ппрощлое, нужно  для графика количесства продаж занулять день после пустого промежьукт (когда сервси не подучал данные)
    # нужно жто чтбы не было больших всперлесков продаж, однако подучается мы теряем на 1 день больше чем моглибы
    #print(len(days))
    #print(len(days_unique))
    #print(len(room_sell_list))
    
    room_sell_list_return = []
    flag_empty = 0
    for i in range(len(days)):
        #print(days[i])
        if days[i] in days_unique and flag_empty == 0:
            room_sell_list_return.append(room_sell_list[i])
            #print('-1')
        elif days[i] in days_unique and flag_empty == 1:            
            room_sell_list_return.append(room_sell_list[i])
            #print(room_sell_list[i])
            #print('-2')
            flag_empty = 0
        elif days[i] not in days_unique:
            room_sell_list_return[-1] = -5
            room_sell_list_return.append(0)
            #print(room_sell_list[i])
            flag_empty = 1
            #print('-3')
        #print(room_sell_list[i])
    return room_sell_list_return

In [106]:
def D_update_empty_day_set_average_value(days, days_unique, room_sell_list):
    room_sell_list_return = []
    flag_empty = 0
    count_empty_days = 0
    for i in range(len(days)):
        if days[i] in days_unique and flag_empty == 0:
            room_sell_list_return.append(room_sell_list[i])
        elif days[i] in days_unique and flag_empty == 1:            
            room_sell_list_return.append(room_sell_list[i])
            flag_empty = 0
            element_with_pik = -1*count_empty_days - 2
            window_for_average =  -1 * (element_with_pik + 1)
            average = room_sell_list_return[-1*count_empty_days - 2] / window_for_average        
            room_sell_list_return[element_with_pik:-1] = [average,] *  window_for_average
            count_empty_days = 0
        elif days[i] not in days_unique:
            count_empty_days += 1
            room_sell_list_return.append(room_sell_list[i])
            flag_empty = 1
    return room_sell_list_return

In [107]:
def update_empty_day_set_average_value(days, days_unique, room_sell_list):
    room_sell_list_return = []
    flag_empty = 0
    count_empty_days = 0
    for i in range(len(days)):
        room_sell_list_return.append(room_sell_list[i])
        if days[i] in days_unique and flag_empty == 1:            
            flag_empty = 0
            element_with_pik = -1*count_empty_days - 2
            window_for_average =  -1 * (element_with_pik + 1)
            average = room_sell_list_return[-1*count_empty_days - 2] / window_for_average        
            room_sell_list_return[element_with_pik:-1] = [average,] *  window_for_average
            count_empty_days = 0
        elif days[i] not in days_unique:
            count_empty_days += 1
            flag_empty = 1
    return room_sell_list_return

In [108]:
# идем в обратном порядке

def sell_minus_old_again_reverse(window, sigma3, df_room):
    # window - окно сгладивания - т е средня за столько дней
    # sigma3 - тосекаем если значнеи болььше ( хреновый показатель надо брать)
    # df_room - фремй с данными
    
    day_tomorrow = []
    day_today = []
    all = set()
    list_sel = []
    list_sel_lost = []
    list_sel_find = []
    room_lost = {}
    room_day_lost = {}
    room_day_lost_yesterday = set()
    room_sell_list = []
    room_all_list = []
    day_today_list = []
    set_day_today_list = []
    diff_day_today_and_set_day_today = []

    list_price_uniq = []
    list_avg_price_per_metr_uniq = []
    list_apartment_area_uniq = []
    list_apartment_room_uniq = []

    double = {}
    set_double = set()
    
    set_day_today = set()
    
    days = sorted(lost_days_list(df_room), reverse=True)
    #days_unique = sorted(list(df_room['datetime_create'].unique()), reverse=True)
    days_unique = sorted(list(days_without_problem_in_all_parsers(days, df_room)), reverse=True)
    
    #df_room = df_room.dropna()
    
    for day in days:
        day_tomorrow = day_today[:]
        #day_today = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1).dropna()
        #day_today = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor','project','building']].apply(tuple, axis=1).dropna()
        #day_today = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor','project','building']].apply(tuple, axis=1)
        day_today = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor','project','building','apartment_number']].apply(tuple, axis=1)
        
        # преобрахуя в  ноэество  убираются дубли в этот, т е когда импорт был зхапузен несколько раз
        set_day_today = set(day_today)

        # удали все none
        
        room_sell = set_day_today - all
        count_room_sell = len(room_sell)
        room_sell_list.append(count_room_sell)   
        
        all = all | set_day_today    
        
        count_find = len(set(day_tomorrow) - set_day_today)
        list_sel_find.append(count_find)
        
        count_lost = len((set_day_today - set(day_tomorrow)) & all)
        list_sel_lost.append(count_lost)
        
        room_all_list.append(len(all))

        day_today_list.append(len(day_today))
        set_day_today_list.append(len(set_day_today))
        diff_day_today_and_set_day_today.append(len(day_today) - len(set_day_today))

        # получение дубей
        double = {}
        for e in day_today:
            if not double.get(e):
                double[e] = 0
            double[e] += 1
        for k1,v1 in double.items():
            if v1 > 1:
                set_double.add(k1)

        # Попробовал посчитать среднюю цуенк квартиры, но ее нет в таблице ункиальных данных так как нет лючей.
        # list_price_uniq = [x for x. in set_day_today]
        # list_avg_price_per_metr_uniq = []
        # list_apartment_area_uniq = []
        # list_apartment_room_uniq = []
        

    # распечать тубли
    #print(set_double)

    days.reverse()
    room_sell_list.reverse()
    list_sel_lost.reverse() 
    list_sel_find.reverse() 
    room_all_list.reverse()
    day_today_list.reverse()
    set_day_today_list.reverse()
    diff_day_today_and_set_day_today.reverse()
    
    # борьба с ошибками

    # для графика продаж раситываеммого в обратном пордке замеяяем пустые дни когда парсер не работал, и на среднее по скачу доспуных квартир за эти дни.
    #  тереяем статитку по лотам которые пришли и ушли в воремя провала
    
    # удалем день перед пустотой так как у него получается много ищменений
    #  решили заменить удаленние на рассчет средного
    # room_sell_list = delete_day_before_empty(days, days_unique, room_sell_list)

    room_sell_list = update_empty_day_set_average_value(days, days_unique, room_sell_list)
    #  обнуляем послений елемент, так как инче будет большой скаче
    if room_sell_list:
        room_sell_list[-1] = 0

    
#    #HAK удаляем 240315 так как в эту дату добавили новый ключ уникальности номер комнаты к донстрою
#    room_sell_list = list(room_sell_list)
#    #print(days)
#    #room_sell_list.pop(days.index(datetime.datetime(2024, 3, 15, 0, 0)))
#    if '2024-03-15' in days:
#        room_sell_list.pop(days.index('2024-03-15'))

    
    room_sell_list = sleek_by_window(window, room_sell_list)
    list_sel_lost = sleek_by_window(window, list_sel_lost)
    list_sel_find = sleek_by_window(window, list_sel_find)
    room_all_list= sleek_by_window(window, room_all_list)
    day_today_list = sleek_by_window(window, day_today_list)
    set_day_today_list = sleek_by_window(window, set_day_today_list)
    diff_day_today_and_set_day_today = sleek_by_window(window, diff_day_today_and_set_day_today)

    # преборазуем строку в дату
    days = list(map(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'), days))

    # в посежний день теряем все объекты, и большой скачек на графиках. Так что пока последнее значение заменю на предпосдедене но подумал что лучше ее один график сделать.
    list_sel_lost_minus_one = list_sel_lost[:]
    list_sel_lost_minus_one[-1] = list_sel_lost_minus_one[-2]

    # добвлю расчет цены подням
# donstroy_moscow_all_room = all_room.loc[all_room['datetime_create'] != '2024-02-09']

# donstroy_moscow_room_group_by_date = donstroy_moscow_all_room.loc[
#     all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_area'] > 20 )  & 
#         (all_room['apartment_area'] < 150 ) & (all_room['apartment_floor'] > 1 ) & (all_room['apartment_floor'] < 50 ) 
#     ].groupby(['datetime_create'])

# donstroy_moscow_room_group_by_date_mean = donstroy_moscow_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
# donstroy_moscow_room_group_by_date_count = donstroy_moscow_room_group_by_date[["price"]].count()
# #plt.scatter(donstroy_moscow_room_group_by_date_count.index,donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
# plt.scatter(range(0, len(donstroy_moscow_room_group_by_date_count.index)),donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
# plt.scatter(donstroy_moscow_room_group_by_date_mean.index,donstroy_moscow_room_group_by_date_mean["price"], alpha=0.4)



    # все считается без учета верхенурованвых преборазований
    #TODO и это проблема!!!!
    day_all = df_room.groupby(['datetime_create']) 
    day_all_mean = day_all[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()

    list_price = []
    for day in days:
        for x in day_all_mean["price"]:
            list_price.append(x)

    list_avg_price_per_metr = []
    for day in days:
        for x in day_all_mean["avg_price_per_metr"]:
            list_avg_price_per_metr.append(x)

    list_apartment_area = []
    for day in days:
        for x in day_all_mean["apartment_area"]:
            list_apartment_area.append(x)
            
    list_apartment_room = []
    for day in days:
        for x in day_all_mean["apartment_room"]:
            list_apartment_room.append(x)


    return zip(days, room_sell_list, list_sel_lost, list_sel_find, room_all_list, day_today_list, set_day_today_list, 
               diff_day_today_and_set_day_today, list_price, list_avg_price_per_metr,list_apartment_area, list_apartment_room, list_sel_lost_minus_one)

In [109]:
#all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_area'] > 1 ) & (all_room['apartment_floor'] > 1 ) ][1:3][['apartment_floor','apartment_area', 'title']].apply(tuple, axis=1)

In [110]:
#all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_area'] > 1 ) & (all_room['apartment_floor'] > 1 ) ][1:3]

In [111]:
#all_room.loc[all_room['project'].str.contains("Мичуринский") & (all_room['datetime_create'] > '2023-08-08') & (all_room['datetime_create'] < '2023-08-19')].count()

In [112]:
#all_room.loc[all_room['project'].str.contains("Мичуринский") & (all_room['datetime_create'] > '2023-08-08') & (all_room['datetime_create'] < '2023-08-19')]

In [113]:
all_room.count()

id                        994316
title                     994316
price                     994316
price_sale                994316
avg_price_per_metr        993159
datetime_create           994316
brand                     994316
apartment_area            993159
apartment_floor           919316
apartment_floors_total    624159
apartment_room            919316
apartment_ppm             780898
ppm                       993159
project                   994316
building                  994316
apartment_number          994316
parser                    994316
dtype: int64

# Взять текущие квартиры с номерами и у одной из дулей данной квартиры прописать номер. тогда будет плавный переходж на графиках.

In [114]:
#len(all_room.index)

In [115]:
# def update_apartment_number_for_all(df_room):
#     # Взять все квартиры с номерами (уникальное множество)
#     # затем для каждого дня обновлять для одной квартиры номер
#     days = sorted(lost_days_list(df_room), reverse=True)
#     all_uniq_room_with_apartment_number = df_room.loc[(df_room['apartment_number']!='-1') & ((all_room['brand'].str.contains("level.ru")  ) | (all_room['brand'].str.contains("donstroy.moscow")) )][[
#         'apartment_area','apartment_floor','project','building','apartment_number']].apply(tuple, axis=1)
#     for day in days:
#         print(day)
#         df_room_day = df_room.loc[(df_room['apartment_number']=='-1') & (df_room['datetime_create']==day) & ((all_room['brand'].str.contains("level.ru")  ) | (all_room['brand'].str.contains("donstroy.moscow"))) ]
#         for room in all_uniq_room_with_apartment_number:
#             ind = df_room_day.loc[(df_room_day['apartment_area']==room[0])
#                 & (df_room_day['apartment_floor']==room[1]) & (df_room_day['project']==room[2]) & (df_room_day['building']==room[3]) ]
#             if len(ind.index) > 0:
#                 df_room.at[ind.index.tolist()[0], 'apartment_number'] = room[4]
# update_apartment_number_for_all(all_room)

In [ ]:
def update_apartment_number_for_all_donstroy_moscow(df_room):
    # Взять все квартиры с номерами (уникальное множество)
    # затем для каждого дня обновлять для одной квартиры номер
    days = sorted(lost_days_list(df_room), reverse=True)
    all_uniq_room_with_apartment_number = df_room.loc[(df_room['apartment_number']!='-1') & ((all_room['brand'].str.contains("donstroy.moscow")) )][[
        'apartment_area','apartment_floor','project','building','apartment_number']].apply(tuple, axis=1)
    for day in days[:200]:
        if day < '2024-02-07':
            continue
        print(day)
        df_room_day = df_room.loc[(df_room['apartment_number']=='-1') & (df_room['datetime_create']==day) & ((all_room['brand'].str.contains("donstroy.moscow"))) ]
        for room in all_uniq_room_with_apartment_number:
            ind = df_room_day.loc[(df_room_day['apartment_area']==room[0])
                & (df_room_day['apartment_floor']==room[1]) & (df_room_day['project']==room[2]) & (df_room_day['building']==room[3]) ]
            if len(ind.index) > 0:
                df_room.at[ind.index.tolist()[0], 'apartment_number'] = room[4]
update_apartment_number_for_all_donstroy_moscow(all_room)

2024-06-02

In [ ]:
all_room.count()

In [ ]:
def update_apartment_number_for_all_level_ru(df_room):
    # Взять все квартиры с номерами (уникальное множество)
    # затем для каждого дня обновлять для одной квартиры номер
    days = sorted(lost_days_list(df_room), reverse=True)
    all_uniq_room_with_apartment_number = df_room.loc[(df_room['apartment_number']!='-1') & ((all_room['brand'].str.contains("level.ru")  ) )][[
        'apartment_area','apartment_floor','project','building','apartment_number']].apply(tuple, axis=1)
    #for day in days[:20]:
    for day in days:
        print(day)
        df_room_day = df_room.loc[(df_room['apartment_number']=='-1') & (df_room['datetime_create']==day) & ((all_room['brand'].str.contains("level.ru")  ) ) ]
        for room in all_uniq_room_with_apartment_number:
            ind = df_room_day.loc[(df_room_day['apartment_area']==room[0])
                & (df_room_day['apartment_floor']==room[1]) & (df_room_day['project']==room[2]) & (df_room_day['building']==room[3]) ]
            if len(ind.index) > 0:
                df_room.at[ind.index.tolist()[0], 'apartment_number'] = room[4]
update_apartment_number_for_all_level_ru(all_room)

In [ ]:
# проверяб загрузку цены скижки для квартиры 110
all_room.loc[
    (all_room['brand'].str.contains("donstroy.moscow")) & 
    (all_room['title'].str.contains("Остров.4"))  &
    (all_room['title'].str.contains("7, 3 секц")) & 
    #(all_room['title'].str.contains("1, 1 секц")) & 
    #(all_room['apartment_floor'].isin(['7'])) & 
    #(all_room['apartment_area'] > 69.5) & (all_room['apartment_area'] < 70.6) 
    (all_room['apartment_number'].isin(['110']))  
    ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']][:10]

# Как удалить дубли?
Что такое дубль?  
    - стоки у которых совпадет 'день загрузки', 'apartment_area','apartment_floor','project','building','apartment_number' ( возможно цена)  
    - удалять нужно с меньшим id так как они были раньше.  
    - пока не удаляем а просто показываем дубли.

In [ ]:
all_room.count()

In [ ]:

id_for_delete = []

days = sorted(lost_days_list(all_room.loc[(all_room['brand'].str.contains("donstroy.moscow"))]   ), reverse=True)
for day in days:
    #day_today = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1).dropna()
    #day_today = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor','project','building']].apply(tuple, axis=1).dropna()
    #day_today = df_room.loc[df_room['datetime_create']==day ][['apartment_area','apartment_floor','project','building']].apply(tuple, axis=1)
    day_today = all_room.loc[(all_room['brand'].str.contains("donstroy.moscow")) & (all_room['datetime_create']==day) ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']].apply(tuple, axis=1)
    #day_today = all_room.loc[(all_room['brand'].str.contains("donstroy.moscow")) & (all_room['datetime_create']==day) ][['datetime_create','apartment_area','apartment_floor','project','building']].apply(tuple, axis=1)
    
    fffff = {}
    ddddd = {}
    for x in day_today:
        c = x[:-1]
        if not fffff.get(c):
            #print(x)
            fffff[c] = 0
        fffff[c] += 1

        if not ddddd.get(c):
            ddddd[c] = []
        ddddd[c].append(x[-1])

    z = 0
    
    for k, v in fffff.items():
        if v > 1:
            print(day, v, k)
            print(ddddd[k])
            for iii in sorted(ddddd[k])[:-1]:
                id_for_delete.append(iii)
            z += 1
    if z > 0:
        print(z)

#print(id_for_delete)

all_room = all_room.loc[~all_room['id'].isin(id_for_delete)]
#~something.isin(somewhere)
    #df = df.loc[df['B'] != 0]
    #print(df)

In [ ]:
all_room.count()

In [ ]:
day_start_project(all_room)

In [ ]:
day_finish_project(all_room)

In [ ]:
1+1

In [ ]:
# # получить историю по обектам (
# # хочу получить информацию по истории квартиры по ее парамтерам (застройщик, город, жк, квартал, корпус, секция, этаж, площадь) - получаю все это и еще цену
# all_room.loc[
#     (all_room['brand'].str.contains("donstroy.moscow")) 
#     & (all_room['title'].str.contains("Остров.6")) 
#     #(all_room['title'].str.contains("5, 1 секц")) 
#     & (all_room['title'].str.contains("1, 1 секц")) 
#     #(all_room['apartment_floor'].isin(['622'])) 
#     #(all_room['apartment_number'].isin(['622']))
#     & (all_room['apartment_area'].isin([69.6])) 
#     ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']]
#     #][['datetime_create','apartment_area','apartment_floor','apartment_number','price','id']]

In [ ]:
# получить историю по обектам (
# хочу получить информацию по истории квартиры по ее парамтерам (застройщик, город, жк, квартал, корпус, секция, этаж, площадь) - получаю все это и еще цену
all_room.loc[
    (all_room['brand'].str.contains("donstroy.moscow")) & 
    (all_room['title'].str.contains("Остров.6"))  &
    #(all_room['title'].str.contains("5, 1 секц")) & 
    (all_room['title'].str.contains("1, 1 секц")) & 
    #(all_room['apartment_floor'].isin(['622'])) & 
    (all_room['apartment_area'] > 69.5) & (all_room['apartment_area'] < 70.6) 
    #(all_room['apartment_number'].isin(['622']))  
    ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']][:10]

In [ ]:
# # получить историю по обектам (
# # хочу получить информацию по истории квартиры по ее парамтерам (застройщик, город, жк, квартал, корпус, секция, этаж, площадь) - получаю все это и еще цену
# all_room.loc[
#     (all_room['brand'].str.contains("donstroy.moscow")) 
#     & (all_room['title'].str.contains("Остров.5")) 
#     & (all_room['title'].str.contains("5, 1 секц")) 
#     #(all_room['apartment_floor'].isin(['622'])) & 
#     & (all_room['apartment_area'].isin([75])) 
#     & (all_room['apartment_number'].isin(['688']))  
#     ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']]

In [ ]:
# получить историю по обектам (
# хочу получить информацию по истории квартиры по ее парамтерам (застройщик, город, жк, квартал, корпус, секция, этаж, площадь) - получаю все это и еще цену
all_room.loc[
    (all_room['brand'].str.contains("donstroy.moscow")) 
    & (all_room['title'].str.contains("Остров.5"))
    & (all_room['title'].str.contains("5, 1 секц")) 
    #(all_room['apartment_floor'].isin(['622'])) & 
    & (all_room['apartment_area'] > 70) & (all_room['apartment_area'] < 80)
    #(all_room['apartment_number'].isin(['622']))  
    ][['datetime_create','apartment_area','apartment_floor','project','building','apartment_number','price','id']][:10]

In [ ]:
# dmr = []
# lable = ['s','s o','s o 6 ','s o 5 ','s o 4 ','s o 3 ','s o 2 ','s o 1 ', 's o 8 ','s o 6 1']
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.4")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.3")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.2")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.1")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.8")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & all_room['title'].str.contains("1, 1 секц")  ])))

In [ ]:
dmr = []
lable = [
    #'all',
    #'s','s o','s o 6 ','s o 5 ','s o 4 ',
    's o 6 1', 's o 6 1 e15', 's o 6 1 eall', 's o 5 1 ',  's o 5 1 eall']
##dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room)))
#dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ])))
#dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")  ])))
#dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  ])))
#dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  ])))
#dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.4")  ])))
dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & (all_room['title'].str.contains("1, 1 секц"))  ])))
dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & (all_room['title'].str.contains("1, 1 секц")) & (all_room['apartment_number']=='85')  ] )))
dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & (all_room['title'].str.contains("1, 1 секц")) & (all_room['apartment_number'].isin(['4', '11', '19', '25', '31', '37', '43', '49', '55', '61', '67', '73', '79', '85', '91', '97', '103']))  ]   )))
#all_room[all_room['apartment_number'].isin(['4', '11', '19', '26', '31', '37', '43', '49', '55', '61', '67', '73', '79', '85', '91', '97', '103'])]
dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  & (all_room['title'].str.contains("5, 1 секц"))  ])))
dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  & (all_room['title'].str.contains("5, 1 секц")) & (all_room['apartment_number'].isin(['622', '630', '638', '645', '652', '659', '666', '674', '681', '688', '695', '702', '709', '716', '723', '730', '737', '744']))  ]   )))

#622 630	638	645	652	659	666	674	681	688	695	702	709	716	723	730	737	744
#4	11	19	26	31	37	43	49	55	61	67	73	79	85	91	97	103

In [ ]:
dmr_7 = []
lable_7 = ['s 7','s o 7','s o 6 7','s o 5 7','s o 6 1 7']
dmr_7.append(list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ])))
dmr_7.append(list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")  ])))
dmr_7.append(list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  ])))
dmr_7.append(list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  ])))
dmr_7.append(list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & all_room['title'].str.contains("1, 1 секц")  ])))

In [ ]:
# plt.figure(figsize=(20, 3))
# dmr = []
# lable = ['s','s o','s o 6 ','s o 5 ','s o 6 1']
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & all_room['title'].str.contains("1, 1 секц")  ])))
# for i in range(len(dmr)):
#     d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1 = zip(*dmr[i])
#     plt.plot(d1, s1, alpha=0.4,  label = lable[i])
# plt.xlabel("дата")
# plt.ylabel("продано штук")
# plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, s1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("продано штук")
plt.legend()

In [ ]:
for i in range(len(dmr)):
    plt.figure(figsize=(20, 3))
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, dtl1, alpha=0.4,  label = lable[i])
    plt.ylabel(lable[i] + " кол. предложений")
    plt.xlabel("дата")
    plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, p1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("стоимость")
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, pp1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("стоимость метра")
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, pa1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("средняя плошадь")
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, pr1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("количество комнат")
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))

dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room))
d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
plt.plot(d1, s1, alpha=0.4,  label = 's')

plt.xlabel("дата")
plt.ylabel("Проданно")
plt.legend()

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")][:3]

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr_7)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_7[i])
    plt.plot(d1, s1, alpha=0.4,  label = lable_7[i])
plt.xlabel("дата")
plt.ylabel("стоимость")
plt.legend()

In [ ]:
# вычисляем количетсво не уникальных обектов

#dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room ))
dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[(~all_room['datetime_create'].isin(bad_date))]))
plt.figure(figsize=(20, 3))
#for brand in all_room['brand'].unique():
if 1:
    #dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains(brand)  &  (~all_room['datetime_create'].isin(bad_date))]))
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
    #diff1 = list(filter(lambda i: i < 2500, diff1))
    #plt.plot(range(0, len(dtl1)), dtl1, alpha=0.4,  label = 'dtl1 1')
    #plt.plot(range(0, len(dtlu1)), dtlu1, alpha=0.4,  label = 'dtlu1 1')
    plt.plot(d1, diff1, alpha=0.4,  label = f'diff1 1')# {brand}')
    #print(brand)
    #print(diff1)
plt.xlabel("дата")
plt.ylabel("Проданно")
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
dmr_donstroy_jk = []
lable_donstroy_jk = []
#for project in sorted(list(all_room.loc[all_room['brand'].str.contains("donstroy.moscow")]['project'].unique())):

micro_rayon = set()
#for p in list(all_room['project'].unique()):
for p in list(all_room.loc[all_room['brand'].str.contains("donstroy.moscow")]['project'].unique()):
    micro_rayon.add(p.split(' ')[0])


for project in sorted(list(micro_rayon)):
    print(project)
    # if project in ('Символ Свобода'):
    #     continue
    if project.startswith('Расплетина'):
         continue
    if project.startswith('Река'):
         continue
    if project.startswith('ДОМ'):
         continue
    if project.startswith('Дом'):
         continue
    if project.startswith('Гранд'):
         continue
    # if not project.startswith('Остров'):
    #     continue
    
    dmr_donstroy_jk_x = list(sell_minus_old_again_reverse(1, 100, all_room.loc[ (all_room['project'].str.contains(project))  ]))
    if not dmr_donstroy_jk_x:
        continue    
    dmr_donstroy_jk.append(dmr_donstroy_jk_x)
    lable_donstroy_jk.append(project)

#room_sell_list, list_sel_lost, list_sel_find, room_all_list, day_today_list, set_day_today_list, 
#            diff_day_today_and_set_day_today, list_price, list_avg_price_per_metr,list_apartment_area, list_apartment_room

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, s1, alpha=0.4,  label = lable_donstroy_jk[i] + " продано")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, l1, alpha=0.4,  label = lable_donstroy_jk[i] + " ушло")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, lo1, alpha=0.4,  label = lable_donstroy_jk[i] + " ушло без послденого дня")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, f1, alpha=0.4,  label = lable_donstroy_jk[i] + " пришло")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, r1, alpha=0.4,  label = lable_donstroy_jk[i] + " всего штук")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, dtl1, alpha=0.4,  label = lable_donstroy_jk[i] + " сегодня штук")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, dtlu1, alpha=0.4,  label = lable_donstroy_jk[i] + " сегодня уникальных штук")
plt.legend()


plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, diff1, alpha=0.4,  label = lable_donstroy_jk[i] + " разница между всего и уникальными")
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, p1, alpha=0.4,  label = lable_donstroy_jk[i] + ' цена')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pp1, alpha=0.4,  label = lable_donstroy_jk[i] + ' цена метра')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pa1, alpha=0.4,  label = lable_donstroy_jk[i] + ' площадь')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pr1, alpha=0.4,  label = lable_donstroy_jk[i] + 'комнат')
plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
dmr_donstroy_jk = []
lable_donstroy_jk = []
#for project in sorted(list(all_room.loc[all_room['brand'].str.contains("donstroy.moscow")]['project'].unique())):
for project in sorted(list(all_room['project'].unique())):
    print(project)
    if project in ('Символ Свобода'):
        continue
    if project.startswith('ДОМ '):
        continue
    if project.startswith('Дом '):
        continue
    if project.startswith('Гранд'):
        continue
    if not project.startswith('Остров'):
        continue
    
    #dmr_donstroy_jk_x = list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['project'] == project)  ]))
    dmr_donstroy_jk_x = list(sell_minus_old_again_reverse(7, 100, all_room.loc[ (all_room['project'] == project)  ]))
    if not dmr_donstroy_jk_x:
        continue    
    dmr_donstroy_jk.append(dmr_donstroy_jk_x)
    lable_donstroy_jk.append(project)
#     days, room_sell_list, list_sel_lost, list_sel_find, room_all_list, day_today_list, set_day_today_list, diff_day_today_and_set_day_today, p1, pp1, pa1, pr1 = zip(*dmr_donstroy_jk)
#     plt.plot(days, diff_day_today_and_set_day_today, alpha=0.4,  label = f'diff_day_today_and_set_day_today {project}')
# plt.xlabel("дата")
# plt.ylabel("Проданно")
# plt.legend()

In [ ]:
plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, s1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, l1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, lo1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, f1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, r1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, dtl1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, dtlu1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()


plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, diff1, alpha=0.4,  label = lable_donstroy_jk[i])
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, p1, alpha=0.4,  label = lable_donstroy_jk[i] + 'цена')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pp1, alpha=0.4,  label = lable_donstroy_jk[i] + 'цена метра')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pa1, alpha=0.4,  label = lable_donstroy_jk[i] + 'площадь')
plt.legend()

plt.figure(figsize=(20, 3))
for i in range(len(dmr_donstroy_jk)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_donstroy_jk[i])
    plt.plot(d1, pr1, alpha=0.4,  label = lable_donstroy_jk[i] + 'комнат')
plt.legend()

In [ ]:
# вычисляем количетсво не уникальных обектов для каждого поставзика

#dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room ))
#dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[(~all_room['datetime_create'].isin(bad_date))]))

for brand in all_room['brand'].unique():
    plt.figure(figsize=(20, 2))
    dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains(brand)  &  (~all_room['datetime_create'].isin(bad_date))]))
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
    #diff1 = list(filter(lambda i: i < 2500, diff1))
    #plt.plot(range(0, len(dtl1)), dtl1, alpha=0.4,  label = 'dtl1 1')
    #plt.plot(range(0, len(dtlu1)), dtlu1, alpha=0.4,  label = 'dtlu1 1')
    plt.plot(d1, dtl1, alpha=0.4,  label = f'dtl1 1 {brand}')
    plt.plot(d1, dtlu1, alpha=0.4,  label = f'dtlu1 1 {brand}')
    #print(brand)
    #print(diff1)
    #plt.xlabel("дата")
    #plt.ylabel("Проданно")
    plt.legend()

In [ ]:
# вычисляем количетсво не уникальных обектов для каждого поставзика

#dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room ))
#dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[(~all_room['datetime_create'].isin(bad_date))]))

for brand in all_room['brand'].unique():
    plt.figure(figsize=(20, 2))
    dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains(brand)  &  (~all_room['datetime_create'].isin(bad_date))]))
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
    #diff1 = list(filter(lambda i: i < 2500, diff1))
    #plt.plot(range(0, len(dtl1)), dtl1, alpha=0.4,  label = 'dtl1 1')
    #plt.plot(range(0, len(dtlu1)), dtlu1, alpha=0.4,  label = 'dtlu1 1')
    plt.plot(d1, diff1, alpha=0.4,  label = f'diff1 1 {brand}')
    #print(brand)
    #print(diff1)
    #plt.xlabel("дата")
    #plt.ylabel("Проданно")
    plt.legend()

In [ ]:
# нужно решитьь  проблемы с пиками

dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("level.ru")  ]))

d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, label = 's 1')
plt.plot(d1, diff1, alpha=0.4,  label = f'diff1 1')

plt.xlabel("дата")
plt.ylabel("Проданно")
plt.legend()

In [ ]:
# dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
# dd = dd.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.4")].groupby(['datetime_create'])
# dd = dd[["price"]].count()

# plt.figure(figsize=(4,2))
# plt.scatter(dd.index,dd["price"], alpha=0.4)
# plt.xlabel("дата")
# plt.ylabel("количество квартир")



plt.figure(figsize=(20, 3))

for project in sorted(list(all_room.loc[all_room['brand'].str.contains("donstroy.moscow")]['project'].unique())):
    print(project)
    
    if project in ('Символ Свобода'):
        continue
    if not project.startswith('Остров'):
        continue
    
    # print('---')
    #dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['project'] == project  ]))
    dmr_1 = list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['project'] == project)  ]))
    #dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['project'] == 'Остров Остров.6')  ]))
    #dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['project'].str.contains('Остров Остров.6'))  ]))
    #dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ]))
    if not dmr_1:
        #print('+++')
        continue    
    days, room_sell_list, list_sel_lost, list_sel_find, room_all_list, day_today_list, set_day_today_list, diff_day_today_and_set_day_today, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
    #d1,   s1,             l1,           f1,             r1,            dtl1,            dtlu1,            diff1                            = zip(*dmr_1)
    
    # if project == 'Остров Остров.6':
    #     print(diff_day_today_and_set_day_today)
    #plt.plot(range(0, len(room_sell_list)), room_sell_list, alpha=0.4, label = f'room_sell_list {project}')
    #plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green',  label = 'l')
    #plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue',  label = 'f')
    #plt.plot(range(0, len(room_all_list)), room_all_list, alpha=0.4, label = f'room_all_list {project}')
    #plt.plot(range(0, len(day_today_list)), day_today_list, alpha=0.4,  label = f'day_today_list {project}')
    #plt.plot(range(0, len(set_day_today_list)), set_day_today_list, alpha=0.4,  label = f'set_day_today_list {project}')
    plt.plot(days, diff_day_today_and_set_day_today, alpha=0.4,  label = f'diff_day_today_and_set_day_today {project}')
    
    
    # dmr_1 = list(sell_minus_old_again_reverse(7, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")  ]))
    # d1, s1, l1, f1, r1, dtl1, dtlu1, diff1 = zip(*dmr_1)
    # plt.plot(range(0, len(s1)), s1, alpha=0.4, label = 's 7')
    # plt.plot(range(0, len(diff1)), diff1, alpha=0.4,  label = 'diff1 7')

plt.xlabel("дата")
plt.ylabel("Проданно")
plt.legend()

In [ ]:
#dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_area'] > 1 ) & (all_room['apartment_floor'] > 1 ) ]))

d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
#plt.plot(d1, s1, alpha=0.4, color='red',  label = 's')
plt.plot(d1, l1, alpha=0.4, color='green',  label = 'l')
plt.plot(d1, f1, alpha=0.4, color='blue',  label = 'f')
plt.plot(d1, r1, alpha=0.4, label = 'r')
plt.plot(d1, dtl1, alpha=0.4,  label = 'dtl')
plt.plot(d1, dtlu1, alpha=0.4,  label = 'dtlu')
plt.plot(d1, diff1, alpha=0.4,  label = 'diff')
#plt.xlabel("дата")
plt.ylabel("Проданно")
plt.legend()

In [ ]:
dmr_1 = list(sell_minus_old_again_reverse(7, 500, all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
#dmr_1 = list(sell_minus_old_again_reverse(7, 500, all_room.loc[all_room['brand'].str.contains("level") &   (all_room['apartment_floor'] > 1 ) ]))


d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
#plt.plot(range(0, len(r1)), r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Проданно")



dmr_1 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
#dmr_1 = list(sell_minus_old_again_reverse(7, 500, all_room.loc[all_room['brand'].str.contains("level") &   (all_room['apartment_floor'] > 1 ) ]))


d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
#plt.plot(range(0, len(r1)), r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Проданно")

plt.figure(figsize=(20, 3))
#plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.plot(d1, r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Нисходящий итого уникальных лотов")


dmr_1 = list(sell_minus_old_again_reverse(7, 5000, all_room.loc[(all_room['apartment_area'] > 1) & (all_room['apartment_floor'] >= 1 )  ]))

d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
#plt.plot(range(0, len(r1)), r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Проданно")


dmr_1 = list(sell_minus_old_again_reverse(1, 5000, all_room.loc[(all_room['apartment_area'] > 1) & (all_room['apartment_floor'] >= 1 )  ]))

d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
#plt.plot(range(0, len(r1)), r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Проданно")

plt.figure(figsize=(20, 3))
#plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.plot(d1, r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Нисходящий итого уникальных лотов")

In [ ]:


dmr_1 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09') &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
dmr_2 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09')  & (all_room['title'].str.contains("Остров"))  &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
dmr_3 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09')  & (all_room['title'].str.contains("Остров.6"))  &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
dmr_4 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09')  & (all_room['title'].str.contains("Остров.5"))  &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))
dmr_5 = list(sell_minus_old_again_reverse(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (all_room['datetime_create'] != '2024-02-09')  & (all_room['title'].str.contains("Остров.4"))  &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))


d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
d2, s2, l2, f2, r2, dtl2, dtlu2, diff2, p1, pp1, pa1, pr1, lo1 = zip(*dmr_2)
d3, s3, l3, f3, r3, dtl3, dtlu3, diff3, p1, pp1, pa1, pr1, lo1 = zip(*dmr_3)
d4, s4, l4, f4, r4, dtl4, dtlu4, diff4, p1, pp1, pa1, pr1, lo1 = zip(*dmr_4)
d5, s5, l5, f5, r5, dtl5, dtlu5, diff5, p1, pp1, pa1, pr1, lo1 = zip(*dmr_5)

plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
plt.plot(d2, s2, alpha=0.4, color='blue')
plt.plot(d3, s3, alpha=0.4, color='green')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
#plt.plot(range(0, len(r1)), r1, alpha=0.4)#, color='pink')
plt.xlabel("дата")
plt.ylabel("Проданно")

plt.figure(figsize=(20, 3))
#plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
#plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
#plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.plot(d1, list(map(lambda x:x*0.84, r1)), alpha=0.4, color='red',  label = 'r1')
#plt.plot(range(0, len(r2)), list(map(lambda x:x*2.15, r2)), alpha=0.4, color='blue',  label = 'r2')
#plt.plot(range(0, len(r3)), list(map(lambda x:x*6.85, r3)), alpha=0.4, color='green',  label = 'r3')
plt.plot(d2, list(map(lambda x:x*2.055, r2)), alpha=0.4, color='blue',  label = 'r2')
plt.plot(d3, list(map(lambda x:x*6.95, r3)), alpha=0.4, color='green',  label = 'r3')
plt.plot(d4, list(map(lambda x:x*8, r4)), alpha=0.4, color='orange',  label = 'r4')
plt.plot(d5, list(map(lambda x:x*5.5, r5)), alpha=0.4,  label = 'r5')
plt.xlabel("дата")
plt.ylabel("Нисходящий итого уникальных лотов")
plt.legend()

In [ ]:
# посмотреть студию - все так как на сате
#all_room.loc[  (all_room['price_sale'] == 9315432 ) ]

In [ ]:
#all_room.loc[  (all_room['title'] == 'Южнопортовая 3 21 23.4 Г. Москва, ул. Южнопортовая, вл.28-28а 55.705727,37.696445')]

In [ ]:
# 34976139
#all_room.loc[  (all_room['price_sale'] == 34976139  )]

In [ ]:
#all_room.loc[  (all_room['title'] == 'Мичуринский, этапы 1 и 2 2 31 94.1 ул. Озёрная, вл. 7 55.687726,37.471704')]

In [ ]:
#dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("level")   &  (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))

d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(d1, s1, alpha=0.4, color='red')
plt.plot(d1, l1, alpha=0.4, color='green')
plt.plot(d1, f1, alpha=0.4, color='blue')
plt.xlabel("дата")
plt.ylabel("Проданно")

In [ ]:
donstroy_moscow_all_room = all_room.loc[all_room['datetime_create'] != '2024-02-09']

donstroy_moscow_room_group_by_date = donstroy_moscow_all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_area'] > 20 )  & (all_room['apartment_area'] < 150 ) & (all_room['apartment_floor'] > 1 ) & (all_room['apartment_floor'] < 50 ) ].groupby(['datetime_create'])

donstroy_moscow_room_group_by_date_mean = donstroy_moscow_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
donstroy_moscow_room_group_by_date_count = donstroy_moscow_room_group_by_date[["price"]].count()

plt.figure(figsize=(20, 3))
#plt.scatter(donstroy_moscow_room_group_by_date_count.index,donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
plt.scatter(range(0, len(donstroy_moscow_room_group_by_date_count.index)),donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")

In [ ]:
#dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']

dmr_1 = list(sell_minus_old_again(7, 100, all_room.loc[ (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))


d1, s1, l1, f1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.xlabel("дата")
plt.ylabel("Проданно")

In [ ]:
#dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']

dmr_1 = list(sell_minus_old_again(7, 50, all_room.loc[ (~all_room['datetime_create'].isin(bad_date))  & (all_room['apartment_floor'] > 1 ) ]))


d1, s1, l1, f1  = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.xlabel("дата")
plt.ylabel("Проданно")

In [ ]:
#dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
dmr_1 = list(sell_minus_old_again(7, 100, all_room.loc[(~all_room['datetime_create'].isin(bad_date))  ]))

d1, s1, l1, f1 = zip(*dmr_1)
#s1 = list(filter(lambda i: i < 50, s1))
plt.figure(figsize=(20, 3))
plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red')
plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green')
plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue')
plt.xlabel("дата")
plt.ylabel("Проданно")

In [ ]:
donstroy_moscow_all_room = all_room.loc[all_room['datetime_create'] != '2024-02-09']

donstroy_moscow_room_group_by_date = donstroy_moscow_all_room.loc[(~all_room['datetime_create'].isin(bad_date))  ].groupby(['datetime_create'])

donstroy_moscow_room_group_by_date_mean = donstroy_moscow_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
donstroy_moscow_room_group_by_date_count = donstroy_moscow_room_group_by_date[["price"]].count()

plt.figure(figsize=(20, 3))
#plt.scatter(donstroy_moscow_room_group_by_date_count.index,donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
plt.plot(range(0, len(donstroy_moscow_room_group_by_date_count.index)),donstroy_moscow_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")

# DONSTROY.MOSCOW

In [ ]:
all_room.loc[all_room['brand']. isin(['donstroy.moscow'])][1:2]

In [ ]:
all_room.loc[all_room['brand'].str.contains("donstroy.moscow")].count()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow")].describe()

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.1")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.2")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.3")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.4")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.7")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.8")].describe()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.9")].describe()#[1:2]

In [ ]:
#all_room[1:3]

In [ ]:
donstroy_moscow_all_room = all_room.loc[all_room['datetime_create'] != '2024-02-09']

In [ ]:
#donstroy_moscow_all_room.loc[all_room['brand'].str.contains("donstroy.moscow")  & all_room['title'].str.contains("Остров.6")][:2]

In [ ]:
donstroy_moscow_room_group_by_date = donstroy_moscow_all_room.loc[all_room['brand'].str.contains("donstroy.moscow")].groupby(['datetime_create'])

In [ ]:
donstroy_moscow_room_group_by_date_mean = donstroy_moscow_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
donstroy_moscow_room_group_by_date_count = donstroy_moscow_room_group_by_date[["price"]].count()

In [ ]:
plt.figure(figsize=(20, 3))
dmr = []
lable = ['s','s o','s o 6 ','s o 5 ','s o 6 1']
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow")   ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.5")  ])))
# dmr.append(list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & all_room['title'].str.contains("Остров.6")  & all_room['title'].str.contains("1, 1 секц")  ])))
dmr.append(list(sell_minus_old_again_reverse(1, 100, donstroy_moscow_all_room.loc[all_room['brand'].str.contains("donstroy.moscow")])))
for i in range(len(dmr)):
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr[i])
    plt.plot(d1, dtl1, alpha=0.4,  label = lable[i])
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")
plt.legend()

In [ ]:
# примерно 50 квартир в неделю днострой продает всего
# примерно 13 квартир в неделю днострой продает на Острове
# за первую половину 2023 года 500 в вторую 1100  сумано 1600 за год это квартиир на острове они продали, т,
kd = 50 / 7
print(int(kd), int(kd*7), int(kd*30), int(kd*90), int(kd*180),  int(kd*360))
kd = 13 / 7
print(int(kd), int(kd*7), int(kd*30), int(kd*90), int(kd*180),  int(kd*360))

In [ ]:
dsm = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) ]

In [ ]:
#list(sell_minus_old_again(1, dsm))

In [ ]:
#list(sell_minus_old_again(1, dsm))

In [ ]:
day_x = []
day_x_1 = []
all = set()
list_sel = []
count_sel = 0

tt1 = list(sell_minus_old_again(1, 500, donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow") ) ]))
tt2, tt3, l1, f1 = zip(*tt1)

for day in tt2:   
#for day in ('2024-02-09', '2024-02-10', '2024-02-11','2024-02-12','2024-02-13','2024-02-14','2024-02-15','2024-02-16','2024-02-17','2024-02-18','2024-02-19',
#            '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25'):

    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ][['price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    #print(cross)
    count_sel = count_sel + len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all)
    print(day,
          1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
        ', len x =', len(day_x), 
        ', len s x =', len(set(day_x)), 
        ', len x_1 =', len(day_x_1), 
        ', len s x_1 =', len(set(day_x_1)), 
        ', len c =', len(cross), 
        ', x - c =', len(day_x) - len(cross),
        ', x - x_1 =', len(day_x) - len(day_x_1),
        ', s x - x_1 =', len(set(day_x) - set(day_x_1)),
        ', s x_1 - x =', len(set(day_x_1) - set(day_x)),
        ', today not ystoday and was early =', len((set(day_x_1) - set(day_x)) & all),
        ', count_sel =', count_sel, 
         )

    list_sel.append(len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all))

    #print(set(day_x_1))
    #print( set(day_x_1) ^ set(day_x) )
    #print('----')
    #print()
    #print( set(day_x) - set(day_x_1) )
    #print()
    #print( set(day_x_1) - set(day_x) )
    #print((set(day_x_1) - set(day_x)) & all)
    all = all | set(day_x_1)
    print('----')

plt.figure(figsize=(4,2))
plt.scatter(range(0, len(list_sel)), list_sel, alpha=0.4)
plt.xlabel("номер дня")
plt.ylabel("количество проданных квартир")

In [ ]:
day_x = []
day_x_1 = []
all = set()
count_sel = 0
list_sel = []
list_date = (
    #'2024-02-09',
    '2024-02-10', 
    '2024-02-11',
    '2024-02-12','2024-02-13','2024-02-14','2024-02-15',
    '2024-02-16',
    '2024-02-17',
    '2024-02-18','2024-02-19','2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25'
    )
tt1 = list(sell_minus_old_again(1, 500, donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров"))  ]))
list_date, tt3, l1, f1 = zip(*tt1)

    

for day in list_date:
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    if day == '2024-02-10':
        continue
    #print(cross)

    count_sel = count_sel + len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all)
    print(day,
          1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
        ', len x =', len(day_x), 
        ', len s x =', len(set(day_x)), 
        ', len x_1 =', len(day_x_1), 
        ', len s x_1 =', len(set(day_x_1)), 
        ', len c =', len(cross), 
        ', x - c =', len(day_x) - len(cross),
        ', x - x_1 =', len(day_x) - len(day_x_1),
        ', s x - x_1 =', len(set(day_x) - set(day_x_1)),
        ', s x_1 - x =', len(set(day_x_1) - set(day_x)),
        ', today not ystoday and was early =', len((set(day_x_1) - set(day_x)) & all),
        ', count_sel =', count_sel, 
         )

    #list_sel.append(count_sel)
    list_sel.append(len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all))
    
    #print(set(day_x_1))
    #print( set(day_x_1) ^ set(day_x) )
    #print('----')
    #print()
    #print( set(day_x) - set(day_x_1) )
    #print()
    #print( set(day_x_1) - set(day_x) )
    print((set(day_x_1) - set(day_x)) & all)
    all = all | set(day_x_1)
    print('----')

print(int(count_sel/len(list_sel)*10)/10)

plt.figure(figsize=(4,2))
#plt.scatter(range(0, len(list_sel)), list_sel, alpha=0.4)
plt.scatter(list_date[1:], list_sel, alpha=0.4)
plt.xlabel("номер дня")
plt.ylabel("количество пропавших квартир со вчера минус квартиры появившиеся сегодня но были до этого - Это не количество прданных квартир за день")

In [ ]:
day_x = []
day_x_1 = []

tt1 = list(sell_minus_old_again(1, 500, donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6"))  ]))
list_date, tt3, l1, f1 = zip(*tt1)

    

for day in list_date:
    
#for day in (
    #'2024-02-09',
 #   '2024-02-10', 
#    '2024-02-11',
#    '2024-02-12','2024-02-13','2024-02-14','2024-02-15',
#    '2024-02-16',
#    '2024-02-17',
#    '2024-02-18','2024-02-19','2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25'
#    ):
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    if day == '2024-02-10':
        continue
    #print(cross)
    print(day,
        1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
        len(day_x), 
        len(day_x_1), 
        len(cross), 
        len(day_x) - len(cross),
        len(day_x) - len(day_x_1),
        len(set(day_x) - set(day_x_1)),
         )
    
    #print(set(day_x_1))
    print( set(day_x_1) ^ set(day_x) )
    print()
    print( set(day_x) - set(day_x_1) )
    print('----')

In [ ]:
day_x = []
day_x_1 = []

tt1 = list(sell_minus_old_again(1, 500, donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6"))  ]))
list_date, tt3, l1, f1 = zip(*tt1)

    

for day in list_date:

#for day in ('2024-02-10', '2024-02-11',
#    '2024-02-12','2024-02-13','2024-02-14','2024-02-15','2024-02-16','2024-02-17','2024-02-18','2024-02-19','2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24'
#    , '2024-02-25'):
    print()
    day_x = day_x_1[:]
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    if day == '2024-02-10':
        continue
    print(day,
        1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
#        ', len x =', len(day_x), 
#        ', len set x =', len(set(day_x)), 
#        ', len x_1 =', len(day_x_1), 
#        ', len set x_1 =', len(set(day_x_1)), 
#        ', len c =', len(cross), 
#        ', x - c =', len(day_x) - len(cross),
#        ', x - x_1 =', len(day_x) - len(day_x_1),
        ', set x - x_1 =', len(set(day_x) - set(day_x_1)),
#        ', set x_1 - x =', len(set(day_x_1) - set(day_x)),
         )
    
    #print(set(day_x_1))
#    print( set(day_x_1) ^ set(day_x) )
    #print('----')
#    print()
#    print( set(day_x) - set(day_x_1) )
#    print()
#    print( set(day_x_1) - set(day_x) )
    print('----')

# вывести квартиры котрые не было вчера но были когда то раньше и есть сегодня

In [ ]:
day_x = []
day_x_1 = []
all = set()

tt1 = list(sell_minus_old_again(1, 500, donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6"))  ]))
list_date, tt3, l1, f1 = zip(*tt1)


print(list_date)

#for day in list_date:
    
for day in ('2024-02-10', '2024-02-11',
    '2024-02-12','2024-02-13','2024-02-14','2024-02-15','2024-02-16','2024-02-17','2024-02-18','2024-02-19','2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23',
    '2024-02-24'
    , '2024-02-25'):
    print()
    day_x = day_x_1[:]
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    
    cross = list(set(day_x) & set(day_x_1))
    if day == '2024-02-10':
        continue
    print(day,
        1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
#        ', len x =', len(day_x), 
#        ', len set x =', len(set(day_x)), 
#        ', len x_1 =', len(day_x_1), 
#        ', len set x_1 =', len(set(day_x_1)), 
#        ', len c =', len(cross), 
#        ', x - c =', len(day_x) - len(cross),
#        ', x - x_1 =', len(day_x) - len(day_x_1),
#        ', set x - x_1 =', len(set(day_x) - set(day_x_1)),
        ', set x_1 - x =', len(set(day_x_1) - set(day_x)),
        ', today not ystoday and was early =', len((set(day_x_1) - set(day_x)) & all),
         )
    
    #print(set(day_x_1))
#    print( set(day_x_1) ^ set(day_x) )
    #print('----')
#    print()
#    print( set(day_x) - set(day_x_1) )
#    print()
#    print( set(day_x_1) - set(day_x) )
    all = all | set(day_x_1)
    print('----')

In [ ]:
day_x = []
day_x_1 = []
for day in (
    #'2024-02-09',
    '2024-02-10', 
    '2024-02-11',
    '2024-02-12','2024-02-13','2024-02-14','2024-02-15',
    '2024-02-16',
    '2024-02-17','2024-02-18','2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25'
    ):
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (all_room['title'].str.contains("Остров.6 Корпус 1")) & (donstroy_moscow_all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    if day == '2024-02-10':
        continue
    #print(cross)
    print(day,
        1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
        len(day_x), 
        len(day_x_1), 
        len(cross), 
        len(day_x) - len(cross),
        len(day_x) - len(day_x_1))
    
    #print(set(day_x_1))
    print( set(day_x_1) ^ set(day_x) )
    #print('----')

In [ ]:
#donstroy_moscow_all_room.loc[(all_room['title'].str.contains("Остров.6 Корпус 1")) & (donstroy_moscow_all_room['datetime_create']=='2024-02-15')]

In [ ]:
#dd = donstroy_moscow_all_room.loc[all_room['title'].str.contains("Остров.6")].groupby(['datetime_create'])

In [ ]:

for i in (
    "Остров.1",
    "Остров.2",
    "Остров.3",
    "Остров.4",
    "Остров.5",
    "Остров.6",
    "Остров.7",
    "Остров.8",
    "Остров.9",
    "Остров.10",
):
    all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains(i))].groupby(['datetime_create'])
    all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
    all_room_group_by_date_count = all_room_group_by_date[["price"]].count()
    
#    print(i)

    fig, axs = plt.subplots(nrows=5, ncols=1)

    # Рисуем графики на подграфах
    #axs[0].plot(x1, y1)
    #axs[1].plot(x2, y2)
    #axs[2].plot(x3, y3)
    
    ## Отображаем график
    #plt.show()
    
    #axs[0].figure(figsize=(5,2))
    axs[0].scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
    #axs[0].xlabel(f"дата {i}")
    #plt.ylabel("количество представленных квартир для продажи в комапании")
    #axs[0].ylabel("количество")
    
#    plt.figure(figsize=(5,2))
    axs[1].scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
#    plt.xlabel(f"дата {i}")
    #plt.ylabel("среденяя цена квартир представленных для продажи в комапании")
#    plt.ylabel("цена")
    
#    axs[1].plt.figure(figsize=(5,2))
    axs[2].scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
#    axs[1].plt.xlabel(f"дата {i}")
#    #plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")
#    axs[1].plt.ylabel("цена квадратного метра")
    
#    axs[2].plt.figure(figsize=(5,2))
    axs[3].scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
#    axs[2].plt.xlabel(f"дата {i}")
#    #plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")
#    axs[2].plt.ylabel("размер в метрах")



    dmr_1 = list(sell_minus_old_again(1, 500, all_room.loc[all_room['brand'].str.contains("donstroy.moscow") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains(i))]))
    if dmr_1:
        d1, s1, l1, f1 = zip(*dmr_1)
        #print(d1)
        #print(s1)
        axs[4].scatter(range(0, len(dmr_1)), s1, alpha=0.4)

# Level

In [ ]:
all_room.loc[all_room['brand'].str.contains("level")].describe()#.count()#[1:2]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("level")][1:2]

In [ ]:
all_room.loc[all_room['brand'].str.contains("level")].groupby(['datetime_create']).describe()[1:5]

# Почистить эти дни так как они кривые
2023-05-18	  
2023-05-21  
2023-06-02    
2023-07-08   
2023-12-02   
2024-01-20   
2024-01-21   
2024-01-22

# Попробую просто удалиь

In [ ]:
bad_date_old = ['2023-05-18',  
    '2023-05-21',
    '2023-06-02',  
    '2023-07-08', 
    '2023-12-02', 
    '2024-01-20',
    '2024-01-21', 
    '2024-01-22',]

In [ ]:
#all_room.loc[(all_room['brand'].str.contains("level")) & (~all_room['datetime_create'].isin(bad_date))]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("level")].groupby(['datetime_create']).mean('prwce')[1:5]

In [ ]:
#all_room.loc[all_room['brand'].str.contains("level")].groupby(['datetime_create']).describe()[1:5000]

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))].groupby(['datetime_create'])

In [ ]:
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")
#plt.ylim(10,120)

In [ ]:
# dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
# dmr_1 = list(were_there_yesterday_but_not_today(1, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))]))

# d1, s1 = zip(*dmr_1)
# plt.figure(figsize=(20, 3))
# plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
# plt.xlabel("дата - ушло")
# plt.ylabel("Проданно")

In [ ]:
# dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
# dmr_1 = list(were_there_yesterday_but_not_today(7, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))]))

# d1, s1 = zip(*dmr_1)
# plt.figure(figsize=(20, 3))
# plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
# plt.xlabel("дата - ушло")
# plt.ylabel("Проданно")

In [ ]:
# dd = all_room.loc[all_room['datetime_create'] != '2024-02-09']
# dmr_1 = list(appeared_today_but_were_there_before(1, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))]))

# d1, s1 = zip(*dmr_1)
# s1 = list(filter(lambda i: i < 17, s1))
# plt.figure(figsize=(20, 3))
# plt.scatter(range(0, len(s1)), s1, alpha=0.4)
# plt.xlabel("дата - пришло")
# plt.ylabel("Проданно")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("средений размер в метрах")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_room"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденее число комнат в квартире")

In [ ]:
#from datetime import datetime, timedelta

def date_from_new():
    # Инициализация текущей даты
    now = datetime.datetime(2023, 1, 1)
    
    # Создание списка дат
    dates = []
    
    # Цикл, который добавляет к текущей дате один день и добавляет ее в список
    while now.year <= 2024:
        dates.append(str(now.date()))
        now += datetime.timedelta(days=1)
    
    # Вывод списка дат
    #for date in dates:
    #    print(date)
    return dates

In [ ]:
# Продажа и появления кварти

In [ ]:
a = {(1,3),(2,3), (3,3)}
b = {(2,3), (3,3), (4,3)}
a & b

In [ ]:
#2023-01-04

day_x = []
day_x_1 = []
for day in ('2023-01-03', '2023-01-04'):
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = all_room.loc[(all_room['brand'].str.contains("level")) & (all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor']].apply(tuple, axis=1)
    cross = len(set(day_x) & set(day_x_1))
#    print(cross)
#    print(day_x[:3])
#    print(day_x_1[:3])
#    print(set(day_x[:3]))
#    print(set(day_x_1[:3]))
    print('--------====')
#    print(set(day_x[:3]) & set(day_x_1[:3]))
    print(len(set(day_x[:3]) & set(day_x_1[:3])))
    print(len(list(set(day_x[:3]) & set(day_x_1[:3]))))
    #print(len(cross))
#    print(cross)
    print(1 if len(day_x) - len(day_x_1) !=  len(day_x) - cross else 0,
          day,
          len(day_x), 
          len(day_x_1), 
#          cross, 
          len(day_x) - cross,
          len(day_x) - len(day_x_1))
    #print('----')

In [ ]:
day_x = []
day_x_1 = []
#for day in date_from_new():#('2024-02-09', '2024-02-10', '2024-02-11','2024-02-12','2024-02-13'):
for day in (
    #'2024-02-10'
    '2024-02-11',
    '2024-02-12',
    '2024-02-13',
    '2024-02-14','2024-02-15',
    #'2024-02-16'
    ):
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = all_room.loc[(all_room['brand'].str.contains("level")) & (all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    #print(cross)
    if day == '2024-02-11':
        continue
    print(1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
          day,
          len(day_x), 
          len(day_x_1), 
          len(cross), 
          len(day_x) - len(cross),
          len(day_x) - len(day_x_1))
    print('----')
    #print( set(day_x_1) ^ set(day_x) )
    print( set(day_x_1) ^ set(day_x) )
    print( set(cross) ^ set(day_x) )
    print('===')

In [ ]:
day_x = []
day_x_1 = []
#for day in date_from_new():#('2024-02-09', '2024-02-10', '2024-02-11','2024-02-12','2024-02-13'):
for day in ('2024-02-09', '2024-02-10', '2024-02-11','2024-02-12','2024-02-13','2024-02-14','2024-02-15'):
    print()
    day_x = day_x_1[:]
    #day_x_1 = donstroy_moscow_all_room.loc[(donstroy_moscow_all_room['brand'].str.contains("donstroy.moscow")) & (donstroy_moscow_all_room['datetime_create']==day) ].values.tolist()
    day_x_1 = all_room.loc[(all_room['brand'].str.contains("level")) & (all_room['datetime_create']==day) ][['title','price','apartment_area','apartment_floor']].apply(tuple, axis=1)
    cross = list(set(day_x) & set(day_x_1))
    #print(cross)
    print(1 if len(day_x) - len(day_x_1) !=  len(day_x) - len(cross) else 0,
          day,
          len(day_x), 
          len(day_x_1), 
          len(cross), 
          len(day_x) - len(cross),
          len(day_x) - len(day_x_1))
    #print('----')

# 0 квартиры level

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 0)].groupby(['datetime_create'])
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("количество представленных квартир для продажи в комапании")
plt.ylabel("количество")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("среденяя цена квартир представленных для продажи в комапании")
plt.ylabel("среденяя цена")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")
plt.ylabel("среденяя цена квадратного метра")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")
plt.ylabel("средений размер квартир в метрах")

# Однокомнатные квартиры level

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 1)].groupby(['datetime_create'])
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир ")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")

# 2-х квартиры level

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 2)].groupby(['datetime_create'])
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()

In [ ]:
plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("средений размер квартир в метрах")

# 3-х квартиры level

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 3)].groupby(['datetime_create'])
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()


dmr_1 = list(sell_minus_old_again(1, 500, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 3)]))
d1, s1, l1, f1 = zip(*dmr_1)
plt.figure(figsize=(20,3))
plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
plt.xlabel("дата")
plt.ylabel("Проданно")


plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("средений размер квартир в метрах")

# сделать для москвы (указав все жк)

In [ ]:
all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['apartment_room'] == 2) & (all_room['title'].str.contains("Нагатинская"))].groupby(['datetime_create'])
all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
all_room_group_by_date_count = all_room_group_by_date[["price"]].count()

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("количество представленных квартир для продажи в комапании")
plt.ylabel("количество")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("среденяя цена квартир представленных для продажи в комапании")
plt.ylabel("среденяя цена")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")
plt.ylabel("среденяя цена квадратного метра")

plt.figure(figsize=(20,3))
plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
plt.xlabel("дата")
#plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")
plt.ylabel("средений размер квартир в метрах")

In [ ]:
all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains("Причальный"))].count()

In [ ]:
#dt = {}
#for k in all_room.loc[all_room['brand'].str.contains("level") & (all_room['title'].str.contains("Причальный"))]
#    k['datetime_create']
#    if 

#    print(k)

In [ ]:
days = sorted(list(all_room['datetime_create'].unique()))
print(days)

def sell_minus_old_again_old_240309(df_room):
    day_x = []
    day_x_1 = []
    all = set()
    list_sel = []
    #days = sorted(list(df_room['datetime_create'].unique()))
    #days = sorted(list(all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))]['datetime_create']))
    #days = sorted(list(all_room['datetime_create'].unique()))
    
    #print(days)
#    df_room = df_room.dropna()
    i = 0
#    days1 = [
#        #'2023-02-10','2023-02-11','2023-02-12','2023-02-13','2023-02-14',
#        #'2023-02-15','2023-02-16','2023-02-17','2023-02-18',
#        '2023-02-19',
#        '2023-02-20','2023-02-21',#'2023-02-22','2023-02-23','2023-02-24',
#        #'2023-02-25','2023-02-26','2023-02-27','2023-02-28','2023-02-29',
#    ]
    for day in days:
        day_x = day_x_1[:]
        day_x_1 = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','apartment_floor','ppm']].apply(tuple, axis=1)#.dropna()
        if len(day_x_1) < 1:
#            print('-')
            continue
        
        #day_x_1 = df_room.loc[df_room['datetime_create']==day ][['title','price','apartment_area','ppm']].apply(tuple, axis=1).dropna()
#        print("len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all)")
#        print("len(set(", len(day_x), ') - set(', len(day_x_1), ')) - len((set(', len(day_x_1) ,') - set(', len(day_x) ,')) & len(', len(all),')')
#        print(len(set(day_x) - set(day_x_1)),' - ',len((set(day_x_1) - set(day_x)) & all))
#        print(len(list(day_x)), len(list(day_x_1)))

        if i> 100000:
        #if i > 1:
            print(len(list(day_x)), len(list(day_x_1)))
            print()
            print(list(day_x))
            print()
            print()
            print()
            print(list(day_x_1))
#            break
        i += 1
        list_sel.append(len(set(day_x) - set(day_x_1)) - len((set(day_x_1) - set(day_x)) & all))
     #   if list_sel[-1] > 50:
     #       print(day, list_sel[-1] )
        all = all | set(day_x_1)    
    return zip(days, list_sel)

In [ ]:

    all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) ].groupby(['datetime_create'])
    all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
    all_room_group_by_date_count = all_room_group_by_date[["price"]].count()
    
#    print(i)


    dmr_1 = list(sell_minus_old_again(1, 500, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date))  ]))
    
    if dmr_1:
        d1, s1, l1, f1 = zip(*dmr_1)
#        print(d1, s1)
        s2 = []
        for i in s1:
             if -7 < i < 7 or 1:
                 s2.append(i)

        ws = []
        ww = []
        k = 7
        #ee = 0
        for i in s2:
            ww.append(i)
            if len(ww) > k:
                ee = ww.pop(0)
            ws.append(sum(ww)/k)
        
        
#        plt.figure(figsize=(20,3))
#        #plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
#        plt.scatter(range(0, len(s2)), s2, alpha=0.4)
#        plt.xlabel(f"дата {i}")
#        plt.ylabel("Проданно")

        plt.figure(figsize=(20,3))
        #plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
        plt.scatter(range(0, len(ws)), ws, alpha=0.4)
        plt.xlabel(f"дата {i}")
        plt.ylabel("Проданно окном")
    
    plt.figure(figsize=(20,3))
    plt.scatter(range(0, len(all_room_group_by_date_count)),all_room_group_by_date_count["price"], alpha=0.4)
    plt.xlabel(f"дата {i}")
    #plt.ylabel("количество представленных квартир для продажи в комапании")
    plt.ylabel("количество")

    
#    plt.figure(figsize=(20,3))
#    plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
#    plt.xlabel(f"дата {i}")
#    #plt.ylabel("количество представленных квартир для продажи в комапании")
#    plt.ylabel("количество")
    
#    plt.figure(figsize=(20,3))
#    plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
#    plt.xlabel(f"дата {i}")
#    #plt.ylabel("среденяя цена квартир представленных для продажи в комапании")
#    plt.ylabel("цена")
    
    plt.figure(figsize=(20,3))
    plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
    plt.xlabel(f"дата {i}")
    #plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")
    plt.ylabel("цена квадратного метра")
    
 #   plt.figure(figsize=(20,3))
 #   plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
 #   plt.xlabel(f"дата {i}")
 #   #plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")
 #   plt.ylabel("размер в метрах")

In [ ]:
for i in ("Причальный",
    #     ):
    #ddddd =(
    "Стрешнево",
    "Нижегородская",
    "Бауманская",
    "Академическая",
    #"Звенигородская",
#    "Звениго",
    "Саввинская",
    "Южнопортовая",
    "Мичуринский",
    "Нагатинская",
    "Селигерская",
    "Причальный",
    "Павелецкая Сити",
    "Донской",
    "Павелецкая",
    #)
    ):
    all_room_group_by_date = all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains(i))].groupby(['datetime_create'])
    all_room_group_by_date_mean = all_room_group_by_date[["price", "avg_price_per_metr","apartment_area","apartment_room"]].mean()
    all_room_group_by_date_count = all_room_group_by_date[["price"]].count()
    
#    print(i)


    dmr_1 = list(sell_minus_old_again(1, 500, all_room.loc[all_room['brand'].str.contains("level") & (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains(i)) ]))
    
    if dmr_1:
        d1, s1, l1, f1 = zip(*dmr_1)
#        print(d1, s1)
        s2 = []
        for j in s1:
             if -7 < j < 7 or 1:
                 s2.append(j)

        ws = []
        ww = []
        k = 14
        #ee = 0
        for j in s2:
            ww.append(j)
            if len(ww) > k:
                ee = ww.pop(0)
            ws.append(sum(ww)/k)
        
        
#        plt.figure(figsize=(20,3))
#        #plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
#        plt.scatter(range(0, len(s2)), s2, alpha=0.4)
#        plt.xlabel(f"дата {i}")
#        plt.ylabel("Проданно")

        plt.figure(figsize=(20,3))
        #plt.scatter(range(0, len(dmr_1)), s1, alpha=0.4)
        plt.scatter(range(0, len(ws)), ws, alpha=0.4)
        plt.xlabel(f"дата {i}")
        plt.ylabel("Проданно окном")


    dmr_1 = list(sell_minus_old_again_reverse(1, 100, all_room.loc[all_room['brand'].str.contains("level") &  (~all_room['datetime_create'].isin(bad_date)) & (all_room['title'].str.contains(i))  & (all_room['apartment_area'] > 1 ) & (all_room['apartment_floor'] > 1 ) ]))
    #d1, s1, l1, f1, r1, dtl1, dtlu1, diff1
    d1, s1, l1, f1, r1, dtl1, dtlu1, diff1, p1, pp1, pa1, pr1, lo1 = zip(*dmr_1)
    plt.figure(figsize=(20, 3))
    #plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red',  label = 's')
    plt.plot(range(0, len(l1)), l1, alpha=0.4, color='green',  label = 'l')
    plt.plot(range(0, len(f1)), f1, alpha=0.4, color='blue',  label = 'f')
    plt.plot(range(0, len(r1)), r1, alpha=0.4, label = 'r')
    plt.plot(range(0, len(dtl1)), dtl1, alpha=0.4,  label = 'dtl')
    plt.plot(range(0, len(dtlu1)), dtlu1, alpha=0.4,  label = 'dtlu')
    #plt.plot(range(0, len(diff1)), diff1, alpha=0.4,  label = 'diff1')
    plt.xlabel("дата")
    plt.ylabel("Проданно")
    plt.legend()


    plt.figure(figsize=(20, 3))
    plt.plot(range(0, len(s1)), s1, alpha=0.4, color='red',  label = 's')
    plt.xlabel("дата")
    plt.ylabel("Проданно")
    plt.legend()

    plt.figure(figsize=(20, 3))
    plt.plot(range(0, len(diff1)), diff1, alpha=0.4,  label = 'diff1')
    plt.xlabel("дата")
    plt.ylabel("Проданно")
    plt.legend()



    
    plt.figure(figsize=(20,3))
    plt.scatter(range(0, len(all_room_group_by_date_count)),all_room_group_by_date_count["price"], alpha=0.4)
    plt.xlabel(f"дата {i}")
    #plt.ylabel("количество представленных квартир для продажи в комапании")
    plt.ylabel("количество")

    
#    plt.figure(figsize=(20,3))
#    plt.scatter(all_room_group_by_date_count.index,all_room_group_by_date_count["price"], alpha=0.4)
#    plt.xlabel(f"дата {i}")
#    #plt.ylabel("количество представленных квартир для продажи в комапании")
#    plt.ylabel("количество")
    
#    plt.figure(figsize=(20,3))
#    plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["price"], alpha=0.4)
#    plt.xlabel(f"дата {i}")
#    #plt.ylabel("среденяя цена квартир представленных для продажи в комапании")
#    plt.ylabel("цена")
    
    plt.figure(figsize=(20,3))
    plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["avg_price_per_metr"], alpha=0.4)
    plt.xlabel(f"дата {i}")
    #plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")
    plt.ylabel("цена квадратного метра")
    
 #   plt.figure(figsize=(20,3))
 #   plt.scatter(all_room_group_by_date_mean.index,all_room_group_by_date_mean["apartment_area"], alpha=0.4)
 #   plt.xlabel(f"дата {i}")
 #   #plt.ylabel("средений размер квартир в метрах представленных для продажи в комапании")
 #   plt.ylabel("размер в метрах")

In [ ]:
dssddssd

# STOP

# Статистика продажи level по дням, все время

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1411111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df[1:3]

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
#seaborn.pairplot(df_price_sale__apartment_area)

# Статистика продажи level по дням, за последнее время

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    datetime_create >= "2023-10-01"
    --and 
    url like "%level.ru%"
    --and title like "%Нагатинская%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1411111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df[1:3]

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(12,6))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

# Статистика продажи донстроя по дням

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "https://donstroy.moscow%"
    --and title like "%Остров.6%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
#seaborn.pairplot(df_price_sale__apartment_area)

# Статистика продажи донстроя жк Остров по дням

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "https://donstroy.moscow/objects/ostrov/%"
    and title like "%Остров%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
#seaborn.pairplot(df_price_sale__apartment_area)

# Статистика продажи донстроя жк Остров 6 по дням

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "https://donstroy.moscow/objects/ostrov/plans/quarter6/%"
    and title like "%Остров.6%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
seaborn.pairplot(df.drop(['price', 
                          'apartment_ppm',
                          'title', 
                          'datetime_create', 
                          'category', 
                          'source_url', 
                          'apartment_address','apartment_location_lat','apartment_location_lon'], axis=1 ))

In [ ]:
#seaborn.pairplot(df_price_sale__apartment_area)

# Статистика продажи донстроя жк Остров 6 корпус 1 по дням

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "https://donstroy.moscow/objects/ostrov/plans/quarter6/korpus1/%"
    and title like "%Остров.6%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
#seaborn.pairplot(df.drop(['price', 
#                          'apartment_ppm',
#                          'title', 
#                          'datetime_create', 
#                          'category', 
#                          'source_url', 
#                          'apartment_address','apartment_location_lat','apartment_location_lon'], axis=1 ))

# Статистика продажи донстроя жк Остров 5 по дням

In [ ]:
cursor.execute("""
WITH sales_numbered AS (
SELECT 
    id, 
    price_sale,
    CAST(apartment_area as decimal) as apartment_area,
    CAST(price_sale / apartment_area as decimal(15,2)),
    date(datetime_create) as date
    
FROM products_history
where 
    --datetime_create >= "2022-01-17"
    --and 
    url like "https://donstroy.moscow/objects/ostrov/plans/quarter5/%"
    and title like "%Остров.5%"
    --and apartment_floor = 13
    --and apartment_room = 1
    --and apartment_area = '30.5'
ORDER BY id desc
LIMIT 1431111
)

SELECT 
    cast(sum(price_sale) as int),
    cast(sum(apartment_area) as int),
    cast(avg(price_sale / apartment_area) as int),
    cast(sum(price_sale) / sum(apartment_area) as int),
    avg(apartment_area),
    avg(price_sale),
    count(id),
    date
    
FROM sales_numbered

group by date
ORDER BY date
LIMIT 631  
""")

df = pd.DataFrame(cursor.fetchall(), columns=[
    "sum price_sale",
    "sum apartment_area",
    "avg price per metr",
    "avg sum price per sum metr",
    "avg apartment_area",
    "avg price",
    "count",
    "date"
])

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["count"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("количество представленных квартир для продажи в комапании")
#plt.ylim(10,120)

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квартир представленных для продажи в комапании")

In [ ]:
plt.figure(figsize=(4,2))
plt.scatter(df["date"],df["avg price per metr"], alpha=0.4)
plt.xlabel("дата")
plt.ylabel("среденяя цена квадратного метра квартир представленных для продажи в комапании")

In [ ]:
seaborn.pairplot(df)