In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')

In [4]:
cursor = connection.cursor()

In [9]:
cursor.execute("""
select id, price, price_sale, title 
from products_history 
where title like "%nutella%" 
limit 10
""")

In [10]:
cursor.fetchall()

[(29045, 58, 58, 'Батончик Nutella B-Ready 22г'),
 (29061, 158, 158, 'Паста Nutella Шоколадная 52г'),
 (29068, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (29069, 499, 389, 'Паста Nutella Шоколадная 350г'),
 (29074, 799, 799, 'Паста Nutella Шоколадная 630г'),
 (66734, 58, 58, 'Батончик Nutella B-Ready 22г'),
 (66750, 158, 158, 'Паста Nutella Шоколадная 52г'),
 (66757, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (66758, 499, 389, 'Паста Nutella Шоколадная 350г'),
 (66763, 799, 799, 'Паста Nutella Шоколадная 630г')]

In [11]:
cursor.execute("""
select id, price, title 
from products_history 
where id = 66757
""")
cursor.fetchall()

[(66757, 299, 'Паста Nutella Шоколадная 180г')]

In [14]:
cursor.execute("""
select id, price, title 
from products_history 
order by id desc
limit 1
""")
cursor.fetchall()

[(689763, 12580, 'Газовая горелка Expedition Stove Camp-1 TKB-N9703-1L')]

In [ ]:
СКЛ -

In [18]:
#Паста Nutella

In [15]:
# найти все предложения по пасте нутелла между 200 и 300 рублей

In [19]:
cursor.execute("""
select id, price, price_sale, title 
from products_history 
where price_sale > 200 and price_sale < 300 and title like 'Паста Nutella%'
order by id desc
limit 100
""")
cursor.fetchall()

[(640902, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (605579, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (541340, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (476749, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (378961, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (356156, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (274535, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (156847, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (66757, 299, 299, 'Паста Nutella Шоколадная 180г'),
 (29068, 299, 299, 'Паста Nutella Шоколадная 180г')]

In [ ]:
# найти 100 товарво стоимосью более 10000

In [22]:
cursor.execute("""
select id, price, price_sale, title 
from products_history 
where price > 10000
order by  price asc
limit 10
""")
cursor.fetchall()

[(36055, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (49988, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH'),
 (58582, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (84170, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (94032, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (98954, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (114699, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH'),
 (125093, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (167147, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (182892, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH')]

In [23]:
!ls -la /home/

total 52
drwxr-xr-x 13 root                  root                  4096 Dec  4 17:50 .
drwxr-xr-x 19 root                  root                  4096 Nov 19 17:22 ..
drwxr-xr-x  6 airflow               airflow               4096 Dec 14 18:40 airflow
drwxr-x---  6 jupyter-22malvina     jupyter-22malvina     4096 Nov 19 23:39 jupyter-22malvina
drwxr-x---  5                  1000 jupyter-ekaterinacu   4096 Nov 19 19:34 jupyter-admin-jupyterhub
drwxr-x--- 16 jupyter-amtsu         jupyter-amtsu         4096 Dec 13 20:01 jupyter-amtsu
drwxr-x---  8 jupyter-andromary     jupyter-andromary     4096 Nov 30 00:42 jupyter-andromary
drwxr-x---  9 jupyter-boberushka    jupyter-boberushka    4096 Nov 23 21:58 jupyter-boberushka
drwxr-x--- 10 jupyter-cipperok      jupyter-cipperok      4096 Nov 29 16:09 jupyter-cipperok
drwxr-x---  9 jupyter-drrryfox      jupyter-drrryfox      4096 Dec  7 21:15 jupyter-drrryfox
drwxr-x---  7 jupyter-ekaterinacu   jupyter-ekaterinacu   4096 Dec 11 01:06 jupyter-ekaterinacu
drwxr-x--- 11 jupyter-isergy        jupyter-isergy        4096 Dec 14 18:26 jupyter-isergy
drwxr-x--- 12 jupyter-parnishkatony jupyter-parnishkatony 4096 Dec  3 15:51 jupyter-parnishkatony

In [24]:
cd /home/

/home

In [25]:
pwd

'/home'

In [28]:
!sudo mkdir sql_dump

In [29]:
cd /tmp/

/tmp

In [30]:
pwd

'/tmp'

In [31]:
ls -la

total 68
drwxrwxrwt 14 root    root    12288 Dec 14 19:30 ./
drwxr-xr-x 19 root    root     4096 Nov 19 17:22 ../
-rw-------  1 airflow airflow     9 Dec 14 18:42 2029240f6d1128be89ddc32729463129
drwxrwxrwt  2 root    root     4096 Dec 14 18:42 .font-unix/
drwxrwxrwt  2 root    root     4096 Dec 14 18:42 .ICE-unix/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-apache2.service-SB8zQf/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-dovecot.service-DMzJ5h/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-jupyterhub.service-iZt1Yh/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-systemd-logind.service-uAumSe/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-systemd-resolved.service-y5H0Tg/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-systemd-timesyncd.service-eJyebj/
drwx------  3 root    root     4096 Dec 14 18:42 systemd-private-c3a1a8bec1c743deb0a39c11456ae0e8-traefik.service-DtKZ0g/
drwxrwxrwt  2 root    root     4096 Dec 14 18:42 .Test-unix/
drwxrwxrwt  2 root    root     4096 Dec 14 18:42 .X11-unix/
drwxrwxrwt  2 root    root     4096 Dec 14 18:42 .XIM-unix/

In [32]:
mkdir sql_dump

In [33]:
cd sql_dump/

/tmp/sql_dump

In [34]:
cp /home/jupyter-amtsu/project/price_alert/db.sqlite3 /tmp/sql_dump/

In [35]:
ls -la

total 329784
drwxr-xr-x  2 jupyter-amtsu jupyter-amtsu      4096 Dec 14 19:38 ./
drwxrwxrwt 15 root          root              12288 Dec 14 19:37 ../
-rw-r--r--  1 jupyter-amtsu jupyter-amtsu 337678336 Dec 14 19:38 db.sqlite3

In [2]:
connection = sqlite3.connect('/tmp/sql_dump/db.sqlite3')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("""
select id, price, price_sale, title 
from products_history 
where price > 10000
order by  price asc
limit 10
""")
cursor.fetchall()

[(36055, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (49988, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH'),
 (58582, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (84170, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (94032, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (98954, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (114699, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH'),
 (125093, 10009, 3243, 'Кофта Lolё JUST CARDIGAN'),
 (167147, 10009, 3243, 'Легкая куртка Yoko YXC JACKET'),
 (182892, 10009, 0, 'Сандалии Karrimor CHRISTCHURCH')]

In [9]:
cursor.execute("""
select price, title
from products_history 
where price < 150 and title like '%Coca-Cola%'
order by title desc
""")
cursor.fetchall()

[(0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б')]

In [5]:
cursor.execute("""
select title, price
from products_history
where title like '%банан%'  or  title like '%апельсин%'
limit 10
""")
cursor.fetchall()

[('Сок «Агуша» яблоко банан с мякотью с 3 лет, 500 мл', 0),
 ('Блинчики HandyCraft с вишней в шоколадном топинге и апельсином замороженные, 380 г',
  0),
 ('Блинчики HandyCraft с бананом и шоколадом замороженные, 380 г', 0),
 ('Блинчики HandyCraft с вишней в шоколадном топинге и апельсином замороженные, 380 г',
  0),
 ('Чай зеленый «Мацеста» с цедрой апельсина и цедрой лимона, 100 г', 965.99),
 ('Пюре Gerber яблоко и банан с 6 мес., 90 г', 0),
 ('Биойгурт питьевой «Сегодня и Всегда» киви банан 2,6%, 310 мл', 0),
 ('Мороженое сливочное «Маруся» For you карамель банан, 65 г', 0),
 ('Биойгурт питьевой «Сегодня и Всегда» киви банан 2,6%, 310 мл', 0),
 ('Блинчики HandyCraft с вишней в шоколадном топинге и апельсином замороженные, 380 г',
  0)]

In [11]:
cursor.execute("""
select count(title)
from products_history
where title like '%банан%'  or  title like '%апельсин%'
""")
cursor.fetchall()

[(968,)]

In [12]:
cursor.execute("""
select title, price
from products_history
where title like '%банан%' and  title like '%апельсин%'
""")
cursor.fetchall()

[('Пюре «ФрутоНяня» ФрутоTeens яблоко банан апельсин манго с 3 лет, 90 г', 0)]

In [13]:
cursor.execute("""
select count(title)
from products_history
where title like '%банан%' and  title like '%апельсин%'
""")
cursor.fetchall()

[(1,)]

In [6]:
cursor.execute("""
select title, price
from products_history
where (title like '%банан%' and  title like '%апельсин%') or (price > 0 and price < 2 )
limit 10
""")
cursor.fetchall()

[('Пюре «ФрутоНяня» ФрутоTeens яблоко банан апельсин манго с 3 лет, 90 г', 0),
 ('Подгузники Детские №4 7-18кг 64шт', 1),
 ('Подгузники Детские №5 11-25кг 56шт', 1),
 ('Подгузники-Трусики SPAR Детские №6 15-30кг 52шт', 1),
 ('Подгузники-Трусики SPAR Детские №4 7-18кг 72шт', 1),
 ('Подгузники-Трусики SPAR Детские №5 11-25кг 64шт', 1),
 ('Смесь Nan 1 800г', 1),
 ('Смесь Nan 2 800г', 1),
 ('Смесь Nan 3 Optipro с 12 Месяцев 800г', 1),
 ('Смесь Nan Тройной Комфорт с 0 Месяцев 400г', 1)]

In [19]:
cursor.execute("""
select sum(price)
from products_history
where title like '%банан%' 
""")
cursor.fetchall()

[(83190.59000000021,)]

In [41]:
cursor.execute("""
select   price, title
from products_history
where title like '%Coca-Cola%' 
""")
cursor.fetchall()

[(0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л'),
 (79, 'Напиток Coca-Cola Original Газированный 330мл ж/б'),
 (119, 'Напиток Coca-Cola Газированный 1л пэт'),
 (195, 'Напиток Coca-Cola Газированный 2л пэт'),
 (199, 'Напиток Coca-Cola Газированный 2,25л Пэт'),
 (0, 'Напиток газированный Coca-Cola апельсин, 1,5 л')]

In [21]:
cursor.execute("""
select distinct(title)
from products_history
where title like '%Coca-Cola%' 
""")
cursor.fetchall()

[('Напиток газированный Coca-Cola апельсин, 1,5 л',),
 ('Напиток Coca-Cola Original Газированный 330мл ж/б',),
 ('Напиток Coca-Cola Газированный 1л пэт',),
 ('Напиток Coca-Cola Газированный 2л пэт',),
 ('Напиток Coca-Cola Газированный 2,25л Пэт',)]

In [22]:
cursor.execute("""
select title
from products_history
where title like '%Coca-Cola%' 
group by title
""")
cursor.fetchall()

[('Напиток Coca-Cola Original Газированный 330мл ж/б',),
 ('Напиток Coca-Cola Газированный 1л пэт',),
 ('Напиток Coca-Cola Газированный 2,25л Пэт',),
 ('Напиток Coca-Cola Газированный 2л пэт',),
 ('Напиток газированный Coca-Cola апельсин, 1,5 л',)]

In [38]:
cursor.execute("""
select title, count(1), sum(price), min(price), max(price)
from products_history
where title like 'Бана%' 
group by title
""")
cursor.fetchall()

[('Банановые Чипсы SPAR 100г', 44, 4516, 99, 119),
 ('Бананы', 30, 3225, 94, 109),
 ('Бананы Filipino Sun Сушеные 100г', 34, 5406, 159, 159),
 ('Бананы Беби', 4, 716, 179, 179),
 ('Бананы Органик', 6, 594, 99, 99),
 ('Бананы вяленые NaturFoods, 200 г', 3, 0, 0, 0)]

In [43]:
cursor.execute("""
select title, count(1), sum(price), min(price), max(price)
from products_history
where title like 'Бана%' 
group by title
having min(price) < 95
""")
cursor.fetchall()

[('Бананы', 30, 3225, 94, 109),
 ('Бананы вяленые NaturFoods, 200 г', 3, 0, 0, 0)]

In [46]:
cursor.execute("""
select title, count(1), sum(price), min(price) as min_price, max(price)
from products_history
where title like 'Бана%'  
group by title
having min_price < 95
""")
cursor.fetchall()

[('Бананы', 30, 3225, 94, 109),
 ('Бананы вяленые NaturFoods, 200 г', 3, 0, 0, 0)]

In [56]:
# вывести имя продуктов у которых минимальная цена. меньше 95

# хотим ухнать есть ли. такой продукт в нашем подзапросе
cursor.execute("""
select title
from products_history
where id = 94032 and 
title in (
select title
from products_history
where id < 1000000
group by title)
""")
cursor.fetchall()

[('Кофта Lolё JUST CARDIGAN',)]

In [60]:
cursor.execute("""
select title
from products_history
where id = 66750 and 
title in (
    select title
    from products_history
    where id < 50000
    group by title
)
""")
cursor.fetchall()

[('Паста Nutella Шоколадная 52г',)]

In [7]:
cursor.execute("""

    select title
    from products_history
    where id < 50000
    group by title
    limit 10

""")
cursor.fetchall()

[(None,),
 ('',),
 ('"BOMBBAR" Печенье неглазированное "Вишня" 40 гр.',),
 ('#Топ-рецепты say7, Скрипкина А.Ю.',),
 ('100 любимых стихов и 100 любимых сказок для малышей',),
 ('25 минут и ГОТОВО! Суп ПО-ИТАЛЬЯНСКИ 200г',),
 ('BBQ с копченой паприкой «Царская приправа» мельница, 47 г',),
 ('BOMBBAR Печенье неглазированное " Шоколадный брауни" 40 гр.',),
 ('BUSHIDO Sensei Кофе в зернах 227г.',),
 ('Bakoda Pocket Tool',)]

In [62]:
# выбор select
# insert delete

In [63]:
cursor.execute("""

    select title
    from products_history
    where title like '%gggg1%'
    group by title

""")
cursor.fetchall()

[]

In [65]:
cursor.execute("""
insert into products_history(title) values('gggg1')
""")
cursor.fetchall()

[]

In [66]:
cursor.execute("""

    select title
    from products_history
    where title like '%gggg1%'
    group by title

""")
cursor.fetchall()

[('gggg1',)]

In [67]:
cursor.execute("""
insert into products_history(title) values('gggg1_2')
""")
cursor.fetchall()

[]

In [68]:
cursor.execute("""

    select title
    from products_history
    where title like '%gggg1%'
    group by title

""")
cursor.fetchall()

[('gggg1',), ('gggg1_2',)]

In [69]:
cursor.execute("""
insert into products_history(title, price) values('gggg1_3', 101)
""")
cursor.fetchall()

[]

In [71]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
    group by title

""")
cursor.fetchall()

[(689764, 'gggg1', None), (689765, 'gggg1_2', None), (689766, 'gggg1_3', 101)]

In [72]:
cursor.execute("""
delete from products_history where id = 689765
""")
cursor.fetchall()

[]

In [73]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
    group by title
""")
cursor.fetchall()

[(689764, 'gggg1', None), (689766, 'gggg1_3', 101)]

In [74]:
# csv -> базу данных -> sql

In [75]:
# update

In [ ]:
#CRUD

In [76]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
""")
cursor.fetchall()

[(689764, 'gggg1', None), (689766, 'gggg1_3', 101)]

In [78]:
cursor.execute("""
update  products_history set price = 200 where id = 689764
""")
cursor.fetchall()

[]

In [79]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
""")
cursor.fetchall()

[(689764, 'gggg1', 200), (689766, 'gggg1_3', 101)]

In [81]:
cursor.execute("""
update  products_history set price = 202, title='gggg11112' where id = 689764
""")
cursor.fetchall()

[]

In [82]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
""")
cursor.fetchall()

[(689764, 'gggg11112', 202), (689766, 'gggg1_3', 101)]

In [83]:
cursor.execute("""
update  products_history set price = 44, title='gggg1' where id >= 689764
""")
cursor.fetchall()

[]

In [85]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
    group by title
""")
cursor.fetchall()

[(689764, 'gggg1', 44)]

In [86]:
cursor.execute("""
    select id, title, price
    from products_history
    where title like '%gggg1%'
""")
cursor.fetchall()

[(689764, 'gggg1', 44), (689766, 'gggg1', 44)]

In [2]:
# получаем товары котрыъ сегодня нет в продаже

In [18]:
import sqlite3
from datetime import datetime, timedelta


days_before = 2
days_before_1 = 1
d2 = datetime.today() - timedelta(days=days_before)
d1 = datetime.today() - timedelta(days=days_before_1)
d0 = datetime.today()

connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()
q = f"""
    WITH sales_numbered AS (
        SELECT 
            id, 
            title,
            price_sale,  
            url,
            datetime_create,
            count(1) as c
        FROM products_history
--                where datetime_create >= "{d2.date()}"
        where datetime_create >= "{d1.date()}" and url not like "https://www.auchan.ru%"
        group by url, title
        having c = 1
        --ORDER BY id desc
        LIMIT 1000000
    )
    SELECT 
        id, 
        title,
        price_sale,  
        url,
        datetime_create
    FROM sales_numbered
--            where datetime_create <= "{d1.date()}"
    where datetime_create < "{d0.date()}"
"""



q = f"""
    WITH sales_numbered_day_0 AS (
        SELECT 
            id, 
            title,
            price_sale,  
            url
        FROM products_history
        where  datetime_create > "{d0.date()}" 
            and url not like "https://www.auchan.ru%"
        LIMIT 1000000
    )
    
     sales_numbered_day_1 AS (
        SELECT 
            id, 
            title,
            price_sale,  
            url
        FROM products_history
        where datetime_create >= "{d1.date()}" 
            and datetime_create < "{d0.date()}" 
            and url not like "https://www.auchan.ru%"
        LIMIT 1000000
    )
    SELECT 
        d1.id, 
        d1.title,
        d1.price_sale,  
        d1.url,
        d0.title

    FROM    sales_numbered_day_1 as d1 left join  sales_numbered_day_0 as d0 on d1.title = d0.title and d1.url = d0.url
    where d0.title = ''
"""

#p1=2022-12-25
#p1=2022-12-25" and (update root_table set password = 1 where user = 'root') and a = "1



q = f"""
        SELECT 
            title, 
            url
        FROM products_history
        where datetime_create >= "2022-12-25" and (update root_table set password = 1 where user = 'root') and a = "1" 
            and datetime_create < "{d0.date()}" 
            and url not like "https://myspar.ru%" 
    EXCEPT
        SELECT 
            title, 
            url
        FROM products_history
        where  datetime_create > "{d0.date()}" 
            and url not like "https://www.auchan.ru%" 
            and url not like "https://myspar.ru%" 
order by url
limit 1000000
"""



q = f"""
        SELECT 
            title, 
            url
        FROM products_history
        where datetime_create >= "{d1.date()}" 
            and datetime_create < "{d0.date()}" 
            and url not like "https://myspar.ru%" 
    EXCEPT
        SELECT 
            title, 
            url
        FROM products_history
        where  datetime_create > "{d0.date()}" 
            and url not like "https://www.auchan.ru%" 
            and url not like "https://myspar.ru%" 
order by url
limit 1000000
"""





q = f"""

                SELECT 
                    title, 
                    url
                FROM products_history
                where  datetime_create > "2022-12-18" 
                 and url like "https://www.auchan.ru%" 
                   
            EXCEPT             
                SELECT 
                    title, 
                    url
                FROM products_history
                where datetime_create >= "2022-12-17" 
                    and datetime_create < "2022-12-18" 
            

        order by url asc
        limit 1000
"""


q = f"""

                SELECT 
                --count(1),
                datetime_create,
                    title, 
                    url
                
                FROM products_history
                where  datetime_create > "2022-12-18" 
                 and url like "https://www.auchan.ru%" 
                   
            

        order by url desc
        limit 10
"""


q1 = f"""


            EXCEPT             
                SELECT 
                           count(1),
                    title, 
                    url
                FROM products_history
                where datetime_create >= "2022-12-17" 
                    and datetime_create < "2022-12-18" 
            

        order by url asc
        limit 10
"""



cursor.execute(q)
#print(q)
count = 0
for i in cursor.fetchall():
    print(i)
    count += 1
print('count loss object =', count)

print("end price alert change")

('2022-12-18 00:48:23.158010', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:43.779395', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:46.196187', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:48.526498', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:50.917068', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:53.222759', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:55.620368', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:22:58.008796', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:23:00.377592', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
('2022-12-18 12:23:02.873695', 'Зарядное устройство для аккумуляторов GP BATTERIES 270AAHC/CPB2-2CR2', 'https://www.auchan.ru/product/zu-1sht-gp-2akk-aax2700')
count loss object = 10
end price alert change