# №1
### Задание: создайте список дел.

In [1]:
name_delo = ['горные лыжи', 'самолёт в Стамбул', 'Принцевы острова', 'Босфорский залив', 'самолёт в Москву', 'стоматолог Димы', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес', 'учёба it', 'школа Димы', 'школа Димы',  'др Вари', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес',  'учёба it', 'школа Димы', 'школа Димы', 'стрижка Димы',]
date_1 = ['05-01-2023', '07-01-2023', '9-01-2023', '10-01-2023', '12-01-2023', '14-01-2023', '16-01-2023', '17-01-2023', '18-01-2023', '18-01-2023', '18-01-2023', '19-01-2023', '20-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023', '25-01-2023', '25-01-2023', '26-01-2023', '27-01-2023', '27-01-2023']
date_2 = ['06-01-2023', '07-01-2023', '9-01-2023', 'None', '12-01-2023', '14-01-2023', '16-01-2023', '17-01-2023', '18-01-2023', '18-01-2023', '18-01-2023', '19-01-2023', '20-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', 'None', '01-02-2023', '28-01-2023', 'None', 'None', '27-01-2023']

In [2]:
#Нужно посчитать общее количество дел в списке
print(len(name_delo))

22

In [3]:
#Напечатать все дела
print(name_delo)

['горные лыжи', 'самолёт в Стамбул', 'Принцевы острова', 'Босфорский залив', 'самолёт в Москву', 'стоматолог Димы', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес', 'учёба it', 'школа Димы', 'школа Димы', 'др Вари', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес', 'учёба it', 'школа Димы', 'школа Димы', 'стрижка Димы']

In [4]:
#Напечатать только 2 и 5 дело
print(name_delo[1], name_delo[4])

самолёт в Стамбул самолёт в Москву

In [5]:
#Сравнить каждое дело из списка с строкой “buy bread” и если оно совпадает то напечатать YES
for my_delo in name_delo:
    if my_delo == 'школа Димы':
        print('YES')

YES
YES
YES
YES
YES
YES
YES
YES
YES
YES

In [6]:
#Если каждое дело из списка ваших дела написано на английском и является строкой то вывести длину
# - каждой из этих строк
for my_delo in name_delo:
      print(len(my_delo))

11
17
16
16
16
15
10
10
10
7
8
10
10
7
10
10
10
7
8
10
10
12

In [7]:


#Напечатать yes если длина строки в которой записано дело больше 10
for my_delo in name_delo:
    if len(my_delo) > 10:
        print('YES')

YES
YES
YES
YES
YES
YES
YES

In [13]:
#Напечатать дела индекс которых в списке делится без остатка на 2
for my_delo in range(len(name_delo)):
    if my_delo % 2 == 0:
        print(name_delo[my_delo])
        
        
        
#получили индекс. надо понять как разделить на два

горные лыжи
Принцевы острова
самолёт в Москву
школа Димы
школа Димы
учёба it
школа Димы
школа Димы
школа Димы
учёба it
школа Димы

In [9]:
#Напечатать дело с индексом 1 и 4 из списка запланированных дел
print(name_delo[1], name_delo[4])

самолёт в Стамбул самолёт в Москву

In [42]:
#Hапечатать те индексы у которых значения в списке запланированных дат и списке реализованных дат равны друг другу
for povtor in range(len(date_1)):
    if date_1[povtor] == date_2[povtor]:
        print(povtor)


#перебрать по иледексам и сравнить между собой два списка.

1
2
4
5
6
7
8
9
10
11
12
13
14
15
21

In [43]:
#Вывести только те дела которые вы сделали в тот же день в который их запланировали
for povtor in range(len(name_delo)):
    if date_1[povtor] == date_2[povtor]:
        print(name_delo[povtor])

самолёт в Стамбул
Принцевы острова
самолёт в Москву
стоматолог Димы
школа Димы
школа Димы
школа Димы
пилатес
учёба it
школа Димы
школа Димы
др Вари
школа Димы
школа Димы
стрижка Димы

In [15]:
name_delo = ['горные лыжи', 'самолёт в Стамбул', 'Принцевы острова', 'Босфорский залив', 'самолёт в Москву', 'стоматолог Димы', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес', 'учёба it', 'школа Димы', 'школа Димы',  'др Вари', 'школа Димы', 'школа Димы', 'школа Димы', 'пилатес',  'учёба it', 'школа Димы', 'школа Димы', 'стрижка Димы',]
date_1 = ['05-01-2023', '07-01-2023', '9-01-2023', '10-01-2023', '12-01-2023', '14-01-2023', '16-01-2023', '17-01-2023', '18-01-2023', '18-01-2023', '18-01-2023', '19-01-2023', '20-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023', '25-01-2023', '25-01-2023', '26-01-2023', '27-01-2023', '27-01-2023']
date_2 = ['06-01-2023', '07-01-2023', '9-01-2023', 'None', '12-01-2023', '14-01-2023', '16-01-2023', '17-01-2023', '18-01-2023', '18-01-2023', '18-01-2023', '19-01-2023', '20-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', 'None', '01-02-2023', '28-01-2023', 'None', 'None', '27-01-2023']

In [20]:
#Посчитать сколько дел у вас было одинаковых ( т.е. если есть запись “купить хлеб” 28-08-2022 и
# - “купить хлеб” 14-08-2022то финально нужно вывести “купить хлеб”
#(можно сделать 2 варианта без использования словарей и с испольщованием словарям)
unik_spisok = []
for my_delo in name_delo:
    if my_delo not in unik_spisok:
        unik_spisok.append(my_delo)

print(unik_spisok)

for unik_delo in unik_spisok:
    count = 0
    for delo in name_delo:
        if delo == unik_delo:
            count += 1
    print(unik_delo, count)

#есть два списка нужно сравнить

['горные лыжи', 'самолёт в Стамбул', 'Принцевы острова', 'Босфорский залив', 'самолёт в Москву', 'стоматолог Димы', 'школа Димы', 'пилатес', 'учёба it', 'др Вари', 'стрижка Димы']
горные лыжи 1
самолёт в Стамбул 1
Принцевы острова 1
Босфорский залив 1
самолёт в Москву 1
стоматолог Димы 1
школа Димы 10
пилатес 2
учёба it 2
др Вари 1
стрижка Димы 1

In [27]:
#словари

my_slovar = dict.fromkeys(name_delo, 0)
print(my_slovar)
print('____________')

for delo in name_delo:
    if delo in my_slovar:
        my_slovar[delo] += 1
print(my_slovar)

{'горные лыжи': 0, 'самолёт в Стамбул': 0, 'Принцевы острова': 0, 'Босфорский залив': 0, 'самолёт в Москву': 0, 'стоматолог Димы': 0, 'школа Димы': 0, 'пилатес': 0, 'учёба it': 0, 'др Вари': 0, 'стрижка Димы': 0}
____________
{'горные лыжи': 1, 'самолёт в Стамбул': 1, 'Принцевы острова': 1, 'Босфорский залив': 1, 'самолёт в Москву': 1, 'стоматолог Димы': 1, 'школа Димы': 10, 'пилатес': 2, 'учёба it': 2, 'др Вари': 1, 'стрижка Димы': 1}

In [53]:
from collections import Counter
delo = Counter(name_delo)
delo

Counter({'горные лыжи': 1,
         'самолёт в Стамбул': 1,
         'Принцевы острова': 1,
         'Босфорский залив': 1,
         'самолёт в Москву': 1,
         'стоматолог Димы': 1,
         'школа Димы': 10,
         'пилатес': 2,
         'учёба it': 2,
         'др Вари': 1,
         'стрижка Димы': 1})

# №2

Задание: создайте список расхдов и доходов.
Пример списка доходов и расходов

Рекомендуемый размер списка 22 элемента.
добавить к списку еще 2 действия
посчитать сколько всего действий в вашем списке

In [1]:
opisanie = ['еда', 'еда', 'стоматолог', 'съёмка', 'еда', 'еда', 'аптека', 'еда', 'проездной', 'веломир', 'еда', 'аптека', 'еда', 'стрижка', 'еда', 'еда', 'аптека', 'творчество', 'оплата школы', 'оплата кружков', 'еда', 'зарплата', ]
summa = [ -800, -295, -4500, 8000, -75, -155, -269, -300, -250, -3950, -462, -481, -343, -800, -566, -1185, -431, -1324, -25000, -6000, -994, 100000, ]
date = ['13-01-2023', '14-01-2023', '14-01-2023', '15-01-2023', '16-01-2023', '17-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '19-01-2023', '21-01-2023', '22-01-2023', '24-01-2023', '25-01-2023', '26-01-2023', '27-01-2023', '27-01-2023', '27-01-2023', '29-01-2023', '29-01-2023', '29-01-2023', '30-01-2023']
nomer = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', ]

In [2]:
opisanie.extend(['творчество', 'еда'])
summa.extend([-800, -230])
date.extend(['31-01-2023', '31-01-2023'])

In [3]:
print(len(opisanie))

24

In [4]:
print(opisanie)

['еда', 'еда', 'стоматолог', 'съёмка', 'еда', 'еда', 'аптека', 'еда', 'проездной', 'веломир', 'еда', 'аптека', 'еда', 'стрижка', 'еда', 'еда', 'аптека', 'творчество', 'оплата школы', 'оплата кружков', 'еда', 'зарплата', 'творчество', 'еда']

In [5]:
#посчитайте сколько всего вы потратили за все время
potpacheno = []
for chislo in summa:
    if chislo < 0:
        potpacheno.append(chislo)
print(sum(potpacheno))

-49210

In [19]:
#посчитать сколько трат было меньше 300 рублей
potpacheno = []
for chislo in summa:
    if chislo > -300 and chislo < 0:
        potpacheno.append(chislo)
print(len(potpacheno))

6

In [7]:
#посчитать сколько сумму трат которые были больше 10000 рублей
summs_bolee_10K = 0
for chislo in summa:
    if chislo < -10000:
        summs_bolee_10K += chislo
print(summs_bolee_10K)

-25000

In [24]:
#вариант_2
potpacheno = []
for chislo in summa:
    if chislo < -10000:
        potpacheno.append(chislo)
print(potpacheno)

[-25000]

In [31]:
#выдать номера трат которые находятся в диапазоне между 300 и 10000 рублей
#for chislo in summa:
    #if chislo < -300 and chislo > -10000:
       # print(chislo)
    
#сделала выборку. далее надо выбрать из списка номера. по индексу
for chislo in range(len(summa)):
    if summa[chislo] < -300 and summa[chislo] > -10000:
        print(nomer[chislo])

1
3
10
11
12
13
14
15
16
17
18
20
21
23

In [27]:
#выбрать из списка на втором шаге самую минимальную трату
spisok_trat = []
for chislo in summa:
    if chislo <= 0:
        spisok_trat.append(chislo)
print(max(spisok_trat))

#задание не корректно налисано

-75

In [11]:
#посчитать сколько трат было меньше 300 рублей
spisok_trat = []
for chislo in summa:
    if chislo < -300:
        spisok_trat.append(chislo)
print(sum(spisok_trat))

-47636

In [12]:
#посчитайте сколько заработали за все время
count = 0
for chislo in summa:
    if chislo > 0:
        count =+ chislo
        print(count)
#print(count)       
#почему то 100, то 8 и 100?

8000
100000

In [13]:
zarabotok = []
for chislo in summa:
    if chislo > 0:
        zarabotok.append(chislo)
print(sum(zarabotok))

108000

In [13]:
#посчитайте какие самые частые у вас траты(можно попробовать с использованием словарей)
unik_spisok_trat = []
for traty in opisanie:
    if traty not in unik_spisok_trat:
        unik_spisok_trat.append(traty)
print(unik_spisok_trat)

for unik_traty in unik_spisok_trat:
    count = 0
    for all_traty in opisanie:
        if unik_traty == all_traty:
            count += 1
    print(unik_traty, count)

['еда', 'стоматолог', 'съёмка', 'аптека', 'проездной', 'веломир', 'стрижка', 'творчество', 'оплата школы', 'оплата кружков', 'зарплата']
еда 11
стоматолог 1
съёмка 1
аптека 3
проездной 1
веломир 1
стрижка 1
творчество 2
оплата школы 1
оплата кружков 1
зарплата 1

In [15]:
#добавить к списку еще 3 действия
opisanie.extend(['аптека', 'еда', 'проездной'])
print(opisanie)

['еда', 'еда', 'стоматолог', 'съёмка', 'еда', 'еда', 'аптека', 'еда', 'проездной', 'веломир', 'еда', 'аптека', 'еда', 'стрижка', 'еда', 'еда', 'аптека', 'творчество', 'оплата школы', 'оплата кружков', 'еда', 'зарплата', 'творчество', 'еда', 'аптека', 'еда', 'проездной']

In [16]:
#Найти максимальную трату
print(min(summa))

-25000

In [17]:
#Найти минимальный доход
spisok_dohoda = []
for chislo in summa:
    if chislo > 0:
        spisok_dohoda.append(chislo)
print(min(spisok_dohoda))

8000

In [18]:
#Посчитать среднюю стоимость ваших трат
spisok_trat = []
for chislo in summa:
    if chislo < 0:
        spisok_trat.append(chislo)
print(sum(spisok_trat) / len(spisok_trat))

-2236.818181818182