In [1]:
!pwd

/home/jupyter-vallitim/github/team22/users/vstimofeeva

In [10]:
!cp /tmp/db_mini.sqlite3 ~/github/team22/users/vstimofeeva

In [1]:
import sqlite3
from datetime import datetime, timedelta

In [2]:
connect = sqlite3.connect('db_mini.sqlite3')
cursor = connect.cursor()

In [3]:
cursor.execute('''SELECT name FROM sqlite_master WHERE type = 'table' ''')
cursor.fetchall()

[('products_history',), ('sqlite_sequence',)]

In [4]:
cursor.execute('''SELECT sql FROM sqlite_master WHERE name = 'products_history' ''')
cursor.fetchall()

[('CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL)',)]

In [46]:
#1. вывести названия товаров в которые содержат слова молоко и стоимостью больше 50 рублей

cursor.execute('''SELECT title FROM products_history 
WHERE title like '%молоко%' and price_sale > 50
LIMIT 10''')
cursor.fetchall()

[('Масло сливочное «Любимое молоко» Крестьянское 72,5%, 1 кг',),
 ('Каша овсяная «Добряк» Ассорти клубника яблоко молоко, 190 г',),
 ('Плавленый продукт «Морек» молокосодержащий со вкусом бекона, 160 г',),
 ('Плавленый продукт «Морек» молокосодержащий со вкусом бекона, 160 г',),
 ('Плавленый продукт «Морек» молокосодержащий со вкусом бекона, 160 г',),
 ('Шоколад Royal Forest Coconut Vegan Bar Кокосовое молоко, 50 г',),
 ('Шоколад Royal Forest Coconut Vegan Bar Кокосовое молоко, 50 г',),
 ('Шоколад Royal Forest Coconut Vegan Bar Кокосовое молоко, 50 г',),
 ('Крем-гель для душа LION Thailand Shokubutsu Monogotari Вишня с молоком, 500 мл',),
 ('Каша овсяная «Добряк» Ассорти клубника яблоко молоко, 190 г',)]

In [12]:
#2. посчитать общее количество товарных позиций

cursor.execute('''SELECT count() FROM products_history''')
cursor.fetchall()

[(100000,)]

In [26]:
#3. посчитать количество товаров когда товаром является молоко размером 1 литр
#'1 литр' не нашлось. По примеру товаров выше, вбила 1 л

cursor.execute('''SELECT count() FROM products_history WHERE title like '%молоко%' and title like '%1 л%' ''')
cursor.fetchall()

[(3,)]

In [39]:
#4. посчитать среднюю стоимость литрового пакет молока

cursor.execute('''SELECT avg(price_sale) FROM products_history 
WHERE title like '%молоко%' and title like '%1 л%' ''')
cursor.fetchall()

[(15.300000000000002,)]

In [ ]:
#5. в одном запросе вывести среднюю стоимость для пакетов молока 1 литр 950 и 900 миллилитров

In [45]:
#6. Выбрать 50 товаров, цена которых больше 50'000 и отсортировать по убыванию по цене.

cursor.execute('''SELECT title, price_sale FROM products_history 
WHERE price_sale > 50000 ORDER BY price_sale DESC
LIMIT 10''')
cursor.fetchall()

[('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99),
 ('Холодильник Ascoli ACDG571WE', 79999.99)]

In [47]:
#7. Изменить все названия в которых есть слово "Вино" в столбце "title" на "Винишко".

In [10]:
cursor.execute('''UPDATE products_history 
SET title = 'Винишко'
WHERE title like '%Вино%' ''')
cursor.fetchall()

#Меняю название.

[]

In [42]:
cursor.execute('''SELECT title, price_sale FROM products_history 
WHERE title like '%Винишко%' 
LIMIT 10''')
cursor.fetchall()


#Проверяю поменялось ли. Скажу честно, не совсем такой результат я ожидала, но всё получилось.

[('Винишко', 4300.99),
 ('Винишко', 4300.99),
 ('Винишко', 498.99),
 ('Винишко', 3870.99),
 ('Винишко', 498.99),
 ('Винишко', 4300.99),
 ('Винишко', 498.99),
 ('Винишко', 3870.99),
 ('Винишко', 498.99),
 ('Винишко', 3870.99)]

In [16]:
#8. Посчитать сумму стоимости товаров с id от 2877 до 2922.

cursor.execute('''SELECT sum(price_sale) FROM products_history 
WHERE id BETWEEN 2877 and 2922 ''')
cursor.fetchall()

[(120660.45000000007,)]

In [13]:
#9. Добавить столбец "Количество товаров в магазине".

cursor.execute('''ALTER TABLE products_history ADD COLUMN 'namber of items' int''')
cursor.fetchall()

[]

In [14]:
#Проверила добавлися ли. Выглядит странно.

cursor.execute('''SELECT sql FROM sqlite_master WHERE name = 'products_history' ''')
cursor.fetchall()

[('CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL, \'namber of items\' int)',)]

In [22]:
#Далее при попытке добавить данные в этот столбец выдаёт ошибку. 
#В названии нельзя писать несколько слов раздельно.
#Переименовала столбец, соединив все слова в названии с помощью нижнего подчеркивания.

cursor.execute('''ALTER TABLE products_history RENAME COLUMN 'namber of items' to 'namber_of_items' ''')
cursor.fetchall()

[]

In [23]:
#Проверила. ok

cursor.execute('''SELECT sql FROM sqlite_master WHERE name = 'products_history' ''')
cursor.fetchall()

[('CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL, "namber_of_items" int)',)]

In [24]:
#Добавила в новый столбец namber_of_items kоличество пo id.

cursor.execute('''UPDATE products_history 
SET namber_of_items = 50 
WHERE id = 2877''')
cursor.fetchall()

[]

In [25]:
#Проверила. ok

cursor.execute('''SELECT * FROM products_history
WHERE id = 2877''')
cursor.fetchall()

[(2877,
  '2022-12-06 15:35:11.739773',
  'Альбом для рисования Hatber А4, 48 л',
  112.99,
  'https://www.auchan.ru/product/alb-d-ris-48l-a4-perf-spiral',
  50)]

In [33]:
#10. Посчитать количество товаров в названиях которых есть "Лыжный комплект" и "Игрушка для собак".

cursor.execute('''SELECT count() FROM products_history 
WHERE title like "%Лыжный комплект%" or title like "%Игрушка для собак%" ''')
cursor.fetchall()

[(668,)]

In [36]:
#11. вывести среднюю стоимость товаров типа виски

cursor.execute('''SELECT avg(price_sale) FROM products_history 
WHERE title like "%виски%" ''')
cursor.fetchall()

[(76.21333333333334,)]

In [ ]:
#12. вывести товары совпадающие по типу

In [ ]:
#13. вывести товары весом меньше 50г

In [41]:
#14. упорядочить товары по цене
#Поставлю лимит 20. Если его убрать, то покажет все товары из списка, а их 10000

cursor.execute('''SELECT * FROM products_history 
ORDER BY price_sale
LIMIT 10''')
cursor.fetchall()

[(11674,
  '2022-12-06 15:40:29.293773',
  'Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)',
  0.95,
  'https://www.auchan.ru/product/oblozhka-plastek-xxi-vek-212h350-mm',
  None),
 (21272,
  '2022-12-06 16:39:17.307964',
  'Обложка «Пластэк-XXI век», 212х350 мм (мин. 10 шт.)',
  0.95,
  'https://www.auchan.ru/product/oblozhka-plastek-xxi-vek-212h350-mm',
  None),
 (304559,
  '2022-12-09 00:04:10.317129',
  'Семена Морковь «Удачные семена» Королева осени, 2 г',
  0.95,
  'https://www.auchan.ru/product/semena-morkov-udachnye-semena-koroleva-oseni-2-g',
  None),
 (5802,
  '2022-12-06 15:38:03.958477',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv',
  None),
 (15402,
  '2022-12-06 16:36:53.390825',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv',
  None),
 (74427,
  '2022-12-07 00:14:57.363301',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv',
  None),
 (80276,
  '2022-12-07 00:17:16.828117',
  'Семена Перец сладкий «Поиск» Белозерка, 0,25 г',
  1,
  'https://www.auchan.ru/product/perec-sl-belozerka-0-25gr-oi',
  None),
 (132466,
  '2022-12-07 07:33:08.961966',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv',
  None),
 (283784,
  '2022-12-08 01:08:40.817713',
  'Наклейка автомобильная Golden Snail Ребенок, 15х18 см',
  1,
  'https://www.auchan.ru/product/nakleyka-avtomobilnaya-golden-snail-rebenok-15h18-sm',
  None),
 (284674,
  '2022-12-08 01:09:01.803589',
  'Календарь 2022 «Атберг98» Государственная символика квартальный',
  1,
  'https://www.auchan.ru/product/k-r-2022-3bl-kvart-gos-simv',
  None)]

In [40]:
#15. вывести 5 самых дорогих и самых дешевых товара.
#Надо подумать. Завтра уже

cursor.execute('''SELECT max(price_sale) FROM products_history ''')
cursor.fetchall()

[(79999.99,)]