# Первая часть домашнего задания по SQL

## Реализовать на python базу данных по персоналу с двумя таблицами из занятия.

## Заполнить ее данными.

## Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отдел, отсортированных по убыванию средне зп.

## Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.