# Первая часть домашнего задания по SQL

## Реализовать на python базу данных по персоналу с двумя таблицами из занятия. Заполнить ее данными.

In [2]:
import sqlite3

In [3]:
sqlite_connection = sqlite3.connect("sql_workers.db")
cursor = sqlite_connection.cursor()
print("База данных создана")

База данных создана

In [4]:
sql_create_table_workers = "create table Workers(id int, name varchar(20), surname varchar(20), department_id int, salary int)"
cursor.execute(sql_create_table_workers)

In [5]:
cursor.fetchall()

[]

In [6]:
cursor.execute("""
insert into Workers(id, name, surname, department_id, salary)
values
(1, "Иван", "Иванов", 1, 5000),
(2, "Светлана", "Сидорова", 1, 4500),
(3, "Илья", "Макаров", 2, 4500),
(4, "Марина", "Федорова", 2, 6000),
(5, "Вадим", "Ильин", 3, 7000),
(6, "Илья", "Филатов", 4, 5500),
(7, "Марина", "Сидорова", 2, 9000),
(8, "Вадим", "Ильин", 3, 7000)
""")
cursor.fetchall()

[]

In [8]:
cursor.execute("select * from Workers")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000),
 (2, 'Светлана', 'Сидорова', 1, 4500),
 (3, 'Илья', 'Макаров', 2, 4500),
 (4, 'Марина', 'Федорова', 2, 6000),
 (5, 'Вадим', 'Ильин', 3, 7000),
 (6, 'Илья', 'Филатов', 4, 5500),
 (7, 'Марина', 'Сидорова', 2, 9000),
 (8, 'Вадим', 'Ильин', 3, 7000)]

In [9]:
sql_create_table_department = "create table Department(id int, name varchar(20))"
cursor.execute(sql_create_table_department)

In [13]:
cursor.execute("""
insert into Department(id, name) 
values
(1, "Маркетинг"),
(2, "Продажи"),
(3, "Бухгалтерия")
""")
cursor.fetchall()

[]

In [14]:
cursor.execute("select * from Department")
cursor.fetchall()

[(1, 'Маркетинг'), (2, 'Продажи'), (3, 'Бухгалтерия')]

## Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отдел, отсортированных по убыванию средне зп.

In [17]:
cursor.execute("""
select Department.name as "Департамент", avg(salary)
from Workers
join Department on Workers.department_id = Department.id
group by department_id
order by avg(salary) desc
""")
cursor.fetchall()

[('Бухгалтерия', 7000.0), ('Продажи', 6500.0), ('Маркетинг', 4750.0)]

## Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.

In [18]:
cursor.execute("""
insert into Workers(id, name, surname, department_id, salary)
values
(9, "Марк", "Иванов", 1, 1000)
""")
cursor.fetchall()

[]

In [19]:
cursor.execute("""select Department.name as "Департамент", avg(salary)
from Workers
join Department on Workers.department_id = Department.id
group by department_id
order by avg(salary) desc
""")
cursor.fetchall()

[('Бухгалтерия', 7000.0), ('Продажи', 6500.0), ('Маркетинг', 3500.0)]

In [20]:
sqlite_connection.close()