Вычислить результат следующих операций: <br>
10 * (5 + 3)<br>
(20 - 6) / 2<br>
2 ** 5 (возведение 2 в 5-ю степень)<br>
25 // 4 (целая часть от деления)<br>
25 % 4 (остаток от деления)<br>

In [1]:
multiplication = 10*(5+3)
print(multiplication)

print((20 - 6) / 2)

print(2 ** 5)

print(25 // 4)

print(25 % 4)

80
7.0
32
6
1

Дано дробное число:<br>
number = -3.14<br>
Выполнить следующие операции:<br>
Округлите число до целого.<br>
Возьмите остаток числа.<br>

In [2]:
number = -3.14
print('округление до целого как в програмировании', int(number))
print('округление до целого как в школе', round(number))

print('остаток числа', "%.2f"%(number-int(number)))

округление до целого как в програмировании -3
округление до целого как в школе -3
остаток числа -0.14

Даны стороны прямоугольника: a = 5, b = 7. <br>
Вычислть площадь прямоугольника и вывести результат на экран.<br>

In [3]:
a = 5
b = 7
S = a*b
print(S)

35

На какой объем воздуха должен быть расчитан кондиционер, если с его помощью хотят охлаждать квартиру в которой размер гостинной 3.5 на 6.4 метра, спальни 3.4 на 4 метра и площадь не жилой части 11 метров. При том что высота потолков 3,1 метр.

In [4]:
round((3.5*6.4+3.4*4+11)*3.1,1)

145.7

Дано квадратное уравнение вида ax^2 + bx + c = 0.<br>
Найти его решения, используя формулу дискриминанта.<br>
a номер текущего месяца<br>
b номер вашей группы<br>
c минус десять (-10)<br>

In [5]:
a=2
b=7
c=-10
D = b**2-4*a*c
print('дискриминант =', D)
if D>0 :
    print('корень1 =', round((-b + D ** (0.5))/(2*a),2), 'корень2 =', round((-b - D ** (0.5))/(2*a),2))
else:
    if D==0:
        print('корень =', (-b)/(2*a))
    else:
        print('кореней нет')

дискриминант = 129
корень1 = 1.09 корень2 = -4.59

Даны строки:<br>
string1 = "hello, "<br>
string2 = "world!"<br>
Объединить строки string1 и string2 и результат вывести на экран так чтобы первая буква в предложении стала заглавной.<br>

In [6]:
string1 = "hello, "
string2 = "world!"
str3 = (string1 + string2).capitalize()
print(str3)

Hello, world!

Сколько символов было в предыдущей строке?

In [7]:
len(str3)

13

Выведите на экран строку la 25 раз.

In [8]:
la = "La"
for x in range(25):
    print(x+1,la)
print("\n\n")
print("la "*24)

1 La
2 La
3 La
4 La
5 La
6 La
7 La
8 La
9 La
10 La
11 La
12 La
13 La
14 La
15 La
16 La
17 La
18 La
19 La
20 La
21 La
22 La
23 La
24 La
25 La



la la la la la la la la la la la la la la la la la la la la la la la la

Дан список чисел: <br>
numbers = [1, 2, 3, 4, 5] <br>
Выполнить следующие операции: <br>
1. Измените число 2 на строку "hi"  <br>
2. Выведите значение, находящееся на позиции 2. <br>
3. Изменить значение на позиции 4 на список из 3 элементов [8, 6, 4]. <br>
Результаты вывести на экран.<br>

In [9]:
numbers = [1, 2, 3, 4, 5] 
print (numbers)

numbers[1] = "hi"
print (numbers)

print ("число на позиции 2 это", numbers[1])

numbers[3] = [8, 6, 4]
print (numbers)

[1, 2, 3, 4, 5]
[1, 'hi', 3, 4, 5]
число на позиции 2 это hi
[1, 'hi', 3, [8, 6, 4], 5]

Дан список чисел: <br>
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
Извлеките подсписок с 3-го по 7-й элемент включительно. <br>

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2-1:7-1+1])

[2, 3, 4, 5, 6, 7]