In [ ]:
Напишите цикл for, который выводит все элементы множества set1.

In [2]:
set1 = {1, 2, 3, 4, 5}
for i in set1:
         print(i)

1
2
3
4
5

Напишите цикл while, который выводит квадраты чисел от 1 до 5.

In [6]:
i = 1
while i <= 5:
    print(i**2)
    i = i + 1

1
4
9
16
25

Напишите цикл for, который перебирает все ключи словаря fruits_quantity и выводит каждый товар.

In [1]:
fruits_quantity =  {"яблоко": 5, "банан": 10, "апельсин": 7}
for k in fruits_quantity:
    print(k)

яблоко
банан
апельсин

Выведите сообщение "%название фрукта% - дорогой товар" для фруктов из fruit_prices, цена которых превышает 1.5, подставив вместо %название фрукта% название соответствующих "дорогих" фруктов

In [2]:
fruits_prices = {
    "яблоко": "1.5",
    "банан": "2",
    "апельсин": "1.2"
}
for name , price in fruits_prices.items():
       if price > '1.5':
            print(f' {name} дорогой товар')
       elif price <= '1.5':
            print(f' {name} приемлемая цена')

 яблоко приемлемая цена
 банан дорогой товар
 апельсин приемлемая цена

Посчитайте стоимость всех фруктов, имеющихся в наличии

In [4]:
fruits_quantity =  {"яблоко": 5, "банан": 10, "апельсин": 7}
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}
fruits_all = []
for k in fruits_quantity:
    summa = fruits_prices[k]*fruits_quantity[k]
    fruits_all.append(summa)
print (sum(fruits_all))

35.9

Используя цикл for, выведите всех студентов и их возраст из словаря students.v

In [9]:
students = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}
for k in students.keys():
    print (k, '-', students[k])

Иванов - 22
Петрова - 13
Сидоров - 23