# Часть 5 - Функции

## Множества

1. Создайте функции **set_union** и **set_difference** для операций объединения и разности множеств.
   - Функции должны принимать два множества и возвращать соответствующий результат.

In [1]:
def set_union(set1, set2):
    res = set1.union(set2)
    return(res)

def set_difference(set1, set2):
    res = set1.difference(set2)
    return(res)

set1 = {1, 2, 3}
set2 = {0, 1, 2}
print(set_union(set1,set2))
print(set_difference(set1, set2))

{0, 1, 2, 3}
{3}

2. Создайте функцию **is_subset** для проверки, является ли одно множество подмножеством другого.

In [2]:
def is_subset(set1, set2):
    return(s1.issubset(s2))
#print(first_three_planets.issubset(solar_system)) 
s1 = {'1'}
s2 = {'1', '2', '3'}

print(is_subset(s1, s2))

True

3. Создайте функцию для объединения нескольких множеств.

In [3]:
def sets_union1(*sets):
    result_set = set()
    for current_set in sets:
        res = result_set.union(current_set)
        #result_set = result_set | current_set

In [4]:
def union(set1, *sets):
  return set1.union(*sets)

a = {1,2,3,4}
b = {4,5,6}
c = {7,4,1}
union(a,b,c)

{1, 2, 3, 4, 5, 6, 7}

4. Создайте функцию для удаления конкретного элемента из множества.

In [5]:
def del_element(s, n):
    s.remove(n)
    return(s)

In [6]:
set_test = {0,1,2,3,4}
del_element(set_test, 2)

{0, 1, 3, 4}

5. Создайте функцию для поиска пересечения нескольких множеств.

In [7]:
def set_inter(set_1, *sets):
    intset = set_1
    for n in sets:
        intset = intset & n
    return(intset)

In [8]:
set_1 = {1,2,3}
set_2 = {2,3,4}
set_3 = {2,4,6}
set_inter(set_1, set_2, set_3)

{2}

6. Создайте функцию для проверки на равенство двух множеств.

In [9]:
def is_equal(s_1, s_2):
    intset = s_1 & s_2
    if intset == s_1:
        return('sets are equal')
    else:
        return("sets aren't equal")

In [10]:
s_1 = {1,2,3}
s_2 = {1,2,3}
print(is_equal(s_1, s_2))

s_1 = {1,2,3}
s_2 = {2,3,4}
print(is_equal(s_1, s_2))

sets are equal
sets aren't equal

7. Создайте функцию для нахождения объединения трех множеств.

In [11]:
def set_union_3(s1,s2,s3):
    temp = s1.union(s2)
    res = temp.union(s3)
    return(res)

In [12]:
def set_union_test(s1,s2,s3):
    res = s1.union(s2,s3)
    return(res)

In [13]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}
print(set_union_3(s1,s2,s3))

s1 = {1,2, 'a'}
s2 = {4,5,'b'}
s3 = {7,8,'c'}
print(set_union_test(s1, s2, s3))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 'c', 4, 5, 'b', 8, 7, 'a'}

8. Создайте функцию для проверки, являются ли два множества дизъюнктными (не имеют общих элементов).

In [14]:
def is_dis(s_1, s_2):
    intset = s_1 & s_2
    if intset == set():
        return("sets haven't equal elements")
    else:
        return("sets have equal elements")

In [15]:
s_1 = {1,2,3}
s_2 = {5,6,4}
print(is_dis(s_1, s_2))

sets haven't equal elements

9. Создайте функцию для нахождения разности двух множеств.

In [16]:
def set_difference(set1, set2):
    res = set1.difference(set2)
    return(res)

In [17]:
s_1 = {1,2,3,7}
s_2 = {5,6,4,3}
print(set_difference(s_1, s_2))

{1, 2, 7}

10. Создайте функцию для определения симметрической разности двух множеств.

In [18]:
def simmetric_set(s1, s2):
    sim_set = s1.symmetric_difference(s2)

11. Создайте функцию **create_set** для создания множества с заданными элементами.
   - Функция должна принимать переменное количество аргументов и возвращать новое множество.

In [19]:
def create_set(*args):
    return set(args)

In [20]:
create_set(1, 2, 3)

{1, 2, 3}

## Словари

1. Создайте функцию **create_dictionary** для создания словаря с заданными ключами и значениями.
   - Функция должна принимать словарь в формате ключ-значение и возвращать созданный словарь.

In [21]:
def create_dictionary(**args):
    return args

In [22]:
print(create_dictionary(name='Anna', age='28', city='Moscow'))

{'name': 'Anna', 'age': '28', 'city': 'Moscow'}

2. Напишите функции add_student и remove_student для добавления и удаления студентов из словаря.
   - Функции должны принимать словарь студентов и соответствующие данные для добавления и удаления.

In [23]:
def add_student(dict_student, name, age):
    dict_student[name] = age

In [24]:
students = {"Иванов": 22, "Петрова": 13, "Сидоров": 23}
add_student(students, 'Смирнова', 24)
print(students)



# students = add_student(students, Смирнова, 25)
# #students["Смирнова"] = (20)
# students

{'Иванов': 22, 'Петрова': 13, 'Сидоров': 23, 'Смирнова': 24}

In [25]:
def remove_student(dict_student, name):
    del dict_student[name]

In [26]:
remove_student(students, "Петрова")
students

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 24}

3. Напишите функции **add_fruit** и **remove_fruit** для добавления и удаления фруктов, их количества и стоимости в списки fruits_quantity и fruits_prices.
   - Функции должны принимать словари и соответствующие данные для добавления и удаления.

In [27]:
def add_fruit(fruits_quantity, fruits_prices, name, quant, price):
    fruits_quantity[name] = quant
    fruits_prices[name] = price

In [56]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

In [57]:
fruits_prices = {
    "яблоко": 1.5,
    "банан": 2,
    "апельсин": 1.2
}

In [30]:
add_fruit(fruits_quantity, fruits_prices, 'мандарин', 5, 10)
print(fruits_quantity)
print(fruits_prices)

{'яблоко': 5, 'банан': 10, 'апельсин': 7, 'мандарин': 5}
{'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'мандарин': 10}

In [31]:
def remove_fruit(fruits_quantity, fruits_prices, name):
    if not(name in fruits_quantity and name in fruits_prices):
        print('такого фрукта нет')
    else:
        del fruits_quantity[name]
        del fruits_prices[name]

In [32]:
def remove_fruit_best(fruits_quantity, fruits_prices, name):
    if name in fruits_quantity and name in fruits_prices:
        del fruits_quantity[name]
        del fruits_prices[name]
    else:
         print('такого фрукта нет')

In [33]:
remove_fruit(fruits_quantity, fruits_prices, 'fh,ep')
print(fruits_quantity)
print(fruits_prices)
remove_fruit_best(fruits_quantity, fruits_prices, 'арбуз')
remove_fruit_best(fruits_quantity, fruits_prices, 'банан')
print(fruits_quantity)
print(fruits_prices)

такого фрукта нет
{'яблоко': 5, 'банан': 10, 'апельсин': 7, 'мандарин': 5}
{'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2, 'мандарин': 10}
такого фрукта нет
{'яблоко': 5, 'апельсин': 7, 'мандарин': 5}
{'яблоко': 1.5, 'апельсин': 1.2, 'мандарин': 10}

    
4. Создайте функцию для объединения двух словарей.

In [34]:
def dict_union(dict1, dict2):
    dict1.update(dict2)
    return dict1

In [35]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}
fruits_prices = {
    "абрикос": 1.5,
    "мандарин": 2,
    "апельсин": 1.2
}
dict_union(fruits_quantity, fruits_prices)

{'яблоко': 5, 'банан': 10, 'апельсин': 1.2, 'абрикос': 1.5, 'мандарин': 2}

5. Создайте функцию для удаления элемента из словаря по заданному ключу.

In [36]:
def remove_fruit_key(dict1, name):
        del dict1[name]

In [37]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

remove_fruit_key(fruits_quantity, 'банан')
print(fruits_quantity)

{'яблоко': 5, 'апельсин': 7}

6. Создайте функцию для переворачивания значений и ключей в словаре (принимает на вход словарь, возвращает другой словарь, ключами которого являются значения входного словаря, а значениями - ключи.

In [38]:
print(fruits_quantity)

def kwchange(dict1):
    dict2 = {}
    for k, v in dict1.items():
        dict2[v] = k
    return dict2

kwchange(fruits_quantity)

{'яблоко': 5, 'апельсин': 7}

{5: 'яблоко', 7: 'апельсин'}

7. Создайте функцию для сортировки словаря по ключам в обратном порядке.

In [39]:
def dict_sort(dict1):
    sort_dict = sorted(dict1.items(), reverse = True)
    return(sort_dict)

In [40]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}
print(fruits_quantity)

print(dict_sort(fruits_quantity))

{'яблоко': 5, 'банан': 10, 'апельсин': 7}
[('яблоко', 5), ('банан', 10), ('апельсин', 7)]

In [41]:
print(fruits_quantity)

print(dict(sorted(fruits_quantity.items()))) 
print(dict(sorted(fruits_quantity.items(), reverse = True)))

{'яблоко': 5, 'банан': 10, 'апельсин': 7}
{'апельсин': 7, 'банан': 10, 'яблоко': 5}
{'яблоко': 5, 'банан': 10, 'апельсин': 7}

8.  Создайте функцию возвращающую наибольшее значение элемента словаря.

In [42]:
def dict_max(d):
    res = max(d.values())
    return res

In [43]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

dict_max(fruits_quantity)

10

In [44]:
def dict_max1(d):
    result = float('-inf')
    for v in d.values():
        if v > result:
            result = v
    return result

In [45]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

dict_max1(fruits_quantity)

10

9. Создайте функцию для поиска наибольшего значения в словаре.

In [46]:
def dict_max1(d):
    result = float('-inf') # решение GPT чата
    for v in d.values():
        if v > result:
            result = v
    return result

In [47]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

dict_max1(fruits_quantity)

10

In [48]:

# функция для нахождения минимального значения
def dict_min(d):
    result = float('inf') # решение GPT чата
    for v in d.values():
        if v < result:
            result = v
    return result

In [49]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7
}

dict_min(fruits_quantity)

5

## Условия и циклы

1. Создайте функцию **check_fruit_price** для проверки стоимости фрукта и вывода соответствующего сообщения.
   - Функция должна принимать словарь цен на фрукты и название фрукта, а затем выводить сообщение "дорогой товар", если цена фрукта больше 1.5.

In [50]:
def check_fruit_price(dict_price, fruit):
    if dict_price[fruit] > 1.5:
        print ("дорогой товар")

In [51]:
fruits_quantity = {
    "яблоко": 5,
    "банан": 10,
    "апельсин": 7,
    "слива": 1
}

check_fruit_price(fruits_quantity, "апельсин")

дорогой товар

2. Создайте функцию check_age для проверки возраста студента и вывода соответствующего сообщения.
   - Функция должна принимать словарь студентов и имя студента, а затем выводить сообщение о совершеннолетии или несовершеннолетии.

In [52]:
def check_age(dict_student, name): 
    if dict_student[name] >= 18:
        print (name + ' совершеннолетний')
    else:
        print (name + ' несовершеннолетний')

In [53]:
students = {"Иванов": 22, "Петров": 13, "Сидоров": 23}
check_age(students, "Иванов")
check_age(students, "Петров")

Иванов совершеннолетний
Петров несовершеннолетний

3. Создайте функцию **compare_sets_length**, которая сравнивает длину двух множеств и выводит информацию о  том, какое из множеств длиннее.
   - Функция должна принимать два множества и выводить соответствующее сообщение.

In [54]:
#m = 123
#'m is {n}'.format(n = m)

In [55]:
def compare_sets_length(set1, set2):
    if len(set1) > len(set2):
        print ('set1 is longer than set2')
    elif len(set1) < len(set2):
        print ('set2 is longer than set1')
    else:
        print ("set1 is equal with set2")

In [56]:
a = {1,2,3,4,5} 
b = {1,2,3,4,5,6,7} 
c = {1,2,3,4,5} 

compare_sets_length(a, b)
print('-------------------')
compare_sets_length(a, c)
print('-------------------')
compare_sets_length(b, c)

set2 is longer than set1
-------------------
set1 is equal with set2
-------------------
set1 is longer than set2

4. Создайте функцию для определения четности или нечетности числа.

In [57]:
def is_even(number):
    if number % 2 == 0:
        return ("number is even")
    else:
        return ("number isn't even")

In [58]:
print(is_even(24))

number is even

5. Создайте функцию для определения високосного года. Функция должна принимать на вход год в виде числа и возвращать строку "високосный" или "обычный"

In [9]:
def is_year_leap(year):
    if year % 400 == 0 and year % 100 == 0:
        return 'This year is leap'
    elif year % 4 == 0 and year % 100 != 0:
        return 'This year is leap'
    else:
        return "This year isn't leap"

In [10]:
print(is_year_leap(2100))
print(is_year_leap(2024))

This year isn't leap
This year is leap

6. Создайте функцию для определения типа треугольника по длинам сторон (принимает длины сторон, возвращает "остроугольный, прямоугольный, тупоугольный или не треугольник").

In [12]:
def which_triangle(a, b, c):
    if a > 0 and b > 0 and c > 0:
        if a ** 2 == (b + c) ** 2 or b ** 2 == (a + c) ** 2 or c ** 2 == (a + b) ** 2:
            return ("it is right triangle")
        if (a ** 2 > ((b + c) ** 2)) or (b ** 2 > ((a + c)) ** 2) or(c ** 2 > ((a + b) ** 2)):
            return ("it is obtuse triangle")
        if a ** 2 < ((b + c) ** 2) or b ** 2 < ((a + c) ** 2) or c ** 2 < ((a + b) ** 2):
            return ("it is acute-angle triangle")
    else:
        return ("It isn't triangol")
    


#obtuse - тупоугольный
#right - прямоугольный
#acute-angled - остроугольный

In [15]:
print(which_triangle(1, 1, 8))

it is obtuse triangle

In [ ]:
#def which_triangle_test(*args):
  ##  k = 0
   # for i in args:
    #    k += 1
  #  if k == 3:
     #   if aargs > 0 and bargs > 0 and cargs > 0:

7. Создайте функцию для проверки, является ли строка палиндромом.

In [73]:
def is_polyndrom(text):
    r_text = text[::-1]
    if text == r_text:
        return('Yes')
    else:
        return('No')

text = "anna"
is_polyndrom(text)

'Yes'

In [72]:
def is_polyndrom(text):
    r_text = ''.join(reversed(text))
    if text == r_text:
        return('Yes')
    else:
        return('No')

text = "anna anna"
is_polyndrom(text)

'Yes'

8. Создайте функцию для определения времени суток по введенному времени ( принимает текущее время в формате часы, минуты, возвращает утро, день, вечер, ночь).

In [85]:
def time_of_day(h, m):
    if  0 <= m <= 60:
        if 0 <= h < 6:
            return 'night'
        if 6 <= h < 12:
            return 'morning'
        elif 12 <= h < 18:
            return 'day'
        else:
            return 'evening'


time_of_day(23, 5)

'evening'

9. Создайте функцию, которая определяет, является ли введенное число простым.

In [2]:
def is_prime(n):
    if n <= 1:
        return ('num isn"t prime')
    else:
        d = 2
        while n % d != 0:
            d += 1
        if d == n:
            return ('num is prime')
        else:
            return ('num isn"t prime')

In [3]:
print(is_prime(13))

'num is prime'

In [4]:
print(is_prime(4))

'num isn"t prime'

10. Создайте функцию для проверки входящей строки на наличие только буквенных символов.

In [18]:
def check_line(line):
    if line.isalpha():
        return True
    else:
        return False

In [24]:
line1 = '1q2w3e4r'
line2 = 'pojhbjhytr'
print(check_line(line1))
print(check_line(line2))

False
True

11. Создайте функцию, которая определяет, является ли введенная дата корректной (дата вводится в виде трех чисел, день, месяц, год. Корректной датой считается существующая комбинация этих трех чисел).

In [ ]:
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [37]:
if 1<=13<=12: print(123)
else: print(321)

321

In [53]:
def check_data(day, month, year):
    if day < 1 or day > 31:
        return ('not OK')
    short_month = [4,6,9,11]
    longmonth = [1,3,5,7,8,10,12]
    if year >= 0:
        if 1 <= month <= 12:
            if month == 2:
                if is_year_leap(year) == 'This year is leap':
                    if 1 <= day <= 29:
                        return ('OK')
                else: return ('not OK')
            elif month in short_month:
                if 1 <= day <= 30:
                    return ('OK')       
            elif month in longmonth:
                    return ('OK')  
        else: return ('not OK')
    else:
        return ('not OK')
        
print(check_data(13, 13, 2023))
print(check_data(13, 12, 2023))
print(check_data(29, 2, 2023))
print(check_data(29, 2, 2024))

not OK
OK
not OK
OK

In [47]:
#Решение Руслана
def is_valid_date(y, m, d):
    import datetime
    try:
        dt = datetime.date(int(y), int(m), int(d))
        return True
    except:
        return False

print(is_valid_date(2023, 13, 13))
print(is_valid_date(2023, 12, 13))
print(is_valid_date(2023, 2, 29))
print(is_valid_date(2024, 2, 29))

False
True
False
True

In [54]:
print(check_data(36, 12, 2024))

not OK

In [ ]:
В Январе, Марте, Мае, Июле, Августе, Октябре и Декабре - 31 день
. В Апреле, Июне, Сентябре и Ноябре - 30 дней. В Феврале - 28 дней, но если год високосный - 29 дне

In [ ]:
#Решения чата GPT
def is_valid_date(day, month, year):
    try:
        import datetime
        datetime.datetime(year, month, day)
        return True
    except ValueError:
        return False

# Пример использования:
day = 15
month = 4
year = 2024

if is_valid_date(day, month, year):
    print(f"{day}.{month}.{year} - корректная дата.")
else:
    print(f"{day}.{month}.{year} - некорректная дата.")

12. Создайте функцию, которая определяет, является ли введенное число палиндромом.

In [36]:
def is_polyndrom(text):
    text = str(text)
    r_text = ''.join(reversed(text))
    if text == r_text:
        return('Yes')
    else:
        return('No')

text = "12341"
print(is_polyndrom(text))
print(is_polyndrom("123321"))

No
Yes

13. Создайте функцию для определения дня недели по введенному номеру дня (1 - Понедельник, 2 - Вторник и т.д.).

In [26]:
def day_of_week(n):
    week = ['Понедельник', 'Вторник', 'Среда','Четверг','Пятница','Суббота','Воскресенье']
    return week[n-1]

In [27]:
print(day_of_week(1))
print(day_of_week(2))
print(day_of_week(7))

Понедельник
Вторник
Воскресенье

14. Создайте функцию **print_fruits_info** для вывода информации о количестве и стоимости фруктов из словарей.
   - Функция должна принимать словари с информацией "фрукт:количество" и "фрукт:цена" и выводить для каждого фрукта его стоимость и количество.

In [66]:
def print_fruits_info(dict_quantity, dict_price):
    for key in fruits_quantity:
        print(f'{key} --- {fruits_quantity[key]} шт --- {fruits_prices[key]} р/шт')

fruits_quantity = {"яблоко": 5, "банан": 10, "апельсин": 7}
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}

print_fruits_info(fruits_quantity, fruits_prices)

яблоко --- 5 шт --- 1.5 р/шт
банан --- 10 шт --- 2 р/шт
апельсин --- 7 шт --- 1.2 р/шт

In [65]:
def print_fruits_info(dict_quantity, dict_price):
    for key in fruits_quantity:
        print(key, fruits_quantity[key], fruits_prices[key])

fruits_quantity = {"яблоко": 5, "банан": 10, "апельсин": 7}
fruits_prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}

print_fruits_info(fruits_quantity, fruits_prices)

яблоко 5 1.5
банан 10 2
апельсин 7 1.2

15. Создайте функцию **print_squares_while**, которая использует цикл while для вывода квадратов чисел от 1 до 5.

In [88]:
def print_squares_while():
    i = 1
    while i <= 5:
        print (i ** 2)
        i += 1

print_squares_while()

1
4
9
16
25

16. Создайте функцию для вывода факториала заданного числа.

In [8]:
def factorial(n):
    res = 1
    if n < 0:
        return ('No Factorial')
    elif n == 0:
       return res
    else:
        for i in range (1, n+1):
            res = res * i
        return res

In [9]:
print(factorial(0))
print(factorial(-1))
print(factorial(3))

1
No Factorial
6

17. Создайте функцию для поиска суммы чисел в заданном диапазоне (принимает на вход два числа, возвращает сумму чисел находящихся между ними, включительно.)

In [12]:
def find_sum(a, b):
    res = 0
    for i in range(a, b+1):
        res = res + i
    return res

In [17]:
find_sum(-3,5)

8

18. Создайте функцию для генерации и вывода всех простых чисел до заданного числа.

In [33]:
def sum_prime_numbers(n):
    res = 0
    def is_prime(n):
        if n <= 1:
            return ('no result')
        else:
            d = 2
            while n % d != 0:
                d += 1
            if d == n:
                return (1)
            else:
                return ('no result')
    if n > 1:
        for i in range (2, n+1):
            if is_prime(i) == 1:
                res = res + i
    else:
        res = 'no simple numbers'
    return res

In [40]:
print(sum_prime_numbers(5))
print(sum_prime_numbers(-1))
print(sum_prime_numbers(0))
print(sum_prime_numbers(13))

10
no simple numbers
no simple numbers
41

19. Создайте функцию для проверки строки на палиндромность без учёта регистра и знаков препинания.

In [70]:
def str_palindrome(text):
    r_text = ''
    for a in text:
        if a.isalnum():
            r_text += a.lower()
    return r_text == r_text[::-1]

print(str_palindrome('Madam! AdAm'))
print(str_palindrome('Madam, Elen'))

True
False

20. Создайте функцию для поиска наибольшего общего делителя (НОД) двух чисел.

In [ ]:
#решение можно писать тут

21. Создайте функцию print_students для вывода информации о студентах из словаря.
   - Функция должна принимать словарь студентов и выводить их имена и возраст.

In [ ]:
#решение можно писать тут

22. Создайте функцию get_value_from_user, принимающую на вход одно число ("порог"), и запрашивающую у пользователя ввод числа до тех пор, пока он не введет число выше "порога".

In [12]:
def get_value_from_user(n):
    a = int(input())
    if a <= n:
        a = int(input())

In [13]:
get_value_from_user(4)

 1
 2

## Общие

1. Создайте функцию, которая будет запрашивать у пользователя его возраст.
   - Если возраст меньше 18 лет, программа должна выводить сообщение о том, что пользователь несовершеннолетний.
   - Если возраст от 18 до 65 лет, программа должна выводить сообщение о том, что пользователь взрослый.
   - Если возраст больше 65 лет, программа должна выводить сообщение о том, что пользователь пенсионер.

In [ ]:
def what_age():
    print ("Введите возраст")
    age = int(float(input()))
    if age < 18:
        print ("пользователь несовершеннолетний")
    elif 18 <= age < 65:
        print('пользователь взрослый')
    else:
        print ("пользователь пенсионер")

In [ ]:
what_age()

2. Создайте функцию, которая будет проверять введенную пользователем строку на наличие повторяющихся символов.
   - Если такие символы найдены, программа должна выводить их перечень и количество повторов для каждого.

In [ ]:
#решение можно писать тут