In [1]:
#https://pythontutor.com/render.html#mode=display

Итераторы - генераторы
Гил
  - паралеьная разработка - запуск на форка и тредат.
Лямда
Мапы
Филтры
Редьюс
rest

In [10]:
def a1(names):
    print(names)
    names[0] = 'Vasya'
    print(names)
    
def b1(chislo):
    print(chislo)
    chislo = 10
    print(chislo)
    
chislo_1 = 5
print('chislo_1 =', chislo_1)
print(b1(chislo_1))
print('chislo_1 =', chislo_1)

names = ['pety', 'mity']
print('names =', names)
print(a1(names))
print('names =', names)

('chislo_1 =', 5)
5
10
None
('chislo_1 =', 5)
('names =', ['pety', 'mity'])
['pety', 'mity']
['Vasya', 'mity']
None
('names =', ['Vasya', 'mity'])

In [ ]:
#  иззмененяемые
спосок
словрь
(файловый дискритор)
созданные обекты

#не ихзменяем
кортеж (tuple)
строка
число
bool
complex

In [14]:
type(range(10))

list

In [ ]:
k = range(10000000)

In [1]:
l = list(range(10000000))

In [4]:
# lambda
def func_1(x):
    return x + 2

f_2 = lambda x: x + 2

print(type(func_1))
print(type(f_2))

<type 'function'>
<type 'function'>

In [5]:
func_1(1)

3

In [7]:
f_2(2)

4

In [15]:
#map

In [16]:
names = ['pety ', 'mity ', 'vasey ', 'olye ']

In [17]:
new_names = map(lambda x: x.replace(' ', ''), names)

In [18]:
new_names

['pety', 'mity', 'vasey', 'olye']

In [19]:
ch = [1,2,3,4,5]

In [20]:
new_ch = map(lambda x: x**2, ch)

In [21]:
new_ch

[1, 4, 9, 16, 25]

In [22]:
# filter

In [25]:
new_names_2 = filter(lambda x: True if x != 'pety' else False, new_names)

In [26]:
new_names_2

['mity', 'vasey', 'olye']

In [30]:
new_ch_2 = filter(lambda x: True if x >= 5 else False, new_ch)

In [31]:
new_ch_2

[9, 16, 25]

In [32]:
def new_funk_3(x):
    if x >= 5:
        return  True
    else:
        return False

In [33]:
new_ch_3 = filter(new_funk_3, new_ch)

In [34]:
new_ch_3

[9, 16, 25]

In [37]:
ss = lambda x, y: x + y + 6

In [38]:
ss(1,2)

9

In [39]:
#reduce

In [48]:
new_ch_4 = reduce(lambda resumt_on_last_step, curnnet_value: resumt_on_last_step + curnnet_value,  new_ch_3)

In [49]:
new_ch_4

50

In [44]:
sum(new_ch_3)

50

In [50]:
new_ch_4 = reduce(lambda resumt_on_last_step, curnnet_value: resumt_on_last_step + curnnet_value ** 2,  ch)

In [51]:
new_ch_4

55

In [52]:
def my_sum_func(x,y):
    sum_all = x + y
    return sum_all

In [53]:
new_ch_5 = reduce(my_sum_func, ch)

In [54]:
ch

[1, 2, 3, 4, 5]

In [55]:
new_ch_5

15

In [59]:
sum_result = 0
for x in ch:
    print(sum_result)
    sum_result = sum_result + x
    print('r =',sum_result)

0
('r =', 1)
1
('r =', 3)
3
('r =', 6)
6
('r =', 10)
10
('r =', 15)

In [57]:
sum_result

15

In [60]:
#[1, ..... , 1000000000000000000]
#[1, ..., 1000], [1001, ..., 2000], [2001, ..., 3000], [3001, ..., 4000], [4001, ..., 5000], [5001, ..., 6000] ....
# 30, 49, 2, ...
# 1021312

#map - reduce

In [61]:
# rest Api

In [64]:
#http https

In [65]:
#get /lab/workspaces/bdf9b5fb42b5729cefb314126d77693a9e5855502db480f0  http://localhost:19999/

In [66]:
#post /lab/workspaces/bdf9b5fb42b5729cefb314126d77693a9e5855502db480f0 http://localhost:19999/ {body}

In [ ]:
#update /lab/workspaces/bdf9b5fb42b5729cefb314126d77693a9e5855502db480f0 http://localhost:19999/ {body-part}

In [67]:
#head /lab/workspaces/bdf9b5fb42b5729cefb314126d77693a9e5855502db480f0 http://localhost:19999/ дата и змения

In [69]:
{
    name: 'Vasya'
    year: 1999
    street: 'tverskaya'
}

SyntaxError: invalid syntax (<ipython-input-69-4c2fc191d882>, line 3)

In [114]:
def duplicate_dict_by_dict_with_count_(given_list):
    dict_duplicate = {}
    for task in given_list:
        if task in dict_duplicate:
            dict_duplicate[task] += 1
        else:
            dict_duplicate[task] = 1
    #dict_duplicate = [x for x in dict_duplicate.items() if x[1] > 1]
    
    dict_duplicate = dict(filter(lambda x: x[1] > 1, dict_duplicate.items()))
    return dict_duplicate

In [115]:
dict_duplicate = duplicate_dict_by_dict_with_count_([1,2,3,4,5,1,4,5,5])

In [116]:
dict_duplicate

{1: 2, 4: 2, 5: 3}

In [118]:

for x in dict_duplicate.items():
    print(type(x))
    print(x)

<type 'tuple'>
(1, 2)
<type 'tuple'>
(4, 2)
<type 'tuple'>
(5, 3)

In [119]:
dict_duplicate.items()

[(1, 2), (4, 2), (5, 3)]

In [120]:
type(dict_duplicate.items())

list

In [121]:
type(dict_duplicate.items()[0])

tuple