# Часть 1. Множества

1. Создайте множество **set1** из целых чисел: 1, 2, 3, 4, 5.

In [23]:
set1 = {1, 2, 3, 4, 5}

2. Добавьте в это множество элемент 6.

In [5]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

3. Удалите элемент 2 из множества.

In [15]:
set1.discard(2)
set1
# удалил элемент

{1, 3, 4, 5, 6}

In [16]:
set1.discard(2)
set1
# уже нет такого элемента, но при попытке удалить не ругается

{1, 3, 4, 5, 6}

In [17]:
set1.remove(2)
set1
# уже нет такого элемента, но при попытке удалить ругается

KeyError: 2

4. Проверьте, содержит ли множество элемент 3.

In [18]:
3 in set1

True

5. Создайте второе множество **set2** с элементами 4, 5, 6, 7, 8.

In [24]:
set2 = {4, 5, 6, 7, 8}

6. Найдите объединение множеств **set1** и **set2**.

In [20]:
set1.union(set2)

{1, 3, 4, 5, 6, 7, 8}

7. Найдите разность множеств **set1** и **set2**.

In [26]:
print(set1, set2, sep = '\n')
# Все элементы входящие в set1 но не входящие в set2
set1.difference(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{1, 2, 3}

In [27]:
# Все элементы входящие в set2 но не входящие в set1
set2.difference(set1)

{6, 7, 8}

8. Создайте два множества **set1** и **set2**, содержащие цвета радуги: "красный", "оранжевый", "желтый", "зеленый", "голубой", "синий", "фиолетовый".

In [95]:
set1 = {"красный", "желтый", "зеленый", "голубой", "синий", "фиолетовый"}
set2 = {"красный", "оранжевый", "желтый",  "синий"}

9. Найдите пересечение множеств **set1** и **set2**.

In [79]:
set1.intersection(set2)

{'желтый', 'красный', 'синий'}

10. Объедините множества **set1** и **set2** и сохраните результат в новое множество **rainbow_colors**.

In [80]:
rainbow_colors = set1.union(set2)
rainbow_colors

{'голубой', 'желтый', 'зеленый', 'красный', 'оранжевый', 'синий', 'фиолетовый'}

In [81]:
rainbow_colors == {"красный", "оранжевый", "желтый", "зеленый", "голубой", "синий", "фиолетовый"}

True

# Часть 2. Словари

1. Создайте словарь **person** с ключами "name", "age" и "city" с вашими данными.

In [12]:
person =  {"name" : 'Olesia', "age" : 21 , "city" : 'Moscow'}

2. Добавьте в словарь новый ключ "email" со значением вашего электронного адреса.

In [14]:
person['email'] = 'olesya.korchevaya@mail.ru'
person

{'name': 'Olesia',
 'age': 21,
 'city': 'Moscow',
 'email': 'olesya.korchevaya@mail.ru'}

3. Удалите ключ "city" из словаря.

In [15]:
person.pop('city')
person

{'name': 'Olesia', 'age': 21, 'email': 'olesya.korchevaya@mail.ru'}

4. Создайте словарь **inventory** с товарами "яблоко": 5, "банан": 10, "апельсин": 7.

In [17]:
inventory = { "яблоко" : 5, "банан" : 10, "апельсин" : 7}

5. Увеличьте количество "бананов" в инвентаре на 3.

In [18]:
inventory["банан"] = inventory["банан"] + 3
inventory

{'яблоко': 5, 'банан': 13, 'апельсин': 7}

6. Создайте новый словарь **prices**, где цена для каждого продукта задана {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}.

In [21]:
prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}

7. Создайте словарь **students** с данными о студентах {"Иванов": 22, "Петрова": 21, "Сидоров": 23}.

In [22]:
students = {"Иванов": 22, "Петрова": 21, "Сидоров": 23}

8. Добавьте нового студента "Смирнова" возрастом 20 лет в словарь.

In [23]:
students["Смирнова"] = 20
students

{'Иванов': 22, 'Петрова': 21, 'Сидоров': 23, 'Смирнова': 20}

9. Удалите студента "Петрова" из словаря.

In [24]:
students.pop("Петрова")
students

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20}

# Часть 3. Условные операторы

1. На основе значения возраста из словаря **person**, выведите сообщение "Совершеннолетний" или "Несовершеннолетний".

In [37]:
if person['age'] >= 18:
    print('Совершеннолетний')
elif person['age'] < 18:
    print('Несовершеннолетний')
else:
    print('Неверный ввод возраста')

Совершеннолетний

2. Сравните длину множества **set1** с другим множеством **set2** и выведите сообщение о том, какое из множеств больше.

In [82]:
print('set1', set1, len(set1), 'set2', set2, len(set2), sep = '\n')

if len(set1) > len(set2):
    print('Множество set1 больше множества set2')
elif len(set1) < len(set2):
    print('Множество set2 больше множества set1')
else:
    print('Множествa set2 и set1 равны')

set1
{'синий', 'фиолетовый', 'желтый', 'зеленый', 'красный', 'голубой'}
6
set2
{'оранжевый', 'синий', 'красный', 'желтый'}
4
Множество set1 больше множества set2

3. Напишите условие, которое проверяет, есть ли "груша" в словаре **inventory**, и если нет, добавляет "грушу" с количеством 3.

In [42]:
print(inventory)

if not inventory.get("груша"):
    inventory["груша"] = 3

print(inventory)

{'яблоко': 5, 'банан': 13, 'апельсин': 7}
{'яблоко': 5, 'банан': 13, 'апельсин': 7, 'груша': 3}

4. Выведите сообщение "Дорогой товар" для продуктов, цена которых превышает 1.5.

In [43]:
for item, price in prices.items():
    if price > 1.5:
        print(f'{item} дорогой товар')

банан дорогой товар

5. Напишите условие, которое проверяет возраст студента "Иванова" и выводит сообщение "Совершеннолетний" или "Несовершеннолетний".

In [276]:
def check_age(dict, name):
    if dict[name] >= 18:
        print(f'{name} cовершеннолетний')
    elif dict[name] < 18:
        print(f'{name} несовершеннолетний')
    else:
        print('Неверный ввод возраста')

In [277]:
check_age(students, 'Иванов')

Иванов cовершеннолетний

6. Сравните длину множеств **set1** и **set2** и выведите сообщение о том, какое множество длиннее.

# Часть 4. Циклы

1. Напишите цикл for, который выводит все элементы множества **set1**.

In [83]:
for element in set1:
    print(element)

синий
фиолетовый
желтый
зеленый
красный
голубой

2. Напишите цикл while, который выводит квадраты чисел от 1 до 5.

In [55]:
number = 1
while number <= 5:
    print(f'{number}² = {number**2}')
    number += 1

1² = 1
2² = 4
3² = 9
4² = 16
5² = 25

3. Напишите цикл for, который перебирает все ключи словаря **inventory** и выводит каждый товар.

In [56]:
for item in inventory.keys():
    print(item)

яблоко
банан
апельсин
груша

4. Используя цикл for, выведите всех студентов и их возраст из словаря **students**.

In [58]:
for name, age in students.items():
    print(name, ':', age )

Иванов : 22
Сидоров : 23
Смирнова : 20

# Часть 5

## Множества

1. Создайте функции **set_union** и **set_difference** для операций объединения и разности множеств.
   - Функции должны принимать два множества и возвращать соответствующий результат.

In [87]:
def set_union(set1, set2):
    
    result = set()
    
    for element in set1:
        result.add(element)
            
    for element in set2:
        result.add(element)

    return result

def set_difference(set1, set2):
    result = set()
    
    for element in set1:
        if element not in set2:
            result.add(element)
            
    return result

In [90]:
print('set1:', set1)
print('set2:', set2)
print('Объединение множеств:', set_union(set1, set2))
print('Разность множеств:', set_difference(set1, set2))

set1: {'синий', 'фиолетовый', 'желтый', 'зеленый', 'красный', 'голубой'}
set2: {'оранжевый', 'синий', 'красный', 'желтый'}
Объединение множеств: {'фиолетовый', 'желтый', 'оранжевый', 'красный', 'синий', 'зеленый', 'голубой'}
Разность множеств: {'голубой', 'фиолетовый', 'зеленый'}

In [114]:
# check 
print(set_union(set1, set2) == set1.union(set2),\
set_difference(set1, set2) == set1.difference(set2), sep = '\n')

True
True

2. Создайте функцию **is_subset** для проверки, является ли одно множество подмножеством другого.

In [100]:
def is_subset(set1, set2):
    ''' Является ли множество set1 подмножеством set2?
    Функция возвращает True, если является и False, если нет.'''
    for element in set1:
        if element in set2:
            continue
        else:
            return False
    return True

In [110]:
s1 = {1,2,3}
s2 = {1,2,3,4,5,6}
s3 = {1,2,3,9}

In [111]:
is_subset(s1, s2)

True

In [112]:
is_subset(s3, s2)

False

In [113]:
# check
print(s1.issubset(s2) == is_subset(s1, s2),\
s3.issubset(s2) == is_subset(s3, s2), sep = '\n')

True
True

3. Создайте функцию для объединения нескольких множеств.

In [117]:
def merge_sets(*sets):
    result_set = set()
    for s in sets:
        result_set = set_union(s, result_set)
        # result_set.update(s) можно еще так
    return result_set

In [126]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = merge_sets(set1, set2, set3)
merged_set

{1, 2, 3, 4, 5, 6, 7}

4. Создайте функцию для удаления конкретного элемента из множества.

In [ ]:
def set_delete(set, element):

5. Создайте функцию для поиска пересечения нескольких множеств.

In [133]:
def cross_sets(*sets):
    result_set = sets[0]

    for s in sets:
        result_set = s.intersection(result_set)
    return result_set

In [134]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {3, 5, 6, 7}
cross_sets(set1, set2, set3)

{3}

6. Создайте функцию для проверки на равенство двух множеств.

In [135]:
def is_equal(set1, set2):
    if set1 == set2:
        return True
    else:
        return False

In [140]:
is_equal({1,2,3}, {1,3,2,4})

False

In [141]:
is_equal({1,2,3}, {1,3,2})

True

7. Создайте функцию для нахождения объединения трех множеств.

In [ ]:
# уже было 

def merge_sets(*sets):
    result_set = set()
    for s in sets:
        result_set = set_union(s, result_set)
        # result_set.update(s) можно еще так
    return result_set

8. Создайте функцию для проверки, являются ли два множества дизъюнктными (не имеют общих элементов).

In [142]:
def is_disunctive(set1, set2):
    for element in set1:
        if element in set2:
            return False
    return True

In [143]:
is_disunctive({1,2,4}, {3,5,6})

True

In [144]:
is_disunctive({1,2,4}, {3,5,6,1})

False

9. Создайте функцию для нахождения разности двух множеств.

In [145]:
# уже было

def set_difference(set1, set2):
    result = set()
    
    for element in set1:
        if element not in set2:
            result.add(element)
            
    return result

10. Создайте функцию для определения симметрической разности двух множеств.

In [148]:
# только в А или только в В но не в два одновременно 
def s_difference(set1, set2):
        result = set()
        
        for element in set1:
            if element in set2:
                set2.discard(element)
            else:
               result.add(element)
                
        for element in set2:
            result.add(element)
    
        return result

In [154]:
symmetry_difference({1,2,3}, {3,4,5})

{1, 2, 4, 5}

In [155]:
# check
symmetry_difference({1,2,3}, {3,4,5}) == {1,2,3}.symmetric_difference({3,4,5})

True

11. Создайте функцию **create_set** для создания множества с заданными элементами.
   - Функция должна принимать переменное количество аргументов и возвращать новое множество.

In [156]:
def create_set(*values):
    result = set()
    for v in values:
        result.add(v)
    return result

In [160]:
create_set(1,2,3,4,5,6,7,8)

{1, 2, 3, 4, 5, 6, 7, 8}

In [161]:
create_set(1,2,'fff',4,5,6)

{1, 2, 4, 5, 6, 'fff'}

In [162]:
type(create_set(1,2,'fff',4,5,6))

set

## Словари

1. Создайте функцию **create_dictionary** для создания словаря с заданными ключами и значениями.
   - Функция должна принимать словарь в формате ключ-значение и возвращать созданный словарь.

In [163]:
def create_dictionary(*set):
    ''' Формат задавания в виде сета (ключб значение)'''

    d = {}
    for key, value in set:
        d[key] = value
    return d

In [165]:
create_dictionary(('ааа',5),('bbb',6),('ccc',7))

{'ааа': 5, 'bbb': 6, 'ccc': 7}

2. Напишите функции **add_student** и **remove_student** для добавления и удаления студентов из словаря.
   - Функции должны принимать словарь студентов и соответствующие данные для добавления и удаления.

In [171]:
def  add_student(d, name, information):
    ''' Если студент уже есть, то функция изменит информацию
    Если студента еще нет, то в словаре появится новое имя с информацией'''
    d[name] = information

    return d

def remove_student(d, name):
    d.pop(name)
    return d

In [172]:
print(students)

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20, 'Korchevaya': 21}

In [173]:
add_student(students, 'Korchevaya', 40)

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20, 'Korchevaya': 40}

In [175]:
add_student(students, 'Korchevaya', 21)

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20, 'Korchevaya': 21}

In [177]:
remove_student(students, 'Korchevaya' )

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20}

    
3. Создайте функцию для объединения двух словарей.

In [185]:
def dict_extend(*dict):
    '''Обьединение любого количества списков
    ОСТОРОЖНО! Если передать два списка с одинаковыми ключами,
    то в конечном списке будет храниться только значения последних (см ниже)'''
    result = {}
    for d in dict:
        for key, value in d.items():
            result[key] = value
    return result

def dict_extend_new(dict1, dict2):
    '''Способ с распаковкой. Так же перезаписывает значения по одинаковым ключам '''
    result = {**dict1, **dict2}
    return result

In [182]:
print(inventory)

{'яблоко': 5, 'банан': 13, 'апельсин': 7, 'груша': 3}

In [183]:
print(prices)

{'яблоко': 1.5, 'банан': 2, 'апельсин': 1.2}

In [181]:
# если передадим два словаря с одинаковыми ключами, но разными значениями, то с словаре будут находится только последние значения по ключам
#с этим нужно быть аккуратнее 
dict_extend(students, inventory, prices)

{'Иванов': 22,
 'Сидоров': 23,
 'Смирнова': 20,
 'яблоко': 1.5,
 'банан': 2,
 'апельсин': 1.2,
 'груша': 3}

In [188]:
dict_extend_new(students, prices)

{'Иванов': 22,
 'Сидоров': 23,
 'Смирнова': 20,
 'яблоко': 1.5,
 'банан': 2,
 'апельсин': 1.2}

4. Создайте функцию для удаления элемента из словаря по заданному ключу.

In [ ]:
def remove_student(d, key):
    d.pop(key)
    return d

5. Создайте функцию для переворачивания значений и ключей в словаре.

In [232]:
def reverse(d):
    result = {}
    for key, value in d.items():
        result[value] = key
    return result

In [233]:
reverse(students)

{22: 'Иванов', 23: 'Сидоров', 20: 'Смирнова'}

6. Создайте функцию для сортировки словаря по ключам в обратном порядке.

In [243]:
def reverse_sort(d):
    result = {}
    for key, value in d.items():
        result[value] = key
    return result

In [244]:
reverse_sort(students)

{22: 'Иванов', 23: 'Сидоров', 20: 'Смирнова'}

7.  Создайте функцию для поиска наибольшего значения в словаре.

In [240]:
def max_dict(d):
    return max(d.values())

In [241]:
max_dict(prices)

2

## Условия

1. Создайте функцию **check_age** для проверки возраста студента и вывода соответствующего сообщения.
   - Функция должна принимать словарь студентов и имя студента, а затем выводить сообщение о совершеннолетии или несовершеннолетии.

In [278]:
check_age(students, 'Иванов')

Иванов cовершеннолетний

2. Создайте функцию **compare_sets_length**, которая сравнивает длину двух множеств и выводит информацию о  том, какое из множеств длиннее.
   - Функция должна принимать два множества и выводить соответствующее сообщение.

In [ ]:
def compare_sets_length(set1, set2):
    if len(set1) > len(set2):
        print('Множество set1 больше множества set2')
    elif len(set1) < len(set2):
        print('Множество set2 больше множества set1')
    else:
        print('Множествa set2 и set1 равны')

3. Создайте функцию для определения четности или нечетности числа.

In [ ]:
def is_even(num):
    if num % 2:
        print('четное')
    else:
        print('нечетное')

In [ ]:
is_even(10)

4. Создайте функцию для определения високосного года.

5. Создайте функцию для определения типа треугольника по длинам сторон.

6. Создайте функцию для проверки, является ли строка палиндромом.

7. Создайте функцию для определения времени суток по введенному времени (утро, день, вечер, ночь).

8. Создайте функцию, которая определяет, является ли введенное число простым.

9. Создайте функцию для проверки входящей строки на наличие только буквенных символов.

10. Создайте функцию, которая определяет, является ли введенная дата корректной.

11. Создайте функцию, которая определяет, является ли введенное число палиндромом.

12. Создайте функцию для определения дня недели по введенному номеру дня (1 - Понедельник, 2 - Вторник и т.д.).

## Циклы

1. Создайте функцию **print_students** для вывода информации о студентах из словаря.
   - Функция должна принимать словарь студентов и выводить их имена и возраст.

In [255]:
def print_students(d):
    for key, value in d.items():
        print(key, value, end = '\n')

In [256]:
print_students(students)

Иванов 22
Сидоров 23
Смирнова 20

2. Создайте функцию **print_squares_while**, которая использует цикл while для вывода квадратов чисел от 1 до 5.

In [258]:
def print_squares_while():
    number = 1
    while number <= 5:
        print(f'{number}² = {number**2}')
        number += 1

In [259]:
print_squares_while()

1² = 1
2² = 4
3² = 9
4² = 16
5² = 25

3. Создайте функцию для вывода факториала заданного числа.

In [262]:
def factorial(n):
    if n == 0:
        return 1
    else: 
        return n * factorial(n-1)

In [263]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

4. Создайте функцию для поиска суммы чисел в заданном диапазоне.

In [266]:
def find_summ(start, finish):
    n = finish - start + 1
    return (2*start + (n-1))*n/2

In [268]:
find_summ(2,5)

14.0

5. Создайте функцию для генерации и вывода всех простых чисел до заданного числа.

In [270]:
def find_simple(n):
    ''' Решето Эратосфена
    сначала удаляются все 2,4, ...
    потом 3, 6,...
    потом кратные 5 (тк 4 уже удалили) и так далее''' 
    a = []
    i= 0
    while i <= n:
        a.append(i)
        i += 1
    a[1]=0
    i= 2
    
    while i <= n:
        if a[i] != 0:
            j = i + i
            while j <= n:
                a[j] = 0
                j += i
        i += 1
    a = set(a)
    a.remove(0)
    print(a)

In [271]:
find_simple(100)

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

6. Создайте функцию для проверки строки на палиндромность без учёта регистра и знаков препинания.

7. Создайте функцию для поиска наибольшего общего делителя (НОД) двух чисел.

In [274]:
def GSV(a,b):
    
    while a != 0 and b != 0:
        if a > b :
            a = a % b
        else:
            b = b % a
            
    return a + b

In [275]:
GSV(100, 20)

20

## Общие

1. Создайте функцию, которая будет запрашивать у пользователя его возраст.
   - Если возраст меньше 18 лет, программа должна выводить сообщение о том, что пользователь несовершеннолетний.
   - Если возраст от 18 до 65 лет, программа должна выводить сообщение о том, что пользователь взрослый.
   - Если возраст больше 65 лет, программа должна выводить сообщение о том, что пользователь пенсионер.

In [205]:
def age_info():
    print('Введите ваш возраст')
    age = input()

    if age.isdigit():
        age = int(age)
        if age < 18:
            print('пользователь несовершеннолетний')
        elif age >=18 and age <= 65:
            print('пользователь взрослый')
        else:
            print('пользователь пенсионер')
    else:
        print('вы ввели не число. попробуйте еще раз')
    return

In [207]:
age_info()

Введите ваш возраст

 Hello

вы ввели не число. попробуйте еще раз

In [208]:
age_info()

Введите ваш возраст

 21

пользователь взрослый

2. Создайте функцию, которая будет проверять введенную пользователем строку на наличие повторяющихся символов.
   - Если такие символы найдены, программа должна выводить их список.

In [228]:
def is_double(stroka):
    result = []
    s = list(stroka)
    s.sort()
    for i in range(len(s)-1):
        if s[i] == s[i+1] and s[i] not in result:
            result.append(s[i])
    
    return result

In [229]:
is_double('aaabasdfghbs')

['a', 'b', 's']

In [230]:
is_double('hello')

['l']