In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('/tmp/db_mini.sqlite3')
cursor = connection.cursor()

1. Разобраться, что есть в базе

In [5]:
# Просмотр существующих в базе таблиц. sqlite_master - хранит информацию о таблицах бд
cursor.execute("SELECT * FROM sqlite_master WHERE type = 'table'")
cursor.fetchall()

[('table',
  'products_history',
  'products_history',
  2,
  'CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)')]

In [7]:
# sqlite_master и sqlite_schema одно и то же?
cursor.execute("SELECT * FROM sqlite_schema")
cursor.fetchall()

[('table',
  'products_history',
  'products_history',
  2,
  'CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)')]

In [8]:
# Информация о столбцах таблицы products_history. Выводит номер столбца, название, тип переменой?
cursor.execute("PRAGMA table_info(products_history)")
cursor.fetchall()

[(0, 'id', 'integer', 1, None, 1),
 (1, 'datetime_create', 'datetime', 0, None, 0),
 (2, 'title', 'varchar(200)', 0, None, 0),
 (3, 'price_sale', 'decimal', 0, None, 0),
 (4, 'url', 'varchar(1000)', 0, None, 0)]

In [10]:
# Вывод 1 строки из таблицы products_history
cursor.execute("SELECT * FROM products_history limit 1")
cursor.fetchall()

[(2870,
  '2022-12-06 15:35:11.590625',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det')]

In [13]:
# Вывод 1 строки из таблицы sqlite_sequence
cursor.execute("SELECT * FROM sqlite_sequence limit 1")
cursor.fetchall()
# Не понятно как связаны таблицы products_history и sqlite_sequence

[('products_history', 651800)]

2. Выполнение запросов (40 шт.)

In [ ]:
# 1.

In [ ]:
# 2.

In [ ]:
# 3.

In [ ]:
# 4.

In [ ]:
# 5.

In [ ]:
# 6. Вывести названия товаров в которые содержат слова молоко и стоимостью больше 50 рублей

In [ ]:
# 7. Посчитать общее количество товарных позиций

In [ ]:
# 8. Посчитать количество товаров когда товаром является молоко размером 1 литр

In [ ]:
# 9. Посчитать среднюю стоимость литрового пакет молока

In [ ]:
# 10. В одном запросе вывести среднюю стоимость для пакетов молока 1 литр 950 и 900 миллилитров

In [ ]:
# 11. Выбрать 50 товаров, цена которых больше 50'000 и отсортировать по убыванию по цене.

In [ ]:
# 12. Изменить все названия в которых есть слово "Вино" в столбце "title" на "Винишко".

In [ ]:
# 13. Посчитать сумму стоимости товаров с id от 2877 до 2922.

In [ ]:
# 14. Добавить столбец "Количество товаров в магазине".

In [ ]:
# 15. Посчитать количество товаров в названиях которых есть "Лыжный комплект" и "Игрушка для собак".

In [ ]:
# 16. Вывести среднюю стоимость товаров типа виски

In [ ]:
# 17.  Вывести товары совпадающие по типу

In [ ]:
# 18. Вывести товары весом меньше 50г

In [ ]:
# 19. Упорядочить товары по цене

In [ ]:
# 20. Вывести 5 самых дорогих и самых дешевых товара

In [ ]:
# 21.

In [ ]:
# 22.

In [ ]:
# 23.

In [ ]:
# 23.

In [ ]:
# 24.

In [ ]:
# 25.

In [ ]:
# 26.

In [ ]:
# 27.

In [ ]:
# 28.

In [ ]:
# 29.

In [ ]:
# 30.

In [ ]:
# 31.

In [ ]:
# 32.

In [ ]:
# 33.

In [ ]:
# 34.

In [ ]:
# 35.

In [ ]:
# 36.

In [ ]:
# 37.

In [ ]:
# 38.

In [ ]:
# 39.

In [ ]:
# 40.