Реализовать на python базу данных по персоналу с двумя таблицами из занятия.

In [31]:
import sqlite3

In [67]:
# Создание файла базы данных 
sqlite_connection = sqlite3.connect("inform.db")
cursor = sqlite_connection.cursor()

In [55]:
# Создание таблицы department 
create_table_department = """CREATE TABLE department(
id integer, 
name varchar(15)
)"""
cursor.execute(create_table_department)

In [56]:
# Создание таблицы employees
create_table_employees = """CREATE TABLE employees(
id integer, 
name varchar(12), 
surname varchar(15), 
department_id integer, 
salary integer
)"""
cursor.execute(create_table_employees)

Заполнить таблицу данными.

In [57]:
# Наполнение таблицы department данными
cursor.execute("""INSERT INTO department (id, name) 
VALUES 
('1', 'Маркетинг'),
('2', 'Продажи'),
('3', 'Бухгалтерия'),
('4', 'Менеджмент')""")
cursor.fetchall()

[]

In [58]:
# Наполнение таблицы employees данными
cursor.execute("""INSERT INTO employees (id, name, surname, department_id, salary)
VALUES 
('1', 'Иван', 'Иванов', '1', '5000'),
('2', 'Света', 'Сидорова', '1', '4500'),
('3', 'Илья', 'Макаров', '2', '4500'),
('4', 'Марина', 'Федорова', '2', '6000'),
('5', 'Вадим', 'Ильин', '3', '7000'),
('6', 'Илья', 'Филатов', '4', '5500'), 
('7', 'Марина', 'Сидорова', '2', '9000'),
('8', 'Вадим', 'Ильин', '3', '7000')""")
cursor.fetchall()

[]

Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отделе, отсортированных по убыванию средне зп.

In [59]:
# Этап 1. Объединенние таблиц
cursor.execute("SELECT * FROM employees JOIN department ON employees.department_id = department.id")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, 1, 'Маркетинг'),
 (2, 'Света', 'Сидорова', 1, 4500, 1, 'Маркетинг'),
 (3, 'Илья', 'Макаров', 2, 4500, 2, 'Продажи'),
 (4, 'Марина', 'Федорова', 2, 6000, 2, 'Продажи'),
 (5, 'Вадим', 'Ильин', 3, 7000, 3, 'Бухгалтерия'),
 (6, 'Илья', 'Филатов', 4, 5500, 4, 'Менеджмент'),
 (7, 'Марина', 'Сидорова', 2, 9000, 2, 'Продажи'),
 (8, 'Вадим', 'Ильин', 3, 7000, 3, 'Бухгалтерия')]

In [60]:
# Этап 2. Выведение названий отделов
cursor.execute("SELECT department.name FROM employees JOIN department ON employees.department_id = department.id")
cursor.fetchall()

[('Маркетинг',),
 ('Маркетинг',),
 ('Продажи',),
 ('Продажи',),
 ('Бухгалтерия',),
 ('Менеджмент',),
 ('Продажи',),
 ('Бухгалтерия',)]

In [61]:
# Этап 3. + средняя зарплата в отделе и сортировка по убыванию
# Полное решение
cursor.execute("""
SELECT department.name, AVG(salary) 
FROM employees JOIN department ON employees.department_id = department.id
GROUP BY department.name
ORDER BY salary DESC""")
cursor.fetchall()

[('Бухгалтерия', 7000.0),
 ('Менеджмент', 5500.0),
 ('Маркетинг', 4750.0),
 ('Продажи', 6500.0)]

Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.

In [62]:
# Добавление сотрудника
cursor.execute("""INSERT INTO employees (id, name, surname, department_id, salary)
VALUES ('9', 'Надя', 'Павленко', '1', '6500')
""")
cursor.fetchall()

[]

In [68]:
# Изменения в таблице со средней зп
cursor.execute("""SELECT department.name, AVG(salary) 
FROM employees JOIN department ON employees.department_id = department.id
GROUP BY department.name
ORDER BY salary DESC""")
cursor.fetchall()

[('Бухгалтерия', 7000.0),
 ('Менеджмент', 5500.0),
 ('Маркетинг', 5333.333333333333),
 ('Продажи', 6500.0)]

In [69]:
sqlite_connection.commit()

In [70]:
sqlite_connection.close()