In [2]:
from car import *

my_car = Car("geely", "white", 2015, 4)

print(my_car.model, my_car.speed)
my_car.go()
print(my_car.model, my_car.speed)
my_car.stop()
print(my_car.model, my_car.speed)

geely 0
geely 40
geely 0

In [3]:
import datetime

x = datetime.datetime.now()
type(x.year)
print(x.date())

2024-04-30

In [2]:
from student import *
from institution import *
import datetime

s1 = Student("Petr", "Ivanov", 21, "Khimki")
s2 = Student("Varvara", "Bykova", 19, "Khimki")
s3 = Student("Marfa", "Bykova", 18, "Khimki")
s4 = Student("Tsurkov", "Artem", 23, "Moscow")

print(len(s1))



inst = Institution()
inst.admit(s1)
inst.admit(s2)
inst.admit(s3)
inst.admit(s4)

print(inst)
print(len(inst))

inst.exclude(s3.id)

print(inst)
print(len(inst))

0
ID 	 Full name 	 Avr. mark
========================================
5	Petr Ivanov	-1
6	Varvara Bykova	-1
7	Marfa Bykova	-1
8	Tsurkov Artem	-1

4
ID 	 Full name 	 Avr. mark
========================================
5	Petr Ivanov	-1
6	Varvara Bykova	-1
8	Tsurkov Artem	-1

3

In [5]:
pages = 1
print(type(pages) is int)

True

In [6]:
from book import *

b1 = Book("A Study in Scarlet", "Arthur Conan Doyle", 162, "Ward Lock & Co")

print(b1.author)
print(b1.pages)
print(b1.publisher)

Arthur Conan Doyle
162
Ward Lock & Co

In [2]:
from shoppingcart import *
from shop import * 

pr1 = Product(12051, "Table", 10)
pr2 = Product(12052, "Chair", 10)
pr3 = Product(12053, "Cabinet", 5)

stock = Warehouse()
print(stock)
print()

stock.recive(pr1)
stock.recive(pr2)
stock.recive(pr3)

print(stock)

p1 = ShoppingItem(12051, "Table", 1, 1500.00)
p2 = ShoppingItem(12052, "Chair", 4, 450.00)
p3 = ShoppingItem(12053, "Cabinet", 1, 4550.00)

cm = ShoppingCart()

cm.cart_add(p1)
cm.cart_add(p2)
cm.cart_add(p3)

cm.cart_print()

order = Order(cm)
print()
print(order.state)

# Проверка оплаты заказа
order.change_state_to_paid()
print(order.state)

# Проверка оплаты заказа
for item in order.items:
    stock.writeoff(item.art, item.qnty)

print()
order.change_state_to_ready()
print(order.state)

print()
print(stock)

print()
order.change_state_to_compleated()
print(order.state)

Stok is empty

Remaining stocks
Art. 	 Title 	 Qnty
========================================
12051	Table	10
12052	Chair	10
12053	Cabinet	5

Art.	Item	Qnty	Price	Cost
============================================================
12051	Table	1	1500.0	1500.0
12052	Chair	4	450.0	1800.0
12053	Cabinet	1	4550.0	4550.0

Total 7850.0

created
paid

ready

Remaining stocks
Art. 	 Title 	 Qnty
========================================
12051	Table	9
12052	Chair	6
12053	Cabinet	4


compleated

In [8]:
from circle import *

c = Circle("blue", 34)

print(c.colour)
print(c.perimeter)
print(c.area)

blue
213.63
3631.68

In [9]:
from point import *

p1 = Point(-1, 3)
p2 = Point(6, 2)

print(Calculator.distance_between_points(p1, p2))

7.07

In [10]:
from triangle import *
t1 = Triangle(3, 4, 5)
print(t1.perimeter)
print(t1.triangle_type)
print(id(t1))

12
прямоугольный
140098493592336

In [11]:
from bankaccount import *
b1 = BankAccount(1, "Vaily", "Ivanov")
b2 = BankAccount(2, "Serafim", "Petrov")
b1.deposit(100)
print (b1.balance)
b1.withdraw(40)
print (b1.balance)

100
60

In [3]:
from mydate import *
d1 = MyDate(2024, 5, 4)
d2 = MyDate(2024, 5, 1)
print(d1)
print(d2)
print(d1 - d2)

2024-5-4
2024-5-1
3

In [7]:
2 * 3.141592653589793 * 34

213.62830044410595

In [1]:
from polygone import *

#p1 = Point(1, 3)
#p2 = Point(4, 3)
#p3 = Point(4, 7)

p1 = Point(5, 7)
p2 = Point(9, 7)
p3 = Point(10, 2)
p4 = Point(2, 2)

poly = Polygone("red", [p1, p2, p3, p4])
print(poly.perimeter)
print(poly.area)

22.93
30.0

In [1]:
from matrix import *

m1 = Matrix([[1, 2, 3], [5, 6, 7], [7, 6, 5]])
m2 = Matrix([[4, 3, 3], [2, 1, 3], [5, 6, 8]])

print(m1 + m2)
print(m1 - m2)
print(m1*m2)
print(m1.trans())
print(m2.det())
print(m2.inv())

[[5, 5, 6], [7, 7, 10], [12, 12, 13]]
[[-3, -1, 0], [3, 5, 4], [2, 0, -3]]
[[23, 23, 33], [67, 63, 89], [65, 57, 79]]
[[1, 5, 7], [2, 6, 6], [3, 7, 5]]
-22.0
[[0.45, 0.27, -0.27], [0.05, -0.77, 0.27], [-0.32, 0.41, 0.09]]

In [2]:
N = 3
M = 2
A = [ [0]*M for i in range(N) ]

print(A)

[[0, 0], [0, 0], [0, 0]]