# HW

Ответьте на вопросы:
- что такое программа?
- зачем нужны программы?
- зачем нужен язык программирования?
- что могу программы?
- из чего состоят программы?

# Type Integer

Попробовать попользоваться питоном как калькулятором
- сложите 13 и 22 (done)
- перемножте 31 и 7 (done)
- найдите целую часть от деления 132423 на 32 (done)
- найдите остаток от деления 23423 на 43 (done)
- возвеите в 4 стень число 5 (done)

In [4]:
# сложите 13 и 22

a = 13 + 22
print(a)

35

In [6]:
# перемножте 31 и 7

b = 31 * 7
print(b)

217

In [7]:
# найдите целую часть от деления 132423 на 32

c = 132423 // 32
print(c)

4138

In [1]:
# найдите остаток от деления 23423 на 43

d = 23423 % 43
print(d)

31

In [2]:
# возвеите в 4 стень число 5

e = 5 ** 4
print(e)

625

# Type List

# №1 Задание: создайте список дел.

**Пример списка с 2 делами:**


<center> 
    <table>
        <tr>
            <td>
                №
            </td>
            <td>
                Дело
            </td>
            <td>
                Дата до котрой нужно сделать
            </td>            
            <td>
                Дата когда было сделано
            </td>            
        </tr>
        <tr>
            <td>
                Дело №1
            </td>
            <td>
                купить хлеб
            </td>
            <td>
                28-08-2022
            </td>
            <td>
                28-08-2022
            </td>            
        </tr>
        <tr>
            <td>
                Дело №2
            </td>
            <td>
                помыть полы
            </td>
            <td>
                28-08-2022
            </td>
            <td>
                -
            </td>
        </tr>
    </table>
</center> 

Рекомендуемый размер списка 22 элемента.

После создания списка дел. 
* Нужно посчитать общее количество дел в списке.
* Напечатать все дела
* Напечатать только 2 и 5 дело

# Это еще не проходили
* Сравнить каждое дело из списка с строкой “buy bread”  и если оно совпадает то напечатать YES
* Если каждое дело из списка ваших дела написано на английском и является строкой то вывести длину каждой из этих строк
* Напечатать yes если длина строки в которой записано дело больше 10
* Напечатать дела индекс которых в списке делится без остатка на 2
* Напечатать дело с индексом 1 и 4 из списка запланированных дел
* Напечатать те индексы у которых значения в списке запланированных дат и списке реализованных дат равны друг другу 
* Вывести только те дела которые вы сделали в тот же день в который их запланировали
* Посчитать сколько дел у вас было одинаковых ( т.е. если есть запись “купить хлеб” 28-08-2022 и “купить хлеб” 14-08-2022 то финально нужно вывести “купить хлеб” 2 (можно сделать 2 варианта без использования словарей и с испольщованием словарям)

# №2 Задание: создайте список расхдов и доходов.

**Пример списка доходов и расходов**

<center> 
    <table>
        <tr>
            <td>
                №
            </td>
            <td>
                Описание
            </td>
            <td>
                Сумма
            </td>
            <td>
                Дата
            </td>
        </tr>
        <tr>
            <td>
                №1 
            </td>            
            <td>
                купил хлеб
            </td>
            <td>
                -50
            </td>
            <td>
                09-08-2022
            </td>
        </tr>
        <tr>
            <td>
                №2 
            </td>            
            <td>
                купил тапочки
            </td>
            <td>
                -200
            </td>
            <td>
                11-08-2022
            </td>
        </tr>
        <tr>
            <td>
                №3 
            </td>            
            <td>
                получил зп
            </td>
            <td>
                50000
            </td>
            <td>
                28-08-2022
            </td>
        </tr>
    </table>
</center> 

* Рекомендуемый размер списка 22 элемента.
* добавить к списку еще 2 действия
* посчитать сколько всего действий в вашем списке



# Это еще не проходили

* посчитайте сколько всего вы потратили за все время
* посчитать сколько трат было меньше 300 рублей
* посчитать сколько сумму трат которые были больше 10000 рублей
* выдать номера трат которые находятся в диапазоне между 300 и 10000 рублей
* выбрать из списка на втором шаге самую минимальную трату
* посчитать сколько трат было меньше 300 рублей
* посчитайте сколько заработали за все время
* посчитайте какие самые частые у вас траты(можно попробовать с использованием словарей)
* добавить к списку еще 3 действия
* Найти максимальную трату
* Найти минимальный доход
* Посчитать среднюю стоимость ваших трат

# Type string

Пусть дана фраза "i love to travel". Напишите код для вычисление:
- какой индекс будет у первой буквы t (done)
- какой индекс будет у буквы r (done)
- как вывести из строки слова с 2 по 6 индекс
- какой какие индексы нужно указать в срезе чтобы вывести to
- что будет если строку умножить на число 5
- как понять содержит ли наша строка подстроку ral
- с какого индекса начинается подстрока to
- какая длину строки
- измените первый символ в строке на заглавный
- прибавьте к строке строку " Hello!"

In [3]:
# дана фраза "i love to travel"

fraza = 'i love to travel'
print(fraza)

i love to travel

In [4]:
# какой индекс будет у первой буквы t?

print(fraza.find('t'))

7

In [6]:
# какой индекс будет у буквы r?

print(fraza.find('r'))

11

In [11]:
# как вывести из строки слова с 2 по 6 индекс?

print(fraza[2:7])

love

In [27]:
# какой какие индексы нужно указать в срезе чтобы вывести to?

start_index_of_to = fraza.find('to')
final_index_of_to = start_index_of_to + len('to')
print('Начальный индекс to - %s' % start_index_of_to)
print('Конечный индекс to - %s' % final_index_of_to)
print(fraza[start_index_of_to:final_index_of_to])

Начальный индекс to - 7
Конечный индекс to - 9
to

In [28]:
# что будет если строку умножить на число 5?

new_fraza = fraza * 5
print(new_fraza)

i love to traveli love to traveli love to traveli love to traveli love to travel

In [33]:
# как понять содержит ли наша строка подстроку ral?

for i in fraza:
    if fraza.find('rav') > -1:
        print(fraza.find('rav'))
    else:
        print('Такая подстрока не найдена в данной строке')

11
11
11
11
11
11
11
11
11
11
11
11
11
11
11
11

In [29]:
# с какого индекса начинается подстрока to?

print('Начальный индекс to - %s' % start_index_of_to) - # рассмотрел в примере выше

Начальный индекс to - 7

In [ ]:
# какая длину строки

In [ ]:
# измените первый символ в строке на заглавный

In [ ]:
# прибавьте к строке строку " Hello!"