#### 1. Реализовать на python базу данных по персоналу с двумя таблицами из занятия.

In [20]:
import sqlite3

In [21]:
#connect - соединение. Передаю имя базы данных, с коротой устанавливаю соединение. Сейчас сoздаю новый файл.
connect = sqlite3.connect('it.db')

#cursor - отправляет команды в sql.
cursor = connect.cursor()

In [22]:
#Создаю первую таблицу, в которой хронятся соедующие данные:id, имя, фамилия, офис, отдел, зп, телефон.
create_table_1 = '''create table employee
(id integer, name varchar(20), sername varchar(20), ofice varchar(20), departament integer, salary integer, 
phone varchar(20))'''
cursor.execute(create_table_1)

In [23]:
#cursor.execute - выполнение команды. B скобках передаю имя компнды, в качестве параметра.

In [24]:
#Создаю втoрую таблицу, в которой хронятся соедующие данные: id, название отделa, номер отдела.
create_table_2 = '''create table depart
(id integer, name_departamnt varchar(20), namber_departament integer)'''
cursor.execute(create_table_2)

#### 2. Заполнить ее данными.

In [25]:
#Добавила один контакт в таблицу employee.
cursor.execute('''insert into employee
(id, name, sername, ofice, departament, salary, phone) 
values 
('1', 'Nikolay', 'Bobov', 'lubynka', '2', '55000', '8-925-225-74-11')''')

In [26]:
#Распечатала все контакты и данные из таблицы employee.
cursor.execute('''select * from employee''')
cursor.fetchall()

[(1, 'Nikolay', 'Bobov', 'lubynka', 2, 55000, '8-925-225-74-11')]

In [27]:
people = [(2, 'Valentina', 'Timofeeva', 'polyanka', 4, 100000, '8-905-222-88-22'),
          (3, 'Irina', 'Grin', 'taganskaya', 3, 40000, '8-915-694-74-03'),
          (4, 'Konstantin', 'Timofeev', 'polyanka', 4, 250000, '8-916-067-93-47'),
          (5, 'Olga', 'Rogova', 'taganskaya', 2, 55000, '8-977-799-02-78'),
          (6, 'Anna', 'Volkova', 'lubynka', 3, 37000, '8-925-289-00-14'),
          (7, 'Elena', 'Komkova', 'taganskaya', 1, 88000, '8-905-227-97-40'),
         ]

In [28]:
#Добавила сразу несколько  контактов в таблицу employee.
cursor.executemany('''insert into employee
(id, name, sername, ofice, departament, salary, phone) 
values 
(?, ?, ?, ?, ?, ?, ?)''', people)

In [29]:
#Распечатала все контакты и данные из таблицы employee.
cursor.execute('''select * from employee''')
cursor.fetchall()

[(1, 'Nikolay', 'Bobov', 'lubynka', 2, 55000, '8-925-225-74-11'),
 (2, 'Valentina', 'Timofeeva', 'polyanka', 4, 100000, '8-905-222-88-22'),
 (3, 'Irina', 'Grin', 'taganskaya', 3, 40000, '8-915-694-74-03'),
 (4, 'Konstantin', 'Timofeev', 'polyanka', 4, 250000, '8-916-067-93-47'),
 (5, 'Olga', 'Rogova', 'taganskaya', 2, 55000, '8-977-799-02-78'),
 (6, 'Anna', 'Volkova', 'lubynka', 3, 37000, '8-925-289-00-14'),
 (7, 'Elena', 'Komkova', 'taganskaya', 1, 88000, '8-905-227-97-40')]

In [30]:
#Добавила сразу несколько  контактов в таблицу depart.
name_departament = [
    (1, 'frontend', '1'),
    (2, 'backend', '2'),
    (3, 'UX/UI', '3'),
    (4, 'DevOps', '4')
]

In [31]:
cursor.executemany('''insert into depart
(id, name_departamnt, namber_departament)
values
(?, ?, ?)''', name_departament)

#### 3. Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отдел, отсортированных по убыванию средне зп.

In [32]:
cursor.execute('''select * from employee
join depart on employee.departament = depart.namber_departament''')
cursor.fetchall()

[(1,
  'Nikolay',
  'Bobov',
  'lubynka',
  2,
  55000,
  '8-925-225-74-11',
  2,
  'backend',
  2),
 (2,
  'Valentina',
  'Timofeeva',
  'polyanka',
  4,
  100000,
  '8-905-222-88-22',
  4,
  'DevOps',
  4),
 (3,
  'Irina',
  'Grin',
  'taganskaya',
  3,
  40000,
  '8-915-694-74-03',
  3,
  'UX/UI',
  3),
 (4,
  'Konstantin',
  'Timofeev',
  'polyanka',
  4,
  250000,
  '8-916-067-93-47',
  4,
  'DevOps',
  4),
 (5,
  'Olga',
  'Rogova',
  'taganskaya',
  2,
  55000,
  '8-977-799-02-78',
  2,
  'backend',
  2),
 (6, 'Anna', 'Volkova', 'lubynka', 3, 37000, '8-925-289-00-14', 3, 'UX/UI', 3),
 (7,
  'Elena',
  'Komkova',
  'taganskaya',
  1,
  88000,
  '8-905-227-97-40',
  1,
  'frontend',
  1)]

In [ ]:
#Выбираем название департамента, зарплату (avg - это среднее значение) в таблице employee.
#Склеиваем 2 таблицы что куда добавить в условиях.
#Групируем по имени департамента и сортируем по убыванию (desc).

In [49]:
cursor.execute('''select name_departamnt, avg(salary) from employee
join depart on employee.departament = depart.namber_departament
group by name_departamnt
order by salary desc''')
cursor.fetchall()

[('DevOps', 175000.0),
 ('frontend', 88000.0),
 ('backend', 55000.0),
 ('UX/UI', 38500.0)]

#### 4. Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.

In [50]:
cursor.execute('''insert into employee
(id, name, sername, ofice, departament, salary, phone) 
values 
('8', 'Oleg', 'Goc', 'lubynka', '1', '30000', '8-925-011-74-33')''')

In [51]:
cursor.execute('''select name_departamnt, avg(salary) from employee
join depart on employee.departament = depart.namber_departament
group by name_departamnt
order by salary desc''')
cursor.fetchall()

[('DevOps', 175000.0),
 ('frontend', 59000.0),
 ('backend', 55000.0),
 ('UX/UI', 38500.0)]