# Часть 1. Множества

1. Создайте множество **set1** из целых чисел: 1, 2, 3, 4, 5.

In [66]:
#задаем множество set1
set1 = set([ 1, 2, 3, 4, 5])
print(set1)

{1, 2, 3, 4, 5}

2. Добавьте в это множество элемент 6.

In [67]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

3. Удалите элемент 2 из множества.

In [68]:
set1.remove(2)
print(set1)

{1, 3, 4, 5, 6}

4. Проверьте, содержит ли множество элемент 3.

In [69]:
x = 3
print(x in set1)

True

5. Создайте второе множество **set2** с элементами 4, 5, 6, 7, 8.

In [70]:
#задаем множество set2
set2 = set([4, 5, 6, 7, 8])
print(set2)

{4, 5, 6, 7, 8}

6. Найдите объединение множеств **set1** и **set2**.

In [71]:
#объединение множеств способ 1
print (set1 | set2)
#объединение множеств способ 2
print (set1.union(set2))
print (set2.union(set1))

{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}
{1, 3, 4, 5, 6, 7, 8}

7. Найдите разность множеств **set1** и **set2**.

In [72]:
#разница множеств способ 1
print(set1-set2)
print(set2-set1)
print()
#разница множеств способ 1
print(set1.difference(set2))
print(set2.difference(set1))

{1, 3}
{8, 7}

{1, 3}
{8, 7}

8. Создайте два множества **set1** и **set2**, содержащие цвета радуги: "красный", "оранжевый", "желтый", "зеленый", "голубой", "синий", "фиолетовый".

In [73]:
#вариант понимания задачи что два одинаковых множества
st1 = {"красный", "оранжевый", "желтый", "зеленый", "голубой", "синий", "фиолетовый"}
st2 = {"красный", "оранжевый", "желтый", "зеленый", "голубой", "синий", "фиолетовый"}
print(st1, st2, sep = '\n')

{'оранжевый', 'синий', 'красный', 'голубой', 'желтый', 'фиолетовый', 'зеленый'}
{'оранжевый', 'синий', 'красный', 'голубой', 'желтый', 'фиолетовый', 'зеленый'}

9. Найдите пересечение множеств **set1** и **set2**.

In [74]:
#дубляжи удаляются
print (st1 & st2)

{'красный', 'голубой', 'желтый', 'зеленый', 'оранжевый', 'синий', 'фиолетовый'}

10. Объедините множества **set1** и **set2** и сохраните результат в новое множество **rainbow_colors**.

In [75]:
#дубляжи удаляются
rainbow_colors = st1.union(st2)
print(rainbow_colors)

{'красный', 'голубой', 'желтый', 'зеленый', 'оранжевый', 'синий', 'фиолетовый'}

# Часть 2. Словари

1. Создайте словарь **person** с ключами "name", "age" и "city" с вашими данными.

In [76]:
person = {'name':'Alexander', 'age':33, 'city':'Dolgoprudniy'}
print('\033[93mЭлементы словаря  person:\033[0m', *person.items(), sep = '\n')
print('\n', type(person))

Элементы словаря  person:
('name', 'Alexander')
('age', 33)
('city', 'Dolgoprudniy')

 <class 'dict'>

2. Добавьте в словарь новый ключ "email" со значением вашего электронного адреса.

In [77]:
person['email'] = 'misterdx1990@gmail.com'
print('\033[93mЭлементы словаря  person:\033[0m', *person.items(), sep = '\n')

Элементы словаря  person:
('name', 'Alexander')
('age', 33)
('city', 'Dolgoprudniy')
('email', 'misterdx1990@gmail.com')

3. Удалите ключ "city" из словаря.

In [78]:
del person['city']
print('\033[93mЭлементы словаря  person:\033[0m', *person.items(), sep = '\n')

Элементы словаря  person:
('name', 'Alexander')
('age', 33)
('email', 'misterdx1990@gmail.com')

4. Создайте словарь **inventory** с товарами "яблоко": 5, "банан": 10, "апельсин": 7.

In [79]:
inventory = {"яблоко": 5, "банан": 10, "апельсин": 7}
print('\033[93mЭлементы словаря  inventory:\033[0m', *inventory.items(), sep = '\n')

Элементы словаря  inventory:
('яблоко', 5)
('банан', 10)
('апельсин', 7)

5. Увеличьте количество "бананов" в инвентаре на 3.

In [80]:
inventory['банан'] = inventory['банан'] + 1
print('\033[93mЭлементы словаря  inventory:\033[0m', *inventory.items(), sep = '\n')

Элементы словаря  inventory:
('яблоко', 5)
('банан', 11)
('апельсин', 7)

6. Создайте новый словарь **prices**, где цена для каждого продукта задана {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}.

In [81]:
prices = {"яблоко": 1.5, "банан": 2, "апельсин": 1.2}
print('\033[93mЭлементы словаря prices:\033[0m', *prices.items(), sep = '\n')

Элементы словаря prices:
('яблоко', 1.5)
('банан', 2)
('апельсин', 1.2)

7. Создайте словарь **students** с данными о студентах {"Иванов": 22, "Петрова": 21, "Сидоров": 23}.

In [82]:
students = {"Иванов": 22, "Петрова": 21, "Сидоров": 23}
print('\033[93mЭлементы словаря Students:\033[0m', *students.items(), sep = '\n')

Элементы словаря Students:
('Иванов', 22)
('Петрова', 21)
('Сидоров', 23)

8. Добавьте нового студента "Смирнова" возрастом 20 лет в словарь.

In [83]:
students['Смирнова'] = 20
print('\033[93mЭлементы словаря Students:\033[0m', *students.items(), sep = '\n')

Элементы словаря Students:
('Иванов', 22)
('Петрова', 21)
('Сидоров', 23)
('Смирнова', 20)

9. Удалите студента "Петрова" из словаря.

In [84]:
del students['Петрова']
print('\033[93mЭлементы словаря Students:\033[0m', *students.items(), sep = '\n')

Элементы словаря Students:
('Иванов', 22)
('Сидоров', 23)
('Смирнова', 20)

# Часть 3. Условные операторы

1. На основе значения возраста из словаря **person**, выведите сообщение "Совершеннолетний" или "Несовершеннолетний".

In [85]:
if person['age'] >= 18:
    print ('Совершеннолетний')
elif person['age'] <= 0:
    print('Error')
else:
    print('Несовершеннолетний')

Совершеннолетний

2. Сравните длину множества **set1** с другим множеством **set2** и выведите сообщение о том, какое из множеств больше.

In [86]:
x = len(set1) - len(set2)
if x > 0:
    print('Длина множества \033[93mset1\033[0m больше длины множества \033[93mset2\033[0m')
elif x < 0:
    print('Длина множества \033[93mset2\033[0m больше длины множества \033[93mset1\033[0m')
else:
    print('Длины множеств \033[93mset1\033[0m и \033[93mset2\033[0m равны')

Длины множеств set1 и set2 равны

3. Напишите условие, которое проверяет, есть ли "груша" в словаре **inventory**, и если нет, добавляет "грушу" с количеством 3.

In [87]:
if 'груша' in inventory.keys():
    print('Элемент c ключом "груша" в словаре \033[93minventory\033[0m найден')
    print(f"Его значение - {inventory['груша']}") 
else:
    print('Элемент с ключом "груша" в словаре \033[93minventory\033[0m не найден\n')
    inventory['груша'] = 3
    print('В словарь \033[93minventory\033[0m добавлен элемент с ключом  "груша" и значением 3\n')
print('\033[93mЭлементы словаря  inventory:\033[0m', *inventory.items(), sep = '\n')

Элемент с ключом "груша" в словаре inventory не найден

В словарь inventory добавлен элемент с ключом  "груша" и значением 3

Элементы словаря  inventory:
('яблоко', 5)
('банан', 11)
('апельсин', 7)
('груша', 3)

4. Выведите сообщение "Дорогой товар" для продуктов, цена которых превышает 1.5.

In [88]:
for key in prices.keys():
    if prices[key] > 1.5:
        print(f'{key} - \033[93mдорогой товар\033[0m (цена - {prices[key]})')

банан - дорогой товар (цена - 2)

5. Напишите условие, которое проверяет возраст студента "Иванова" и выводит сообщение "Совершеннолетний" или "Несовершеннолетний".

In [89]:
#for key in students.keys():
key = 'Иванов'
if students[key] >= 18:
    print (f'{key} - Совершеннолетний')
elif person['age'] <= 0:
    print('Error')
else:
    print(f'{key} - Несовершеннолетний')

Иванов - Совершеннолетний

6. Сравните длину множеств **set1** и **set2** и выведите сообщение о том, какое множество длиннее.

In [90]:
if len(set1) > len(set2):
    print('Длина множества \033[93mset1\033[0m больше длины множества \033[93mset2\033[0m')
elif len(set1) < len(set2):
    print('Длина множества \033[93mset2\033[0m больше длины множества \033[93mset1\033[0m')
else:
    print('Длины множеств \033[93mset1\033[0m и \033[93mset2\033[0m равны')

Длины множеств set1 и set2 равны

# Часть 4. Циклы

1. Напишите цикл for, который выводит все элементы множества **set1**.

In [91]:
print('\033[93mЭлементы множества set1:\033[0m')
for s in set1:
    print(s, end = ' ')

Элементы множества set1:
1 3 4 5 6

2. Напишите цикл while, который выводит квадраты чисел от 1 до 5.

In [92]:
i = 1
while i <= 5:
    print(f'\033[93mКвадрат числа {i}\033[0m - {i*i}')
    i += 1

Квадрат числа 1 - 1
Квадрат числа 2 - 4
Квадрат числа 3 - 9
Квадрат числа 4 - 16
Квадрат числа 5 - 25

3. Напишите цикл for, который перебирает все ключи словаря **inventory** и выводит каждый товар.

In [93]:
print(f'Товары, из словаря \033[93minventory\033[0m:')
for key in inventory.keys():
    print(key)

Товары, из словаря inventory:
яблоко
банан
апельсин
груша

4. Используя цикл for, выведите всех студентов и их возраст из словаря **students**.

In [94]:
print('\033[93mФамилия  - Возраст\033[0m')
for key in students.keys():
    print(f'{key:8} - {students[key]}')

Фамилия  - Возраст
Иванов   - 22
Сидоров  - 23
Смирнова - 20

# Часть 5

## Множества

1. Создайте функции **set_union** и **set_difference** для операций объединения и разности множеств.
   - Функции должны принимать два множества и возвращать соответствующий результат.

In [95]:
set3 = {0,1,2,3,4,5,6,8}
set4 = {3,4,5,6,7,8,9,10,11,12,13}

In [96]:
'''непонятно на сколько хардкорно надо делать,
можно сделать без add'''
#используем add - он не добавляет дубликаты
def set_union(
    set_1,
    set_2
):
    '''Операция объединения двух множеств
    :param set1: первое множество
    :param set2: второе множество
    :return: объединенное множество
    '''
    sum_set = set([])
    for s1 in set_1:
        sum_set.add(s1)
    for s2 in set_2:
        sum_set.add(s2)
    return sum_set

In [97]:
set_union(set3, set4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [98]:
# хардкор вариант
def set_union1(
    set_1,
    set_2
):
    '''Операция объединения двух множеств
    :param set1: первое множество
    :param set2: второе множество
    :return: объединенное множество
    '''
    sum_set = []
    for s1 in set_1:
        sum_set += [s1]
    for s2 in set_2:
        if s2 in sum_set:
            continue
        else:
            sum_set += [s2]
    return set(sum_set)

In [99]:
set_union1(set3, set4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [100]:
#разница двух множеств
def set_difference(
    set_1,
    set_2
):
    '''Операция разности двух множеств
    :param set1: первое множество
    :param set2: второе множество
    :return: разность множеств в виде множества
    '''
    dif_set = []
    for s1 in set_1:
        dif_set += [s1]
    for s2 in set_2:
        if s2 in dif_set:
            dif_set.remove(s2)
        else:
           continue
    return set(dif_set)

In [101]:
set_difference(set3, set4)

{0, 1, 2}

In [102]:
set_difference(set4, set3)

{7, 9, 10, 11, 12, 13}

2. Создайте функцию **is_subset** для проверки, является ли одно множество подмножеством другого.

In [103]:
def is_subset (
    set_1, 
    set_2
):
    '''Проверяет является ли первое множество подмножеством второго
    :param set1: первое множество
    :param set2: второе множество
    :return:
    '''    
    if len(set_1) <= len(set_2):
        temp_set = set_1 - set_2
        if len(temp_set) == 0:
            print(f'Множество {set_1} является подмножеством {set_2}')
        else:
            print(f'Множество {set_1} не является подмножеством {set_2}')
    else:
        temp_set = set_2 - set_1
        if len(temp_set) == 0:
            print(f'Множество {set_2} является подмножеством {set_1}')
        else:
            print(f'Множество {set_2} не является подмножеством {set_1}')
        return

In [104]:
#проверяем является ли множестве 1 подмножеством мн.2
set1 = {6,7,8}
set2 = {3,4,5,6,7,8,9,10,11,12,13}

is_subset(set1, set2)

Множество {8, 6, 7} является подмножеством {3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

3. Создайте функцию для объединения нескольких множеств.

In [105]:
def combine_sets(
    *sets
):
    '''Операция объединения нескольких множеств
    :param *set: некоторое количество множеств
    :return: объединенное множество
    '''    
    sum_set = set()
    for s in sets:
        sum_set = sum_set.union(s)
    return sum_set

In [106]:
combine_sets(set1, set2, set3, set4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

4. Создайте функцию для удаления конкретного элемента из множества.

In [131]:
#извращенный способ на разнице множест, можно просто discard
def delete_value(x, set1):
    for s in set1:
        if s == x:
            set2 = set1 - set([x])
        else:
            continue
    return set2

In [132]:
delete_value(6, set1)

{7, 8}

5. Создайте функцию для поиска пересечения нескольких множеств.

In [58]:
def intersect_sets(*sets):
    sum_set = set()
    for s in sets:
        sum_set = sum_set.union(s)
    for s in sets:
        sum_set = sum_set & s
    return sum_set

In [59]:
print(set1, set2, set3, set4, sep = '\n')
intersect_sets(set1, set2, set3, set4)

{8, 6, 7}
{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{0, 1, 2, 3, 4, 5, 6, 8}
{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

{6, 8}

6. Создайте функцию для проверки на равенство двух множеств.

In [97]:
# можно просто сделать if set1 == set2 - но зачем тогда функция
def equal_sets(set_1, set_2):
    if len(set_1) >= len(set_2):
        x = len(set_1 - set_2)
    else:
        x = len(set_2 - set_1)
    if x == 0 and len(set_1) != 0:
        print(f'Множества {set_1} и {set_2} равны')
    elif len(set_1) == 0 and len(set_2) == 0:
        print(f'Множества {set_1} и {set_2} равны, они пустые')
    else:
        print(f'Множества {set_1} и {set_2} не равны')
    return

In [104]:
set5 = {6,7,8}
set6 = {6,7,8}
set7 = set()
set8 = set()
set9 = {'a', 'b', 'c'}
equal_sets(set5, set6)
equal_sets(set5, set7)
equal_sets(set7, set8)
equal_sets(set5, set9)

Множества {8, 6, 7} и {8, 6, 7} равны
Множества {8, 6, 7} и set() не равны
Множества set() и set() равны, они пустые
Множества {8, 6, 7} и {'a', 'c', 'b'} не равны

7. Создайте функцию для нахождения объединения трех множеств.

In [102]:
# лень что то придумывать, тк уже сделали норм для любого числа множеств
def combine_3sets(set1, set2, set3):
    sum_set = set1 | set2 | set3
    return sum_set

In [105]:
combine_3sets(set5,set6,set9)

{6, 7, 8, 'a', 'b', 'c'}

8. Создайте функцию для проверки, являются ли два множества дизъюнктными (не имеют общих элементов).

In [119]:
def diffrent_sets(set1, set2):
    dif_set = set1 - set2
    if len(dif_set) == len(set1):
        print(f'Множества {set1} и {set2} являются дизъюнктивными')
    else:
        print(f'Множества {set1} и {set2} не являются дизъюнктивными')
    return

In [121]:
diffrent_sets(set5, set6)
diffrent_sets(set5, set9)
diffrent_sets(set5, set7)

Множества {8, 6, 7} и {8, 6, 7} не являются дизъюнктивными
Множества {8, 6, 7} и {'a', 'c', 'b'} являются дизъюнктивными
Множества {8, 6, 7} и set() являются дизъюнктивными

9. Создайте функцию для нахождения разности двух множеств.

In [122]:
#уже делали ж

10. Создайте функцию для определения симметрической разности двух множеств.

In [129]:
#разница двух множеств
def symm_difference_sets(set1, set2):
    dif_set = (set1 - set2) | (set2 - set1)
    return dif_set

In [130]:
symm_difference_sets(set3, set4)

{0, 1, 2, 7, 9, 10, 11, 12, 13}

11. Создайте функцию **create_set** для создания множества с заданными элементами.
   - Функция должна принимать переменное количество аргументов и возвращать новое множество.

In [135]:
def create_set(*values):
    m = []
    for value in values:
        m.append(value)
    return set(m)

In [138]:
create_set(1,2,3,4,5,6,7,'1234')

{1, '1234', 2, 3, 4, 5, 6, 7}

## Словари

1. Создайте функцию **create_dictionary** для создания словаря с заданными ключами и значениями.
   - Функция должна принимать словарь в формате ключ-значение и возвращать созданный словарь.

In [178]:
tuple_keys = (1, 2, 3, 4, 5)
tuple_values = ('a','b','c','d','e')

In [159]:
#на вход функции подаются два кортежа одинакогого размера, первый - ключи, второй - значения; иначе выдается ошибка
def create_dictionary(tuple_keys, tuple_values):
    new_dict = dict()
    if len(tuple_keys) != len(tuple_values):
        print('Error - повторите ввод, кортежи должны быть одинаковых размеров')
    else:
        for i in range(len(tuple_keys)):
            new_dict[tuple_keys[i]] = tuple_values[i]
    return new_dict

In [161]:
create_dictionary(tuple_keys, tuple_values)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [160]:
#Вывод словаря красивый
dictionary = create_dictionary(tuple_keys, tuple_values)
for key, value in dictionary.items():
        print(f'Ключ: {key}, Значение: {value}')

Ключ: 1, Значение: a
Ключ: 2, Значение: b
Ключ: 3, Значение: c
Ключ: 4, Значение: d
Ключ: 5, Значение: e

2. Напишите функции **add_student** и **remove_student** для добавления и удаления студентов из словаря.
   - Функции должны принимать словарь студентов и соответствующие данные для добавления и удаления.

In [181]:
tuple_names = ('Лоцманов', 'Корчевая')
tuple_age = (33, 21)

In [254]:
def add_student(
    students_dict,
    tuple_keys,
    tuple_values
):
    '''Добавления студентов и их возрастов в словарь
    :param students_dict: словарь студентов в формате {фамилия:возраст}
    :param tuple_keys: кортеж с фамилиями
    :param tuple_values: кортеж с возрастом
    '''
    if len(tuple_keys) != len(tuple_values):
        print('Error - повторите ввод, кортежи должны быть одинаковых размеров')
    else:
        for i in range(len(tuple_keys)):
            students_dict[tuple_keys[i]] = tuple_values[i]
    return students_dict

In [255]:
help(add_student)

Help on function add_student in module __main__:

add_student(students_dict, tuple_keys, tuple_values)
    Добавления студентов и их возрастов в словарь
    :param students_dict: словарь студентов в формате {фамилия:возраст}
    :param tuple_keys: кортеж с фамилиями
    :param tuple_values: кортеж с возрастом

In [253]:
add_student(students,tuple_names, tuple_age)

{'Иванов': 22, 'Сидоров': 23, 'Смирнова': 20, 'Лоцманов': 33, 'Корчевая': 21}

In [ ]:
remove_student

    
3. Создайте функцию для объединения двух словарей.

In [191]:
#на вход ф-ции подается students - словарь студентов, new_students - словарь студентов, которых надо добавить
def add_dict(
    dict1,
    dict2
):
    dict12 = dict()
    for key in dict1.keys():
        dict12[key] = dict1[key]
    for key in dict2.keys():
        dict12[key] = dict2[key]
    return dict12

In [195]:
add_dict(prices,students)

{'яблоко': 1.5,
 'банан': 2,
 'апельсин': 1.2,
 'Иванов': 22,
 'Сидоров': 23,
 'Смирнова': 20,
 'Лоцманов': 33,
 'Корчевая': 21}

4. Создайте функцию для удаления элемента из словаря по заданному ключу.

In [216]:
test_dict = {'яблоко':17, 'банан':120,'Вишня':1,"Иванов": 22, "Петрова": 21, "Сидоров": 23}

In [206]:
del_keys = ['яблоко', 'банан','Иванов']

In [207]:
#на вход подается словарь и массив ключей, которые надо удалить
def delete_item(dict1,keys):
    for key in keys:
        dict1.pop(key)
    return dict1

In [209]:
delete_item(test_dict, del_keys)

{'Вишня': 1, 'Петрова': 21, 'Сидоров': 23}

5. Создайте функцию для переворачивания значений и ключей в словаре.

In [211]:
#на вход подается словарь и массив ключей, которые надо удалить
def reverse_dict(dict1):
    reverse_dict = dict()
    for key in dict1.keys():
        reverse_dict[dict1[key]] = key
    return reverse_dict

In [213]:
reverse_dict(test_dict)

{17: 'яблоко',
 20: 'банан',
 1: 'Вишня',
 22: 'Иванов',
 21: 'Петрова',
 23: 'Сидоров'}

6. Создайте функцию для сортировки словаря по ключам в обратном порядке.

In [210]:
#????
my_dict = {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

# Сортировка по ключам и создание нового словаря
sorted_dict = dict(sorted(my_dict.items()))

# Вывод отсортированного словаря
print(sorted_dict)

{'age': 25, 'city': 'New York', 'country': 'USA', 'name': 'John'}

In [281]:
def reverse_sort_dict(dict1):
    reverse_sorted_dict = dict(sorted(dict1.items(), reverse=True))
    return reverse_sorted_dict

In [282]:
print(reverse_sort_dict(test_dict))
print(dict(sorted(test_dict.items())))

{'яблоко': 17, 'банан': 120, 'Сидоров': 23, 'Петрова': 21, 'Иванов': 22, 'Вишня': 1}
{'Вишня': 1, 'Иванов': 22, 'Петрова': 21, 'Сидоров': 23, 'банан': 120, 'яблоко': 17}

7.  Создайте функцию для поиска наибольшего значения в словаре.

In [217]:
def max_value_in_dict(dict1):
    max_value = max(dict1.values())
    return max_value

In [218]:
max_value_in_dict(test_dict)

120

## Условия

1. Создайте функцию **check_fruit_price** для проверки стоимости фрукта и вывода соответствующего сообщения.
   - Функция должна принимать словарь цен на фрукты и название фрукта, а затем выводить сообщение "дорогой товар", если цена фрукта больше 1.5.

In [23]:
prices_fruit = {'Яблоки' : 1, 'Виноград' : 1.2,'Вишня' : 1.5,"Груша" : 1.85, "Апельсин" : 3, "Мандарин" : 2}
fruit = 'Яблоки'

In [29]:
def check_fruit_price(
    prices_dict,
    fruit
):
    '''Функция выводит сообщение о том, что товар дорогой, если его цена больше 1.5
    :param prices_dict: Словарь с парами фрукт - цена (название фруктов следует писать с заглавной буквы)
    :param fruit: название фрукта для поиска в словаре (следует писать с заглавной буквы)
    :return:
    '''
    if fruit not in prices_fruit.keys():
        print('\033[91mОшибка!\033[0m Такого фрукта в словаре не существует')
    else:
        if prices_fruit[fruit.capitalize()] > 1.5:
            print(f'{fruit} - \033[93mдорогой товар\033[0m (цена - {prices_fruit[fruit]})')
        else:
            print(f'Цена на {fruit} - {prices_fruit[fruit]}')
    return

In [31]:
print(check_fruit_price(prices_fruit, fruit))
print(check_fruit_price(prices_fruit, 'Мандарин'))

Цена на Яблоки - 1
None
Мандарин - дорогой товар (цена - 2)
None

2. Создайте функцию check_age для проверки возраста студента и вывода соответствующего сообщения.
   - Функция должна принимать словарь студентов и имя студента, а затем выводить сообщение о совершеннолетии или несовершеннолетии.

In [32]:
students_age = {"Иванов": 22, "Петрова": 21, "Сидоров": 23, 'Лоцманов' : 33}
name = 'Лоцманов'

In [39]:
def check_age(
    students,
    name  
):
    '''Функция выводит сообщение о том, Является ли запрашиваемый студент совершеннолетним
    :param students: Словарь с парами фамилия стдуента - возраст (фамилии следует писать с заглавной буквы)
    :param name: фамилия студента (следует писать с заглавной буквы)
    :return:
    '''
    if name not in students.keys():
        print('\033[91mОшибка!\033[0m Такого студента в словаре не существует')
    else:
        if students[name] >= 18:
            print (f'{name} - Совершеннолетний')
        elif students[name] <= 0:
            print('\033[91mОшибка!\033[0m')
        else:
            print(f'{name} - Несовершеннолетний')
    return

In [40]:
check_age(students_age, name)

Лоцманов - Совершеннолетний

3. Создайте функцию **compare_sets_length**, которая сравнивает длину двух множеств и выводит информацию о  том, какое из множеств длиннее.
   - Функция должна принимать два множества и выводить соответствующее сообщение.

In [64]:
def compare_sets_length(
    set1,
    set2
):
    '''Сравнивает длину двух множеств
    :param set1: первое множество
    :param set2: второе множество
    :return:
    '''
    if len(set1) > len(set2):
        print('Первое множество длинее')
    elif len(set2) > len(set1):
        print('Второе множество длинее')
    else:
        print('Длины множеств равны')
    return

In [65]:
set_f = set('12111111134522222226')
set_s = set('12345fdwqln6')

compare_sets_length(set_f, set_s)

Второе множество длинее

4. Создайте функцию для определения четности или нечетности числа.

In [67]:
def even_odd(
    n
):
    '''Проверяет является ли число четным
    :param n: целое число
    :return: True or False
    '''
    if str(n).isnumeric():
        if n % 2 == 0:
            answer = 'Четное'
        else:
            answer = 'нечетное'
    else:
        print('Передано не число')
    return answer

In [68]:
print(
    even_odd(0),
    even_odd(22224),
    even_odd(1111),
    sep = '\n'
)

Четное
Четное
нечетное

5. Создайте функцию для определения високосного года. Функция должна принимать на вход год в виде числа и возвращать строку "високосный" или "обычный"

In [44]:
def leap_year(
    n
):
    '''Проверяет является ли год високосным
    :param n: вещественное число
    :return: Строка 'високосный' или 'обычный' 
    '''
    if n <= 45:
        a = 'Обычный'
    elif n % 4 == 0 and n % 100 != 0:
        a = 'Високосный'
    else:
        if n % 400 == 0:
            a = 'Високосный'
        else:
            a = 'Обычный'
    return a

In [45]:
leap_year(4)

'Обычный'

6. Создайте функцию для определения типа треугольника по длинам сторон (принимает длины сторон, возвращает "остроугольный, прямоугольный, тупоугольный или не треугольник").

In [83]:
def triangle_type(
    a, b, c
):
    '''
    '''
    if a + b < c or a + c < b or b + c < a:
        return 'Такие числа не могут образовать треугольник!'
    tmp = [a, b, c]
    tmp.sort(reverse = True)
    
    if tmp[0] ** 2 > tmp[1] ** 2 + tmp[2] ** 2:
        return "Тупоугольный"
    elif tmp[0] ** 2 == tmp[1] ** 2 + tmp[2] ** 2:
        return "Прямоугольный"
    else:
        return "Остроугольный"

In [95]:
print(triangle_type( 1, 6, 5))
print(triangle_type( 1, 5, 5))
print(triangle_type( 3, 4, 5))

Тупоугольный
Остроугольный
Прямоугольный

7. Создайте функцию для проверки, является ли строка палиндромом.

In [258]:
def is_pallindrom(
    string
):
    '''Проверяет является ли строка палиндромом
    :param string: строка
    :return: True or False
    '''
    if string == string[::-1]:
        return True
    else:
        return False

In [261]:
is_pallindrom('qwertyytrewaq')

False

8. Создайте функцию для определения времени суток по введенному времени ( принимает текущее время в формате часы, минуты, возвращает утро, день, вечер, ночь).

In [61]:
def time_of_day(
    time
):
    '''Определяет время суток по введенному времени
    :param time:  текущее время в формате часы, минуты через пробел
    :return:
    '''
    t = time.split()
    minute = int(t[0]) * 60 + int(t[1])
    if 0 <= minute < 180 or 1260 <= minute <= 1440:
        print('Ночь')
    if 180 <= minute < 540:
        print('Утро')
    if 540 <= minute < 900:
        print('День')
    if 900 <= minute < 1260:
        print('Вечер')
    return

In [62]:
time = '21 00'
time_of_day(time)

Ночь

9. Создайте функцию, которая определяет, является ли введенное число простым.

In [221]:
def is_prime(
    n
):
    '''Проверяет является ли число простым
    :param n: целое число
    :return: True or False
    '''
    if n <= 1 or n % 2 == 0:
        return False
    if n == 2 or n == 3 or n == 5 or n == 7:
        return True
    for i in range(3, int(n**0.5)+1, 2):
        if n % i == 0:
            return False
        return True

In [222]:
is_prime(7)

True

10. Создайте функцию для проверки входящей строки на наличие только буквенных символов.

In [70]:
def is_letter(
    string
):
    '''Проверяет строку на наличие только буквенных симоволов
    :param string: строка
    :return: True or False
    '''
    for x in list(string):
        if x.isnumeric():
            return False
    else:
        return True

In [71]:
x = '12qwewqe'
y = 'qwerty'
print('Строка x -', is_letter(x),'\nСтрока y -', is_letter(y))

Строка x - False
Строка y - True

11. Создайте функцию, которая определяет, является ли введенная дата корректной (дата вводится в виде трех чисел, день, месяц, год. Корректной датой считается существующая комбинация этих трех чисел).

In [76]:
def is_date_correct(
):
    '''Проверяет является ли дата корректной
    :param:
    :return: True or False
    '''
    i = 0
    date = [int(i) for i in input('Введите дату(черзе пробел):\n').split()]
    d = date[0]
    m = date[1]
    y = date[2]
    answer = True
    if d > 31 or d < 1 or m > 12 or m < 1 or 45 >= y:
        answer = False
    else:
        if m == 4 or m ==6 or m == 9 or m == 11:
            if d == 31:
                answer = False
    if y % 4 == 0 and y % 100 != 0:
        if m == 2 and (d == 30 or d == 31):
            answer = False
    else:
        if y % 400 == 0 and m == 2 and (d == 30 or d == 31):
            answer = False
        else:
            if m == 2 and (d == 29 or d == 30 or d == 31):
                answer = False
    return answer

In [77]:
is_date_correct()

Введите дату(черзе пробел):
 22 01 2023

True

12. Создайте функцию, которая определяет, является ли введенное число палиндромом.

In [78]:
def is_dig_pallindrom(
    i
):
    '''Проверяет является ли число палиндромом
    :param i: натуральное число
    :return: True or False
    '''
    if str(i).isnumeric():
        if str(i) == (str(i))[::-1]:
            return True
        else:
            return False
    else:
        print('передано не число')

In [80]:
s1 = 1234567887654321
s2 = 78612890
print('Число s1 -', is_dig_pallindrom(s1), '\nЧисло s2 -', is_dig_pallindrom(s2))

Число s1 - True
Число s2 - False

13. Создайте функцию для определения дня недели по введенному номеру дня (1 - Понедельник, 2 - Вторник и т.д.).

In [235]:
def d_o_w(
    n
):
    '''Определяет день недели по введенному номеру дня
    :param n: числа от 1 до 7
    :return: день недели
    '''
    if n < 1 or n > 7:
        print('Такого дня не существует')
    else:
        day = {
            '1':'Понедельник', '2':'Вторник', '3':'Среда',
            '4':'Четверг', '5':'Пятница', '6':'Суббота', '7':'Воскресенье'
              }
    return day[str(n)]

In [275]:
for i in range(1,8):
    print(d_o_w(i))

Понедельник
Вторник
Среда
Четверг
Пятница
Суббота
Воскресенье

## Циклы

0. Создайте функцию **print_fruits_info** для вывода информации о количестве и стоимости фруктов из словарей.
   - Функция должна принимать словари с информацией "фрукт:количество" и "фрукт:цена" и выводить для каждого фрукта его стоимость и количество.

In [16]:
dict_quant = {'Яблоки' : 7, 'Виноград' : 2,'Вишня' : 10,"Груша" : 8, "Апельсин" : 12, "Мандарин" : 24}
dict_price = {'Яблоки' : 99, 'Виноград' : 199,'Вишня' : 299,"Груша" : 249, "Апельсин" : 119, "Мандарин" : 129}

In [137]:
def print_fruits_info(
    dict_quant, 
    dict_price
):
    '''На вход функция принимает два словаря с равным количеством пар
    :param dict_quant: "фрукт:количество"
    :param dict_price: "фрукт:цена"
    :return:
    '''
    print(f' Фрукт\t  цена \t  количество')
    for key in dict_quant.keys():
        print(f'{key:^8} \033[93m{dict_price[key]:^8}\033[0m \033[93m{dict_quant[key]:^8}\033[0m')
    return

In [138]:
print_fruits_info(dict_quant, dict_price)

 Фрукт	  цена 	  количество
 Яблоки     99       7
Виноград   199       2
 Вишня     299       10
 Груша     249       8
Апельсин   119       12
Мандарин   129       24

1. Создайте функцию **print_students** для вывода информации о студентах из словаря.
   - Функция должна принимать словарь студентов и выводить их имена и возраст.

In [251]:
students_dict = {'Суханов' : 17, 'Кукушкин' : 19,'Лоцманов' : 33,"Иванов" : 22, "Петрова" : 21, "Сидоров" : 23}

In [267]:
def print_students(
    dict
):
    for key in dict.keys():
        print(key,' - ', dict[key])
    return

In [268]:
print_students(students_dict)

Суханов  -  17
Кукушкин  -  19
Лоцманов  -  33
Иванов  -  22
Петрова  -  21
Сидоров  -  23

2. Создайте функцию **print_squares_while**, которая использует цикл while для вывода квадратов чисел от 1 до 5.

In [235]:
#выводит квадраты натуральных чисел от 1 до n
def print_squares_while(
    n
):
    i = 1
    while i <= n:
        print(f'\033[93mКвадрат числа {i}\033[0m - {i*i}')
        i += 1
    return

In [236]:
print_squares_while(5)

Квадрат числа 1 - 1
Квадрат числа 2 - 4
Квадрат числа 3 - 9
Квадрат числа 4 - 16
Квадрат числа 5 - 25

3. Создайте функцию для вывода факториала заданного числа.

In [249]:
def print_factorial(
    n
):
    i = 1
    f = 1
    while i <= n:
        f = f * i
        i += 1
    print(f'\033[93mФакториал числа {n}\033[0m - {f}')
    return

In [250]:
print_factorial(8)

Факториал числа 8 - 40320

4. Создайте функцию для поиска суммы чисел в заданном диапазоне.

In [272]:
def sum_in_range(
    n1,
    n2
:
    sum = 0
    i = n1
    while i <= n2:
        sum += i
        i += 1
    return sum

In [276]:
sum_in_range(119, 1000)

493479

5. Создайте функцию для генерации и вывода всех простых чисел до заданного числа.

In [337]:
def primes(
    N
):
    primes = []
    for n in range(2, N):
        for d in range(2, n):
            if n % d == 0:
                break
        else:
            primes.append(n)
    print(f'Простые числа до {N}: {primes}')
    return

In [338]:
primes(333)

Простые числа до 333: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331]

6. Создайте функцию для проверки строки на палиндромность без учёта регистра и знаков препинания.

In [294]:
string1 = '1asdfghhgfdsa1'
string2 = 'asdfghhgfdfdfdsa'

In [309]:
def is_it_pallindrom(
    str1
):
    temp = ''.join(list(str1)[::-1])
    if temp == str1:
        print(f'Cтрока "{str1}"- \033[93mпаллиндром\033[0m')
    else:
        print(f'Cтрока "{str1}" - \033[93mне паллиндром\033[0m')
    return

In [310]:
is_it_pallindrom(string1)
is_it_pallindrom(string2)

Cтрока "1asdfghhgfdsa1"- паллиндром
Cтрока "asdfghhgfdfdfdsa" - не паллиндром

7. Создайте функцию для поиска наибольшего общего делителя (НОД) двух чисел.

In [184]:
def gsv (
    num1, 
    num2
):
    '''Функция для поиска наибольшего общего делителя
    :param num1: целое число
    :param num2: целое число
    :return: наибольший общий делитель
    '''
    i = 1
    nod = []
    while i <= min(num1, num2):
        if num1 % i == 0 and num2 % i == 0:
            nod.append(i)
        sorted(nod)
        i += 1
    print(f"\033[93mНОД\033[0m чисел {num1}, {num2}: {nod[-1]}")
    return nod[-1]

In [185]:
gsv(25, 225)

НОД чисел 25, 225: 25

25

## Общие

1. Создайте функцию, которая будет запрашивать у пользователя его возраст.
   - Если возраст меньше 18 лет, программа должна выводить сообщение о том, что пользователь несовершеннолетний.
   - Если возраст от 18 до 65 лет, программа должна выводить сообщение о том, что пользователь взрослый.
   - Если возраст больше 65 лет, программа должна выводить сообщение о том, что пользователь пенсионер.

In [177]:
def age():
    '''Запрашивает у пользователя возраст до тех пор, 
    пока он не будет введен в виде вещественного числа
    Выводит сообщение в зависиомсти от возраста
    :return:
    '''
    while True:
        n  = input("Введите свой возраст\n")
        if n.isnumeric() and int(n) > 0:
            break
        else:
            print ('\033[91mОшибка!\033[0m Ввод должен быть вещественным числом')
            continue
    if 0 < int(n) < 18:
        print ('Пользователь несовершеннолетний')
    elif 18 <= int(n) <= 65:
        print ('Пользователь взрослый')
    elif 123 >= int(n) > 65:
        print ('Пользователь пенсионер')
    elif int(n) > 123:
        print ('Столько не живут!')
    return

In [178]:
age()

Введите свой возраст
 -1

Ошибка! Ввод должен быть вещественным числом

Введите свой возраст
 0

Ошибка! Ввод должен быть вещественным числом

Введите свой возраст
 qwe

Ошибка! Ввод должен быть вещественным числом

Введите свой возраст
 129

Столько не живут!

2. Создайте функцию, которая будет проверять введенную пользователем строку на наличие повторяющихся символов.
   - Если такие символы найдены, программа должна выводить их перечень и количество повторов для каждого.

In [175]:
def duplicate_char_in_string():
    '''Запрашивает у пользователя строку, считает дубляж символов с учетом регистра
    :return:
    '''
    a = dict()
    n  = input("Введите строку для проверки:\n")
    for char in n:
        a[char]= n.lower().count(char)
    print('\033[93mСимвол\tКоличество повторов\033[0m')
    for sym in a.keys():
        if a[sym] > 1:
            print(f'{sym:^8}\t{a[sym]:^8}')
    return

In [176]:
duplicate_char_in_string()

Введите строку для проверки:
 Каждый охотник желает знать где сидит фазан 11 22 33 123 4

Символ	Количество повторов
   а    	   5
   ж    	   2
   д    	   3
        	   11
   о    	   2
   т    	   4
   н    	   3
   и    	   3
   к    	   2
   е    	   3
   з    	   2
   1    	   3
   2    	   3
   3    	   3