<ul>
<li><a href="https://dzen.ru/b/ZO-SfCH-zAEt5yXU"> коротко про ipython-sql</a>
<li><a href="https://uproger.com/vypolnenie-sql-neposredstvenno-v-jupyter-notebook-s-pomoshhyu-ipython-sql/">вторая ссылка, тоже коротко про ipython-sql</a>
</ul>

In [13]:
# это нужно сделать 1 раз - установить ipython-sql
#!pip install ipython-sql

In [14]:
# ставлю релоад вместо лоад чтобы можно было перезапускать весь ноутбук. комментарий на отдельной строчке, по другому не надо
%reload_ext sql 
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

In [15]:
%sql sqlite:////home/synchronize_data/price_analytics/24.db.copied
#%sql sqlite:///24.db.copied

In [16]:
#далее можно вот так писать sql запросы и даже передавать результаты их выполнения в переменные - смотрите по ссылке вверху этого ноутбука
%sql SELECT * from copied WHERE id<600

[(598, 'Причальный Bосток 29 65.3 Причальный пр., д. 8 55.76018,37.517482', 37527037, 26268925, '2022-12-05 13:38:36.641439', 'Новостройки', 'level.ru', 'url_example', None, None, None, None, None),
 (599, 'Саввинская 17 17 4 82.5  55.734600731695195,37.565715889000494', 202359478, 202359478, '2022-12-05 13:38:36.652957', 'Новостройки', 'level.ru', 'url_example', None, None, None, None, None)]