In [ ]:
# структурированные данные
['vasy', 'pety']
{
    'name': 'Alex',
    'year': 2000
}

[
    {
      'name': 'Alex',
      'year': 2000  
    },
    {
       'name': 'Vity',
       'year': 1998
    },
]

Релязонные базы данных

In [ ]:
#  SQL 
Создание тбалиц 
create table
Модификация записей в таблице
update
Удаление записей из ьаблицы
delete
выборка записей из таблиц
select

In [1]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();"
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.36.0',)]
Соединение с SQLite закрыто

In [3]:

sqlite_connection = sqlite3.connect('sqlite_python.db')
cursor = sqlite_connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [5]:
#  теефорнный спправочник
# имя, грод, дата рожения, телефон
int, str

sql_create_table = "create table Phone_Book(name varchar(20), city varchar(10), year date, phone_number  varchar(15))"
cursor.execute(sql_create_table)

In [6]:
cursor.fetchall()

[]

In [11]:
cursor.execute("schema")
cursor.fetchall()

OperationalError: near "schema": syntax error

In [12]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

[]

In [13]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Alex', 'Moscow', '2000-01-01', '89165554433')")
cursor.fetchall()

[]

In [14]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433')]

In [15]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Vasy', 'Moscow', '1999-11-22', '89165551234')")
cursor.fetchall()

[]

In [16]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Mike', 'SPB', '1998-01-02', '89165551235')")
cursor.fetchall()

[]

In [4]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234'),
 ('Mike', 'SPB', '1998-01-02', '89165551235')]

In [18]:
sqlite_connection.commit()

In [5]:
cursor.execute("select * from Phone_Book where city = 'Moscow'")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234')]

In [6]:
cursor.execute("select * from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234')]

In [7]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[('Alex', '2000-01-01'), ('Vasy', '1999-11-22')]

In [8]:
cursor.execute("select count(*)  from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[(2,)]

In [12]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name asc")
cursor.fetchall()

[('Alex', '2000-01-01'), ('Vasy', '1999-11-22')]

In [13]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc")
cursor.fetchall()

[('Vasy', '1999-11-22'), ('Alex', '2000-01-01')]

In [14]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc limit 1")
cursor.fetchall()

[('Vasy', '1999-11-22')]

In [15]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc limit 1, 2")
cursor.fetchall()

[('Alex', '2000-01-01')]

In [16]:
cursor.execute("select name, year from Phone_Book order by name desc limit 1, 1")
cursor.fetchall()

[('Mike', '1998-01-02')]

In [ ]:
cursor.execute("alter table Phone_Book add income ")
cursor.fetchall()