# SQL

### *Важный момент что результатом каждого запроса является таблица.

In [ ]:
# структурированные данные
['vasy', 'pety']
{
    'name': 'Alex',
    'year': 2000
}

[
    {
      'name': 'Alex',
      'year': 2000  
    },
    {
       'name': 'Vity',
       'year': 1998
    },
]

Релязонные базы данных

In [ ]:
#  SQL 
Создание тбалиц 
create table
Модификация записей в таблице
update
Удаление записей из ьаблицы
delete
выборка записей из таблиц
select

In [1]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();"
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.36.0',)]
Соединение с SQLite закрыто

In [2]:
import sqlite3

In [3]:
sqlite_connection = sqlite3.connect('db/sqlite_python.db')
cursor = sqlite_connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [5]:
#  теефорнный спправочник
# имя, грод, дата рожения, телефон
int, str

sql_create_table = "create table Phone_Book(name varchar(20), city varchar(10), year date, phone_number  varchar(15))"
cursor.execute(sql_create_table)

In [6]:
cursor.fetchall()

[]

In [11]:
cursor.execute("schema")
cursor.fetchall()

OperationalError: near "schema": syntax error

In [12]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

[]

In [18]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Alex', 'Moscow', '2000-01-01', '89165554433')")
cursor.fetchall()

OperationalError: no such table: Phone_Book

In [19]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

OperationalError: no such table: Phone_Book

In [15]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Vasy', 'Moscow', '1999-11-22', '89165551234')")
cursor.fetchall()

[]

In [16]:
cursor.execute("insert into Phone_Book(name, city, year, phone_number) values('Mike', 'SPB', '1998-01-02', '89165551235')")
cursor.fetchall()

[]

In [4]:
cursor.execute("select * from Phone_Book")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234'),
 ('Mike', 'SPB', '1998-01-02', '89165551235')]

In [18]:
sqlite_connection.commit()

In [5]:
cursor.execute("select * from Phone_Book where city = 'Moscow'")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234')]

In [6]:
cursor.execute("select * from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[('Alex', 'Moscow', '2000-01-01', '89165554433'),
 ('Vasy', 'Moscow', '1999-11-22', '89165551234')]

In [7]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[('Alex', '2000-01-01'), ('Vasy', '1999-11-22')]

In [8]:
cursor.execute("select count(*)  from Phone_Book where city like 'Mos%'")
cursor.fetchall()

[(2,)]

In [12]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name asc")
cursor.fetchall()

[('Alex', '2000-01-01'), ('Vasy', '1999-11-22')]

In [13]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc")
cursor.fetchall()

[('Vasy', '1999-11-22'), ('Alex', '2000-01-01')]

In [14]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc limit 1")
cursor.fetchall()

[('Vasy', '1999-11-22')]

In [15]:
cursor.execute("select name, year from Phone_Book where city like 'Mos%' order by name desc limit 1, 2")
cursor.fetchall()

[('Alex', '2000-01-01')]

In [16]:
cursor.execute("select name, year from Phone_Book order by name desc limit 1, 1")
cursor.fetchall()

[('Mike', '1998-01-02')]

In [ ]:
cursor.execute("alter table Phone_Book add income ")
cursor.fetchall()

#HW 
- Реализовать на python базу данных по персоналу с двумя таблицами из занятия.
- Заполнить ее данными.
- Написать select который вернет таблицу содержащую названия отделов, среднюю зарплату в отдел, отсортированных по убыванию средне зп.
- Добавить в первый отдел еще одно сотрудника с ЗП 1000 и посмотреть как изменится результат.

In [1]:
import sqlite3
sqlite_connection = sqlite3.connect('db/sqlite_python.db')
cursor = sqlite_connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [2]:
#cursor.execute("select name, year from Phone_Book order by name desc limit 1, 1")

In [3]:
	Сотрудники	employees		
id	name	surename	department_id	salary
1	Иван	Иванов	1	5000
2	Света	Сидорова	1	4500
3	Илья	Макаров	2	4500
4	Марина	Федорова	2	6000
5	Вадим	Ильин	3	7000
6	Илья	Филатов	4	5500
7	Марина	Сидорова	2	9000
8	Вадим	Ильин	3	7000

SyntaxError: invalid syntax (4068654095.py, line 1)

In [4]:
	Отделы	department
id	name	
1	Маркетинг	
2	Продажи	
3	Бухгалтерия	
4

SyntaxError: invalid syntax (1395909487.py, line 1)

In [5]:
sql_create_table = "create table Employees(id INTEGER, name varchar(20), surename varchar(20), department_id INTEGER, salary INTEGER)"
cursor.execute(sql_create_table)

In [6]:
cursor.execute("insert into Employees(id, name, surename, department_id, salary) values(1, 'Иван', 'Иванов', 1, 5000)")
cursor.fetchall()

[]

In [7]:
cursor.execute("select name, surename from Employees")
cursor.fetchall()

[('Иван', 'Иванов')]

In [8]:
cursor.execute("insert into Employees(id, name, surename, department_id, salary) values(2, 'Света', 'Сидорова', 1, 4500)")
cursor.fetchall()

[]

In [9]:
cursor.execute("select name, surename from Employees")
cursor.fetchall()

[('Иван', 'Иванов'), ('Света', 'Сидорова')]

In [10]:
cursor.execute("""
    insert into Employees(id, name, surename, department_id, salary) 
        values
        (3, 'Илья', 'Макаров', 2, 4500),
        (4, 'Марина', 'Федорова', 2, 6000),
        (5, 'Вадим', 'Ильин', 3, 7000),
        (6, 'Илья', 'Филатов', 4, 5500)
""")
cursor.fetchall()

[]

In [11]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000),
 (2, 'Света', 'Сидорова', 1, 4500),
 (3, 'Илья', 'Макаров', 2, 4500),
 (4, 'Марина', 'Федорова', 2, 6000),
 (5, 'Вадим', 'Ильин', 3, 7000),
 (6, 'Илья', 'Филатов', 4, 5500)]

In [12]:
# надо заполнить таблицу с отделами

In [14]:
cursor.execute("create table Departments(id INTEGER, name varchar(30))")
cursor.fetchall()

[]

In [15]:
cursor.execute("insert into Departments(id, name) values(1,'Маркетинг')")

In [16]:
cursor.execute("select * from Departments")

In [17]:
cursor.fetchall()

[(1, 'Маркетинг')]

In [19]:
cursor.execute("insert into Departments(id, name) values(2,'Продажи')")
cursor.execute("insert into Departments(id, name) values(3,'Бухгалтерия')")

In [21]:
cursor.execute("select * from Departments")
cursor.fetchall()

[(1, 'Маркетинг'), (2, 'Продажи'), (3, 'Бухгалтерия')]

In [23]:
# как вывести имена всех пользователей ЗП которых больше 5500

In [27]:
cursor.execute("select name, salary from Employees where salary >= 5500")
cursor.fetchall()

[('Марина', 6000), ('Вадим', 7000), ('Илья', 5500)]

In [28]:
cursor.execute("select * from Employees where name like 'Ил%'")
cursor.fetchall()

[(3, 'Илья', 'Макаров', 2, 4500), (6, 'Илья', 'Филатов', 4, 5500)]

In [31]:
cursor.execute("select * from Employees where name = 'Илья'")
cursor.fetchall()

[(3, 'Илья', 'Макаров', 2, 4500), (6, 'Илья', 'Филатов', 4, 5500)]

In [34]:
cursor.execute("select * from Employees where name like '%а%'")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000),
 (2, 'Света', 'Сидорова', 1, 4500),
 (4, 'Марина', 'Федорова', 2, 6000),
 (5, 'Вадим', 'Ильин', 3, 7000)]

In [38]:
cursor.execute("select count(*) from Employees where name = 'Илья'")
cursor.fetchall()

[(2,)]

In [39]:
cursor.execute("select sum(salary) from Employees")
cursor.fetchall()

[(32500,)]

In [41]:
cursor.execute("select avg(salary) from Employees")
cursor.fetchall()

[(5416.666666666667,)]

In [42]:
cursor.execute("select avg(salary) from Employees where name = 'Илья'")
cursor.fetchall()

[(5000.0,)]

In [44]:
cursor.execute("select * from Employees where name = 'Илья'")
cursor.fetchall()

[(3, 'Илья', 'Макаров', 2, 4500), (6, 'Илья', 'Филатов', 4, 5500)]

In [45]:
cursor.execute("alter table Employees add city varchar(15)")

In [46]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, None),
 (2, 'Света', 'Сидорова', 1, 4500, None),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (6, 'Илья', 'Филатов', 4, 5500, None)]

In [49]:
cursor.execute("update Employees set city = 'Moscow' where id = 1")

In [50]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (2, 'Света', 'Сидорова', 1, 4500, None),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (6, 'Илья', 'Филатов', 4, 5500, None)]

In [51]:
cursor.execute("update Employees set city = 'Moscow1234567890Moscow' where id = 2")

In [52]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (6, 'Илья', 'Филатов', 4, 5500, None)]

In [53]:
sqlite_connection.commit()

In [2]:
cursor.execute("select * from Employees")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (6, 'Илья', 'Филатов', 4, 5500, None)]

In [3]:
# отсортровать по фаилилиям
cursor.execute("select * from Employees order by surename asc")
cursor.fetchall()

[(1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (6, 'Илья', 'Филатов', 4, 5500, None)]

In [4]:
# отсортровать по фаилили убывание
cursor.execute("select * from Employees order by surename desc")
cursor.fetchall()

[(6, 'Илья', 'Филатов', 4, 5500, None),
 (4, 'Марина', 'Федорова', 2, 6000, None),
 (2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (3, 'Илья', 'Макаров', 2, 4500, None),
 (5, 'Вадим', 'Ильин', 3, 7000, None),
 (1, 'Иван', 'Иванов', 1, 5000, 'Moscow')]

In [7]:
# отсортровать по фаилили убывание  с зп меньше 5000
cursor.execute("select name, salary, surename from Employees where salary < 5000 order by surename desc")
cursor.fetchall()

[('Света', 4500, 'Сидорова'), ('Илья', 4500, 'Макаров')]

In [8]:
# обедиенения

In [9]:
# отсортровать по фаилили убывание  с зп меньше 5000
cursor.execute("select name, surename, department_id from Employees ")
cursor.fetchall()

[('Иван', 'Иванов', 1),
 ('Света', 'Сидорова', 1),
 ('Илья', 'Макаров', 2),
 ('Марина', 'Федорова', 2),
 ('Вадим', 'Ильин', 3),
 ('Илья', 'Филатов', 4)]

In [11]:
cursor.execute("""
select 
    Employees.name, Employees.surename, Departments.name
from 
    Employees 
    join Departments 
    on Employees.department_id = Departments.id
""")
cursor.fetchall()

[('Иван', 'Иванов', 'Маркетинг'),
 ('Света', 'Сидорова', 'Маркетинг'),
 ('Илья', 'Макаров', 'Продажи'),
 ('Марина', 'Федорова', 'Продажи'),
 ('Вадим', 'Ильин', 'Бухгалтерия')]

In [12]:
cursor.execute("insert into Departments(id) values(4)")
cursor.execute("insert into Departments(id) values(5)")

In [13]:
cursor.execute("""
select 
    Employees.name, Employees.surename, Departments.name
from 
    Departments
    join
    Employees 
    on Employees.department_id = Departments.id
""")
cursor.fetchall()

[('Иван', 'Иванов', 'Маркетинг'),
 ('Света', 'Сидорова', 'Маркетинг'),
 ('Илья', 'Макаров', 'Продажи'),
 ('Марина', 'Федорова', 'Продажи'),
 ('Вадим', 'Ильин', 'Бухгалтерия'),
 ('Илья', 'Филатов', None)]

In [17]:
cursor.execute("""
select 
    Employees.name, Employees.surename, Departments.name, Departments.id
from 
    Departments
    left join 
    Employees 
    on Employees.department_id = Departments.id
""")
cursor.fetchall()

[('Иван', 'Иванов', 'Маркетинг', 1),
 ('Света', 'Сидорова', 'Маркетинг', 1),
 ('Илья', 'Макаров', 'Продажи', 2),
 ('Марина', 'Федорова', 'Продажи', 2),
 ('Вадим', 'Ильин', 'Бухгалтерия', 3),
 ('Илья', 'Филатов', None, 4),
 (None, None, None, 5)]

In [19]:
cursor.execute("""
select 
    *
from 
    Departments
    join
    Employees 
""")
cursor.fetchall()

[(1, 'Маркетинг', 1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (1, 'Маркетинг', 2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (1, 'Маркетинг', 3, 'Илья', 'Макаров', 2, 4500, None),
 (1, 'Маркетинг', 4, 'Марина', 'Федорова', 2, 6000, None),
 (1, 'Маркетинг', 5, 'Вадим', 'Ильин', 3, 7000, None),
 (1, 'Маркетинг', 6, 'Илья', 'Филатов', 4, 5500, None),
 (2, 'Продажи', 1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (2, 'Продажи', 2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (2, 'Продажи', 3, 'Илья', 'Макаров', 2, 4500, None),
 (2, 'Продажи', 4, 'Марина', 'Федорова', 2, 6000, None),
 (2, 'Продажи', 5, 'Вадим', 'Ильин', 3, 7000, None),
 (2, 'Продажи', 6, 'Илья', 'Филатов', 4, 5500, None),
 (3, 'Бухгалтерия', 1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (3, 'Бухгалтерия', 2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (3, 'Бухгалтерия', 3, 'Илья', 'Макаров', 2, 4500, None),
 (3, 'Бухгалтерия', 4, 'Марина', 'Федорова', 2, 6000, None),
 (3, 'Бухгалтерия', 5, 'Вадим', 'Ильин', 3, 7000, None),
 (3, 'Бухгалтерия', 6, 'Илья', 'Филатов', 4, 5500, None),
 (4, None, 1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (4, None, 2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (4, None, 3, 'Илья', 'Макаров', 2, 4500, None),
 (4, None, 4, 'Марина', 'Федорова', 2, 6000, None),
 (4, None, 5, 'Вадим', 'Ильин', 3, 7000, None),
 (4, None, 6, 'Илья', 'Филатов', 4, 5500, None),
 (5, None, 1, 'Иван', 'Иванов', 1, 5000, 'Moscow'),
 (5, None, 2, 'Света', 'Сидорова', 1, 4500, 'Moscow1234567890Moscow'),
 (5, None, 3, 'Илья', 'Макаров', 2, 4500, None),
 (5, None, 4, 'Марина', 'Федорова', 2, 6000, None),
 (5, None, 5, 'Вадим', 'Ильин', 3, 7000, None),
 (5, None, 6, 'Илья', 'Филатов', 4, 5500, None)]

In [20]:
cursor.execute("""
select 
    Employees.name, Employees.surename, Departments.name
from 
    Departments
    join
    Employees 
    on Employees.department_id = Departments.id
""")
a = cursor.fetchall()

In [25]:
b = []
for k in a:
    b.append({
        'name': k[0],
        'sur': k[1],
    })

In [26]:
b

[{'name': 'Иван', 'sur': 'Иванов'},
 {'name': 'Света', 'sur': 'Сидорова'},
 {'name': 'Илья', 'sur': 'Макаров'},
 {'name': 'Марина', 'sur': 'Федорова'},
 {'name': 'Вадим', 'sur': 'Ильин'},
 {'name': 'Илья', 'sur': 'Филатов'}]

In [29]:
# посчитать сколько сотрудников получают ощниакоыую зрпаплату
cursor.execute("""
select 
    count(*), salary
from 
    Employees 
group by
    salary
""")
cursor.fetchall()

[(2, 4500), (1, 5000), (1, 5500), (1, 6000), (1, 7000)]

In [32]:
cursor.execute("""
select 
    max(salary), avg(salary), min(salary), name
from 
    Employees 
group by
    name
""")
cursor.fetchall()

[(7000, 7000.0, 7000, 'Вадим'),
 (5000, 5000.0, 5000, 'Иван'),
 (5500, 5000.0, 4500, 'Илья'),
 (6000, 6000.0, 6000, 'Марина'),
 (4500, 4500.0, 4500, 'Света')]

стандартные типы данных;

простые и вложенные запросы;

соединения и изменения данных в таблице;

проектирование схемы БД;

хранимые процедуры;

агрегатные и оконные функции;

древовидные структуры и рекурсивные запросы;

транзакции;

оптимизация запросов;

модули расширения.

In [1]:
import sqlite3
from datetime import datetime, timedelta

In [2]:
connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_user',),
 ('django_session',),
 ('person_person',),
 ('person_check',),
 ('products_history',)]

In [4]:
cursor.execute("SELECT sql FROM sqlite_master WHERE name='products_history' ")
cursor.fetchall()

[('CREATE TABLE "products_history" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "description" varchar(10000) NULL, "params" varchar(10000) NULL, "price" decimal NULL, "task" varchar(200) NULL, "title" varchar(200) NULL, "worker" varchar(200) NULL, "price_sale" decimal NULL, "quantity" integer NULL, "brand" varchar(1000) NULL, "brand_url" varchar(1000) NULL, "canonical_url" varchar(1000) NULL, "category" varchar(1000) NULL, "category_url" varchar(1000) NULL, "count_comments" integer NULL, "count_how_much_buy" integer NULL, "count_likes" integer NULL, "count_photo" integer NULL, "count_questions" integer NULL, "count_stars_1" integer NULL, "count_stars_2" integer NULL, "count_stars_3" integer NULL, "count_stars_4" integer NULL, "count_stars_5" integer NULL, "count_stars_all" integer NULL, "day_to_delivery" integer NULL, "img_url" varchar(1000) NULL, "score" decimal NULL, "seller" varchar(1000) NULL, "seller_url" varchar(1000) NULL, "sku" varchar(1000) NULL, "source_url" varchar(1000) NULL, "url" varchar(1000) NULL, "urls_other_products_on_the_page" varchar(10000) NULL, "apartment_address" varchar(200) NULL, "apartment_area" decimal NULL, "apartment_ceilingheight" decimal NULL, "apartment_completion_quarter" integer NULL, "apartment_completion_year" integer NULL, "apartment_floor" integer NULL, "apartment_floors_total" integer NULL, "apartment_location_lat" decimal NULL, "apartment_ppm" integer NULL, "apartment_room" integer NULL, "apartment_location_lon" decimal NULL)',)]

In [5]:
connection_mini = sqlite3.connect('/home/jupyter-amtsu/db_mini.sqlite3')
cursor_mini = connection_mini.cursor()

In [16]:
sql_create_table = 'create table products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL)'
cursor_mini.execute(sql_create_table)

In [8]:
connection_mini.commit()

In [6]:
q = f"""
        SELECT 
            id, 
            title,
            url,
            price_sale,
            datetime_create
        FROM products_history
        where url like '%auchan%'
        LIMIT 100000
"""
cursor.execute(q)
for i in cursor.fetchall():
    #print(i)
    title = i[1].replace("'","") if i[1] else ''
    #print(title)
    cursor_mini.execute(f"insert into products_history(id, title, url, price_sale, datetime_create) values('{i[0]}', '{title}', '{i[2]}', '{i[3]}', '{i[4]}')")

In [32]:
cursor_mini.execute(f"delete from products_history")

In [7]:
cursor_mini.execute("select id, title, url, price_sale, datetime_create from products_history order by id desc limit 2")
cursor_mini.fetchall()

[(651800,
  'Щипцы унивесальные  «Мультидом» длина, 24см',
  'https://www.auchan.ru/product/shchipcy-univ-dlina-24sm',
  129.95,
  '2022-12-14 00:47:12.519029'),
 (651799,
  'Бутылочка «Пома» с ручками с силиконовой соской со средним потоком с 4 мес., 125 мл',
  'https://www.auchan.ru/product/butylochka-poma-s-ruchkami-s-silikonovoy-soskoy-so-srednim-potokom-s-4-mes-125-ml',
  159.99,
  '2022-12-14 00:47:12.509917')]

In [11]:
# Находим позиции, цена по кототорым изменилась по сравнению с ценой за передыдущий день.
days_before = 1
d = datetime.today() - timedelta(days=days_before)

connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()
q = f"""
        SELECT 
            id, 
            title,
            price_sale,  
            LEAD(price_sale,1,0) OVER (PARTITION BY title, url ORDER BY  title, id desc ) AS prev_price_sale,  
            price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title, url  ORDER BY title, id desc ) AS diff,
            ROW_NUMBER() OVER(PARTITION BY title, url ORDER BY id desc) AS row_number
        FROM products_history
        where datetime_create >= "{d.date()}"
            and price_sale>100
        ORDER BY title, id  desc
        LIMIT 100
"""
cursor.execute(q)
count = 0
for i in cursor.fetchall():
    
    print(i)
    count += 1
print('count all diff =', count)

(10553391, '"КЕШЬЮ". Шоколад молочный c кусочками соленого кешью. 100г', 139.99, 0, 139.99, 1)
(10468595, '"КЕШЬЮ". Шоколад молочный c кусочками соленого кешью. 100г', 139.99, 0, 139.99, 1)
(10553436, '"ЦЕЛЬНЫЙ МИНДАЛЬ". Шоколад темный с цельным миндалем 100гр RITTER SPORT', 139.99, 0, 139.99, 1)
(10468640, '"ЦЕЛЬНЫЙ МИНДАЛЬ". Шоколад темный с цельным миндалем 100гр RITTER SPORT', 139.99, 0, 139.99, 1)
(10542966, '100 заданий для малышей 2+', 509.99, 509.99, 0.0, 1)
(10425667, '100 заданий для малышей 2+', 509.99, 0, 509.99, 2)
(10542971, '100 заданий для малышей 3+', 509.99, 509.99, 0.0, 1)
(10425666, '100 заданий для малышей 3+', 509.99, 0, 509.99, 2)
(10540788, '100 заданий для малышей 4+', 423.99, 423.99, 0.0, 1)
(10423549, '100 заданий для малышей 4+', 423.99, 0, 423.99, 2)
(10538996, '100 многоразовых наклеек для малышей, Ефремова Е.', 371.99, 371.99, 0.0, 1)
(10421811, '100 многоразовых наклеек для малышей, Ефремова Е.', 371.99, 0, 371.99, 2)
(10543097, '11/22/63, Кинг С.', 519.99, 0, 519.99, 1)
(10535132, '11/22/63, Кинг С.', 285.99, 285.99, 0.0, 1)
(10418037, '11/22/63, Кинг С.', 285.99, 0, 285.99, 2)
(10429123, '12 правил жизни: противоядие от хаоса, Питерсон Джордан', 783.99, 0, 783.99, 1)
(10528846, '120 дней Содома, Маркиз де Сад', 198.99, 198.99, 0.0, 1)
(10411896, '120 дней Содома, Маркиз де Сад', 198.99, 0, 198.99, 2)
(10531811, '1984, Оруэлл Д.', 231.99, 231.99, 0.0, 1)
(10414790, '1984, Оруэлл Д.', 231.99, 0, 231.99, 2)
(10534037, '1984, Оруэлл Дж.', 263.99, 263.99, 0.0, 1)
(10532559, '1984, Оруэлл Дж.', 242.99, 242.99, 0.0, 1)
(10526687, '1984, Оруэлл Дж.', 173.99, 173.99, 0.0, 1)
(10416961, '1984, Оруэлл Дж.', 263.99, 0, 263.99, 2)
(10415525, '1984, Оруэлл Дж.', 242.99, 0, 242.99, 2)
(10409796, '1984, Оруэлл Дж.', 173.99, 0, 173.99, 2)
(10534520, '1984. Скотный двор, Оруэлл Дж.', 272.99, 272.99, 0.0, 1)
(10526330, '1984. Скотный двор, Оруэлл Дж.', 169.99, 169.99, 0.0, 1)
(10417429, '1984. Скотный двор, Оруэлл Дж.', 272.99, 0, 272.99, 2)
(10409443, '1984. Скотный двор, Оруэлл Дж.', 169.99, 0, 169.99, 2)
(10532473, '20 простых опытов с детьми дома. Наука на кухне, Медведева Т., Пошивай В.', 240.99, 0, 240.99, 1)
(10537145, '365 заданий круглый год. Методика раннего развития, Жукова М. А.', 323.95, 323.95, 0.0, 1)
(10420017, '365 заданий круглый год. Методика раннего развития, Жукова М. А.', 323.95, 0, 323.95, 2)
(10544978, '365 стихов для детского сада', 631.99, 631.99, 0.0, 1)
(10427571, '365 стихов для детского сада', 631.99, 0, 631.99, 2)
(10523249, '555 заданий для дошколят', 145.99, 145.99, 0.0, 1)
(10406335, '555 заданий для дошколят', 145.99, 0, 145.99, 2)
(10553519, 'ARIEL Авт СМС порошк. Color 1,5кг', 249.99, 0, 249.99, 1)
(10468723, 'ARIEL Авт СМС порошк. Color 1,5кг', 249.99, 0, 249.99, 1)
(10552830, 'ARIEL СМС АР.МАСЛА ШИ жидк.1,3л', 449.99, 0, 449.99, 1)
(10552795, 'ARIEL Сред.COLOR моющ.жид.1,3л', 449.99, 0, 449.99, 1)
(10553457, 'ASSAND Чай КЕНИЙСКИЙ черный байховый пак.100х2г', 214.99, 0, 214.99, 1)
(10468661, 'ASSAND Чай КЕНИЙСКИЙ черный байховый пак.100х2г', 214.99, 0, 214.99, 1)
(10537521, 'Anime Art. Красавицы Поднебесной. Книга для творчества в стиле аниме и манга', 331.99, 0, 331.99, 1)
(10543106, "Assassin's Creed Династия Том 1, Сюй С., Чжан С.", 519.99, 519.99, 0.0, 1)
(10425804, "Assassin's Creed Династия Том 1, Сюй С., Чжан С.", 519.99, 0, 519.99, 2)
(10543957, "Assassin's Creed Династия Том 2, Сюй С., Чжан", 575.99, 0, 575.99, 1)
(10494637, 'Axiom BAGGAGE STRAPS', 261, 261, 0, 1)
(10486152, 'Axiom BAGGAGE STRAPS', 261, 261, 0, 1)
(10480949, 'Axiom BAGGAGE STRAPS', 261, 261, 0, 1)
(10474504, 'Axiom BAGGAGE STRAPS', 261, 261, 0, 1)
(10459436, 'Axiom BAGGAGE STRAPS', 261, 0, 261, 2)
(10450951, 'Axiom BAGGAGE STRAPS', 261, 0, 261, 2)
(10445747, 'Axiom BAGGAGE STRAPS', 261, 0, 261, 2)
(10439301, 'Axiom BAGGAGE STRAPS', 261, 0, 261, 2)
(10495417, 'Axiom ELASTIC CARGO NET', 485, 485, 0, 1)
(10460216, 'Axiom ELASTIC CARGO NET', 485, 0, 485, 2)
(10537623, 'BB-Крем Novosvit Гиалуроновый SPF 18, 30 мл', 335.99, 373.99, -38.0, 1)
(10421869, 'BB-Крем Novosvit Гиалуроновый SPF 18, 30 мл', 373.99, 0, 373.99, 2)
(10529463, 'BB-крем Fennel тон натуральный, 30 мл', 199.99, 199.99, 0.0, 1)
(10412516, 'BB-крем Fennel тон натуральный, 30 мл', 199.99, 0, 199.99, 2)
(10544717, 'BTS. Все, что вы хотели знать, Маккензи М.', 606.99, 606.99, 0.0, 1)
(10427345, 'BTS. Все, что вы хотели знать, Маккензи М.', 606.99, 0, 606.99, 2)
(10553325, 'BUSHIDO Red Katana Кофе молотый 227г.', 399.99, 0, 399.99, 1)
(10468529, 'BUSHIDO Red Katana Кофе молотый 227г.', 399.99, 0, 399.99, 1)
(10553326, 'BUSHIDO Sensei Кофе в зернах 227г.', 399.99, 0, 399.99, 1)
(10468530, 'BUSHIDO Sensei Кофе в зернах 227г.', 399.99, 0, 399.99, 1)
(10481018, 'Bakoda U.R.A. Tool', 293, 293, 0, 1)
(10445816, 'Bakoda U.R.A. Tool', 293, 0, 293, 2)
(10480920, 'Bakoda Мультиключ Holy Moy', 234, 234, 0, 1)
(10445718, 'Bakoda Мультиключ Holy Moy', 234, 0, 234, 2)
(10481019, 'Bakoda Отвертка Mciver Driver', 293, 293, 0, 1)
(10474564, 'Bakoda Отвертка Mciver Driver', 293, 293, 0, 1)
(10445817, 'Bakoda Отвертка Mciver Driver', 293, 0, 293, 2)
(10439361, 'Bakoda Отвертка Mciver Driver', 293, 0, 293, 2)
(10480945, 'Bakoda Отвертка URA Tool', 254, 254, 0, 1)
(10474500, 'Bakoda Отвертка URA Tool', 254, 254, 0, 1)
(10445743, 'Bakoda Отвертка URA Tool', 254, 0, 254, 2)
(10439297, 'Bakoda Отвертка URA Tool', 254, 0, 254, 2)
(10480943, 'Bakoda Отвёртка Pocket Tool', 254, 254, 0, 1)
(10445741, 'Bakoda Отвёртка Pocket Tool', 254, 0, 254, 2)
(10480880, 'Bakoda Отвёртка Survivor Driver', 196, 196, 0, 1)
(10445678, 'Bakoda Отвёртка Survivor Driver', 196, 0, 196, 2)
(10481743, 'Bataleon AIRBACK HB MOUNTING T-NUT (ATOM)', 838, 838, 0, 1)
(10446541, 'Bataleon AIRBACK HB MOUNTING T-NUT (ATOM)', 838, 0, 838, 2)
(10484076, 'Bataleon AIRBACK HIGHBACK', 6380, 6380, 0, 1)
(10448875, 'Bataleon AIRBACK HIGHBACK', 6380, 0, 6380, 2)
(10483979, 'Bataleon FULLBACK NYLON HIGHBACK M/XL', 5973, 5973, 0, 1)
(10448778, 'Bataleon FULLBACK NYLON HIGHBACK M/XL', 5973, 0, 5973, 2)
(10483981, 'Bataleon PERFORATED NYLON FULLBACK HIGHBACK M/XL', 5973, 5973, 0, 1)
(10448780, 'Bataleon PERFORATED NYLON FULLBACK HIGHBACK M/XL', 5973, 0, 5973, 2)
(10483503, 'Bataleon QUARTERBACK HIGHBACK M/XL', 4207, 4207, 0, 1)
(10448301, 'Bataleon QUARTERBACK HIGHBACK M/XL', 4207, 0, 4207, 2)
(10483504, 'Bataleon QUARTERBACK HIGHBACK S', 4207, 4207, 0, 1)
(10448302, 'Bataleon QUARTERBACK HIGHBACK S', 4207, 0, 4207, 2)
(10483458, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER L/XL', 4069, 4069, 0, 1)
(10448256, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER L/XL', 4069, 0, 4069, 2)
(10483459, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER M/L', 4069, 4069, 0, 1)
(10448257, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER M/L', 4069, 0, 4069, 2)
(10483591, 'Bataleon UNDERWRAP 2DEG.FOOTBED DURACUSH L/XL', 4501, 4501, 0, 1)
count all diff = 100

In [16]:
# Находим позиции, цена по кототорым изменилась по сравнению с ценой за передыдущий день.
days_before = 1
d = datetime.today() - timedelta(days=days_before)

connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()
q = f"""
        SELECT 
            id, 
            title,
            url,
            price_sale,
            datetime_create,
            LEAD(price_sale,1,0) OVER (PARTITION BY title, url ORDER BY  title, id desc ) AS prev_price_sale,  
            price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title, url  ORDER BY title, id desc ) AS diff,
            ROW_NUMBER() OVER(PARTITION BY title, url ORDER BY title, id desc) AS row_number
        FROM products_history
        where datetime_create >= "{d.date()}"
            and price_sale>100
        ORDER BY title, id  desc
        LIMIT 100
"""
cursor.execute(q)
count = 0
for i in cursor.fetchall():
    print(i)
    count += 1
print('count all diff =', count)

(10553391, '"КЕШЬЮ". Шоколад молочный c кусочками соленого кешью. 100г', 'https://5ka.ru/api/v2/special_offers/42402/', 139.99, '2023-04-19 01:16:22.919059', 0, 139.99, 1)
(10468595, '"КЕШЬЮ". Шоколад молочный c кусочками соленого кешью. 100г', 'https://5ka.ru/api/v2/special_offers/42201/', 139.99, '2023-04-18 01:14:53.744283', 0, 139.99, 1)
(10553436, '"ЦЕЛЬНЫЙ МИНДАЛЬ". Шоколад темный с цельным миндалем 100гр RITTER SPORT', 'https://5ka.ru/api/v2/special_offers/42470/', 139.99, '2023-04-19 01:16:23.962502', 0, 139.99, 1)
(10468640, '"ЦЕЛЬНЫЙ МИНДАЛЬ". Шоколад темный с цельным миндалем 100гр RITTER SPORT', 'https://5ka.ru/api/v2/special_offers/42269/', 139.99, '2023-04-18 01:14:54.821485', 0, 139.99, 1)
(10542966, '100 заданий для малышей 2+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-2', 509.99, '2023-04-19 01:11:43.837586', 509.99, 0.0, 1)
(10425667, '100 заданий для малышей 2+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-2', 509.99, '2023-04-18 00:25:26.983456', 0, 509.99, 2)
(10542971, '100 заданий для малышей 3+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-3', 509.99, '2023-04-19 01:11:43.923800', 509.99, 0.0, 1)
(10425666, '100 заданий для малышей 3+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-3', 509.99, '2023-04-18 00:25:26.930968', 0, 509.99, 2)
(10540788, '100 заданий для малышей 4+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-4', 423.99, '2023-04-19 01:10:50.440930', 423.99, 0.0, 1)
(10423549, '100 заданий для малышей 4+', 'https://www.auchan.ru/product/kn-100-zadaniy-dlya-malyshey-4', 423.99, '2023-04-18 00:24:33.864026', 0, 423.99, 2)
(10538996, '100 многоразовых наклеек для малышей, Ефремова Е.', 'https://www.auchan.ru/product/kn-100-mnogor-nakl-d-mal-v-ass', 371.99, '2023-04-19 01:10:07.323352', 371.99, 0.0, 1)
(10421811, '100 многоразовых наклеек для малышей, Ефремова Е.', 'https://www.auchan.ru/product/kn-100-mnogor-nakl-d-mal-v-ass', 371.99, '2023-04-18 00:23:49.963594', 0, 371.99, 2)
(10543097, '11/22/63, Кинг С.', 'https://www.auchan.ru/product/11-22-63-king-s', 519.99, '2023-04-19 01:11:46.915139', 0, 519.99, 1)
(10535132, '11/22/63, Кинг С.', 'https://www.auchan.ru/product/kn-m-king-11-22-63', 285.99, '2023-04-19 01:08:30.976612', 285.99, 0.0, 1)
(10418037, '11/22/63, Кинг С.', 'https://www.auchan.ru/product/kn-m-king-11-22-63', 285.99, '2023-04-18 00:22:15.315612', 0, 285.99, 2)
(10429123, '12 правил жизни: противоядие от хаоса, Питерсон Джордан', 'https://www.auchan.ru/product/kn-12-pravil-zhizni', 783.99, '2023-04-18 00:26:53.806949', 0, 783.99, 1)
(10528846, '120 дней Содома, Маркиз де Сад', 'https://www.auchan.ru/product/kn-eks-de-sad-120-dney-sodoma', 198.99, '2023-04-19 01:05:53.057578', 198.99, 0.0, 1)
(10411896, '120 дней Содома, Маркиз де Сад', 'https://www.auchan.ru/product/kn-eks-de-sad-120-dney-sodoma', 198.99, '2023-04-18 00:19:39.685253', 0, 198.99, 2)
(10531811, '1984, Оруэлл Д.', 'https://www.auchan.ru/product/kn-eksk-klas-d-oruell-1984', 231.99, '2023-04-19 01:07:08.627810', 231.99, 0.0, 1)
(10414790, '1984, Оруэлл Д.', 'https://www.auchan.ru/product/kn-eksk-klas-d-oruell-1984', 231.99, '2023-04-18 00:20:52.309920', 0, 231.99, 2)
(10534037, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-kk-oruell-1984', 263.99, '2023-04-19 01:08:04.253802', 263.99, 0.0, 1)
(10532559, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-pocket-1984', 242.99, '2023-04-19 01:07:27.705023', 242.99, 0.0, 1)
(10526687, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kniga-oruell-1984', 173.99, '2023-04-19 01:04:58.900038', 173.99, 0.0, 1)
(10416961, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-kk-oruell-1984', 263.99, '2023-04-18 00:21:47.684002', 0, 263.99, 2)
(10415525, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-pocket-1984', 242.99, '2023-04-18 00:21:10.598337', 0, 242.99, 2)
(10409796, '1984, Оруэлл Дж.', 'https://www.auchan.ru/product/kniga-oruell-1984', 173.99, '2023-04-18 00:18:47.784209', 0, 173.99, 2)
(10534520, '1984. Скотный двор, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-oruell-1984-skotnyy-dvor', 272.99, '2023-04-19 01:08:16.477199', 272.99, 0.0, 1)
(10526330, '1984. Скотный двор, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-kis-oruell-1984-skotn-dvor', 169.99, '2023-04-19 01:04:50.127770', 169.99, 0.0, 1)
(10417429, '1984. Скотный двор, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-oruell-1984-skotnyy-dvor', 272.99, '2023-04-18 00:21:59.204595', 0, 272.99, 2)
(10409443, '1984. Скотный двор, Оруэлл Дж.', 'https://www.auchan.ru/product/kn-kis-oruell-1984-skotn-dvor', 169.99, '2023-04-18 00:18:38.744109', 0, 169.99, 2)
(10532473, '20 простых опытов с детьми дома. Наука на кухне, Медведева Т., Пошивай В.', 'https://www.auchan.ru/product/kn-20-prost-opytov-s-detmi', 240.99, '2023-04-19 01:07:25.570998', 0, 240.99, 1)
(10537145, '365 заданий круглый год. Методика раннего развития, Жукова М. А.', 'https://www.auchan.ru/product/umka-365-zadaniy-zhukova', 323.95, '2023-04-19 01:09:22.360322', 323.95, 0.0, 1)
(10420017, '365 заданий круглый год. Методика раннего развития, Жукова М. А.', 'https://www.auchan.ru/product/umka-365-zadaniy-zhukova', 323.95, '2023-04-18 00:23:04.556804', 0, 323.95, 2)
(10544978, '365 стихов для детского сада', 'https://www.auchan.ru/product/365-stihov-dlya-detskogo-sada', 631.99, '2023-04-19 01:12:33.487028', 631.99, 0.0, 1)
(10427571, '365 стихов для детского сада', 'https://www.auchan.ru/product/365-stihov-dlya-detskogo-sada', 631.99, '2023-04-18 00:26:14.000463', 0, 631.99, 2)
(10523249, '555 заданий для дошколят', 'https://www.auchan.ru/product/kn-555-zadaniy-d-doshkolyat-v-as', 145.99, '2023-04-19 01:03:33.941766', 145.99, 0.0, 1)
(10406335, '555 заданий для дошколят', 'https://www.auchan.ru/product/kn-555-zadaniy-d-doshkolyat-v-as', 145.99, '2023-04-18 00:17:23.716733', 0, 145.99, 2)
(10553519, 'ARIEL Авт СМС порошк. Color 1,5кг', 'https://5ka.ru/api/v2/special_offers/42635/', 249.99, '2023-04-19 01:16:25.927551', 0, 249.99, 1)
(10468723, 'ARIEL Авт СМС порошк. Color 1,5кг', 'https://5ka.ru/api/v2/special_offers/42434/', 249.99, '2023-04-18 01:14:56.790719', 0, 249.99, 1)
(10552830, 'ARIEL СМС АР.МАСЛА ШИ жидк.1,3л', 'https://5ka.ru/api/v2/special_offers/21528/', 449.99, '2023-04-19 01:16:09.556079', 0, 449.99, 1)
(10552795, 'ARIEL Сред.COLOR моющ.жид.1,3л', 'https://5ka.ru/api/v2/special_offers/21489/', 449.99, '2023-04-19 01:16:08.710043', 0, 449.99, 1)
(10553457, 'ASSAND Чай КЕНИЙСКИЙ черный байховый пак.100х2г', 'https://5ka.ru/api/v2/special_offers/42518/', 214.99, '2023-04-19 01:16:24.468246', 0, 214.99, 1)
(10468661, 'ASSAND Чай КЕНИЙСКИЙ черный байховый пак.100х2г', 'https://5ka.ru/api/v2/special_offers/42317/', 214.99, '2023-04-18 01:14:55.325059', 0, 214.99, 1)
(10537521, 'Anime Art. Красавицы Поднебесной. Книга для творчества в стиле аниме и манга', 'https://www.auchan.ru/product/kn-anime-art-krasav-podnebesn', 331.99, '2023-04-19 01:09:31.675410', 0, 331.99, 1)
(10543106, "Assassin's Creed Династия Том 1, Сюй С., Чжан С.", 'https://www.auchan.ru/product/kn-assassin-creed-dinastiya-t-1', 519.99, '2023-04-19 01:11:47.139162', 519.99, 0.0, 1)
(10425804, "Assassin's Creed Династия Том 1, Сюй С., Чжан С.", 'https://www.auchan.ru/product/kn-assassin-creed-dinastiya-t-1', 519.99, '2023-04-18 00:25:30.168617', 0, 519.99, 2)
(10543957, "Assassin's Creed Династия Том 2, Сюй С., Чжан", 'https://www.auchan.ru/product/kn-assassins-creed-dinastiya-t2', 575.99, '2023-04-19 01:12:07.994388', 0, 575.99, 1)
(10494637, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51516/2145960.html', 261, '2023-04-19 00:48:23.928107', 261, 0, 1)
(10486152, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51528/2145960.html', 261, '2023-04-19 00:44:52.428740', 261, 0, 1)
(10480949, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51526/2145960.html', 261, '2023-04-19 00:42:45.518474', 261, 0, 1)
(10474504, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51527/2145960.html', 261, '2023-04-19 00:40:04.681684', 261, 0, 1)
(10459436, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51516/2145960.html', 261, '2023-04-18 01:11:00.063185', 0, 261, 2)
(10450951, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51528/2145960.html', 261, '2023-04-18 01:07:31.211205', 0, 261, 2)
(10445747, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51526/2145960.html', 261, '2023-04-18 01:05:21.140331', 0, 261, 2)
(10439301, 'Axiom BAGGAGE STRAPS', 'https://trial-sport.ru/goods/51527/2145960.html', 261, '2023-04-18 01:02:39.953331', 0, 261, 2)
(10495417, 'Axiom ELASTIC CARGO NET', 'https://trial-sport.ru/goods/51516/2145929.html', 485, '2023-04-19 00:48:43.326508', 485, 0, 1)
(10460216, 'Axiom ELASTIC CARGO NET', 'https://trial-sport.ru/goods/51516/2145929.html', 485, '2023-04-18 01:11:19.066200', 0, 485, 2)
(10537623, 'BB-Крем Novosvit Гиалуроновый SPF 18, 30 мл', 'https://www.auchan.ru/product/gialur-vv-krem-spf18-30ml-ns', 335.99, '2023-04-19 01:09:34.147694', 373.99, -38.0, 1)
(10421869, 'BB-Крем Novosvit Гиалуроновый SPF 18, 30 мл', 'https://www.auchan.ru/product/gialur-vv-krem-spf18-30ml-ns', 373.99, '2023-04-18 00:23:51.464475', 0, 373.99, 2)
(10529463, 'BB-крем Fennel тон натуральный, 30 мл', 'https://www.auchan.ru/product/bb-krem-fennel-ton-naturalnyy-30-ml', 199.99, '2023-04-19 01:06:08.765844', 199.99, 0.0, 1)
(10412516, 'BB-крем Fennel тон натуральный, 30 мл', 'https://www.auchan.ru/product/bb-krem-fennel-ton-naturalnyy-30-ml', 199.99, '2023-04-18 00:19:55.003833', 0, 199.99, 2)
(10544717, 'BTS. Все, что вы хотели знать, Маккензи М.', 'https://www.auchan.ru/product/kn-bts-vse-chto-hoteli-znat', 606.99, '2023-04-19 01:12:27.131626', 606.99, 0.0, 1)
(10427345, 'BTS. Все, что вы хотели знать, Маккензи М.', 'https://www.auchan.ru/product/kn-bts-vse-chto-hoteli-znat', 606.99, '2023-04-18 00:26:08.141850', 0, 606.99, 2)
(10553325, 'BUSHIDO Red Katana Кофе молотый 227г.', 'https://5ka.ru/api/v2/special_offers/42309/', 399.99, '2023-04-19 01:16:21.353875', 0, 399.99, 1)
(10468529, 'BUSHIDO Red Katana Кофе молотый 227г.', 'https://5ka.ru/api/v2/special_offers/42108/', 399.99, '2023-04-18 01:14:52.177850', 0, 399.99, 1)
(10553326, 'BUSHIDO Sensei Кофе в зернах 227г.', 'https://5ka.ru/api/v2/special_offers/42310/', 399.99, '2023-04-19 01:16:21.361900', 0, 399.99, 1)
(10468530, 'BUSHIDO Sensei Кофе в зернах 227г.', 'https://5ka.ru/api/v2/special_offers/42109/', 399.99, '2023-04-18 01:14:52.185789', 0, 399.99, 1)
(10481018, 'Bakoda U.R.A. Tool', 'https://trial-sport.ru/goods/51526/255318.html', 293, '2023-04-19 00:42:47.344063', 293, 0, 1)
(10445816, 'Bakoda U.R.A. Tool', 'https://trial-sport.ru/goods/51526/255318.html', 293, '2023-04-18 01:05:22.827228', 0, 293, 2)
(10480920, 'Bakoda Мультиключ Holy Moy', 'https://trial-sport.ru/goods/51526/1009469.html', 234, '2023-04-19 00:42:44.750940', 234, 0, 1)
(10445718, 'Bakoda Мультиключ Holy Moy', 'https://trial-sport.ru/goods/51526/1009469.html', 234, '2023-04-18 01:05:20.408614', 0, 234, 2)
(10481019, 'Bakoda Отвертка Mciver Driver', 'https://trial-sport.ru/goods/51526/1012427.html', 293, '2023-04-19 00:42:47.355603', 293, 0, 1)
(10474564, 'Bakoda Отвертка Mciver Driver', 'https://trial-sport.ru/goods/51527/1012427.html', 293, '2023-04-19 00:40:06.180290', 293, 0, 1)
(10445817, 'Bakoda Отвертка Mciver Driver', 'https://trial-sport.ru/goods/51526/1012427.html', 293, '2023-04-18 01:05:22.836761', 0, 293, 2)
(10439361, 'Bakoda Отвертка Mciver Driver', 'https://trial-sport.ru/goods/51527/1012427.html', 293, '2023-04-18 01:02:41.444959', 0, 293, 2)
(10480945, 'Bakoda Отвертка URA Tool', 'https://trial-sport.ru/goods/51526/1012423.html', 254, '2023-04-19 00:42:45.387852', 254, 0, 1)
(10474500, 'Bakoda Отвертка URA Tool', 'https://trial-sport.ru/goods/51527/1012423.html', 254, '2023-04-19 00:40:04.599787', 254, 0, 1)
(10445743, 'Bakoda Отвертка URA Tool', 'https://trial-sport.ru/goods/51526/1012423.html', 254, '2023-04-18 01:05:21.015794', 0, 254, 2)
(10439297, 'Bakoda Отвертка URA Tool', 'https://trial-sport.ru/goods/51527/1012423.html', 254, '2023-04-18 01:02:39.872240', 0, 254, 2)
(10480943, 'Bakoda Отвёртка Pocket Tool', 'https://trial-sport.ru/goods/51526/1114325.html', 254, '2023-04-19 00:42:45.360445', 254, 0, 1)
(10445741, 'Bakoda Отвёртка Pocket Tool', 'https://trial-sport.ru/goods/51526/1114325.html', 254, '2023-04-18 01:05:20.998725', 0, 254, 2)
(10480880, 'Bakoda Отвёртка Survivor Driver', 'https://trial-sport.ru/goods/51526/1114321.html', 196, '2023-04-19 00:42:43.780796', 196, 0, 1)
(10445678, 'Bakoda Отвёртка Survivor Driver', 'https://trial-sport.ru/goods/51526/1114321.html', 196, '2023-04-18 01:05:19.399251', 0, 196, 2)
(10481743, 'Bataleon AIRBACK HB MOUNTING T-NUT (ATOM)', 'https://trial-sport.ru/goods/51526/2665509.html', 838, '2023-04-19 00:43:05.334642', 838, 0, 1)
(10446541, 'Bataleon AIRBACK HB MOUNTING T-NUT (ATOM)', 'https://trial-sport.ru/goods/51526/2665509.html', 838, '2023-04-18 01:05:40.655623', 0, 838, 2)
(10484076, 'Bataleon AIRBACK HIGHBACK', 'https://trial-sport.ru/goods/51526/2665489.html', 6380, '2023-04-19 00:44:02.641746', 6380, 0, 1)
(10448875, 'Bataleon AIRBACK HIGHBACK', 'https://trial-sport.ru/goods/51526/2665489.html', 6380, '2023-04-18 01:06:38.491134', 0, 6380, 2)
(10483979, 'Bataleon FULLBACK NYLON HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665495.html', 5973, '2023-04-19 00:44:00.200379', 5973, 0, 1)
(10448778, 'Bataleon FULLBACK NYLON HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665495.html', 5973, '2023-04-18 01:06:36.066801', 0, 5973, 2)
(10483981, 'Bataleon PERFORATED NYLON FULLBACK HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665491.html', 5973, '2023-04-19 00:44:00.221367', 5973, 0, 1)
(10448780, 'Bataleon PERFORATED NYLON FULLBACK HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665491.html', 5973, '2023-04-18 01:06:36.132995', 0, 5973, 2)
(10483503, 'Bataleon QUARTERBACK HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665499.html', 4207, '2023-04-19 00:43:48.059067', 4207, 0, 1)
(10448301, 'Bataleon QUARTERBACK HIGHBACK M/XL', 'https://trial-sport.ru/goods/51526/2665499.html', 4207, '2023-04-18 01:06:23.945749', 0, 4207, 2)
(10483504, 'Bataleon QUARTERBACK HIGHBACK S', 'https://trial-sport.ru/goods/51526/2665501.html', 4207, '2023-04-19 00:43:48.067606', 4207, 0, 1)
(10448302, 'Bataleon QUARTERBACK HIGHBACK S', 'https://trial-sport.ru/goods/51526/2665501.html', 4207, '2023-04-18 01:06:23.958571', 0, 4207, 2)
(10483458, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER L/XL', 'https://trial-sport.ru/goods/51526/2665481.html', 4069, '2023-04-19 00:43:47.000156', 4069, 0, 1)
(10448256, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER L/XL', 'https://trial-sport.ru/goods/51526/2665481.html', 4069, '2023-04-18 01:06:22.812517', 0, 4069, 2)
(10483459, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER M/L', 'https://trial-sport.ru/goods/51526/2665483.html', 4069, '2023-04-19 00:43:47.008779', 4069, 0, 1)
(10448257, 'Bataleon UNDERWRAP 2DEG. FOOTBED EVA + RUBBER M/L', 'https://trial-sport.ru/goods/51526/2665483.html', 4069, '2023-04-18 01:06:22.822773', 0, 4069, 2)
(10483591, 'Bataleon UNDERWRAP 2DEG.FOOTBED DURACUSH L/XL', 'https://trial-sport.ru/goods/51526/2665485.html', 4501, '2023-04-19 00:43:50.214121', 4501, 0, 1)
count all diff = 100

In [9]:
# Находим позиции, цена по кототорым изменилась по сравнению с ценой за передыдущий день.
days_before = 1
d = datetime.today() - timedelta(days=days_before)

connection = sqlite3.connect('/home/jupyter-amtsu/project/price_alert/db.sqlite3')
cursor = connection.cursor()
q = f"""
    WITH sales_numbered AS (
        SELECT 
            id, 
            title,
            price_sale,  
            LEAD(price_sale,1,0) OVER (PARTITION BY title, url ORDER BY  title, id desc ) AS prev_price_sale,  
            price_sale - LEAD(price_sale,1,0) OVER (PARTITION BY title, url  ORDER BY title, id desc ) AS diff,
            ROW_NUMBER() OVER(PARTITION BY title, url ORDER BY id desc) AS row_number
        FROM products_history
        where datetime_create >= "{d.date()}"
            and price_sale>100
        ORDER BY id desc
        LIMIT 1000000
    )
    SELECT 
        id, 
        title,
        price_sale,  
        prev_price_sale,
        diff,
        ROUND(100 * diff / price_sale) as per,
        row_number
    FROM sales_numbered
    WHERE row_number = 1 and diff !=0 and diff != price_sale and (diff + prev_price_sale) != 0
    and diff < -100
    Order by per;

"""
cursor.execute(q)
count = 0
for i in cursor.fetchall():
    print(i)
    count += 1
print('count all diff =', count)

(10521145, 'Колбаса растительная «Окраина» Оливье, 300 г', 129, 307.99, -178.99, -139.0, 1)
(10546930, 'Конфеты «Бабаевский» Москва вечерняя, вес', 822, 1779.99, -957.99, -117.0, 1)
(10528853, 'Грудинка варено-копченая «Черный кабан» в карамельной корочке, 350 г', 199, 417.99, -218.99, -110.0, 1)
(10528861, 'Сардельки свиные «Ближние Горки» ГОСТ, 580 г', 199, 397.99, -198.99, -100.0, 1)
(10523592, 'Кулич АШАН Майский премиум, 500 г', 149.9, 299.9, -149.99999999999997, -100.0, 1)
(10544280, 'Баринок «Рублевский» Боровицкий (0,2-0,5 кг), 1 упаковка ~ 0,3 кг', 599, 1171.99, -572.99, -96.0, 1)
(10528881, 'Ветчина «Вязанка» Запекуша c cочным окороком, 420 г', 199, 383.99, -184.99, -93.0, 1)
(10525131, 'Колготки Innamore Microtulle miele 4', 159.95, 299.99, -140.04000000000002, -88.0, 1)
(10525109, 'Колготки Innamore Microtulle miele 2', 159.95, 299.99, -140.04000000000002, -88.0, 1)
(10528862, 'Ветчина «Черкизово» Нежная из индейки, 450 г', 199, 372.99, -173.99, -87.0, 1)
(10547441, 'Конфеты Reber Mozart Kugeln марципановые в шоколаде, 240 г', 899.95, 1626.99, -727.04, -81.0, 1)
(10521144, 'Сосиски «Царицыно» Итальянские с моцареллой, 275 г', 129, 230.99, -101.99000000000001, -79.0, 1)
(10535792, 'Сыр Galbani Буррата 50% БЗМЖ, 200 г', 299, 517.99, -218.99, -73.0, 1)
(10529177, 'Молоко сгущенное «Кореновское» с сахаром 0,2% БЗМЖ, 1,25 кг', 199.95, 344.99, -145.04000000000002, -73.0, 1)
(10537995, 'Конфеты «Красный октябрь» Восточный грильяж, вес', 347, 584.99, -237.99, -69.0, 1)
(10542463, 'Глазной мускул говяжий «Мясо Есть» охлажденный, (1,2-1,7 кг), 1 упаковка ~ 1,5 кг', 499, 829.99, -330.99, -66.0, 1)
(10542449, 'Колбаса варено-копченая «Окраина» Сервелат Ореховый (0,2-0,5 кг), 1 упаковка ~ 0,3 кг', 499, 807.99, -308.99, -62.0, 1)
(10543387, 'Настойка «Царская» кедровая на травах горькая Россия, 0,5 л', 539.99, 858.99, -319.0, -59.0, 1)
(10551024, 'Виски Jack Daniel’s Tennessee Apple США, 0,7 л', 2070.99, 3251.99, -1181.0, -57.0, 1)
(10528879, 'Сосиски «Ближние Горки» с сыром, 450 г', 199, 309.99, -110.99000000000001, -56.0, 1)
(10534303, 'Филе куриное «Моссельпром» без кожи охлажденное (1,1 - 1,4 кг), 1 упаковка ~ 1,2 кг', 269, 405.99, -136.99, -51.0, 1)
(10546042, 'Шарики рисовые «ЕМ» в белой и розовой глазури, вес', 715, 1072.99, -357.99, -50.0, 1)
(10531211, 'Напиток растительный Take a Bite Barista Миндальный 1,5%, 1 л', 223.99, 334.99, -111.0, -50.0, 1)
(10549469, 'Кофе растворимый Nescafe GOLD, 500 г', 1337.49, 1962.49, -625.0, -47.0, 1)
(10541975, 'Арахис GOOD FOOD жареный, вес', 476, 689.99, -213.99, -45.0, 1)
(10531461, 'Крыло цыпленка-бройлера «Петелинка» охлажденное (0,8 - 1,1 кг), 1 упаковка ~ 0,9 кг', 229, 331.99, -102.99000000000001, -45.0, 1)
(10540408, 'Мороженое Monterra Кокос-шоколад БЗМЖ, 263 г', 407.99, 582.99, -175.0, -43.0, 1)
(10540401, 'Мороженое Monterra Печенье с карамелью БЗМЖ, 298 г', 407.99, 582.99, -175.0, -43.0, 1)
(10535780, 'Ветчина «Ближние Горки» из окорока, 500 г', 299, 421.99, -122.99000000000001, -41.0, 1)
(10532846, 'Филе цыплят-бройлеров «Латифа» Нежное, вес', 249, 351.99, -102.99000000000001, -41.0, 1)
(10542590, 'Эмаль Panzer Универсальная молотковая серебристая, 800 мл', 499.95, 699.99, -200.04000000000002, -40.0, 1)
(10548273, 'Абрикос сушеный без косточки, вес', 1000, 1387.99, -387.99, -39.0, 1)
(10544769, 'Конфеты Bonjour Konti с кремовой начинкой, вес', 613, 852.99, -239.99, -39.0, 1)
(10543905, 'Конфеты Konti Belissimo со вкусом кокоса, вес', 570, 792.99, -222.99, -39.0, 1)
(10543080, 'Грудинка телячья на кости «МЯСО ЕСТЬ!», вес', 519, 712.99, -193.99, -37.0, 1)
(10546664, 'Шея телячья «Мясо Есть» без кости охлажденная, (1-1,5 кг), 1 упаковка ~ 1,3 кг', 799, 1082.99, -283.99, -36.0, 1)
(10540626, 'Конфеты суфле «АККОНД» Птица Зимолюбка, вес', 417, 565.99, -148.99, -36.0, 1)
(10544709, 'Десерт «АККОНД» Птица дивная, вес', 606, 817.99, -211.99, -35.0, 1)
(10543658, 'Десерт «АККОНД» Муссвиль с маршмеллоу, вес', 556, 750.99, -194.99, -35.0, 1)
(10535847, 'Шейка «Рублевский» варено-копченая, 300 г', 299, 404.99, -105.99000000000001, -35.0, 1)
(10541290, 'Изюм GOOD FOOD Thompson jumbo, вес', 447, 596.99, -149.99, -34.0, 1)
(10550771, 'Виски Jameson Coffee Ирландия, 0,7 л', 1899.99, 2498.99, -598.9999999999998, -32.0, 1)
(10550759, 'Виски Jameson Orange Ирландия, 0,7 л', 1899.99, 2498.99, -598.9999999999998, -32.0, 1)
(10549794, 'Смесь сухая молочная Nestle NAN Тройной комфорт от колик и запоров с рождения БЗМЖ, 800 г', 1438.49, 1898.49, -460.0, -32.0, 1)
(10540291, 'Колбаса сырокопченая «Черкизово» Сальчичон Премиум, 350 г', 403.49, 533.49, -130.0, -32.0, 1)
(10548050, 'Смесь сухая молочная NAN 3 Supreme молочко с олигосахаридами для защиты от инфекций 0-12 мес. БЗМЖ, 400 г', 999.49, 1299.49, -300.0, -30.0, 1)
(10544321, 'Кофе молотый Egoiste Noir, 250 г', 599.49, 771.49, -172.0, -29.0, 1)
(10551028, 'Кофе в зернах Lebo Gold, 1 кг', 2075.99, 2658.99, -583.0, -28.0, 1)
(10545716, 'Торт «У Палыча» Киевский, 500 г', 699.9, 892.99, -193.09000000000003, -28.0, 1)
(10544681, 'Цукаты ананаса гранулы 3-5 мм, вес', 602, 761.99, -159.99, -27.0, 1)
(10541558, 'Арахис дробленый 2-5 мм, вес', 457, 579.99, -122.99000000000001, -27.0, 1)
(10547219, 'Водка «Белая Березка» Россия, 1 л', 868.49, 1093.49, -225.0, -26.0, 1)
(10546749, 'Джин Green Baboon с ароматом черной смородины Россия, 0,5 л', 799.99, 1004.99, -205.0, -26.0, 1)
(10547618, 'Кофе растворимый Egoiste Special сублимированный с молотым, 100 г', 919.49, 1140.49, -221.0, -24.0, 1)
(10489919, 'Туристический стул Eurotrail ELBA', 7834, 9687, -1853, -23.0, 1)
(10548051, 'Смесь сухая безлактозная NAN с рождения при непереносимости лактозы и диарее БЗМЖ, 400 г', 999.49, 1199.49, -200.0, -20.0, 1)
(10545562, 'Джин Barrister Orange Россия, 0,5 л', 686.99, 825.99, -139.0, -20.0, 1)
(10546442, 'Букет «Новая Голландия» Роза, 11 шт', 766.99, 900.99, -134.0, -17.0, 1)
(10544909, 'Изюм GOOD FOOD Голден, вес', 626, 727.99, -101.99000000000001, -16.0, 1)
(10552476, 'Триммер бензиновый «Сибртех» КС-3000Н 962555', 8290, 9533.99, -1243.9899999999998, -15.0, 1)
(10552472, 'Триммер бензиновый «Сибртех» КС-1800Н 962515', 8090, 9268.99, -1178.9899999999998, -15.0, 1)
(10550462, 'Ликер Monin, Liqueur de Cafe Франция, 0,7 л', 1706.99, 1938.99, -232.0, -14.0, 1)
(10550408, 'Смесь сухая молочная Nutrilon Premium 3 с 12 мес. БЗМЖ, 1.2 кг', 1699.49, 1861.99, -162.5, -10.0, 1)
(10550407, 'Смесь сухая молочная Nutrilon Premium Junior 4 от 18 мес. БЗМЖ, 1.2 кг', 1699.49, 1861.99, -162.5, -10.0, 1)
(10551474, 'Таблетки для посудомоечных машин бесфосфатные Synergetic, без запаха, 100 шт', 2569.99, 2799.99, -230.0, -9.0, 1)
(10550112, 'Кофе растворимый Jacobs Gold, 500 г', 1548.49, 1684.49, -136.0, -9.0, 1)
(10550111, 'Кофе растворимый Jacobs Monarch сублимированный, 500 г', 1548.49, 1684.49, -136.0, -9.0, 1)
(10549207, 'Водка Danzka Германия, 0,7 л', 1263.99, 1365.99, -102.0, -8.0, 1)
count all diff = 68

In [8]:
# work 240422

In [ ]:
!cp /tmp/db_mini.sqlite3 ~/

In [2]:
import sqlite3
from datetime import datetime, timedelta

In [3]:
connection = sqlite3.connect('/tmp/db_mini.sqlite3')
cursor = connection.cursor()

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('products_history',), ('sqlite_sequence',)]

In [5]:
#
cursor.execute("SELECT sql FROM sqlite_master WHERE name='products_history' ")
cursor.fetchall()

[('CREATE TABLE products_history("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "datetime_create" datetime NULL, "title" varchar(200) NULL, "price_sale" decimal NULL, "url" varchar(1000) NULL)',)]

In [7]:
# достать первые 10 записей из таблицы products_history
cursor.execute("select * from products_history limit 1")
cursor.fetchall()

[(2870,
  '2022-12-06 15:35:11.590625',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det')]

In [10]:
cursor.execute("select * from products_history order by title limit 1")
cursor.fetchall()

[(7172,
  '2022-12-06 15:38:37.435727',
  '#Топ-рецепты say7, Скрипкина А.Ю.',
  538.99,
  'https://www.auchan.ru/product/top-recepty-say7-skripkina-a-yu')]

In [12]:
# досать 5 товаров цена на которые больше 100 рублей
cursor.execute("select * from products_history where price_sale > 100 limit 1")
cursor.fetchall()

[(2870,
  '2022-12-06 15:35:11.590625',
  'Игрушка-конструктор COGO Боевой корабль',
  2817.99,
  'https://www.auchan.ru/product/konstruktor-760-det')]

In [14]:
# достать 5 товаров цена на которые больше 100 рублей но меньше 1000
cursor.execute("select * from products_history where price_sale  BETWEEN 100 AND 1000 limit 1")
cursor.fetchall()

[(2874,
  '2022-12-06 15:35:11.671310',
  'Средство для купания детское Play&Bath МимиМишки 3 в 1 Шампунь Гель Пена Кола, 200 мл',
  241.99,
  'https://www.auchan.ru/product/sredstvo-dlya-kupaniya-play-bath-mimimishki-3-v-1-shampun-gel-pena-kola-200-ml')]

In [17]:
# достать 5 товаров цена на которые больше 100 рублей но меньше 1000
cursor.execute("select * from products_history where  price_sale > 100 and price_sale < 1000 limit 1")
cursor.fetchall()

[(2874,
  '2022-12-06 15:35:11.671310',
  'Средство для купания детское Play&Bath МимиМишки 3 в 1 Шампунь Гель Пена Кола, 200 мл',
  241.99,
  'https://www.auchan.ru/product/sredstvo-dlya-kupaniya-play-bath-mimimishki-3-v-1-shampun-gel-pena-kola-200-ml')]

In [18]:
# посчитать сколько товаров
cursor.execute("select count() from products_history")
cursor.fetchall()

[(100000,)]

In [32]:
# посчитать сколько товаров у котрых есть огурец
cursor.execute("select count() from products_history where title = 'огурец'")
cursor.fetchall()

[(0,)]

In [31]:
cursor.execute("select count() from products_history where title = '%огурец%'")
cursor.fetchall()

[(0,)]

In [30]:
cursor.execute("select count() from products_history where title like '%огурец%'")
cursor.fetchall()

[(13,)]

In [34]:
cursor.execute("select * from products_history where title like '%огурец%' limit 1")
cursor.fetchall()

[(4607,
  '2022-12-06 15:37:34.961248',
  'Овощное ассорти огурец перец томат (0,8-1,2 кг), 1 упаковка ~ 1 кг',
  219.99,
  'https://www.auchan.ru/product/assorti_ov_ogpertom_ves_fas')]

In [ ]:
#40 запросво разных напсиать