In [1]:
import sqlite3

In [2]:
sqlite_connection = sqlite3.connect('sqlite_python_1_05.db')
cursor = sqlite_connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [4]:
sql_table = "create table Purchases (name varchar(20), date date, price varchar(10))"
cursor.execute(sql_table)

In [5]:
cursor.fetchall()

[]

In [6]:
cursor.execute("insert into Purchases(name, date, price) values ('salat', 2024-04-30, '300')")

In [7]:
cursor.execute("insert into Purchases(name, date, price) values  ('phone', 2024-05-01, '3000')")
cursor.execute("insert into Purchases (name, date, price) values  ('orange', 2024-05-01, '150')")

In [8]:
cursor.fetchall()

[]

In [11]:
cursor.execute("select * from Purchases")
cursor.fetchall()

[('salat', 1990, '300'), ('phone', 2018, '3000'), ('orange', 2018, '150')]

In [12]:
cursor.execute("Alter table Purchases add type varchar (20)")
cursor.execute("select * from Purchases")
cursor.fetchall()

[('salat', 1990, '300', None),
 ('phone', 2018, '3000', None),
 ('orange', 2018, '150', None)]

In [16]:
cursor.execute("Update Purchases set type = 'restaurant' where name = 'salat'")
cursor.execute("Update Purchases set type = 'product' where name = 'orange'")
cursor.execute("update Purchases set type = 'technika' where name = 'phone'")
cursor.execute("select * from Purchases")

[('salat', 1990, '300', 'restaurant'),
 ('phone', 2018, '3000', 'technika'),
 ('orange', 2018, '150', 'product')]

In [18]:
cursor.execute("select type, sum(price) from Purchases group by type")
cursor.fetchall()

[('product', 150), ('restaurant', 300), ('technika', 3000)]

In [20]:
cursor.execute("create table Purchases_color (type varchar(20), color varchar(10))")
cursor.execute("insert into Purchases_color(type, color) values ('restaurant', 'green')")
cursor.execute("insert into Purchases_color (type,color) values ('product', 'red')")
cursor.execute("insert into Purchases_color(type, color) values ('technika', 'blue')")

In [47]:
cursor.execute("""
select
    Purchases_color.type, sum(price)
from
    Purchases
    join Purchases_color
    on Purchases.type = Purchases_color.type 
group by Purchases_color.type
""")
cursor.fetchall()

[('cafe', 300), ('product', 250), ('technika', 3000)]

In [33]:
cursor.execute("insert into Purchases (name, date, price, type) values  ('apple', 2024-05-01, '100', 'product')")
cursor.execute("select * from Purchases")
cursor.fetchall()

[('salat', 1990, '300', 'restaurant'),
 ('phone', 2018, '3000', 'technika'),
 ('orange', 2018, '150', 'product'),
 ('apple', 2018, '100', 'product')]

In [46]:
cursor.execute("""
select
    Purchases_color.type, sum(price)
from
    Purchases
    join Purchases_color
    on Purchases.type = Purchases_color.type 
group by Purchases_color.type
""")
cursor.fetchall()

[('cafe', 300), ('product', 250), ('technika', 3000)]

In [36]:
cursor.execute("Update Purchases set type = 'cafe' where type = 'restaurant'")
cursor.execute("select * from Purchases")
cursor.fetchall()

[('salat', 1990, '300', 'cafe'),
 ('phone', 2018, '3000', 'technika'),
 ('orange', 2018, '150', 'product'),
 ('apple', 2018, '100', 'product')]

In [45]:
cursor.execute("Update Purchases_color set type = 'cafe' where type = 'restaurant'")
cursor.execute("select * from Purchases_color")
cursor.fetchall()

[('cafe', 'green'), ('product', 'red'), ('technika', 'blue')]

In [38]:
sqlite_connection.commit()

In [ ]:
create table Purchases (name varchar(20), date date), price varchar(10))

insert into Purchases(name, date, price) values ('salat', 2024-04-30, '300')
insert into Purchases (name, date, price) values  ('orange', 2024-05-01, '150')
insert into Purchases(name, date, price) values  ('phone', 2024-05-01, '3000')

Alter table Purchases add type varchar (20)

Update Purchases set type = restaurant where name = 'salat'
Update Purchases set type = product where name = 'orange'
Update Purchases set type = technika where name = 'phone'

select type, sum(price) from Purchases group by type


create table Purchases_color (type varchar(20), color varchar(10))

insert into Purchases_color(type, color) values ('restaurant', 'green')
insert into Purchases_color (type,color) values ('product', 'red')
insert into Purchases_color(type, color) values ('technika', 'blue')

select
    Purchases.type, sum(price) 
from
    Purchases
    join Purchases_color
    on Purchases.type = Purchases_color.type
group by Purchases_color.type




select Purchases_w_color.purchase, sum(price)
    from  Purchases join Purchases_w_color on Purchases.purchase = Purchases_w_color.purchase group by Purchases_w_color.purchase

In [ ]:
#текст для проверки коммитов